<!--
    Summary: Here is the main page alias the Dashboard
-->

<ion-view>
    <ion-nav-title>Dashboard</ion-nav-title>
    <ion-content>

        <!-- Team Occupation -->
        <ion-slide-box show-pager="false">
            <ion-slide>
                <div class="item item-divider">
                    Team Occupation
                </div>
                <div class="list">
                    <a class="item item-avatar"
                       ng-repeat="teamOccupation in teamOccupationTab"
                       ui-sref="app.user({userId: teamOccupation.user_id})">
                        <img ng-src="{{ teamOccupation.image }}" />
                        <h2>{{ teamOccupation.project_name }}</h2>
                        <h3>{{ teamOccupation.first_name }} {{ teamOccupation.last_name }}</h3>
                        <h3>{{ teamOccupation.occupation }}</h3>
                        <h3>Tasks begun: {{ teamOccupation.number_of_tasks_begun }}</h3>
                        <h3>Ongoing Tasks: {{ teamOccupation.number_of_ongoing_tasks }}</h3>
                    </a>
                </div>
            </ion-slide>

            <!-- Next Meeting -->
            <ion-slide>
                <div class="item item-divider">
                    Next Meetings
                </div>
                <p>{{ noMeeting }}</p>
                <div class="list">
                    <a class="item item-thumbnail-left"
                       ng-repeat="nextMeeting in nextMeetingsTab"
                       ui-sref="app.nextMeeting({nextMeetingId: nextMeeting.user_id})">
                        <img ng-src="{{ nextMeeting.project_logo }}" />
                        <h2>{{ nextMeeting.event_type }}: {{ nextMeeting.event_title }}</h2>
                        <h4>"{{ nextMeeting.event_description }}"</h4>
                        <h4 class="icon-left ion-ios-calendar-outline"> {{ nextMeeting.event_begin_date.date }}</h4>
                        <h4 class="icon-left ion-ios-clock-outline"> {{ nextMeeting.event_end_date.date }}</h4>
                    </a>
                </div>
            </ion-slide>

            <!-- Global Progress -->
            <ion-slide>
                <div class="item item-divider">
                    Global Progress
                </div>
                <div class="list">
                    <a class="item item-thumbnail-left"
                       ng-repeat="globalProgress in globalProgressTab"
                       ui-sref="app.project({projectId: globalProgress.project_id})">
                        <img src="{{ globalProgress.project_logo }}" />
                        <h2>{{ globalProgress.project_name }}</h2>
                        <h3 class="icon-left ion-ios-people-outline"> {{ globalProgress.project_company }}</h3>
                        <h4 class="icon-left ion-ios-telephone-outline"> {{ globalProgress.project_phone }}</h4>
                        <h4 class="icon-left ion-ios-paperplane-outline"> {{ globalProgress.contact_mail }}</h4>
                        <h4 class="icon-left ion-ios-list-outline"> {{ globalProgress.number_finished_tasks }} / {{ globalProgress.number_ongoing_tasks }} tasks done</h4>
                        <h4 class="icon-left ion-ios-email-outline"> {{ globalProgress.number_messages }} messages</h4>
                        <h4 class="icon-left ion-bug"> {{ globalProgress.number_bugs }} problems</h4>
                    </a>
                </div>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>