<!--
    Summary: Abstract page menu for all other pages
-->

<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content edge-drag-threshold="true">
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-back-button class="button icon-left ion-chevron-left button-clear button-dark">Back</ion-nav-back-button>
            <ion-nav-buttons side="right">
                <ion-nav-button class="button button-icon button-clear ion-android-notifications-none"></ion-nav-button>
                <ion-nav-button class="button button-icon ion-ios-settings"></ion-nav-button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- On this line, "menuContent" allows to proceed inheritance, see in app.js -->
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item class="item item-thumbnail-left">
                    <img src="images/GrappBox/pierre_hofman.jpg" />
                    <h2 style="font-size: 1.5em;" class="text-center col">Pierre</h2>
                    <h2 style="font-size: 1.5em;" class="text-center col">Hofman</h2>
                </ion-item>
            </ion-list>
            <div class="button-bar">
                <a class="button icon button-icon ion-ios-settings"></a>
                <a class="button icon button-icon ion-card"></a>
                <a class="button icon button-icon ion-power"></a>
            </div>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/dashboard">Dashboard</ion-item>
                <ion-item nav-clear menu-close href="#/app/timelines">Timelines</ion-item>
                <ion-item nav-clear menu-close href="#/app/whiteboard">Whiteboard</ion-item>
                <ion-item nav-clear menu-close href="#/app/settings">Settings</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>