<!-- Shapes options in the popover -->
<ion-popover-view>
  <!-- style="height:110px" -->
  <ion-header-bar>
    <h1 class="title">Shapes</h1>
  </ion-header-bar>
  <ion-content>
    <!-- Rectangle Filled -->
    <button class="button button-icon ion-stop"
    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
    ng-click="drawRect()"></button>

    <!-- Rectangle empty -->
    <!--<button class="button button-icon ion-android-checkbox-outline-blank"
    style="color: {{brushcolor}}; font-size: 36.5px"
    ng-click="drawRect(true)"></button>-->
    <!-- Ellipse filled -->
    <button class="button button-icon ion-record"
    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
    ng-click="drawEllipse()"></button>

    <!-- Ellipse empty-->
    <!--<button class="button button-icon ion-ios-circle-outline"
    style="color: {{brushcolor}}; font-size: 36.5px"
    ng-click="drawEllipse(true)"></button>-->
    <!-- Diamond filled -->
    <button class="button button-icon ion-ios-play"
    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
    ng-click="drawDiamond()"></button>

    <!-- Diamond empty -->
    <!--<button class="button button-icon ion-ios-play-outline"
    style="color: {{brushcolor}}; font-size: 36.5px"
    ng-click="drawDiamond(true)"></button>-->
    <!-- Line -->
    <button class="button button-icon ion-minus-round"
    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
    ng-click="drawLine()"></button>

    <!-- Border or not -->
    <ion-checkbox ng-click="hasBorder = !hasBorder;">Border</ion-checkbox>
    <ion-list ng-if="hasBorder">
      <ion-radio ng-model="border.size" ng-value="1">1</ion-radio>
      <ion-radio ng-model="border.size" ng-value="3">3</ion-radio>
      <ion-radio ng-model="border.size" ng-value="5">5</ion-radio>
    </ion-list>
  </ion-content>
</ion-popover-view>
