{# This file is subject to the terms and conditions defined in
 # file 'LICENSE.txt', which is part of the GRAPPBOX source code package.
 # COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. #}

{% extends 'ShowcaseBundle:Shared:base.html.twig' %}

{% block title %}GrappBox{% endblock %}

{% block body %}

<body>
    <section id="home" class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Grapp<span class="red">Box</span></h1>
                        <h3>The new way to manage projects</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a target="_blank" title="GrappBox on Twitter" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-twitter" href="https://twitter.com/GrappBox"><i class="fa fa-twitter fa-fw"></i></a>
                        </li>
                        <li>
                            <a target="_blank" title="GrappBox on Facebook" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-facebook" href="https://facebook.com/GrappBox"><i class="fa fa-facebook fa-fw"></i></a>
                        </li>
                        <li>
                            <a target="_blank" title="GrappBox on Google+" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-google-plus" href="https://plus.google.com/115657691021326143456/posts"><i class="fa fa-google-plus fa-fw"></i></a>
                        </li>
                        <li>
                            <a target="_blank" title="Contact GrappBox by email" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-mail" href="mailto:grappbox@gmail.com"><i class="fa fa-envelope-o fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#home" title="Home" class="hvr-underline-from-center nav-active"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="#about" title="About GrappBox" class="hvr-underline-from-center"><i class="fa fa-list"></i>About</a></li>
                    <li><a href="#register" title="Create your GrappBox account" class="hvr-underline-from-center"><i class="fa fa-check"></i>Register</a></li>
                    <li><a href="#register" title="Sign in to your GrappBox account" class="app-login hvr-sweep-to-right"><i class="fa fa-sign-in fa-fw"></i>Sign in</a></li>
{#
                    <li><a href="#" title="Sign in to your GrappBox account" class="app-login hvr-sweep-to-right" data-toggle="modal" data-target="#app-modal"><i class="fa fa-sign-in fa-fw"></i>Sign in</a></li>
#}
                </ul>
            </div>
        </div>
    </nav>

    <section id="about">
        <div class="content-section content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Manage YOUR projects the way YOU want.<br></h2>
                        <p class="lead">Our objective is that you create and manage yours projects from A to Z using GrappBox!<br>If you want a tool for managing your project, team, tasks, ideas, files, and even clients, GrappBox is for you!</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" alt="Teamwork !" src="resources/images/business-team_wide.min.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 padding-top">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Think, design and create!<br></h2>
                        <p class="lead">With GrappBox, creating techonology projects have never been so easy.<br>Manage your team members, add them to your appointments (even with your customers), share your ideas through the realtime collaborative whiteboard, give life to your ideas thanks to our visualization diagram, or manage your technical issues via our timeline and bugtracker system!</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                        <img class="img-responsive img-reduced img-round-radius" alt="Lead by your imagination." src="resources/images/business-work.min.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6 padding-top">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">On all your devices.<br></h2>
                        <p class="lead">We are for peace in the world, be it the computer world as yours. Therefore we try to create a homogeneous ecosystem, simple and harmonious.<br>We are everywhere where you need it: Web, Android, iPhone and Windows Phone.<br>You don't have Internet access ? Windows and Linux applications are made for you!</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive img-reduced" lt="On all your devices." src="resources/images/travel-around-world_square.min.png" id='around-world'>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="register">
        <div class="content-section content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="clearfix"></div>
                        <h2 class="section-heading text-center login-heading">Already ready to join us?</h2>
                        <p class="lead text-center">That's awesome, thanks a lot!<br>But please wait a bit more, we're not ready yet... (but we will, soon)</p>
                        <ul class="list-inline account-action-buttons">
                            <li>
                                <a title="Create your GrappBox account" class="btn btn-default btn-lg btn-account-action hvr-fade hvr-pulse-shrink btn-register disabled"><i class="fa fa-check fa-fw"></i>Register</a>
                            </li>

{#
                            <li>
                                <a title="Log in to your GrappBox account" class="btn btn-default btn-lg btn-account-action hvr-fade hvr-pulse-shrink btn-login" data-toggle="modal" data-target="#app-modal"><i class="fa fa-sign-in fa-fw"></i>Sign in</a>
                            </li>
#}

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section wide-background contact-background"></div>
        <div class="content-section content-section-a" id="contact">
            <div class="contact-banner banner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2>Stay in touch!</h2>
                        </div>
                        <div class="col-lg-9">
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a target="_blank" title="GrappBox on Twitter" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-twitter" href="https://twitter.com/GrappBox"><i class="fa fa-twitter fa-fw"></i></a>
                                    <span class="network-name">@GrappBox</span>
                                </li>
                                <li>
                                    <a target="_blank" title="GrappBox on Facebook" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-facebook" href="https://facebook.com/GrappBox"><i class="fa fa-facebook fa-fw"></i></a>
                                    <span class="network-name">GrappBox</span>
                                </li>
                                <li>
                                    <a target="_blank" title="GrappBox on Google+" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-google-plus" href="https://plus.google.com/115657691021326143456/posts"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <span class="network-name">+GrappBox</span>
                                </li>
                                <li>
                                    <a target="_blank" title="Contact GrappBox by email" class="btn btn-default btn-lg btn-social-round hvr-radial-out btn-mail" href="mailto:grappbox@gmail.com"><i class="fa fa-envelope-o fa-fw"></i></a>
                                    <span class="network-name">grappbox@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#
    <div class="modal fade" id="app-modal" tabindex="-1" role="dialog" aria-labelledby="app-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="app-modal-label">Sign in to GRAPP<span class="red">BOX</span></h2>
                </div>
                <div class="modal-body">
                    <form class="form-signin">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email (grappbox@awesome.com)" autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" title="Cancel" class="btn btn-lg btn-primary btn-block btn-lg-account btn-cancel hvr-fade" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
                    <a href="/app"><button type="submit" title="Log in to your GrappBox account" class="btn btn-lg btn-primary btn-block btn-lg-account btn-login hvr-fade"><i class="fa fa-check"></i>Sign in</button></a>
                </div>
            </div>
        </div>
    </div>
#}

    {% include 'ShowcaseBundle:Shared:footer.html.twig' %}

</body>

{% endblock %}
