{# This file is subject to the terms and conditions defined in
 # file 'LICENSE.txt', which is part of the GRAPPBOX source code package.
 # COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. #}

{% spaceless %}

<!DOCTYPE html>
<html lang="en" ng-app="grappbox">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta name="description" content="GrappBox" />
		<meta name="author" content="GrappBox" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8" />
		<base href="/app/">
		<title>GrappBox</title>
		<!-- Google Fonts -->
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' />
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald:400,700' />

		{% stylesheets
		'@ShowcaseBundle/Resources/public/css/vendor/bootstrap.css'
		'@ShowcaseBundle/Resources/public/css/vendor/font-awesome.css'
		'@ShowcaseBundle/Resources/public/css/vendor/hover.css'
		'@ShowcaseBundle/Resources/public/css/vendor/landing-page.css'
		'@ShowcaseBundle/Resources/public/css/custom/base.css'
		'@AppBundle/Resources/public/css/vendor/sbadmin-two.css'
		'@AppBundle/Resources/public/css/custom/app.angular.css'
		filter='?yui_css' output='resources/css/app.min.css' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}

		{% javascripts
		'@AppBundle/Resources/public/js/vendor/angular.js'
		'@AppBundle/Resources/public/js/vendor/angular-panhandler.js'
		'@AppBundle/Resources/public/js/vendor/angular-route.js'
		'@AppBundle/Resources/public/js/vendor/angular-ui-bootstrap.js'
		'@AppBundle/Resources/public/js/custom/app.angular.js'
		'@AppBundle/Resources/public/js/custom/app-routing.angular.js'
		'@AppBundle/Resources/public/js/custom/dashboard/app-dashboard.angular.js'
		'@AppBundle/Resources/public/js/custom/whiteboard/app-whiteboard-list.angular.js'
		'@AppBundle/Resources/public/js/custom/whiteboard/app-whiteboard-draw.angular.js'
		'@AppBundle/Resources/public/js/custom/whiteboard/app-whiteboard-draw-factory.angular.js'
		filter='?yui_js' output='resources/js/app.angular.min.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<!-- Responsive for IE8 -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body ng-controller="grappboxController">
		<span ng-cloak ng-show="show"></span>
		<div id="app-wrapper">

			<!-- Navigation content -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-brand">
					<a href="/" title="Return to GrappBox main page (stay logged in)">Grapp<span class="red">Box</span></a>
				</div>
				<!-- Navigation menu (left) -->
				<div class="navbar-default sidebar-wrapper" role="navigation">
					<div id="menu-wrapper" class="navbar-collapse sidebar-menu" ng-controller="sidebarController">
						<ul class="sidebar">
							<li>
								<a href="notifications" title="See all your notifications" class="sidebar-link sidebar-notifications hvr-sweep-to-right ng-class:{ 'active' : isActive('/notifications') };">
								<i class="fa fa-exclamation fa-fw"></i> Notifications</a>
							</li>
							<li>
								<a href="./" title="Go to your dashboard" class="sidebar-link sidebar-dashboard hvr-sweep-to-right ng-class:{ 'active' : isActive('/') };">
								<i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
							<li>
								<a href="whiteboard" title="Go to the collaborative whiteboard" class="sidebar-link sidebar-whiteboard hvr-sweep-to-right ng-class:{ 'active' : isActive('/whiteboard') };">
								<i class="fa fa-edit fa-fw"></i> Whiteboard</a></li>
							<li>
								<a href="profile" title="Manage your profile" class="sidebar-link sidebar-profile hvr-sweep-to-right ng-class:{ 'active' : isActive('/profile') };">
								<i class="fa fa-user fa-fw"></i> Profile</a></li>
							<li>
								<a href="settings" title="Manage your account settings" class="sidebar-link sidebar-settings hvr-sweep-to-right ng-class:{ 'active' : isActive('/settings') };">
								<i class="fa fa-gear fa-fw"></i> Settings</a></li>
							<li>
								<a href="/" title="Sign out of GrappBox" class="sidebar-link sidebar-logout hvr-sweep-to-right">
								<i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>

		<!-- Page content -->
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div class="app-page">
						<!-- Dynamic view -->
						<div ng-view></div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container app-footer">
				<div class="row">
					<div class="col-lg-12">
						<div class="content-footer footer">
							<p class="copyright">Copyright &copy; GrappBox 2015. All rights reserved.<br>Vector images created by <a target="_blank" href="http://www.freepik.com">Freepik</a> and <a target="_blank" href="http://www.justcreative.com">JustCreative</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		</div>

		{% javascripts
		'@ShowcaseBundle/Resources/public/js/vendor/jquery.js'
		'@ShowcaseBundle/Resources/public/js/vendor/bootstrap.js'
		'@ShowcaseBundle/Resources/public/js/vendor/smoothscroll.js'
		'@AppBundle/Resources/public/js/vendor/sbadmin-two.js'
		filter='?yui_js' output='resources/js/app.jquery.min.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

	</body>
</html>

{% endspaceless %}
