/*
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of the GRAPPBOX source code package.
* COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
*/

/* ==================== Angular preloader ==================== */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak { display: none !important; }


/* ==================== General layout ==================== */

#app-wrapper { background: #fff; }
#page-wrapper { height: auto; padding: 0 30px 50px 30px; background: #fff; border-left: 1px solid #e0e0e0; transition: .2s ease all; }

.alert { margin: 50px 1px -20px 1px; border-radius: 0; }
.alert span { font-size: 18px; }

section:nth-of-type(1) { min-height: auto; margin: 30px 0 60px 0; }
section { margin: 0 0 60px 0; }

footer .app-footer { margin: 0 0 0 250px; }

@media (max-width:767px) {
	section:nth-of-type(1) { min-height: auto; }
	section { margin: 0 0 60px 0; }
}

@media (min-width:768px) {
	#page-wrapper { margin: 0 0 0 250px; }
}


/* ==================== General layout (animations) ==================== */

.btn-float { display: inline-block; vertical-align: middle; transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); backface-visibility: hidden; transition-duration: .3s; transition-property: transform; transition-timing-function: ease-out; }

.btn-float:active,
.btn-float:focus,
.btn-float:hover { transform: translateY(-8px); }


/* ==================== Navigation ==================== */

#menu-wrapper { transition: .2s ease all; }

.navbar { position: relative; min-height: 60px; margin: 0; background: #f5f5f5; box-shadow: none; }

.navbar-brand a,
.navbar-brand span { font-size: 44px; letter-spacing: -2px; text-transform: uppercase; }

.navbar-brand { line-height: normal; display: inline-block; float: none; width: 100%; height: 60px; margin: 0 auto; padding: 2px 0 0 15px; text-align: left; color: #212121; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

.navbar-brand a:active,
.navbar-brand a:hover,
.navbar-brand a:focus,
.navbar-brand a:active span,
.navbar-brand a:hover span,
.navbar-brand a:focus span,
.navbar-brand span:active,
.navbar-brand span:hover,
.navbar-brand span:focus { color: #ff5722; }

.sidebar { margin: 30px 0 0 0; padding: 0; list-style: none; }

.sidebar li a { font-size: 18px; font-weight: 400; display: block; padding: 20px; background: #fff; }
.sidebar li a.active { color: #f5f5f5; background: #616161; }
.sidebar li a:before { transition-duration: .2s; background: #616161; }

.sidebar li a:active,
.sidebar li a:hover,
.sidebar li a:focus,
.sidebar li a.active:active,
.sidebar li a.active:hover,
.sidebar li a.active:focus { color: #f5f5f5; }

@media (min-width:768px) {
	.sidebar { z-index: 1; position: absolute; width: 250px; }
}


/* ==================== General laytout (sections) ==================== */

.app-section { margin: 0 0 50px 0; padding: 0; border: none; box-shadow: none; }
.app-section .col-lg-12 { padding: 0; }
.app-section .app-container { width: 100%; }

.app-section .app-section-heading { margin: 0; }
.app-section .app-section-heading h2 { margin: 0; padding: 15px 0; letter-spacing: 0; }

.app-section .app-section-heading .lead,
.app-section .app-section-heading ul,
.app-section .app-section-heading li { font-size: 18px; line-height: initial; font-weight: 400; }

.app-section .app-section-content ul,
.app-section .app-section-content li,
.app-section .app-section-content p,
.app-section .app-section-content strong { font-size: 16px; line-height: initial; }


/* ==================== General layout (error and secondary pages) ==================== */

#error-view .app-section-content .contact-us { font-weight: bold; text-decoration: underline; }


/* ==================== Section: dashboard ==================== */

#dashboard-view .app-section-content { margin: 0 -30px; min-height: 230px; background: #e0e0e0; }

#dashboard-view .app-data { display: table-cell; }
#dashboard-view .app-data.empty p { width: 100%; font-size: 18px; font-weight: 400; text-align: center; position: absolute; top: 65%; }
#dashboard-view .app-data.empty p i { margin-right: 10px; font-size: 18px; }

#dashboard-view .app-data .app-data-list i { margin: 0 10px 0 -10px; }
#dashboard-view .app-data .app-data-list { margin: 20px 10px 20px 10px; padding: 0; list-style: none; transition-duration: .1s; text-align: center; color: #f5f5f5; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

#dashboard-view .app-data:first-child > .app-data-list { margin: 20px 10px 20px 30px; }
#dashboard-view .app-data:last-child > .app-data-list { margin: 20px 30px 20px 10px; }

#dashboard-view .each-member-data .team-member-picture { padding: 15px 15px 10px 15px; background: #607d8b; }
#dashboard-view .each-member-data .team-member-picture img { max-width: 120px; border-radius: 50%; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
#dashboard-view .each-member-data .team-member-name { padding: 5px 0 10px 0; background: #607d8b; }
#dashboard-view .each-member-data .team-member-status { padding: 10px 0; text-transform: capitalize; background: #bdbdbd; }
#dashboard-view .each-member-data .team-member-status.member-available { cursor: pointer; background: #8bc34a; }
#dashboard-view .each-member-data .team-member-status.member-busy { cursor: not-allowed; background: #9e9e9e; }

#dashboard-view .each-meeting-data { min-width: 10vw; }
#dashboard-view .each-meeting-data .meeting-type { padding: 15px 0; border-bottom: 1px solid #f5f5f5; background-color: #607d8b; }
#dashboard-view .each-meeting-data .meeting-schedule { padding: 20px 40px; background-color: #0097a7; }

#dashboard-view .each-progress-data { width: 350px; background: #bdbdbd; }
#dashboard-view .each-progress-data .clearfix { background: #607d8b; }
#dashboard-view .each-progress-data .project-picture { float: left; padding: 10px; background: #607d8b; }
#dashboard-view .each-progress-data .project-picture img { max-width: 120px; border-radius: 50%; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
#dashboard-view .each-progress-data .project-details { float: left; min-width: 50%; padding: 15px 0 0 10px; text-align: left; background: #607d8b; }
#dashboard-view .each-progress-data .project-details .project-name { font-size: 20px; }
#dashboard-view .each-progress-data .client-details { float: left; min-width: 50%; padding: 10px 0 0 10px; text-align: left; background: #607d8b; }
#dashboard-view .each-progress-data .progress-details { padding: 15px 0; background: #0097a7; }
#dashboard-view .each-progress-data .progress-details div { display: inline-block; padding: 0 40px 0 0; }
#dashboard-view .each-progress-data .progress-details div:last-child { display: inline-block; padding: 0; }


/* ==================== Section: whiteboard (list) ==================== */

#whiteboard-list-view .app-section-content { margin: 0 -30px; background: #e0e0e0; }

#whiteboard-list-view .app-data { display: table-cell; }
#whiteboard-list-view .app-data .app-data-list li { display: block; }
#whiteboard-list-view .app-data .app-data-list i { margin: 0 10px 0 -10px; }
#whiteboard-list-view .app-data .app-data-list { display: block; margin: 20px 10px 20px 10px; padding: 0; list-style: none; transition-duration: .1s; text-align: left; color: #212121; background: #f5f5f5; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

#whiteboard-list-view .app-data:first-child > .app-data-list { margin: 20px 10px 20px 30px; }
#whiteboard-list-view .app-data:last-child > .app-data-list { margin: 20px 30px 20px 10px; }

#whiteboard-list-view .each-available-whiteboard { min-width: 17vw; background: #bdbdbd; }
#whiteboard-list-view .each-available-whiteboard .whiteboard-id { padding: 15px 15px 5px 15px; }
#whiteboard-list-view .each-available-whiteboard .whiteboard-project-name { padding: 5px 15px 5px 15px; }
#whiteboard-list-view .each-available-whiteboard .whiteboard-information { padding: 5px 25px 15px 25px; }

#whiteboard-list-view .each-available-whiteboard .whiteboard-name,
#whiteboard-list-view .each-available-whiteboard .whiteboard-link { padding: 0; }

#whiteboard-list-view .each-available-whiteboard .whiteboard-name a,
#whiteboard-list-view .each-available-whiteboard .whiteboard-link a { display: block; padding: 15px; text-align: center; color: #f5f5f5; }
#whiteboard-list-view .each-available-whiteboard .whiteboard-name a { border-bottom: 1px solid #f5f5f5; background-color: #607d8b; }
#whiteboard-list-view .each-available-whiteboard .whiteboard-link a { border-top: 1px solid #f5f5f5; background-color: #8bc34a; }

#whiteboard-list-view .app-actions { display: block; }
#whiteboard-list-view .app-actions .whiteboard-action-link { width: 20%; margin: 0 auto; }
#whiteboard-list-view .app-actions .whiteboard-action-link a { font-size: 18px; display: block; padding: 20px; text-align: center; color: #f5f5f5; background: #0097a7; }
#whiteboard-list-view .app-actions .whiteboard-action-link a i { margin: 0 10px 0 -10px; }


/* ==================== Section: whiteboard (draw) ==================== */

#whiteboard-header { min-height: auto; margin: 30px 0 0 0; transition: .2s ease all; transition-delay: .2s; }
#whiteboard-data { transition: .2s ease all; transition-delay: .2s; }

#app-wrapper.hide-menu #page-wrapper { margin: 0; }
#app-wrapper.hide-menu #menu-wrapper { transform: translateX(-250px) !important; transform: translate3d(-250px, 0, 0) !important; }
#app-wrapper.hide-menu #whiteboard-header { transform: translateY(-150px) !important; transform: translate3d(0, -150px, 0) !important; }
#app-wrapper.hide-menu #whiteboard-data { transform: translateY(-130px) !important; transform: translate3d(0, -130px, 0) !important; }
#app-wrapper.hide-menu #whiteboard-data .app-data { max-height: 88vh; }

#whiteboard-view #whiteboard { margin: 0 0 30px 0; }
#whiteboard-view .app-section-content { position: relative; }

#whiteboard-view .app-actions { position: absolute; width: 100%; bottom: 0; border: 1px solid #e0e0e0; background: #fff; }
#whiteboard-view .app-actions .app-actions-list { display: inline-block; margin: 0; padding: 20px; border-left: 1px solid #e0e0e0 }
#whiteboard-view .app-actions .app-actions-list:first-child { border: none; }

#whiteboard-view .app-actions .app-actions-list .left-offset { margin-left: 5px; }
#whiteboard-view .app-actions .app-actions-list .right-offset { margin-right: 5px; }

#whiteboard-view .app-actions .app-actions-list input,
#whiteboard-view .app-actions .app-actions-list label,
#whiteboard-view .app-actions .app-actions-list select { font-size: 18px; }

#whiteboard-view .app-actions .app-actions-list label { font-weight: 400; cursor: pointer; }
#whiteboard-view .app-actions .app-actions-list li { display: inline; }
#whiteboard-view .app-actions .app-actions-list ul { padding: 0; margin: 0; }

#whiteboard-view .app-data { overflow: scroll; max-height: 75vh; border: 1px solid #e0e0e0; transition: .2s ease all; transition-delay: .2s; }
#whiteboard-view .app-data canvas { background: #f5f5f5; cursor: crosshair; }
