/*
* This file is subject to the terms and conditions defined in
* file "LICENSE.txt", which is part of the GRAPPBOX source code package.
* COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
*/

/* ==================== ANGULAR PRELOADER ==================== */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak { display: none!important; }


/* ==================== GENERAL LAYOUT ==================== */

html { background: #fafafa; }
body { font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: 400; line-height: initial; letter-spacing: normal; color: #212121; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body.modal-open { overflow: auto!important; }

h2,
h3,
h4 { font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; font-weight: 400; line-height: initial; letter-spacing: 0; color: #212121; }
h3 { font-size: 40px; margin: 20px 0; }

label { display: inline; margin: 0; font-weight: 400; }

a { color: #212121; transition: all .2s ease-out; }
a:active,
a:focus,
a:hover { text-decoration: none; color: #e05e52; }
a.disabled { cursor: not-allowed; }
i { padding: 0 10px 0 0; }
::selection { color: #fafafa; background-color: #f48b52; }

#app-wrapper { padding-left: 0; background: #fff; transition: all .3s ease; }
#app-wrapper.toggled { padding-left: 250px; }
#app-wrapper.toggled #sidebar-wrapper { width: 250px; }
#app-wrapper.toggled #page-content-wrapper { position: absolute; margin-right: -250px; }
#page-content-wrapper { width: 100%; position: absolute; padding: 15px; background: #fafafa; }
#page-content-wrapper .page-header { margin: 0; padding: 0; border: 0; }
#page-content-wrapper .page-header .app-page-title { height: 60px; margin: 0 -20px; padding: 0 35px; font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; font-size: 24px; background: #e05e52; color: #fafafa; text-transform: uppercase; }
#page-content-wrapper .page-header .app-page-title .title { display: inline-block; padding: 14px 0 0 0; }
#page-content-wrapper .page-header .app-page-title .fa-stack { margin: 0 10px 0 0; padding: 0; font-size: 22px; }
#page-content-wrapper .page-header .app-page-title .fa-stack-2x,
#page-content-wrapper .page-header .app-page-title .fa-stack-1x { margin: 0; padding: 0; }
#page-content-wrapper .page-header .app-page-title .fa-stack-1x { font-size: 20px; color: #E05E52; }

@media (min-width: 768px) {
  #app-wrapper { padding-left: 250px; }
  #app-wrapper.toggled { padding-left: 0; }
  #app-wrapper.toggled #sidebar-wrapper { width: 0; }
  #app-wrapper.toggled #page-content-wrapper { position: relative; margin-right: 0; }
  #sidebar-wrapper { width: 250px; }
  #page-content-wrapper { padding: 0 20px; position: relative; }
}

.alert { margin: 30px 15px 0 15px; border-radius: 0; }
.btn-default { padding: 10px 35px; border: none; text-transform: uppercase; text-align: center; transition: all .2s ease-out; background: #616161; color: #fafafa; }
.btn-submit:active,
.btn-submit:hover,
.btn-submit:focus { background: #7CB342; color: #fafafa; }
.btn-access:active,
.btn-access:hover,
.btn-access:focus { background: #9E9E9E; color: #fafafa; }
.clearfix { background: #fff; }
.floating { transform: translateZ(0); backface-visibility: hidden; transition-duration: .2s; transition-property: transform; transition-timing-function: ease-out; }
.floating:active,
.floating:focus,
.floating:hover { transform: translateY(-8px); }
.help { padding: 20px; border: 1px solid #e0e0e0; }
.shadow { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }
.ui-notification > .message { overflow: hidden!important; text-overflow: ellipsis; }
.ui-notification { color: #fafafa; }
.ui-notification.info { background: #29B6F6; }
.ui-notification.success { background: #7CB342; }
.upper { text-transform: uppercase; }



/* ==================== GENERAL LAYOUT (LOADING) ==================== */

.loading-content,
.loading-content > div { position: relative; box-sizing: border-box; }
.loading-content { display: block; font-size: 0; color: #fff; top: 30px; margin: 0 auto; border: none!important; }
.loading-content > div { display: inline-block; float: none; border: 0 solid #616161; }
.loading-content { width: 32px; height: 32px; }
.loading-content > div { width: 32px; height: 32px; background: transparent; border-width: 2px; border-bottom-color: transparent; border-radius: 100%; animation: ball-clip-rotate .75s linear infinite; }
.loading-content.master { width: 40px; height: 40px; top: 50px; margin: 0 auto; }
.loading-content.master > div { width: 40px; height: 40px; border-width: 3px; }
.loading-content.section { top: 100px; }
.loading-content.data { top: 30px; }

@keyframes ball-clip-rotate { 0% { transform: rotate(0deg); } 50% { transform: rotate(180deg); } 100% { transform: rotate(360deg); } }



/* ==================== GENERAL LAYOUT (NAVIGATION) ==================== */

#sidebar-wrapper { z-index: 1000; position: fixed; left: 250px; height: 100%; margin-left: -250px; overflow-y: auto; transition: all .3s ease; background: #fff; border-right: 1px solid #e0e0e0; overflow: hidden; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li a:hover,
.sidebar-nav li a.active,
.sidebar-nav li a.active:active,
.sidebar-nav li a.active:hover,
.sidebar-nav li a.active:focus { font-weight: 500; color: #212121; background: #fafafa; border-right: 2px solid #fff; }
.sidebar-nav li a { display: block; padding: 15px 25px; color: #616161; text-transform: uppercase; }
.sidebar-nav li:nth-child(2) a { margin-top: 15px; }
.sidebar-nav { position: absolute; top: 0; width: 250px; margin: 0; padding: 0; list-style: none; }
.sidebar-nav .sidebar-brand a:active,
.sidebar-nav .sidebar-brand a:focus,
.sidebar-nav .sidebar-brand a:hover { color: #e05e52; font-weight: 400; }
.sidebar-nav .sidebar-brand a { font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; padding: 13px 25px; font-size: 28px; text-transform: uppercase; height: 60px; border-bottom: 1px solid #e0e0e0; color: #616161; }

.legal-nav { position: absolute; bottom: 0; width: 100%; }
.legal-nav .copyright { padding: 5px 20px 20px 20px; margin: 0; font-size: 12px; }
.legal-nav .divider,
.sidebar-nav .divider { height: 1px; background: #e0e0e0; }

@media (min-width:768px) {
  .sidebar-nav { z-index: 1; position: absolute; }
}



/* ==================== GENERAL LAYOUT (DIALOGS) ==================== */

.modal-dialog { margin: 100px auto; }
.modal-content { border-radius: 0; }
.modal-content .modal-title { margin: 0 10px; padding: 5px 0; font-size: 18px; font-weight: 700; text-transform: uppercase; }
.modal-content .modal-body input { display: block; width: 80%; padding: 2px 5px; margin: 15px auto 5px auto; }
.modal-content .modal-body input.input-error { border: 2px solid #e05e52; }
.modal-content .modal-body p,
.modal-content .modal-footer { text-align: center; }
.modal-content .modal-footer { padding: 0 15px 15px 15px; border: none; }
.modal-content .modal-footer button { width: 30%; }



/* ==================== GENERAL LAYOUT (SECTIONS) ==================== */

.app-section { margin: 0; padding: 0; border: none; box-shadow: none; }
.app-section .col-lg-12 { padding: 0; }
.app-section .container { width: 100%; }
.app-section .section-heading h2,
.app-section .section-heading h3 { padding: 15px 0; font-size: 18px; font-weight: 700; text-transform: uppercase; }
.app-section .section-heading h2,
.app-section .section-heading p { margin: 0 15px; }
.app-section .section-heading h3 { margin: 30px 15px 0 15px; }
.app-section .data-content { padding: 0; list-style: none; background: #fff; }
.app-section .data-content span { display: block; padding: 2px 15px; }
.app-section .data-content span.title { padding: 15px; margin: 0 0 15px 0; color: #fafafa; }
.app-section .data-content a:not(.standalone) { display: block; margin: 20px 0 0 0; }
.app-section .data-content a:not(.standalone) i { margin: 0 10px 0 -10px; }
.app-section .error p { width: 100%; text-align: center; position: absolute; top: 45%; }
.app-section .error p i { margin-right: 10px; }

.app-section .section-content.tiles { margin: 0 -20px 30px -20px; padding: 0; height: 230px; background: #e0e0e0; position: relative; }
.app-section .section-content.tiles .data-wrapper { display: table-cell; }
.app-section .section-content.tiles .data-wrapper:first-child .data-content { margin: 20px 10px 20px 30px; }
.app-section .section-content.tiles .data-wrapper:last-child .data-content { margin: 20px 30px 20px 10px; }
.app-section .section-content.tiles .data-content { display: inline-block; vertical-align: middle; margin: 20px 10px; width: 350px; }

section:nth-of-type(1) { margin: 15px 0 0 0; }
section { margin: 0 0 60px 0; }

@media (max-width: 767px) {
  section:nth-of-type(1) { min-height: auto; }
  section { margin: 0 0 60px 0; }
}



/* ==================== SECTION: DASHBOARD ==================== */

#dashboard-view .section-heading h3 { margin: 15px 15px 0 15px; }
#dashboard-view .section-content { margin: 15px -20px 30px -20px; }
#dashboard-view .team-member-picture { float: left; padding: 10px 15px 15px 15px; }
#dashboard-view .team-member-picture img { max-width: 120px; border: 5px solid; border-radius: 50%; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
#dashboard-view .team-member-picture img.member-available { border-color: #9CCC65; }
#dashboard-view .team-member-picture img.member-busy { border-color: #9e9e9e; }
#dashboard-view .team-member-name { float: left; padding: 55px 0 0 10px; }
#dashboard-view .team-member-status { padding: 15px 0; text-transform: capitalize; color: #fafafa; background: #616161; text-align: center; }
#dashboard-view .team-member-status.member-available { cursor: pointer; }
#dashboard-view .team-member-status.member-busy { cursor: not-allowed; }

#dashboard-view .each-meeting-data { width: 350px; }
#dashboard-view .each-progress-data { width: 350px; background: #bdbdbd; }
#dashboard-view #team-occupation .section-heading h3 { margin: 30px 15px 0 15px; }
#dashboard-view .meeting-title { padding: 15px 0; border-bottom: 1px solid #fafafa; background-color: #e05e52; }
#dashboard-view .meeting-type { padding: 30px 0 10px 0; background-color: #fff; color: #212121; }
#dashboard-view .meeting-schedule { padding: 0 0 40px 0; background-color: #fff; color: #212121; }
#dashboard-view .project-picture { float: left; padding: 10px; }
#dashboard-view .project-picture img { max-width: 120px; border-radius: 50%; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
#dashboard-view .project-details { float: left; min-width: 50%; padding: 15px 0 0 10px; text-align: left; color: #212121; }
#dashboard-view .project-details .project-name { font-weight: 700; }
#dashboard-view .client-details { float: left; min-width: 50%; padding: 10px 0 0 10px; text-align: left; color: #212121; }
#dashboard-view .progress-details { padding: 15px 0; background: #616161; text-align: center; color: #fafafa; }
#dashboard-view .progress-details div { display: inline-block; padding: 0 40px 0 0; }
#dashboard-view .progress-details div:last-child { display: inline-block; padding: 0; }



/* ==================== SECTION: CLOUD ==================== */

#cloud-list .section-content { margin: 30px -20px; }
#cloud-list .project-picture { float: left; padding: 10px; }
#cloud-list .project-picture img { max-width: 120px; border-radius: 50%; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
#cloud-list .project-details { float: left; min-width: 50%; padding: 15px 0 0 10px; text-align: left; color: #212121; }
#cloud-list .project-details .project-name { color: #212121; font-weight: 700; }
#cloud-list .client-details { float: left; min-width: 50%; padding: 10px 0 0 10px; text-align: left; color: #212121; }

#cloud-content .section-content { margin: 30px 15px 0 15px; }
#cloud-content #all-cloud-objects > div { border: 1px solid #e0e0e0; }
#cloud-content .data-breadcrumb { background: #fafafa; }
#cloud-content .data-breadcrumb,
#cloud-content .data-labels { padding: 10px; margin: 0; }
#cloud-content .data-labels { background: #e0e0e0; }
#cloud-content .data-actions { padding: 15px 10px; margin: 0; background: #616161; border: none!important; }
#cloud-content .data-actions a:active,
#cloud-content .data-actions a:focus,
#cloud-content .data-actions a:hover,
#cloud-content #view_newFileWrapper:active,
#cloud-content #view_newFileWrapper:focus,
#cloud-content #view_newFileWrapper:hover { color: #4FC3F7; }
#cloud-content .data-actions a.disabled:active,
#cloud-content .data-actions a.disabled:focus,
#cloud-content .data-actions a.disabled:hover { color: #fafafa; }
#cloud-content .data-actions a { padding: 15px 5px; }
#cloud-content .data-actions a,
#cloud-content #view_newFileWrapper { color: #fafafa; }
#cloud-content #view_newFileWrapper input { display: inline; position: absolute; left: 0; top: 0; opacity: 0; width: 100%; padding: 10px 0; margin: -15px 0 0 0; }
#cloud-content .data-content { cursor: pointer; }
#cloud-content .data-content#selected { background: #29B6F6; }
#cloud-content .data-content#selected,
#cloud-content .data-content#selected i { color: #fafafa; }
#cloud-content .data-content:active,
#cloud-content .data-content:focus,
#cloud-content .data-content:hover { background: #4FC3F7; }
#cloud-content .data-content i { margin: 0 10px 0 -10px; }
#cloud-content .data-content i:not(.disabled) { color: #616161; }
#cloud-content .data-content i.disabled { color: #e0e0e0; }
#cloud-content .data-content .object-security i { margin: 0; padding: 0 2px; }
#cloud-content .each-object-data { border-bottom: 1px solid #e0e0e0; padding: 5px 10px; margin: 0; }
#cloud-content .each-object-data .object-name { overflow: hidden!important; text-overflow: ellipsis; }
#cloud-content .each-object-data .object-type { margin: 0 -10px 0 10px; }



/* ==================== SECTION: BUGTRACKER ==================== */

#bugtracker-list .title { background: #009688; }
#bugtracker-list .data-content .btn-default { margin: 10px 0 0 0; }

#bugtracker-content .app-actions-list li { display: inline; }
#bugtracker-content .app-actions-list ul { padding: 0; margin: 0; }
/*#bugtracker-content #existing-ticket {}
#bugtracker-content #existing-ticket #editable-data-list {}
#bugtracker-content #editable-data-list .data-wrapper {}
#bugtracker-content #editable-data-list .data-wrapper label {}
#bugtracker-content #editable-data-list .data-wrapper input {}
#bugtracker-content #existing-ticket #static-data-list {}
#bugtracker-content #static-data-list .data-wrapper {}
#bugtracker-content #static-data-list .data-wrapper .label {}
#bugtracker-content #static-data-list .data-wrapper .data {}*/



/* ==================== SECTION: WHITEBOARD ==================== */

#whiteboard-list .title { background: #7CB342; }
#whiteboard-list .section-heading a:active,
#whiteboard-list .section-heading a:focus,
#whiteboard-list .section-heading a:hover { color: #7CB342; }
#whiteboard-content .section-content .data-actions a:active,
#whiteboard-content .section-content .data-actions a:focus,
#whiteboard-content .section-content .data-actions a:hover,
#whiteboard-content .section-content .data-actions label:not(.no-select) span:active,
#whiteboard-content .section-content .data-actions label:not(.no-select) span:focus,
#whiteboard-content .section-content .data-actions label:not(.no-select) span:hover { color: #7CB342; }

#whiteboard-list .section-heading h3 { display: inline-block; width: 80%; }
#whiteboard-list .section-heading a { display: inline-block; padding: 15px; border: 1px solid #e0e0e0; background: #e0e0e0; }
#whiteboard-list .section-content .data-content-header { position: relative; }
#whiteboard-list .section-content .data-content-header a { position: absolute; top: 0; right: 0; padding: 15px 5px 15px 15px; color: #fafafa; }
#whiteboard-list .section-content .data-content-header a:active,
#whiteboard-list .section-content .data-content-header a:focus,
#whiteboard-list .section-content .data-content-header a:hover { background: #616161; }
#whiteboard-content .section-content { margin: 30px 15px 0 15px; border: 1px solid #e0e0e0; }
#whiteboard-content .section-content .data-actions { padding: 0; margin: 0; background: #616161; border: none!important; }
#whiteboard-content .section-content .data-actions > div { text-align: center; padding: 0 5px; }
#whiteboard-content .section-content .data-actions a,
#whiteboard-content .section-content .data-actions label { color: #fafafa; }
#whiteboard-content .section-content .data-actions label:not(.no-select) { cursor: pointer; }
#whiteboard-content .section-content .data-actions a,
#whiteboard-content .section-content .data-actions label span { display: inline-block; padding: 15px 10px; }
#whiteboard-content .section-content .data-actions label input[type="radio"],
#whiteboard-content .section-content .data-actions label input[type="checkbox"] { display: none; }
#whiteboard-content .section-content .data-actions input[type="text"] { margin: 0 3px; }
#whiteboard-content .section-content .data-actions :checked + span { color: #212121; }
#whiteboard-content .section-content .data-actions :checked + span { background: #e0e0e0; } 
#whiteboard-content .section-content .data-content { overflow: scroll; max-height: 70vh; }
#whiteboard-content .section-content .data-content canvas { background: #fff; cursor: crosshair; }



/* ==================== SECTION: PROFILE ==================== */

#profile .section-content .data-wrapper { margin: 30px 15px; }
#profile .section-content .data-wrapper .row { margin: 15px -15px; }
#profile .section-content .data-wrapper .row input { padding-left: 2px; }
#profile .section-content .data-wrapper .row input,
#profile .section-content .data-wrapper .row select { width: 100%; }
#profile .section-content .data-wrapper .btn-default { position: absolute; right: 15px; top: 15px; }