section#login { min-height: 900px; height: 100%; height: 100vh; margin-bottom: -139px; }
section#login .content-section { height: 100%; }

.app-login-container { border: 1px solid #E0E0E0; padding: 35px 35px 70px 35px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); background-color: #F7F7F7; }

.app-logo { padding-bottom: 10px; text-align: center; }
.app-logo h1 { color: #212121; }
.app-logo h1,
.app-logo h1 span
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 76px;
	font-size: 6vw;
	margin-top: 60px;
}

.app-login .back-home:active, .app-login .back-home:hover { color: #8BC34A; }
.app-login .back-home
{
	font-size: 35px;
	color: #212121;
	text-align: center;
	display: block;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}

.app-login input { border-radius: 0; margin: 10px 0; font-size: 16px; color: #212121; padding: 20px 15px; }
.app-login .btn-login { background-color: #4CAF50; margin-top: 20px; }
.app-login .btn-login i { padding-right: 10px; }
.app-login .btn-login:before { background-color: #8BC34A; }
