{% extends "::base.html.twig" %}

{% block title %}AppBundle:UserController:createUser{% endblock %}

{% block body %}

<form method="post" action="/V1.0/accountadministration/signin" enctype="multipart/form-data">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <label name="firstname">Firstname</label>
    <input type="text" name="firstname"><br/>
    <label name="lastname">Lastname</label>
    <input type="text" name="lastname"><br/>
    <label name="birthday">Birthday</label>
    <input type="datetime-local" name="birthday"><br/>
    <label name="password">Password</label>
    <input type="password" name="password"><br/>
    <label name="avatar">Avatar</label>
    <input type="file" name="avatar"><br/>
    <label name="email">Email</label>
    <input type="email" name="email"><br/>
    <label name="phone">Phone</label>
    <input type="text" name="phone"><br/>
    <label name="country">Country</label>
    <input type="text" name="country"><br/>
    <label name="linkedin">Linkedin</label>
    <input type="text" name="linkedin"><br/>
    <label name="viadeo">Viadeo</label>
    <input type="text" name="viadeo"><br/>
    <label name="twitter">Twitter</label>
    <input type="text" name="twitter"><br/>
    <input type="submit">
</form>

{% endblock %}
