{% extends "::base.html.twig" %}

{% block title %}AppBundle:UserController:createUser{% endblock %}

{% block body %}
{% if error is defined and error.getMessage() is defined %}
    <div>{{dump(error)}}</div>
{% endif %}
{% if toto is defined %}
    <div>{{dump(toto)}}</div>
{% endif %}


<h1>Welcome to the UserController:createUser page</h1>
<form action="/V1/API/AccountAdministration/login_check" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <label for="username">Username:</label>
    <input type="email" id="username" name="login" value="{% if last_username is defined %}{{last_username}}{% endif %}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />

    <button type="submit">login</button>
</form>

{% endblock %}
