/*
* This file is subject to the terms and conditions defined in
* file "LICENSE.txt", which is part of the GRAPPBOX source code package.
* COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
*/

/* ================================================= */
/* ==================== GENERAL ==================== */
/* ================================================= */

html,
body { width: 100% !important; height: 100% !important; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale !important; text-rendering: optimizeLegibility !important; font-feature-settings: 'liga' !important; font-weight: 400; }

h1 { font-weight: 700; }
h2 { text-transform: uppercase; line-height: 20px; font-weight: 600; margin: 0; color: #333333; }

h3,
h4 { font-weight: 500; color: #666666; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

p { font-size: 14px; }
a { color: #FC575E; }

a:hover,
a:focus { text-decoration: none; color: #44BBFF; }

ul,
ol { list-style: none; }
ul,
ol { padding: 0; webkit-padding: 0; moz-padding: 0; }
hr { height: 4px; width: 70px; text-align: center; position: relative; margin: 0 auto; margin-bottom: 30px; border: 0; }

.red { color: #FC575E; }
.yellow { color: #F1C40F; }
.green { color: #27AE60; }
.orange { color: #FF9F55; }
.purple { color: #9E58DC; }
.blue { color: #44BBFF; }

.bg-red { background: #FC575E; }
.bg-yellow { background: #F1C40F; }
.bg-green { background: #27AE60; }
.bg-orange { background: #FF9F55; }
.bg-purple { background: #9E58DC; }
.bg-blue { background: #44BBFF; }

.pop { cursor: pointer; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -o-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -ms-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; -moz-transition-property: transform; -o-transition-property: transform; -ms-transition-property: transform; transition-property: transform; }
.pop:hover,
.pop:focus,
.pop:active { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.section-title.center { padding: 30px 0; }
.section-title h2,
.section-title.center h2 { margin-bottom: 30px; }

.blinker { -webkit-animation-name: blinker; -moz-animation-name: blinker; -o-animation-name: blinker; -ms-animation-name: blinker; animation-name: blinker; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1); -moz-animation-timing-function: cubic-bezier(1, 0, 0, 1); -o-animation-timing-function: cubic-bezier(1, 0, 0, 1); -ms-animation-timing-function: cubic-bezier(1, 0, 0, 1); animation-timing-function: cubic-bezier(1, 0, 0, 1); -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -ms-animation-duration: 1s; animation-duration: 1s; display: inline-block; width: 2px; height: 65px; margin-left: 10px; background: #FC575E; }

@-webkit-keyframes blinker { from { opacity: 1.0; } to { opacity: 0.0; } }
@-moz-keyframes blinker { from { opacity: 1.0; } to { opacity: 0.0; } }
@-o-keyframes blinker { from { opacity: 1.0; } to { opacity: 0.0; } }
@-ms-keyframes blinker { from { opacity: 1.0; } to { opacity: 0.0; } }
@keyframes blinker { from { opacity: 1.0; } to { opacity: 0.0; } }



/* ==================================================== */
/* ==================== NAVIGATION ==================== */
/* ==================================================== */

.navbar-custom { display: none; }

.navbar-custom { padding: 0; border-bottom: 0; letter-spacing: 1px; background: #333; text-transform: uppercase; }
.navbar-custom .navbar-brand { font-weight: 600; }
.navbar-custom .navbar-brand > img { display: inline; margin: -2px 10px 0 0; }
.navbar-custom .navbar-brand:focus { outline: 0; }
.navbar-custom .nav li a { color: #fafafa; transition-duration: .2s; }
.navbar-custom .nav li a.login { background: #FC575E; color: #fafafa; height: 60px; }
.navbar-custom .nav li a.login i { padding-right: 7px; margin-top: -3px; }
.navbar-custom .nav li a:active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus { outline: 0; color: #FC575E; }
.navbar-custom .nav li a.login:active,
.navbar-custom .nav li a.login:hover,
.navbar-custom .nav li a.login:focus { outline: 0; background: #fafafa; }



/* ============================================== */
/* ==================== HOME ==================== */
/* ============================================== */

/*#home { display: table; width: 100%; height: auto; padding: 60px 0; text-align: center; color: #fff; background: url(../img/home.min.jpg) no-repeat center center fixed; background-color: #000; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }
*/
#home { display: table; width: 100%; height: auto; padding: 60px 0; text-align: center; color: #fff; background: #333; }

#home .home-body { display: table-cell; vertical-align: middle; }
#home .home-body h1 { font-size: 88px; font-weight: 700; text-transform: uppercase; }
#home .home-body .home-text { font-size: 18px; font-weight: 300; }
#home .home-body .container { background: #333; padding: 40px 0; border-radius: 6px; }

@media (max-width: 640px) {
	#home .home-body h1 { font-size: 4em; }
}

@media (min-width: 768px) {
	#home { height: 100%; padding: 0; }
	#home .home-body .home-text { font-size: 16px; letter-spacing: 1px; color: #fafafa; }
}

@media (max-width: 992px) {
	#home .brand { text-align: center; padding-bottom: 50px; }
}

@media (min-width: 992px) {
	#home .brand { text-align: right; padding-right: 50px; }
}

#home .actions { text-align: left; }
#home .actions a { display: block; width: 200px; height: 50px; color: #fafafa; letter-spacing: 1px; background: none; font-weight: 400; margin: 5px auto; font-size: 14px; padding: 14px 0 14px 30px; text-align: left; }
#home .actions a i { padding-right: 15px; margin-top: -3px; }
#home .actions .register { border: 1px solid #44BBFF; }
#home .actions .login { border: 1px solid #FC575E; }
#home .actions .download { border: 1px solid #27AE60; }
#home .actions .more { border: 1px solid #FF9F55; }
#home .actions .register:hover { background: #44BBFF; color: #fafafa; }
#home .actions .login:hover { background: #FC575E; color: #fafafa; }
#home .actions .download:hover { background: #27AE60; color: #fafafa; }
#home .actions .more:hover { background: #FF9F55; color: #fafafa; }



/* =============================================== */
/* ==================== ABOUT ==================== */
/* =============================================== */

#about { padding: 60px 0; background: #fafafa; }
#about .about-text { margin-left: 10px; }
#about li { margin-bottom: 3px; list-style: none; padding: 0; font-size: 13px; }
#about img { margin-top: 20px; }
#about p { margin-top: 20px; margin-bottom: 30px; }
#about img { -webkit-transition: -webkit-transform .8s ease-in-out; transition: transform .8s ease-in-out; }
#about img:hover { -webkit-transform: rotate(360deg); transform: rotate(360deg); }



/* ================================================== */
/* ==================== SERVICES ==================== */
/* ================================================== */

#services { padding: 60px 0; background: #fff; }
#services .service { padding: 20px 10px; }
#services .space { margin-top: 40px; }
#services i { font-size: 50px; }



/* ================================================= */
/* ==================== CONTACT ==================== */
/* ================================================= */

.separation { width: 100%; height: auto; min-height: 420px; background: url(../img/home.min.jpg) no-repeat center center fixed; background-color: #000; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }

#contact { padding: 60px 0; background: #fafafa; }
#contact ul li a { display: block; color: #333333; }
#contact ul li a i { display: block; color: #fafafa; height: 45px; width: 45px; margin: 0 auto; padding-top: 8px; font-size: 30px; border-radius: 5px; }
#contact ul li a i,
#contact ul li a img { margin-bottom: 10px; }
#contact ul li a:active,
#contact ul li a:focus,
#contact ul li a:hover { color: #FC575E; }



/* ================================================ */
/* ==================== FOOTER ==================== */
/* ================================================ */

#footer { background: #333333; color: #cccccc; padding: 20px 0; text-align: center; }
#footer p { font-size: 14px; padding: 10px; margin-top: 10px; }