/*
* This file is subject to the terms and conditions defined in
* file "LICENSE.txt", which is part of the GRAPPBOX source code package.
* COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
*/

/* ================================================= */
/* ==================== GENERAL ==================== */
/* ================================================= */

html,
body { width: 100%!important; height: 100%!important; }

body {
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  text-rendering: optimizeLegibility!important;
  font-feature-settings: 'liga'!important;
  font-weight: 400;
  background: #f0f0f0;
  color: #333;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1 { font-weight: 700; }
h2 { text-transform: uppercase; line-height: 20px; font-weight: 600; margin: 0; color: #333; }
h1.big { font-size: 145px; }

h3,
h4 { font-weight: 500; color: #666; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

p { font-size: 14px; }
a { color: #333; }

a:active,
a:focus,
a:hover { text-decoration: none; color: #44BBFF; }

ul,
ol { list-style: none; padding: 0; }
hr { height: 4px; width: 70px; text-align: center; position: relative; margin: 0 auto; margin-bottom: 30px; border: 0; }

::-webkit-selection { color: #fafafa; background: #44BBFF; }
::-moz-selection { color: #fafafa; background: #44BBFF; }
::-o-selection { color: #fafafa; background: #44BBFF; }
::-ms-selection { color: #fafafa; background: #44BBFF; }
::selection { color: #fafafa; background: #44BBFF; }

.red-color { color: #FC575E!important; }
.yellow-color { color: #F1C40F!important; }
.green-color { color: #27AE60!important; }
.orange-color { color: #FF9F55!important; }
.purple-color { color: #9E58DC!important; }
.blue-color { color: #44BBFF!important; }

.red-bg { background: #FC575E!important; }
.yellow-bg { background: #F1C40F!important; }
.green-bg { background: #27AE60!important; }
.orange-bg { background: #FF9F55!important; }
.purple-bg { background: #9E58DC!important; }
.blue-bg { background: #44BBFF!important; }

.red-border { border-color: #FC575E!important; }
.yellow-border { border-color: #F1C40F!important; }
.green-border { border-color: #27AE60!important; }
.orange-border { border-color: #FF9F55!important; }
.purple-border { border-color: #9E58DC!important; }
.blue-border { border-color: #44BBFF!important; }

.pop { cursor: pointer; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -o-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -ms-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; -moz-transition-property: transform; -o-transition-property: transform; -ms-transition-property: transform; transition-property: transform; }
.pop:hover,
.pop:focus,
.pop:active { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.section-title { width: 100%; text-align: center; padding: 30px 0; }
.section-title h2 { margin-bottom: 30px; }

.center { text-align: center; }

.well { box-shadow: none!important; }
.well a i,
.well-link a i { padding-right: 5px; margin-left: -20px; }
.well .submit { text-align: right; }

.well a,
a.raised { color: #44BBFF; }

.well a:active,
.well a:focus,
.well a:hover,
a.raised:active,
a.raised:focus,
a.raised:hover { text-decoration: underline; color: #44BBFF; }

.well .btn.btn-default { color: #44BBFF!important; }
.well .btn.btn-default:active,
.well .btn.btn-default:hover,
.well .btn.btn-default:focus { color: #fafafa!important; background: #44BBFF!important; }

.well-title { background: #333; color: #f0f0f0; padding: 15px 0; margin-bottom: -1px; border-radius: 2px; text-align: center; font-weight: 300; }
.well-logo { padding-right: 10px; margin-left: -20px; }
.well-link { text-align: center; }



/* =============================================== */
/* ==================== FORMS ==================== */
/* =============================================== */

.form-group.is-focused:not(.has-error) label,
.form-group.is-focused:not(.has-error) label.control-label { color: #44BBFF; }
.form-group select { -webkit-appearance: menulist; -moz-appearance: menulist; appearance: normal; }
.form-group.is-focused .form-control {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#44BBFF), to(#44BBFF)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#44BBFF, #44BBFF), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#44BBFF, #44BBFF), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#44BBFF, #44BBFF), linear-gradient(#D2D2D2, #D2D2D2);
}

.has-error .form-control { border-color: #FC575E; }
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label { color: #FC575E; }

.alert { display:none; margin: 0; }
.alert.show { display: block; }
.alert.alert-danger { background: #FC575E; }
.alert button.close { color: #fafafa; opacity: 1; font-weight: 400; margin-top: -2px; padding-left: 10px; }
.alert p { color: #fafafa; font-weight: 400!important; }



/* ==================================================== */
/* ==================== NAVIGATION ==================== */
/* ==================================================== */

.navbar-home { display: none; }
.navbar-custom { padding: 0; border-bottom: 0; letter-spacing: 1px; background: #333; text-transform: uppercase; }
.navbar-custom .navbar-brand { font-weight: 600; }
.navbar-custom .navbar-brand > img { display: inline; margin: -2px 10px 0 0; }
.navbar-custom .nav li a { color: #fafafa; transition-duration: .2s; }
.navbar-custom .nav li a.login { background: #FC575E; color: #fafafa; height: 60px; }
.navbar-custom .nav li a.login i { padding-right: 7px; margin-top: -3px; }
.navbar-custom .nav li a:active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus { color: #FC575E; }
.navbar-custom .nav li a.login:active,
.navbar-custom .nav li a.login:hover,
.navbar-custom .nav li a.login:focus { background: #fafafa; }

@media (max-width: 768px) {
	.navbar .navbar-brand { width: 100%; text-align: center; }
}

@media (max-width: 1199px) {
	.navbar .navbar-nav > li > a { padding-top: 20px; padding-bottom: 20px; }
	.navbar .navbar-brand { height: 60px; padding: 15px 15px; }
}



/* ============================================== */
/* ==================== HOME ==================== */
/* ============================================== */

#home { display: table; width: 100%; height: auto; padding: 60px 0; text-align: center; color: #fff; background: url(../img/home.min.jpg) no-repeat center center fixed; background-color: #000; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }
#home .home-body { display: table-cell; vertical-align: middle; }
#home .home-body h1 { font-size: 88px; font-weight: 700; text-transform: uppercase; }
#home .home-body .home-text { font-size: 18px; font-weight: 300; }
#home .home-body .container { padding: 100px 0; background: #333; text-align: center; width: 100%!important; }

@media (max-width: 640px) {
	#home .home-body h1 { font-size: 4em; }
}

@media (min-width: 768px) {
	#home { height: 100%; padding: 0; }
	#home .home-body .home-text { font-size: 16px; letter-spacing: 1px; color: #fafafa; }
}

@media (max-width: 992px) {
	#home .brand { text-align: center; padding-bottom: 50px; }
}

@media (min-width: 992px) {
	#home .brand { text-align: right; padding-right: 50px; }
}

#home .actions { text-align: left; }
#home .actions a { display: block; width: 200px; height: 50px; color: #fafafa; letter-spacing: 1px; background: none; font-weight: 400; margin: 5px auto; font-size: 14px; padding: 14px 0 14px 30px; text-align: left; }
#home .actions a i { padding-right: 15px; margin-top: -3px; }
#home .actions .register { border: 1px solid #44BBFF; }
#home .actions .login { border: 1px solid #FC575E; }
#home .actions .download { border: 1px solid #27AE60; }
#home .actions .more { border: 1px solid #FF9F55; }
#home .actions .register:hover { background: #44BBFF; color: #fafafa; }
#home .actions .login:hover { background: #FC575E; color: #fafafa; }
#home .actions .download:hover { background: #27AE60; color: #fafafa; }
#home .actions .more:hover { background: #FF9F55; color: #fafafa; }



/* =============================================== */
/* ==================== ABOUT ==================== */
/* =============================================== */

#about { padding: 60px 0; background: #fafafa; }
#about .about-text { margin-left: 10px; }
#about p { margin-top: 20px; margin-bottom: 30px; }
#about li i { font-size: 14px; }
#about img { margin: 0 auto; }



/* ================================================== */
/* ==================== SERVICES ==================== */
/* ================================================== */

#services { padding: 60px 0; background: #fff; }
#services .service { text-align: center; padding: 20px 10px; }
#services i { font-size: 50px; }



/* ============================================== */
/* ==================== TEAM ==================== */
/* ============================================== */

#team { padding: 60px 0; background: #fafafa; }
#team .thumbnail .caption { padding: 0; text-align: center; }
#team .thumbnail .team-img { width: 150px; height: 150px; border: 0; border-radius: 50%; background: none; transition: none; }
#team .thumbnail { background: none; border: none; border-radius: 0; transition: none; }
#team .thumbnail .linkedin { width: 20px; height: auto; display: inline-block; margin-right: 10px; margin-top: -3px; }



/* ================================================= */
/* ==================== CONTACT ==================== */
/* ================================================= */

#separation { width: 100%; height: auto; min-height: 420px; background: url(../img/home.min.jpg) no-repeat center center fixed; background-color: #000; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }

#contact { padding: 60px 0; background: #fff; }
#contact ul li a { display: block; color: #333; transition-duration: .2s; }
#contact ul li a i { display: block; color: #fafafa; height: 45px; width: 45px; margin: 0 auto; padding-top: 8px; font-size: 30px; border-radius: 2px; }
#contact ul li a i,
#contact ul li a img { margin-bottom: 10px; }

@media (max-width: 768px) {
	#contact ul li { margin: 10px 0; } 
}

#contact .mail a:active,
#contact .mail a:focus,
#contact .mail a:hover { color: #27AE60; }

#contact .facebook a:active,
#contact .facebook a:focus,
#contact .facebook a:hover { color: #3b5998; }

#contact .twitter a:active,
#contact .twitter a:focus,
#contact .twitter a:hover { color: #00aced; }

#contact .google-plus a:active,
#contact .google-plus a:focus,
#contact .google-plus a:hover { color: #c53929; }



/* ================================================ */
/* ==================== FOOTER ==================== */
/* ================================================ */

.footer { background: #333; color: #cccccc; padding: 20px 0; text-align: center; }
.footer p { font-size: 14px; padding: 10px; }
.footer.footer-reverse { background: #f0f0f0; color: #333; margin: 20px 0; padding: 0; }
.footer.footer-reverse p { padding: 0; }



/* =============================================== */
/* ==================== LOGIN ==================== */
/* =============================================== */

#login { width: 100%; min-height: 90%; margin: 0; padding-top: 9%; }

@media (max-width: 640px) {
  #login .submit { text-align: center; }
}



/* ================================================== */
/* ==================== REGISTER ==================== */
/* ================================================== */

#register { width: 100%; min-height: 90%; margin: 0; padding-top: 2%; }

@media (max-width: 640px) {
  #register .submit { text-align: center; }
}



/* =============================================== */
/* ==================== ERROR ==================== */
/* =============================================== */

#error { width: 100%; min-height: 95%; margin: 0 0 -100px 0; padding-top: 5%; }
#error .quote { font-size: 12px; font-style: italic; }