{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% spaceless %}

{% extends 'AppBundle:Home:base.html.twig' %}

{% block title %}{{ status_code }} - GrappBox{% endblock %}

{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-fixed-top navbar-custom navbar-reverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand page-scroll" href="/"><img src="/resources/img/favicon/apple-icon-180x180.png" height="35" width="35" alt="GrappBox small logo">Grapp<span class="red">Box</span></a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#about">About</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#contact">Contact</a></li>
        <li><a class="login" href="/login"><i class="material-icons">open_in_new</i>Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Error -->
<div id="error">
  <div class="container text-center">
    <div class="section-title center">
      <h1 class="big">{{ status_code }}</h1>
      <hr class="bg-red">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-text">
          <p>{{ status_code == "404" ? "This resource seems to be unavailable, or has been moved. Please try again, or contact us. We're sorry for that." :
                status_code == "403" ? "You don't have sufficient rights to access this resource. Please contact your collaborators. We're sorry for that." :
                status_code == "500" ? "GrappBox is down. We're working on it as fast as we can! Feel free to contact us for more." :
                "Something is wrong with GrappBox. Please give us a minute, and try again. Feel free to contact us for more." }}</p>
        </div>
      </div>
      <div class="col-md-12">
        <p class="quote">"Windows are structural weaknesses. Geths do not use them."</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer footer-reverse footer-fixed">
  <p>Copyright &copy; GrappBox 2016. All rights reserved.</p>
</div>

{% endblock %}

{% endspaceless %}