{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% spaceless %}

{% extends 'AppBundle:Home:base.html.twig' %}

{% block title %}{{ status_code }} - GrappBox{% endblock %}

{% block body %}

<!-- Error -->
<div id="error">
  <div class="container text-center">
    <div class="section-title">
      <h1 class="big">{{ status_code }}</h1>
      <hr class="red-bg">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-text">
          <p>{{ status_code == "404" ? "This resource seems to be unavailable, or has been moved. Please try again, or contact us. We're sorry for that." :
                status_code == "403" ? "You don't have sufficient rights to access this resource. Please contact your collaborators. We're sorry for that." :
                status_code == "500" ? "GrappBox is down. We're working on it as fast as we can! Feel free to <a href='/#contact' title='Go to GrappBox contact section' class='raised'>contact us</a> for more." :
                "Something is wrong with GrappBox. Please give us a minute, and try again. Feel free to <a href='/#contact' title='Go to GrappBox contact section' class='raised'>contact us</a> for more." }}</p>
        </div>
      </div>
      <div class="col-md-12">
        <p class="quote">"Windows are structural weaknesses. Geths do not use them."</p>
      </div>
    </div>
    <div class="well-link"><a href="/" title="Return to GrappBox website"><i class="material-icons">keyboard_backspace</i>Back to GrappBox.com</a></div>
  </div>
</div>

<!-- Footer -->
<div class="footer footer-reverse footer-fixed">
  <p>Copyright &copy; GrappBox 2016.<br>All rights reserved.</p>
</div>

{% endblock %}

{% endspaceless %}