<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grappbox.grappbox">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <provider
            android:name=".data.GrappboxProvider"
            android:authorities="@string/content_authority"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".sync.GrappboxSyncService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".sync.GrappboxJustInTimeService"
            android:exported="false" />
        <service
            android:name=".sync.GrappboxAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.FirebaseCloudMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.FirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AddAccountActivity"
            android:label="@string/title_activity_login_acitivty"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".ChooseProjectActivity"
            android:label="@string/app_name"
            android:theme="@style/DashboardTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/DashboardTheme" />
        <activity android:name=".CriticalErrorActivity" />
        <activity
            android:name=".bugtracker_fragments.BugDetailsActivity"
            android:label="@string/title_activity_bug_details"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/BugtrackerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.ProjectActivity" />
        </activity>
        <activity
            android:name=".bugtracker_fragments.NewBugActivity"
            android:label="@string/title_activity_new_bug"
            android:parentActivityName=".ProjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.ProjectActivity" />
        </activity>
        <activity
            android:name=".DebugActivity"
            android:label="@string/title_activity_debug" />
        <activity
            android:name=".UserSettingsActivity"
            android:label="@string/title_activity_user_settings"
            android:theme="@style/SettingsTheme"
            android:parentActivityName=".ChooseProjectActivity">
            <intent-filter>
                <action android:name="grappbox.intent.ACTION_EDIT_USER_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.ChooseProjectActivity" />
        </activity>
        <activity
            android:name=".settings.UserSettingsActivity"
            android:label="@string/title_activity_user_settings"
            android:parentActivityName=".ProjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.ProjectActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>