{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% spaceless %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="The GrappBox team">
    <meta name="description" content="A strong project manager with truly useful features, available on mobile, Web and desktop. Manage all your projects, teams, issues, files, and customers.">
    <meta name="keywords" content="project,management,teamwork,team,information technology,collaborative,collaboration,online">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <base href="/app/">
    <title>GrappBox</title>
    <!-- Social -->
    <meta property="og:title" content="GrappBox"/>
    <meta property="og:url" content="https://grappbox.com"/>
    <meta name="og:description" content="A strong project manager with truly useful features, available on mobile, Web and desktop. Manage all your projects, teams, issues, files, and customers.">
    <meta name="og:image" content="https://static.grappbox.com/public/social_banner.min.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@GrappBox">
    <meta name="twitter:title" content="GrappBox">
    <meta name="twitter:description" content="A strong project manager with truly useful features, available on mobile, Web and desktop. Manage all your projects, teams, issues, files, and customers.">
    <meta name="twitter:image" content="https://static.grappbox.com/public/social_banner.min.jpg">
    <!-- SEO -->
    <link rel="canonical" href="https://grappbox.com/app">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="../resources/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../resources/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../resources/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../resources/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../resources/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../resources/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../resources/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../resources/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../resources/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../resources/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../resources/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../resources/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../resources/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../resources/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../resources/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

    {% stylesheets
    '@AppBundle/Resources/public/css/vendor/bootstrap.css'
    '@AppBundle/Resources/public/css/vendor/bootstrap-material.css'
    '@AppBundle/Resources/public/css/vendor/ripples.css'
    '@AppBundle/Resources/public/css/vendor/material-icons.css'
    '@AppBundle/Resources/public/css/vendor/angular-bootstrap-calendar.css'
    '@AppBundle/Resources/public/css/vendor/angular-tags-input.css'
    '@AppBundle/Resources/public/css/vendor/angular-tags-input.bootstrap.css'
    '@AppBundle/Resources/public/css/vendor/angular-ui-notification.css'
    '@AppBundle/Resources/public/css/vendor/angular-gantt.css'
    '@AppBundle/Resources/public/css/vendor/angular-gantt-plugins.css'
    '@AppBundle/Resources/public/css/vendor/angular-ui-tree.css'
    '@AppBundle/Resources/public/css/app/app.css'
    filter='?uglifycss' output='resources/css/app.min.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

    {% javascripts
    '@AppBundle/Resources/public/js/vendor/jquery.js'
    '@AppBundle/Resources/public/js/vendor/konami.js'
    '@AppBundle/Resources/public/js/vendor/knockout.js'
    '@AppBundle/Resources/public/js/home/secret.js'
    '@AppBundle/Resources/public/js/vendor/arrive.js'
    '@AppBundle/Resources/public/js/vendor/bootstrap.js'
    '@AppBundle/Resources/public/js/vendor/bootstrap-material.js'
    '@AppBundle/Resources/public/js/vendor/hammer.js'
    '@AppBundle/Resources/public/js/vendor/moment.js'
    '@AppBundle/Resources/public/js/vendor/ripples.js'
    '@AppBundle/Resources/public/js/vendor/angular.js'
    '@AppBundle/Resources/public/js/vendor/angular-animate.js'
    '@AppBundle/Resources/public/js/vendor/angular-base64.js'
    '@AppBundle/Resources/public/js/vendor/angular-base64-upload.js'
    '@AppBundle/Resources/public/js/vendor/angular-bootstrap-calendar-tpls.js'
    '@AppBundle/Resources/public/js/vendor/angular-cookies.js'
    '@AppBundle/Resources/public/js/vendor/angular-google-chart.js'
    '@AppBundle/Resources/public/js/vendor/angular-local-storage.js'
    '@AppBundle/Resources/public/js/vendor/angular-messages.js'
    '@AppBundle/Resources/public/js/vendor/angular-route.js'
    '@AppBundle/Resources/public/js/vendor/angular-tags-input.js'
    '@AppBundle/Resources/public/js/vendor/angular-ui-bootstrap-tpls.js'
    '@AppBundle/Resources/public/js/vendor/angular-ui-notification.js'
    '@AppBundle/Resources/public/js/vendor/angular-moment.js'
    '@AppBundle/Resources/public/js/vendor/moment-range.js'
    '@AppBundle/Resources/public/js/vendor/angular-gantt.js'
    '@AppBundle/Resources/public/js/vendor/angular-gantt-plugins.js'
    '@AppBundle/Resources/public/js/vendor/angular-ui-tree.js'
    '@AppBundle/Resources/public/js/vendor/drag-and-drop.js'
    '@AppBundle/Resources/public/js/vendor/element-queries.js'
    '@AppBundle/Resources/public/js/vendor/resize-sensor.js'
    '@AppBundle/Resources/public/js/vendor/js-plumb.js'
    '@AppBundle/Resources/public/js/app/app.js'
    '@AppBundle/Resources/public/js/app/root.js'
    '@AppBundle/Resources/public/js/app/routing.js'
    '@AppBundle/Resources/public/js/app/factories/accessFactory.js'
    '@AppBundle/Resources/public/js/app/factories/notificationFactory.js'
    '@AppBundle/Resources/public/js/app/factories/rootFactory.js'
    '@AppBundle/Resources/public/js/app/factories/statisticFactory.js'
    '@AppBundle/Resources/public/js/app/factories/talkFactory.js'
    '@AppBundle/Resources/public/js/app/factories/whiteboardObjectFactory.js'
    '@AppBundle/Resources/public/js/app/factories/whiteboardRenderFactory.js'
    '@AppBundle/Resources/public/js/app/controllers/BugtrackerController.js'
    '@AppBundle/Resources/public/js/app/controllers/BugtrackerListController.js'
    '@AppBundle/Resources/public/js/app/controllers/CalendarController.js'
    '@AppBundle/Resources/public/js/app/controllers/CloudController.js'
    '@AppBundle/Resources/public/js/app/controllers/DashboardController.js'
    '@AppBundle/Resources/public/js/app/controllers/DashboardListController.js'
    '@AppBundle/Resources/public/js/app/controllers/GanttController.js'
    '@AppBundle/Resources/public/js/app/controllers/LogoutController.js'
    '@AppBundle/Resources/public/js/app/controllers/NotificationController.js'
    '@AppBundle/Resources/public/js/app/controllers/ProfileController.js'
    '@AppBundle/Resources/public/js/app/controllers/ProjectSettingsController.js'
    '@AppBundle/Resources/public/js/app/controllers/StatisticsController.js'
    '@AppBundle/Resources/public/js/app/controllers/TalkController.js'
    '@AppBundle/Resources/public/js/app/controllers/TalkListController.js'
    '@AppBundle/Resources/public/js/app/controllers/TaskController.js'
    '@AppBundle/Resources/public/js/app/controllers/TaskListController.js'
    '@AppBundle/Resources/public/js/app/controllers/WhiteboardController.js'
    '@AppBundle/Resources/public/js/app/controllers/WhiteboardListController.js'
    filter='?uglifyjs2' output='resources/js/app.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    '@AppBundle/Resources/public/js/home/analytics.js'
    filter='?uglifyjs2' output='resources/js/data.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Responsive for IE8 and lower -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../resources/static/html5shiv.min.js"></script>
    <script src="../resources/static/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-ng-app="grappbox" id="ng-app" data-ng-strict-di class="{[{ sidebar.open ? 'sidebar-open' : '' }]}">
    <!-- Navgiation (master) -->
    <div class="navigation-master {[{ sidebar.open ? 'open' : '' }]}" data-ng-cloak>
      <div class="container-fluid">
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs no-padding">
          <div class="navigation-left hidden-xs">
            <a href="" title="Toggle navigation drawer" class="btn toggle {[{ path.colors[path.current] + '-background-hover' }]} {[{ path.colors[path.current] + '-color' }]}" data-ng-click="sidebar.toggle()"><i class="material-icons">{[{ sidebar.open ? 'arrow_back' : 'menu' }]}</i></a>
            <p>{[{ page.load ? 'Loading...' : page.title }]}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 no-padding brand">
          <a href="./" title="Go to GrappBox website" class="{[{ path.colors[path.current] + '-hover' }]}">
            <img src="../resources/img/favicon/android-icon-192x192.png" height="35" width="35" alt="grappbox-logo">GrappBox</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs no-padding">
          <div class="navigation-right {[{ path.colors[path.current] + '-color' }]}">
            <a href="notifications" title="See all your notifications" class="btn hidden-xs {[{ path.colors[path.current] + '-background-hover' }]} {[{ path.colors[path.current] + '-color' }]}"><i class="material-icons">{[{ path.icons['/notifications'] }]}</i></a>
            <a href="profile" title="View and edit your profile" class="btn hidden-xs {[{ path.colors[path.current] + '-background-hover' }]} {[{ path.colors[path.current] + '-color' }]}"><i class="material-icons">{[{ path.icons['/profile'] }]}</i></a>
            <a href="logout" title="Sign out of GrappBox" class="btn hidden-xs {[{ path.colors[path.current] + '-background-hover' }]} {[{ path.colors[path.current] + '-color' }]}" ><i class="material-icons">{[{ path.icons['/logout'] }]}</i></a>
          </div>
        </div>
        <div class="visible-xs col-xs-2 no-padding navigation-right">
          <a href="" data-target="#" class="dropdown-toggle {[{ path.colors[path.current] + '-background-hover' }]} {[{ path.colors[path.current] + '-color' }]}" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
          <ul class="dropdown-menu">
            <li>
              <a href="notifications" title="See all your notifications" class="btn {[{ path.routes['/notifications'] ? 'active' : '' }]}"><i class="material-icons">{[{ path.icons['/notifications'] }]}</i>Notifications</a>
            </li>
            <li>
              <a href="profile" title="View and edit your profile" class="btn {[{ path.routes['/profile'] ? 'active' : '' }]}"><i class="material-icons">{[{ path.icons['/profile'] }]}</i>Profile</a>
            </li>
            <li>
              <a href="logout" title="Sign out of GrappBox" class="btn">
              <i class="material-icons">{[{ path.icons['/logout'] }]}</i>Logout</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div> 
    </div>

    <!-- Navigation (visble-xs) -->
    <div class="navigation visible-xs {[{ path.colors[path.current] + '-background' }]} {[{ sidebar.open ? 'open' : '' }]}" data-ng-cloak>
      <div class="container-fluid">
        <div class="navigation-left">
          <a href="" title="Toggle navigation drawer" class="btn toggle {[{ path.colors[path.current] + '-hover' }]}" data-ng-click="sidebar.toggle()"><i class="material-icons">{[{ sidebar.open ? 'arrow_back' : 'menu' }]}</i></a>
          <p>{[{ page.load ? 'Loading...' : page.title }]}</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- Navigation drawer -->
    <aside class="sidebar {[{ sidebar.open ? 'open' : '' }]}">
      <div class="sidebar-header">
        <a class="btn toggle {[{ path.colors[path.current] + '-background-hover' }]} {[{ path.colors[path.current] + '-color' }]}" href="" data-ng-click="sidebar.toggle()" alt="Close navigation drawer"><i class="material-icons">arrow_back</i></a>
        <div class="profile">
          <img src="../resources/img/app/default-avatar.min.png" alt="{[{ user.firstname }]}-{[{ user.lastname }]}-avatar" width="65px" height="65px">
          <p class="ellipsis">{[{ user.firstname }]} {[{ user.lastname }]}</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="sidebar-content">
        <ul>
          <li data-ng-if="project.set">
            <a href="" title="Sign out of this project" data-ng-click="project.logout()" class="btn">
              <i class="material-icons">arrow_back</i>Change project</a>
          </li>            
          <li>
            <a data-ng-href="{[{ project.set ? 'dashboard/' + project.id : './' }]}" title="Go to your dashboard" class="btn {[{ path.routes['/dashboard'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/dashboard'] }]}</i>Dashboard</a>
          </li>
          <li>
            <a href="calendar" title="Go to your calendar" class="btn {[{ path.routes['/calendar'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/calendar'] }]}</i>Calendar</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'cloud/' + project.id }]}" title="Access your online files and folders" class="btn {[{ path.routes['/cloud'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/cloud'] }]}</i>Cloud</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'talk/' + project.id }]}" title="Go to your projects talks" class="btn {[{ path.routes['/talk'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/talk'] }]}</i>Talks</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'bugtracker/' + project.id }]}" title="Go to the bugtracker section" class="btn {[{ path.routes['/bugtracker'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/bugtracker'] }]}</i>Bugtracker</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'tasks/' + project.id }]}" title="Go to the tasks section" class="btn {[{ path.routes['/tasks'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/tasks'] }]}</i>Tasks</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'gantt/' + project.id }]}" title="Go to the gantt section" class="btn {[{ path.routes['/gantt'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/gantt'] }]}</i>Gantt</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'whiteboard/' + project.id }]}" title="Use your projects collaborative whiteboards" class="btn {[{ path.routes['/whiteboard'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/whiteboard'] }]}</i>Whiteboards</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'statistics/' + project.id }]}" title="View all statistics for this project" class="btn {[{ path.routes['/statistics'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/statistics'] }]}</i>Statistics</a>
          </li>
          <li data-ng-if="project.set">
            <a data-ng-href="{[{ 'settings/' + project.id }]}" title="Edit your current project settings" class="btn {[{ path.routes['/settings'] ? 'active' : '' }]}">
              <i class="material-icons">{[{ path.icons['/settings'] }]}</i>Project settings</a>
          </li>
        </ul>
      </div>
    </aside>

    <!-- Page content -->
    <div class="page {[{ sidebar.open ? 'open' : '' }]}">
      <div class="page-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Dynamic view -->
            <div class="spinner spinner-main" data-ng-if="page.load">
              <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
            </div>
            <div data-ng-view data-ng-if="!page.load" autoscroll="true"></div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>

{% endspaceless %}