{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% spaceless %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="content-language" content="en-us" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="GrappBox - The new way to manage projects" />
    <meta name="author" content="The GrappBox team" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <base href="/app/">
    <title>GrappBox</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" />

    {% stylesheets
    '@AppBundle/Resources/public/css/vendor/bootstrap.css'
    '@AppBundle/Resources/public/css/vendor/bootstrap-material.css'
    '@AppBundle/Resources/public/css/vendor/ripples.css'
    '@AppBundle/Resources/public/css/vendor/material-icons.css'
    '@AppBundle/Resources/public/css/vendor/angular-bootstrap-calendar.css'
    '@AppBundle/Resources/public/css/vendor/angular-tags-input.css'
    '@AppBundle/Resources/public/css/vendor/angular-tags-input.bootstrap.css'
    '@AppBundle/Resources/public/css/vendor/angular-ui-notification.css'
    '@AppBundle/Resources/public/css/vendor/angular-gantt.css'
    '@AppBundle/Resources/public/css/vendor/angular-gantt-plugins.css'
    '@AppBundle/Resources/public/css/vendor/angular-ui-tree.css'
    '@AppBundle/Resources/public/css/app/app.css'
    filter='?uglifycss' output='resources/css/app.min.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    '@AppBundle/Resources/public/js/vendor/jquery.js'
    '@AppBundle/Resources/public/js/vendor/arrive.js'
    '@AppBundle/Resources/public/js/vendor/bootstrap.js'
    '@AppBundle/Resources/public/js/vendor/bootstrap-material.js'
    '@AppBundle/Resources/public/js/vendor/hammer.js'
    '@AppBundle/Resources/public/js/vendor/moment.js'
    '@AppBundle/Resources/public/js/vendor/ripples.js'
    '@AppBundle/Resources/public/js/vendor/angular.js'
    '@AppBundle/Resources/public/js/vendor/angular-animate.js'
    '@AppBundle/Resources/public/js/vendor/angular-base64.js'
    '@AppBundle/Resources/public/js/vendor/angular-base64-upload.js'
    '@AppBundle/Resources/public/js/vendor/angular-bootstrap-calendar-tpls.js'
    '@AppBundle/Resources/public/js/vendor/angular-cookies.js'
    '@AppBundle/Resources/public/js/vendor/angular-local-storage.js'
    '@AppBundle/Resources/public/js/vendor/angular-messages.js'
    '@AppBundle/Resources/public/js/vendor/angular-route.js'
    '@AppBundle/Resources/public/js/vendor/angular-tags-input.js'
    '@AppBundle/Resources/public/js/vendor/angular-ui-bootstrap-tpls.js'
    '@AppBundle/Resources/public/js/vendor/angular-ui-notification.js'
    '@AppBundle/Resources/public/js/vendor/angular-moment.js'
    '@AppBundle/Resources/public/js/vendor/moment-range.js'
    '@AppBundle/Resources/public/js/vendor/angular-gantt.js'
    '@AppBundle/Resources/public/js/vendor/angular-gantt-plugins.js'
    '@AppBundle/Resources/public/js/vendor/angular-ui-tree.js'
    '@AppBundle/Resources/public/js/vendor/drag-and-drop.js'
    '@AppBundle/Resources/public/js/vendor/element-queries.js'
    '@AppBundle/Resources/public/js/vendor/resize-sensor.js'
    '@AppBundle/Resources/public/js/vendor/js-plumb.js'
    '@AppBundle/Resources/public/js/app/core.js'
    '@AppBundle/Resources/public/js/app/root.js'
    '@AppBundle/Resources/public/js/app/login.js'
    '@AppBundle/Resources/public/js/app/routing.js'
    '@AppBundle/Resources/public/js/app/bugtracker/bugtracker-list.js'
    '@AppBundle/Resources/public/js/app/bugtracker/bugtracker.js'
    '@AppBundle/Resources/public/js/app/tasks/task.js'
    '@AppBundle/Resources/public/js/app/tasks/task-list.js'
    '@AppBundle/Resources/public/js/app/gantt/gantt.js'
    '@AppBundle/Resources/public/js/app/calendar/calendar.js'
    '@AppBundle/Resources/public/js/app/cloud/cloud-list.js'
    '@AppBundle/Resources/public/js/app/cloud/cloud.js'
    '@AppBundle/Resources/public/js/app/dashboard/dashboard-access.js'
    '@AppBundle/Resources/public/js/app/dashboard/dashboard-list.js'
    '@AppBundle/Resources/public/js/app/dashboard/dashboard.js'
    '@AppBundle/Resources/public/js/app/notifications/notifications.js'
    '@AppBundle/Resources/public/js/app/profile/profile.js'
    '@AppBundle/Resources/public/js/app/project/settings.js'
    '@AppBundle/Resources/public/js/app/timeline/timeline-factory.js'
    '@AppBundle/Resources/public/js/app/timeline/timeline.js'
    '@AppBundle/Resources/public/js/app/whiteboard/whiteboard-access.js'
    '@AppBundle/Resources/public/js/app/whiteboard/whiteboard-canvas.js'
    '@AppBundle/Resources/public/js/app/whiteboard/whiteboard-list.js'
    '@AppBundle/Resources/public/js/app/whiteboard/whiteboard-objects.js'
    '@AppBundle/Resources/public/js/app/whiteboard/whiteboard.js'
    filter='?uglifyjs2' output='resources/js/app.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Responsive for IE8 and lower -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.min.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="ng-app" data-ng-app="grappbox">
    <div class="container-fluid">
      <div class="row">
        <div class="container-main" data-ng-controller="grappboxController">

          <!-- Navigation -->
          <div class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="menu.toggle()">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand" data-ng-click="menu.toggle()">GrappBox</a>
              </div>
              <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="notifications" title="See all your notifications"><i class="material-icons">{[{ app.iconList['/notifications'] ? app.iconList['/notifications'] : 'clear' }]}</i></a></li>
                  <li><a href="profile" title="View and edit your profile"><i class="material-icons">{[{ app.iconList['/profile'] ? app.iconList['/profile'] : 'clear' }]}</i></a></li>
                  <li><a href="logout" title="Sign out of GrappBox"><i class="material-icons">{[{ app.iconList['/logout'] ? app.iconList['/logout'] : 'clear' }]}</i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Navigation drawer -->
          <aside class="sidebar" role="navigation" sidebar-directive="menu.open">
            <div class="sidebar-header">
              <div class="sidebar-toggle"><a href="" data-ng-click="menu.toggle()"><i class="material-icons">arrow_back</i></a></div>
              <div class="sidebar-image"><img src="../resources/images/default-avatar.min.png"></div>
              <div class="sidebar-brand">
                <p class="ellipsis">{[{ user.firstname }]} {[{ user.lastname }]}<br>{[{ user.email }]}</p>
                <p class="ellipsis" data-ng-if="project.set">Project: <a href="settings/{[{ project.id }]}" title="Edit this project"><strong>{[{ project.name }]}</strong></a></p>
                <p class="ellipsis" data-ng-if="!project.set"><a href="./" title="Choose a project">No project selected</a></p>
                <a href="" data-ng-if="project.set" data-ng-click="project.switch()" class="btn btn-raised btn-default">Change</a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="sidebar-content">
              <ul>
                <li>
                  <a data-ng-href="{[{ project.set ? 'dashboard/' + project.id : './' }]}" title="Go to your dashboard" class="btn {[{ app.routeList['/dashboard'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/dashboard'] ? app.iconList['/dashboard'] : 'clear' }]}</i>Dashboard</a>
                </li>
                <li>
                  <a href="calendar" title="Go to your calendar" class="btn {[{ app.routeList['/calendar'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/calendar'] ? app.iconList['/calendar'] : 'clear' }]}</i>Calendar</a>
                </li>
                <li data-ng-if="project.set">
                  <a data-ng-href="{[{ 'cloud/' + project.id }]}" title="Access your online files and folders" class="btn {[{ app.routeList['/cloud'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/cloud'] ? app.iconList['/cloud'] : 'clear' }]}</i>Cloud</a>
                </li>
                <li data-ng-if="project.set">
                  <a data-ng-href="{[{ 'timeline/' + project.id }]}" title="Go to your projects timelines" class="btn {[{ app.routeList['/timeline'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/timeline'] ? app.iconList['/timeline'] : 'clear' }]}</i>Timeline</a>
                </li>
                <li data-ng-if="project.set">
                  <a data-ng-href="{[{ 'bugtracker/' + project.id }]}" title="Go to the bugtracker section" class="btn {[{ app.routeList['/bugtracker'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/bugtracker'] ? app.iconList['/bugtracker'] : 'clear' }]}</i>Bugtracker</a>
                </li>
                <li data-ng-if="project.set">
                  <a data-ng-href="{[{ 'tasks/' + project.id }]}" title="Go to the tasks section" class="btn {[{ app.routeList['/tasks'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/tasks'] ? app.iconList['/tasks'] : 'clear' }]}</i>Tasks</a>
                </li>
                <li data-ng-if="project.set">
                  <a data-ng-href="{[{ 'gantt/' + project.id }]}" title="Go to the gantt section" class="btn {[{ app.routeList['/gantt'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/gantt'] ? app.iconList['/gantt'] : 'clear' }]}</i>Gantt</a>
                </li>
                <li data-ng-if="project.set">
                  <a data-ng-href="{[{ 'whiteboard/' + project.id }]}" title="Use your projects collaborative whiteboards" class="btn {[{ app.routeList['/whiteboard'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/whiteboard'] ? app.iconList['/whiteboard'] : 'clear' }]}</i>Whiteboard</a>
                </li>
                <li data-ng-if="project.set">
                  <a data-ng-href="{[{ 'settings/' + project.id }]}" title="Edit your current project settings" class="btn {[{ app.routeList['/settings'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/settings'] ? app.iconList['/settings'] : 'clear' }]}</i>Project settings</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="profile" title="View and edit your profile" class="btn {[{ app.routeList['/profile'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/profile'] ? app.iconList['/profile'] : 'clear' }]}</i>Profile</a>
                </li>
                <li>
                  <a href="notifications" title="See all your notifications" class="visible-xs btn {[{ app.routeList['/notifications'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/notifications'] ? app.iconList['/notifications'] : 'clear' }]}</i>Notifications</a>
                </li>
                <li>
                  <a href="logout" title="Sign out of GrappBox" class="visible-xs btn {[{ app.routeList['/logout'] ? 'active' : '' }]}">
                    <i class="material-icons">{[{ app.iconList['/logout'] ? app.iconList['/logout'] : 'clear' }]}</i>Logout</a>
                </li>
              </ul>
            </div>
          </aside>

          <!-- Page content -->
          <div class="page-content" sidebar-directive="app.menuState">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="container-title" data-ng-cloak>
                    <h1 class="{[{ !page.onLoad ? (page.isHome ? 'centered' : '') : '' }]}">{[{ page.onLoad ? 'Loading...' : page.title }]}</h1>
                  </div>
                  <!-- Dynamic view -->
                  <div data-ng-if="page.onLoad">
                    <div class="spinner view">
                      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
                    </div>
                  </div>
                  <div data-ng-if="!page.onLoad">
                    <div class="container-content" data-ng-view></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>

{% endspaceless %}
