{# This file is subject to the terms and conditions defined in
# file 'LICENSE.txt', which is part of the GRAPPBOX source code package. #}

{% extends 'ShowcaseBundle:Shared:base.html.twig' %}

{% block title %}GrappBox | Error{% endblock %}

{% block body %}

<body>
    <section id="error">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="home-title">
                        <h1>Grapp<span class="red">Box</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li><a href="/" title="Get back to GrappBox main page" class="btn-center-underline"><i class="fa fa-long-arrow-left"></i>Get back to home</a></li>
                    <li><a href="#contact" title="Contact Grappbox" class="btn-center-underline"><i class="fa fa-comment"></i>Contact us</a></li>
                    <li><a href="/?return=login" title="Sign in to your GrappBox account" class="btn-right-sweep app-login"><i class="fa fa-sign-in fa-fw"></i>Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="message">
        <div class="content-section even-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">An error occurred ({{ status_code }}).</h2>
                        <p class="section-text">The requested resource does not exist or could not be reached.</p>
                        <p class="section-text">If this is the first time you have this error, try to <strong>reload your page</strong> first.<br>If not, try the following solutions:
                            <ul class="section-text">
                                <li>Check the adress you entered is correct.</li>
                                <li>Empty your browser's cache, and reload the page.</li>
                                <li>Check you have the rights to see this page.</li>
                            </ul>
                        </p>
                        <p class="section-text">If none of these solutions work, <strong>please contact us</strong> using the links below, and tell us what happened.<br>We'll try to solve the problem as quickly as possible.<br><br>Thanks a lot.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="content-section odd-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h3>Stay in touch!</h3>
                    </div>
                    <div class="col-lg-9">
                        <ul class="list-inline btn-social-list">
                            <li>
                                <a target="_blank" title="GrappBox on Twitter" class="btn-social btn-twitter btn-radial" href="https://twitter.com/GrappBox">
                                <i class="fa fa-twitter fa-fw"></i></a><span class="network-name">@GrappBox</span>
                            </li>
                            <li>
                                <a target="_blank" title="GrappBox on Facebook" class="btn-social btn-facebook btn-radial" href="https://facebook.com/GrappBox">
                                <i class="fa fa-facebook fa-fw"></i></a><span class="network-name">GrappBox</span>
                            </li>
                            <li>
                                <a target="_blank" title="GrappBox on Google+" class="btn-social btn-google-plus btn-radial" href="https://plus.google.com/115657691021326143456/posts">
                                <i class="fa fa-google-plus fa-fw"></i></a><span class="network-name">+GrappBox</span>
                            </li>
                            <li>
                                <a target="_blank" title="Contact GrappBox by email" class="btn-social btn-mail btn-radial" href="mailto:grappbox@gmail.com">
                                <i class="fa fa-envelope-o fa-fw"></i></a><span class="network-name">grappbox@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-footer footer">
                        <p class="copyright">Copyright &copy; GrappBox 2015. All rights reserved.<br>Vector images created by <a target="_blank" href="http://www.freepik.com">Freepik</a> and <a target="_blank" href="http://www.justcreative.com">JustCreative</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

{% endblock %}
