<!--
    Summary: The projects global progress is displayed on this page
-->

<ion-view title="Global Progress">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" ng-controller="GlobalProgressCtrl">
        <a class="item item-thumbnail-left" href="#">
            <h2>Game Sphere</h2>
            <p>Nivento</p>
            <p>Tel: (+33)6.01.02.03.04</p>
            <p>Mail: caribou@nivento.ca</p>
            <p>21/42</p>
            <p>5 waitings</p>
            <p>3 problems</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Goot</h2>
            <p>Goot</p>
            <p>Tel: (+33)6.01.02.03.04</p>
            <p>Mail: caribou@nivento.ca</p>
            <p>21/42</p>
            <p>5 waitings</p>
            <p>3 problems</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Game Sphere</h2>
            <p>Nivento</p>
            <p>Tel: (+33)6.01.02.03.04</p>
            <p>Mail: caribou@nivento.ca</p>
            <p>21/42</p>
            <p>5 waitings</p>
            <p>3 problems</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Game Sphere</h2>
            <p>Nivento</p>
            <p>Tel: (+33)6.01.02.03.04</p>
            <p>Mail: caribou@nivento.ca</p>
            <p>21/42</p>
            <p>5 waitings</p>
            <p>3 problems</p>
        </a>
    </ion-content>
</ion-view>