<!--
    Summary: The next meetings available are displayed on this page
-->

<ion-view title="Next meetings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" ng-controller="NextMeetingsCtrl">
        <a class="item item-thumbnail-left" href="#">
            <h2>Client Meeting</h2>
            <p>22/06/2015</p>
            <p>13:00</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Team Meeting</h2>
            <p>22/06/2015</p>
            <p>15:30</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Presentation</h2>
            <p>24/06/2015</p>
            <p>09:00</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Relaxation</h2>
            <p>26/06/2015</p>
            <p>18:00</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Exceptional</h2>
            <p>27/06/2015</p>
            <p>20:00</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <h2>Client meeting</h2>
            <p>28/06/2015</p>
            <p>10:30</p>
        </a>
    </ion-content>
</ion-view>