<!--
    Summary: The team occupation is displayed on this page
-->

<ion-view title="Team Occupation">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" ng-controller="TeamOccupationCtrl">
        <div class="list">
            <!--While we don't have API... Hard code-->
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/allyriane_launois.jpg">
                <h2>Allyriane Launois</h2>
                <p>Free</p> 
            </a>
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/frederic_tan.jpg">
                <h2>Frederic Tan</h2>
                <p>Busy</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/leo_nadeau.jpg">
                <h2>Léo Nadeau</h2>
                <p>Busy</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/marc_wieser.jpeg">
                <h2>Marc Wieser</h2>
                <p>Free</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/pierre_feytout.jpg">
                <h2>Pierre Feytout</h2>
                <p>Busy</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/pierre_hofman.jpg">
                <h2>Pierre Hofman</h2>
                <p>Busy</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/roland_hemmer.jpg">
                <h2>Roland Hemmer</h2>
                <p>Busy</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../../images/Team/valentin_mougenot.jpg">
                <h2>Valentin Mougenot</h2>
                <p>Free</p>
            </a>
        </div>
    </ion-content>
</ion-view>