{% extends 'SharedBundle::base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block child_stylesheets %}
    {% stylesheets
    '@HomeBundle/Resources/public/css/custom/custom.css'
    output='resources/css/custom.min.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Grapp<span class="red">Box</span></a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="btn red page-scroll" href="#login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Grapp<span class="red">Box</h1>
                        <p class="intro-text">A fresh, responsive, new way to manage your projects.<br>Coming... when it's ready.</p>
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact our team</h2>
                <p>Feel free to email us to provide some feedback on our solution, give us suggestions for features, or to just say hello!</p>
                <p class="email"><a target="_blank" href="mailto:feedback@startbootstrap.com">grappbox@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a target="_blank" href="https://twitter.com/GrappBox" class="btn btn-default btn-lg btn-twitter"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/RolandHemmer" class="btn btn-default btn-lg btn-github"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://facebook.com/GrappBox" class="btn btn-default btn-lg btn-facebook"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <div class="container text-center">
            <p>Copyright &copy; GrappBox 2015</p>
        </div>
    </footer>

{% endblock %}
