<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- Bugtracker creation -->
<section class="bugtracker-creation" data-ng-if="data.bugtracker_new">
  <div class="page-header big {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/bugtracker.svg" width="300" height="auto" alt="Bugtracker">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Issue creation</h1>
      <p>This page allows you to create and assign a new issue.<br>Use the "Create" button at the end of this page when you're done.</p>
      <a href="{[{ 'bugtracker/' + projectId }]}" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Return to the bugtracker main page">Back to list</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="box-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form>
                <fieldset>
                  <h3>General</h3>
                  <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" class="form-control" data-ng-model="data.ticket.title" id="title">
                  </div>
                  <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" rows="4" data-ng-model="data.ticket.description" id="description"></textarea>
                  </div>

                  <div class="form-group label-floating">
                    <p class="hint">If you want to add a tag that doesn't exist, you must create it first using the "+" button nearby.</p>
                    <label for="tags" class="control-label">Tag(s)</label>
                    <tags-input data-ng-model="tags"
                                display-property="name"
                                replace-spaces-with-dashes="false"
                                on-tag-added="tagAdded($tag)"
                                on-tag-removed="tagRemoved($tag)"
                                class="col-lg-11 col-md-11 col-sm-11 col-xs-10 no-padding"
                                template="tag-template">
                      <auto-complete source="loadTags($query)"
                                     min-length="1"
                                     load-on-focus="true" load-on-empty="false"
                                     max-results-to-show="{[{tagsList.length}]}"
                                     template="autocomplete-template">
                      </auto-complete>
                    </tags-input>

                    <tags-input data-ng-model="data.ticket.tags"
                                display-property="name"
                                replace-spaces-with-dashes="false"
                                on-tag-added="tagAdded($tag)"
                                on-tag-removed="tagRemoved($tag)"
                                class="col-lg-11 col-md-11 col-sm-11 col-xs-10 no-padding"
                                template="tag-template">
                      <auto-complete source="loadTags($query)"
                                     min-length="1"
                                     load-on-focus="true" load-on-empty="false"
                                     max-results-to-show="{[{tagsList.length}]}"
                                     template="autocomplete-template">
                      </auto-complete>
                    </tags-input>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 no-padding text-center">
                      <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]} no-margin" data-ng-click="onNewTag()"><i class="material-icons" aria-hidden="true">add</i></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="form-group label-floating">
                    <label for="users" class="control-label">Assigned user(s)</label>
                    <tags-input data-ng-model="users" display-property="name" placeholder="Assign a user" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" on-tag-added="userAdded($tag)" on-tag-removed="userRemoved($tag)">
                      <auto-complete source="usersList"></auto-complete>
                    </tags-input>
                  </div>

                  <!-- SUBMIT -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group submit">
                    <a href="{[{ 'bugtracker/' + projectId }]}" class="btn gray-color gray-background-hover">Cancel</a>
                    <button type="submit" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="createTicket(data.ticket)">Create</button>
                  </div>
                  <div class="clearfix"></div>
                </fieldset>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<!-- Bugtracker edition -->
<section class="bugtracker-edition" data-ng-if="!data.bugtracker_new && data.editMode['ticket']">
  <div class="page-header big {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/bugtracker.svg" width="300" height="auto" alt="Bugtracker">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Issue edition</h1>
      <p>This page allows you to edit and update an existing issue.<br>Validate changes by using the <strong>"Update"</strong> button at the end of the page when you're done.</p>
      <a href="{[{ 'bugtracker/' + projectId }]}" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Return to the bugtracker main page">Back to list</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="box-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form>
                <fieldset>
                  <h3>General</h3>
                  <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" class="form-control" data-ng-model="data.edit.title" id="title">
                  </div>
                  <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" rows="4" data-ng-model="data.edit.description" id="description"></textarea>
                  </div>

                  <div class="form-group label-floating">
                    <p class="hint">If you want to add a tag that doesn't exist, you must create it first using the "+" button nearby.</p>
                    <label for="tags" class="control-label">Tag(s)</label>
                    <tags-input data-ng-model="data.ticket.tags"
                                display-property="name"
                                replace-spaces-with-dashes="false"
                                on-tag-added="tagAdded($tag)"
                                on-tag-removed="tagRemoved($tag)"
                                class="col-lg-11 col-md-11 col-sm-11 col-xs-10 no-padding"
                                template="tag-template">
                      <auto-complete source="loadTags($query)"
                                     min-length="1"
                                     load-on-focus="true" load-on-empty="false"
                                     max-results-to-show="{[{tagsList.length}]}"
                                     template="autocomplete-template">
                      </auto-complete>
                    </tags-input>

                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 no-padding text-center">
                      <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]} no-margin" data-ng-click="onNewTag()"><i class="material-icons" aria-hidden="true">add</i></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="form-group label-floating">
                    <label for="users" class="control-label">Assigned user(s)</label>
                    <tags-input data-ng-model="data.ticket.users" display-property="name" placeholder="Assign a user" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" on-tag-added="userAdded($tag)" on-tag-removed="userRemoved($tag)">
                      <auto-complete source="usersList"></auto-complete>
                    </tags-input>
                  </div>

                  <!-- SUBMIT -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group submit">
                    <button class="btn gray-color gray-background-hover" data-ng-click="bugtracker_switchEditMode('ticket')">Cancel</button>
                    <button type="submit" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="editTicket(data.ticket)">Update</button>
                  </div>
                  <div class="clearfix"></div>
                </fieldset>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div data-ng-if="data.message == '_empty'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">error</i>This issue doesn't exist.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div data-ng-if="data.message == '_invalid'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">error</i>Something is wrong with GrappBox.<br><span>Please try again.</span></p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div data-ng-if="data.message == '_denied'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">block</i>You don't have access to this page.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<!-- Bugtracker -->
<section class="bugtracker" data-ng-if="!data.bugtracker_new && !data.editMode['ticket']">
  <div class="page-header big {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/bugtracker.svg" width="300" height="auto" alt="Bugtracker">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Issue</h1>
      <p>This page details the selected issue.<br>Use the action buttons at the end of this page if you want to edit or delete this issue.</p>
      <a href="{[{ 'bugtracker/' + projectId }]}" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Return to the bugtracker main page">Back to list</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="box-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div data-ng-if="data.message == '_valid'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <h1 class="ellipsis">{[{ data.ticket.title }]}</h1>
                <p class="no-padding">By {[{ data.ticket.creator.firstname + " " + data.ticket.creator.lastname }]}<br><span data-ng-if="data.ticket.editedAt">Last edit: {[{ formatObjectDate(data.ticket.editedAt) }]}</span><span data-ng-if="!data.ticket.state">Closed</span>
                </p>

                <h3>Description</h3>
                <p class="no-padding">{[{ data.ticket.description ? data.ticket.description : 'None' }]}</p>

                <h3>Tag(s)</h3>
                <div class="label tag" style="background-color: #{[{ tag.color }]}; color: #212121;" data-ng-repeat="tag in data.ticket.tags">{[{ tag.name }]}</div>
                <div data-ng-if="!((data.ticket.tags).length)">
                  <p class="no-padding">No tag for this issue</p>
                </div>

                <h3>Assigned user(s)</h3>
                <div class="md-chip" data-ng-repeat="user in data.ticket.users">
                  <div class="md-chip-img">
                    <img data-ng-src="https://static.grappbox.com/app/user/{[{ user.id }]}" data-ng-error="../resources/img/app/default-avatar.min.png" height="48" width="48" alt="{[{ user.firstname }]} {[{ user.lastname }]}">
                  </div>
                  <span class="md-chip-text">{[{ user.firstname + " " + user.lastname }]}</span>
                </div>
                <div data-ng-if="!((data.ticket.users).length)">
                  <p class="no-padding">No assigned user for this task</p>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding submit">
                <button class="btn gray-color gray-background-hover" data-ng-click="bugtracker_switchEditMode('ticket')" data-ng-if="data.ticket.state">Edit</button>
                <button class="btn blue-color blue-background-hover" data-ng-click="closeTicket(data.ticket)" data-ng-if="data.ticket.state">Mark as closed</button>
                <button class="btn blue-color blue-background-hover" data-ng-click="reopenTicket(data.ticket)" data-ng-if="!data.ticket.state">Reopen</button>
              </div>
              <div class="clearfix"></div>
            </div>

            <div data-ng-if="data.message == '_empty'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="box error">
                  <p><i class="material-icons" aria-hidden="true">error</i>This issue doesn't exist.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div data-ng-if="data.message == '_invalid'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="box error">
                  <p><i class="material-icons" aria-hidden="true">error</i>Something is wrong with GrappBox.<br><span>Please try again.</span></p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div data-ng-if="data.message == '_denied'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="box error">
                  <p><i class="material-icons" aria-hidden="true">block</i>You don't have access to this page.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<!-- Comments -->
<section class="comments" data-ng-if="!data.bugtracker_new && !data.editMode['ticket']">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="box-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding each-comment {[{ comment.creator.id == user.id ? path.colors[path.current] + '-border' : 'gray-border' }]}" data-ng-repeat="comment in commentsList">
        <div class="box no-padding no-margin" data-ng-if="!data.editMode[comment.id]">
          <div data-ng-if="comment.creator.id == user.id">
            <div class="user-comment col-lg-10 col-md-10 col-sm-10 col-xs-12 no-padding">
              <div class="avatar col-lg-1 col-md-1 col-sm-2 col-xs-12 no-padding text-center">
                <img data-ng-src="https://static.grappbox.com/app/user/{[{ comment.creator.id }]}" data-ng-error="../resources/img/app/default-avatar.min.png" height="48" width="48" alt="{[{ comment.creator.firstname }]} {[{ comment.creator.lastname }]}">
              </div>
              <div class="col-lg-11 col-md-11 col-sm-10 col-xs-12 no-padding">
                <p class="info"><strong>{[{ comment.creator.firstname }]} {[{ comment.creator.lastname }]}</strong> - <span>{[{ comment.createdAt }]}</span></p>
                <p class="body">{[{ comment.comment }]}</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="user-actions col-lg-2 col-md-2 col-sm-2 col-xs-12 no-padding text-center">
              <button class="btn btn-rounded small gray-color gray-background-hover" data-ng-click="bugtracker_switchEditMode(comment.id)"><i class="material-icons" aria-hidden="true">mode_edit</i></button>
              <button class="btn btn-rounded small gray-color gray-background-hover" data-ng-click="deleteComment(comment.id)"><i class="material-icons" aria-hidden="true">delete</i></button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div data-ng-if="comment.creator.id != user.id">
            <div class="user-comment col-lg-10 col-md-10 col-sm-10 col-xs-12 no-padding">
              <div class="avatar col-lg-1 col-md-1 col-sm-2 col-xs-12 no-padding text-center">
                <img data-ng-src="https://static.grappbox.com/app/user/{[{ comment.creator.id }]}" data-ng-error="../resources/img/app/default-avatar.min.png" height="48" width="48" alt="{[{ comments.creator.firstname }]} {[{ comments.creator.lastname }]}">
              </div>
              <div class="col-lg-11 col-md-11 col-sm-10 col-xs-12 no-padding">
                <p class="info"><strong>{[{ comment.creator.firstname }]} {[{ comment.creator.lastname }]}</strong> - <span>{[{ comment.createdAt }]}</span></p>
                <p class="body">{[{ comment.comment }]}</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="box no-padding no-margin accentuated" data-ng-if="data.editMode[comment.id]">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 no-padding">
            <form>
              <fieldset>
                <div class="avatar col-lg-1 col-md-1 col-sm-2 col-xs-12 no-padding text-center">
                  <img data-ng-src="https://static.grappbox.com/app/user/{[{ user.id }]}" data-ng-error="../resources/img/app/default-avatar.min.png" height="48" width="48" alt="{[{ user.firstname }]} {[{ creator.lastname }]}">
                </div>
                <div class="user-comment col-lg-10 col-md-10 col-sm-12 col-xs-12 no-padding">
                  <p class="info"><strong>{[{ comment.creator.firstname }]} {[{ comment.creator.lastname }]}</strong> - <span>{[{ comment.createdAt }]}</span></p>
                  <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-12 no-margin">
                    <textarea class="form-control" rows="1" data-ng-model="comment.comment" id="new_comment"></textarea>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 no-padding text-center">
                    <button class="btn btn btn-rounded small gray-color gray-background-hover no-margin" data-ng-click="bugtracker_switchEditMode(comment.id)"><i class="material-icons" aria-hidden="true">clear</i></button>
                    <button type="submit" class="btn btn-rounded small gray-color gray-background-hover no-margin" data-ng-click="editComment(comment)"><i class="material-icons" aria-hidden="true">check</i></button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </fieldset>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding each-comment {[{ ::path.colors[path.current] + '-border' }]}">
        <div class="box no-margin">
          <form>
            <fieldset>
              <div class="form-group label-floating col-lg-11 col-md-11 col-sm-10 col-xs-12 no-padding">
                <label for="new_comment" class="control-label">Comment</label>
                <textarea class="form-control" rows="1" data-ng-model="data.comment" id="new_comment"></textarea>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12 no-padding text-center">
                <button type="submit" class="btn btn-rounded small {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="createComment(data.comment)"><i class="material-icons" aria-hidden="true">comment</i></button>
              </div>
              <div class="clearfix"></div>
            </fieldset>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<!-- Tag creation -->
<script type="text/ng-template" id="modal_createNewBugTag.html" data-ng-if="!data.editMode['ticket']">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" data-ng-click="modal_cancelTagCreation()">×</button>
    <h4 class="modal-title">Tag creation</h4>
  </div>
  <div class="modal-body">
    <form>
      <fieldset>
        <div class="form-group label-floating {[{ error.name ? 'has-error' : '' }]}">
          <label for="new-tag-name" class="control-label">Name</label>
          <input type="text" id="new-tag-name" class="form-control" data-ng-model="newTag">
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn gray-color gray-background-hover" data-ng-click="modal_cancelTagCreation()">Cancel</button>
    <button type="button" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="modal_confirmTagCreation()">Create</button>
  </div>
</script>

<!-- tags-input templates -->
<script type="text/ng-template" id="tag-template">
  <div class="tag-template">
    <div class="left-panel">
      <div class="tag-color" ng-if="data.color" style="background-color: #{[{data.color}]}"></div>
    </div>
    <div class="right-panel">
      <span>{[{$getDisplayText()}]}</span>
      <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
  <div class="autocomplete-template">
    <div class="left-panel">
      <div class="tag-color" ng-if="data.color" style="background-color: #{[{data.color}]}"></div>
    </div>
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
    </div>
  </div>
</script>
