<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- Bugtracker -->
<div class="page-header construction">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-center"><p><i class="material-icons">warning</i>This section is in construction.</p></div>
  <div class="clearfix"></div>
</div>

<div>
  <p><a href="bugtracker/{[{ projectID }]}" class="btn btn-default"><i class="material-icons">keyboard_arrow_left</i> Back</a></p>
</div>
<!-- grappbox.data: bug ticket creation information -->
<div data-ng-if="data.bugtracker_new">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        This page allows you to create a brand new error ticket.<br>Use the <strong>"Create"</strong> button at the end of this page when you're done.
      </p>
      </div>
  </div>
</div>
<!-- grappbox.data: ticket edition information -->
<div data-ng-if="!data.bugtracker_new && data.editMode['ticket']">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>This page allows you to edit any part of your ticket.<br>Validate using the <strong>"Update"</strong> button at the end of pages when you're done.</p>
    </div>
  </div>
</div>
<!-- grappbox.data: ticket visual information -->
<!-- <div data-ng-if="!data.bugtracker_new && !data.editMode['ticket']">
  <div class="panel panel-default">
    <div class="panel-heading">See your ticket</div>
    <div class="panel-body">
      <p>This page shows you all informations about your ticket.<br>Edit using the <strong>"Edit"</strong> button at the end of the page.</p>
    </div>
  </div>
</div> -->

<!-- grappbox.data: bug creation -->
<section id="bugtracker-creation" data-ng-if="data.bugtracker_new">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <form class="form-horizontal" novalidate>
            <fieldset>
              <div class="form-group">
                <label for="title" class="col-md-1 control-label">Title</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" data-ng-model="data.ticket.title" id="title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="col-md-1 control-label">Description</label>
                <div class="col-md-11">
                  <textarea class="form-control" rows="3" data-ng-model="data.ticket.description" id="description" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="tags" class="col-md-1 control-label">Tag(s)</label>
                <div class="col-md-11">
                  <tags-input ng-model="tags"
                              display-property="name"
                              replace-spaces-with-dashes="false"
                              on-tag-added="tagAdded($tag)"
                              on-tag-removed="tagRemoved($tag)">
                    <auto-complete source="tagsList"></auto-complete>
                  </tags-input>
                </div>
              </div>
              <div class="form-group">
                <label for="tags" class="col-md-1 control-label">Assigned User(s)</label>
                <div class="col-md-11">
                  <tags-input ng-model="users"
                              display-property="name"
                              placeholder="Assign a user"
                              replace-spaces-with-dashes="false"
                              add-from-autocomplete-only="true"
                              on-tag-added="userAdded($tag)"
                              on-tag-removed="userRemoved($tag)">
                    <auto-complete source="usersList"></auto-complete>
                  </tags-input>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-1 col-md-offset-10 col-xs-6">
                  <button type="submit" class="btn btn-default" data-ng-click="createTicket(data.ticket)">CREATE</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- grappbox.data: bug edition -->
<section id="bugtracker-edition" data-ng-if="!data.bugtracker_new && data.editMode['ticket']">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <form class="form-horizontal" novalidate>
              <fieldset>
                <div class="form-group">
                  <label for="title" class="col-md-1 control-label">Title</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" data-ng-model="data.edit.title" id="title" placeholder="Title">
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="col-md-1 control-label">Description</label>
                  <div class="col-md-11">
                    <textarea class="form-control" rows="3" data-ng-model="data.edit.description" id="description" placeholder="Description"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="tags" class="col-md-1 control-label">Tag(s)</label>
                  <div class="col-md-11">
                    <tags-input ng-model="data.ticket.tags"
                                display-property="name"
                                replace-spaces-with-dashes="false"
                                on-tag-added="tagAdded($tag)"
                                on-tag-removed="tagRemoved($tag)">
                      <auto-complete source="tagsList"></auto-complete>
                    </tags-input>
                  </div>
                </div>
                <div class="form-group">
                  <label for="tags" class="col-md-1 control-label">Assigned User(s)</label>
                  <div class="col-md-11">
                    <tags-input ng-model="data.ticket.users"
                                display-property="name"
                                placeholder="Assign a user"
                                replace-spaces-with-dashes="false"
                                add-from-autocomplete-only="true"
                                on-tag-added="userAdded($tag)"
                                on-tag-removed="userRemoved($tag)">
                      <auto-complete source="usersList"></auto-complete>
                    </tags-input>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1 col-md-offset-9 col-xs-6">
                    <button type="submit" class="btn btn-default" data-ng-click="bugtracker_switchEditMode('ticket')">CANCEL</button>
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <button type="submit" class="btn btn-default" data-ng-click="editTicket(data.ticket)">EDIT</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div data-ng-if="data.message == '_empty'">
            <div class="data-wrapper error">
              <p><i class="fa fa-frown-o"></i>This issue doesn't exist.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_invalid'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_denied'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>You don't have access to the bugtracker of this project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- grappbox.data: bug visual -->
<section id="bugtracker-visual" data-ng-if="!data.bugtracker_new && !data.editMode['ticket']">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <fieldset>
              <div class="col-md-12">
                <h1 class="ellipsis">{[{data.ticket.title}]}</h1>
                <h4>by {[{data.ticket.creator.firstname+" "+data.ticket.creator.lastname}]} - post: {[{ formatObjectDate(data.ticket.createdAt) }]}
                  <span data-ng-if="data.ticket.editedAt">, last edit: {[{ formatObjectDate(data.ticket.editedAt) }]}</span>
                  <span data-ng-if="data.ticket.deletedAt">, close: {[{ formatObjectDate(data.ticket.deletedAt) }]}</span>
                </h4>
              </div>
              <p>{[{data.ticket.description}]}</p>

              <div class="col-md-12 bug-section">
                <h4 class="bug-section-title"><i class="material-icons">description</i>Description</h4>
                <div class="col-md-12">
                  <div class="">
                    {[{data.ticket.description ? data.ticket.description : 'N/A'}]}
                  </div>
                </div>
              </div>

              <div class="col-md-12 bug-section">
                <h4 class="bug-section-title"><i class="material-icons">label</i>Tag(s)</h4>
                <div>
                  <div class="label tag" style="background-color: #{[{tag.color}]};}]}" ng-repeat="tag in data.ticket.tags">
                    <span>{[{tag.name}]}</span>
                  </div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.ticket.tags).length)">
                  <div class="">No tag</div>
                </div>
              </div>
              <div class="col-md-12 bug-section">
                <h4 class="bug-section-title"><i class="material-icons">people</i>Assigned user(s)</h4>
                <div>
                  <div class="md-chip"  ng-repeat="user in data.ticket.users">
                    <div class="md-chip-img">
                      <img src="../resources/img/default_avatar.min.png" alt="avatar" />
                    </div>
                    <span class="md-chip-text">{[{user.firstname + " " + user.lastname}]}</span>
                  </div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.ticket.users).length)">
                  <div class="">No Assigned user </div>
                </div>
              </div>
              <div class="col-md-1 col-md-offset-9" data-ng-if="!data.ticket.deletedAt">
                <button type="submit" class="btn btn-default" data-ng-click="bugtracker_switchEditMode('ticket')">Edit</button>
              </div>
              <div class="col-md-1" data-ng-if="!data.ticket.deletedAt">
                <button type="submit" class="btn btn-default" data-ng-click="closeTicket(data.ticket)">Close</button>
              </div>
              <div class="col-md-1 col-md-offset-9" data-ng-if="data.ticket.deletedAt">
                <button type="submit" class="btn btn-default" data-ng-click="reopenTicket(data.ticket)">Reopen</button>
              </div>
            </fieldset>
          </div>
          <div data-ng-if="data.message == '_empty'">
            <div class="data-wrapper error">
              <p><i class="fa fa-frown-o"></i>This bug doesn't exist.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_invalid'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_denied'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>You don't have access to the bugtracker of this project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- grappbox.data: comments -->
<section id="bugtracker-comment" data-ng-if="!data.bugtracker_new">
  <div class="row">
      <div class="col-lg-12" data-ng-if="!data.onLoad && data.message == '_valid'">
        <div class="panel panel-default" data-ng-repeat="comment in commentsList">
          <div class="panel-body" data-ng-if="!data.editMode[comment.id]">
            <div class="col-md-12">
              <div class="col-md-10">
                <img class="comment-avatar" src="../resources/img/default_avatar.min.png" alt="avatar" />
                <div class="comment-user">{[{comment.creator.firstname + " " + comment.creator.lastname + " at " + formatObjectDate(comment.createdAt) + (comment.editedAt ? " - edited at " + formatObjectDate(comment.editedAt) : "")}]}</div>
              </div>
              <div class="btn-group btn-group-xs" data-ng-if="(!data.ticket.deletedAt) && (comment.creator.id == userId)">
                <button class="btn btn-default btn-xs btn-access" ng-click="bugtracker_switchEditMode(comment.id)" aria-label="edit"><i class="material-icons">edit</i></button>
                <button class="btn btn-default btn-xs btn-access" ng-click="deleteComment(comment.id)"><i class="material-icons">delete</i></button>
              </div>
              <p>{[{comment.comment}]}</p>
            </div>
          </div>
          <!-- <div class="panel-footer" data-ng-if="!data.editMode[comment.id]">

          </div> -->

          <!-- EDIT COMMENT -->
          <div class="panel-body" data-ng-if="data.editMode[comment.id]">
            <form class="form-horizontal" novalidate>
              <fieldset>
                <div class="form-group">
                  <label for="description" class="col-md-1 control-label">Comment</label>
                  <div class="col-md-11">
                    <textarea class="form-control" rows="3" data-ng-model="comment.comment" id="description" placeholder="Description"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 col-md-offset-8">
                    <button class="btn btn-default btn-access" ng-click="bugtracker_switchEditMode(comment.id)" >Cancel</button>
                    <button type="submit" class="btn btn-default" data-ng-click="editComment(comment)">Udpate</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- POST COMMENT -->
        <div class="panel panel-default" data-ng-if="!data.ticket.deletedAt">
          <div class="panel-heading">
              Post new comment
          </div>
          <div class="panel-body">
            <form class="form-horizontal" novalidate>
              <fieldset>
                <div class="form-group">
                  <label for="description" class="col-md-1 control-label">Comment</label>
                  <div class="col-md-11">
                    <textarea class="form-control" rows="3" data-ng-model="data.comment" id="description" placeholder="comment"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-2 col-md-offset-10">
                    <button type="submit" class="btn btn-default" data-ng-click="createComment(data.comment)">Post</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>
