<!-- This file is subject to the terms and conditions defined in file "LICENSE.txt",
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- General dashboard -->
<section class="dashboard-list">
  <div class="page-header master {[{ path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/dashboard.min.png" width="300" height="auto" alt="Dashboard">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Welcome to GrappBox</h1>
      <p>Choose your project to begin, or create a new one.</p>
      <a href="settings/0" class="btn btn-raised {[{ path.colors[path.current] + '-color' }]}" title="Go to the creation process page">Create a new project</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div data-ng-if="!view.loaded">
    <div class="spinner section">
      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
    </div>
  </div>
  <div data-ng-if="view.loaded">
    <div data-ng-if="view.valid && projects">
      <div class="box-row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 no-padding animate" data-ng-repeat="project in projects">
          <div class="box" data-ng-click="method.loadProject(project)">
            <img data-ng-if="!project.logo" src="../resources/img/app/default-logo.min.png" height="120" width="120" alt="{[{ project.name }] (logo)">
            <img data-ng-if="project.logo" data-ng-src="data:image/png;base64,{[{ ::project.logo }]}" height="120" width="120" alt="{[{ project.name }] (logo)">
            <div class="preview">
              <p class="ellipsis title">"{[{ project.name }]}"</p>
              <p><i class="material-icons rounded {[{ path.colors['/bugtracker'] + '-color' }]}">bug_report</i>{[{ project.number_messages > 0 ? project.number_bugs : "No" }]} issues</p>
              <p><i class="material-icons rounded {[{ path.colors['/timeline'] + '-color' }]}">message</i>{[{ project.number_messages > 0 ? project.number_messages : "No" }]} messages</p>
              <p><i class="material-icons rounded {[{ path.colors['/tasks'] + '-color' }]}">playlist_add_check</i>{[{ project.number_ongoing_tasks }]}/{[{ project.number_finished_tasks }]} finished tasks</p>
            </div>
            <div class="clearfix"></div>
            <a href="" title="Load this project" class="btn {[{ path.colors[path.current] + '-color' }]} {[{ path.colors[path.current] + '-background-hover' }]}" data-ng-click="method.loadProject(project)">Open</a>
            <div class="clearfix"></div>
          </div>
        </div>

        <div data-ng-if="view.valid && !projects">
          <div class="box-error">
            <p><i class="material-icons">border_clear</i><br>You don't have any project.<br>Create one now!</p>
          </div>
        </div>
        <div data-ng-if="!view.valid">
          <div class="box-error">
            <p><i class="material-icons">clear</i><br>An error has occurred. Please try again.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

</section>