<!-- This file is subject to the terms and conditions defined in file "LICENSE.txt",
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- General dashboard -->
<section class="dashboard-list">
  <div class="page-header master {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/dashboard.svg" width="300" height="auto" alt="Dashboard">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Welcome!</h1>
      <p>This page is your dashboard, your gateway, your home, and the hub of all your projects!<br>Choose a project to begin, or create a new one.</p>
      <a data-ng-if="view.loaded && projects.list" href="settings/0" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Go to the creation process page">Create a new project</a>
      <p class="space" data-ng-if="view.loaded && !projects.list">Use the button below to create a new project, and begin now your journey!</p>
      <p class="space" data-ng-if="!view.loaded">Loading...</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div data-ng-if="!view.loaded">
    <div class="spinner section">
      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
    </div>
  </div>
  <div data-ng-if="view.loaded">
    <div data-ng-if="view.valid && projects.list">
      <div class="box-row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 no-padding" data-ng-repeat="project in projects.list">
          <div class="box">
            <img data-ng-if="!project.logo" src="../resources/img/app/default-logo.min.png" height="120" width="120" alt="{[{ ::project.name }]}">
            <img data-ng-if="project.logo" data-ng-src="https://static.grappbox.com/app/project/{[{ ::project.id }]}" data-ng-error="../resources/img/app/default-logo.min.png" height="120" width="120" alt="{[{ ::project.name }]}">
            <div class="preview">
              <p class="ellipsis title">"{[{ ::project.name }]}"</p>
              <p><i class="material-icons {[{ ::path.colors['/bugtracker'] + '-color' }]}" aria-hidden="true">{[{ ::path.icons['/bugtracker'] }]}</i>{[{ ::project.number_messages > 0 ? project.number_bugs : "No" }]} issues</p>
              <p><i class="material-icons {[{ ::path.colors['/talk'] + '-color' }]}" aria-hidden="true">{[{ ::path.icons['/talk'] }]}</i>{[{ ::project.number_messages > 0 ? project.number_messages : "No" }]} messages</p>
              <p><i class="material-icons {[{ ::path.colors['/task'] + '-color' }]}" aria-hidden="true">{[{ ::path.icons['/task'] }]}</i>{[{ ::project.number_ongoing_tasks }]}/{[{ ::project.number_finished_tasks }]} finished tasks</p>
            </div>
            <div class="clearfix"></div>
            <a href="" title="Load project '{[{ ::project.name }]}'" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="projects.load(project)">Open</a>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div data-ng-if="view.valid && !projects.list">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="box flattened home">
          <h3>You don't have any project.<br>Create a new one now to get started!</h3>
          <a data-ng-if="view.valid && !projects.list" href="settings/0" class="btn btn-raised {[{ ::path.colors[path.current] + '-background' }]} {[{ ::path.colors[path.current] + '-hover' }]} white-background-hover" title="Go to the creation process page">Create a new project</a>
          <div class="slide-up">
            <i class="material-icons">trending_flat</i>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div data-ng-if="!view.valid">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="box error">
          <p><i class="material-icons" aria-hidden="true">error</i>Someting is wrong with GrappBox.<span>Please try again.</span></p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>