<!-- This file is subject to the terms and conditions defined in file "LICENSE.txt",
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- Project dashboard -->
<section class="dashboard">
  <div class="page-header {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/dashboard.svg" width="300" height="auto" alt="Dashboard">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Project overview</h1>
      <p>This dashboard presents you all you need to know about your current project.<br>Use the <strong>menu on the left</strong> to navigate between all the GrappBox tools.</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div data-ng-if="!project.occupation.loaded || !project.meetings.loaded">
    <div class="spinner section">
      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
    </div>
  </div>
  <div data-ng-if="project.occupation.loaded && project.meetings.loaded">
    <div class="box-row">

      <!-- Team occupation -->
      <div data-ng-if="project.occupation.authorized">
        <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-header"><i class="material-icons rounded {[{ ::path.colors[path.current] + '-background' }]}">group</i>Team occupation</h4>
        <div data-ng-if="project.occupation.valid && project.occupation.list">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 no-padding" data-ng-repeat="member in ::project.occupation.list">
            <div class="box">
              <img data-ng-src="https://static.grappbox.com/app/user/{[{ ::member.user.id }]}" data-ng-error="../resources/img/app/default-avatar.min.png" height="48" width="48" alt="{[{ ::member.user.firstname }]} {[{ ::member.user.lastname }]}">
              <div class="preview">
                <p class="ellipsis title">{[{ ::member.user.firstname }]} {[{ ::member.user.lastname }]}</p>
                <p><i class="material-icons">info</i>{[{ member.occupation == 'free' ? 'Available' : 'Busy' }]}</p>
                <p><i class="material-icons {[{ ::path.colors['/task'] + '-color' }]}">{[{ ::path.icons['/task'] }]}</i>{[{ ::member.number_of_tasks_begun }]} started tasks<br><span>{[{ ::member.number_of_ongoing_tasks }]} remaining</span></p>
              </div>
              <div class="clearfix"></div>
              <a data-ng-if="member.occupation == 'free'" href="task/{[{ ::project.id }]}" title="Assign a new task to {[{ ::member.user.firstname }]}" class="btn {[{ ::path.colors['/task'] + '-color' }]} {[{ ::path.colors['/task'] + '-background-hover' }]}">Assign</a>
              <a data-ng-if="member.occupation != 'free'" href="" title="Assign a new task to {[{ ::member.user.firstname }]}" class="btn {[{ ::path.colors['/task'] + '-color' }]} {[{ ::path.colors['/task'] + '-background-hover' }]}" disabled>Assign</a>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div data-ng-if="project.occupation.valid && !project.occupation.list">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons">help</i>You don't have any team member.<br><span>Add new members using the project's settings page.</span></p>
            </div>
          </div>
        </div>
        <div data-ng-if="!project.occupation.valid">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error text-center">
              <p><i class="material-icons">error</i>Someting is wrong with GrappBox.<br><span>Please try again.</span></p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- Next meetings -->
      <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-header"><i class="material-icons rounded {[{ ::path.colors['/calendar'] + '-background' }]}">{[{ ::path.icons['/calendar'] }]}</i>Next meetings</h4>
      <div data-ng-if="project.meetings.valid && project.meetings.list">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 no-padding" data-ng-repeat="meeting in ::project.meetings.list">
          <div class="box">
            <div class="preview">
              <p class="ellipsis title">{[{ ::meeting.title }]}</p>
              <p><i class="material-icons">schedule</i>{[{ ::meeting.begin_date }]}</p>
              <p class="ellipsis"><i class="material-icons">info</i>{[{ ::meeting.description }]}</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div data-ng-if="project.meetings.valid && !project.meetings.list">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="box error">
            <p><i class="material-icons">help</i>You don't have any scheduled meeting.<br><span>Use the GrappBox calendar to add one.</span></p>
          </div>
        </div>
      </div>
      <div data-ng-if="!project.meetings.valid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="box error text-center">
            <p><i class="material-icons">error</i>Someting is wrong with GrappBox.<br><span>Please try again.</span></p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>
</section>