<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- Talk -->
<section class="talk">
  <div class="page-header {[{ ::path.colors[path.current] + '-background' }]} small">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/talk.svg" width="300" height="auto" alt="Talks">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Talk</h1>
      <p>This is your talk main view.<br>You can add, edit and delete comments, and convert this topic to a GrappBox issue.</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- Talk message -->
  <div data-ng-if="!talk.loaded">
    <div class="spinner section">
      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
    </div>
  </div>
  <div data-ng-if="talk.loaded">
    <div data-ng-if="talk.valid && talk.authorized">
      <div data-ng-if="talk.data">
        <div class="box-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding talk-message">
            <div class="box">
              <div class="avatar">
                <img src="../resources/img/app/default-avatar.min.png" alt="{[{ ::talk.data.creator.firstname }]}-{[{ ::talk.data.creator.lastname }]}-avatar" width="48px" height="48px">
              </div>
              <ul>
                <li>{[{ ::talk.data.creator.firstname }]} {[{ ::talk.data.creator.lastname }]}</li>
                <li><span>{[{ ::talk.data.createdAt }]}</span></li>
              </ul>
              <div class="clearfix"></div>
              <p class="info"><strong>{[{ ::talk.data.title }]}</strong></p>
              <p class="body">{[{ ::talk.data.message }]}</p>
              <div class="submit">
                <a href="" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" title="Delete this talk and all its comments" data-ng-if="talk.data.creator.id == user.id">Delete this talk</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-if="!talk.data" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="box-row">
          <div class="box error text-center">
            <p><i class="material-icons">speaker_notes_off</i>This talk is empty.</p>
          </div>
        </div>
      </div>
    </div>

    <div data-ng-if="!talk.valid && !talk.authorized" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="box-row">
        <div class="box error text-center">
          <p><i class="material-icons">block</i>You don't have sufficient rights to see this talk.</p>
        </div>
      </div>
    </div>
    <div data-ng-if="!talk.valid" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box-row">
        <div class="box error text-center">
          <p><i class="material-icons">clear</i>Someting is wrong with GrappBox. Please give us a minute, and try again.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Comments -->
  <div data-ng-if="comments.loaded">
    <div data-ng-if="comments.valid && comments.authorized">
      <div data-ng-if="comments.data">
        <div class="box-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding each-comment {[{ comment.creator.id == user.id ? 'orange-border' : 'gray-border' }]}" data-ng-repeat="comment in comments.data">
            <div class="box">
              <p class="info"><strong>{[{ ::comment.creator.firstname }]} {[{ ::comment.creator.lastname }]}</strong> - <span>{[{ ::comment.createdAt }]}</span></p>
              <p class="body">{[{ ::comment.comment }]}</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-if="!comments.data" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="box-row">
          <div class="box error text-center">
            <p><i class="material-icons">speaker_notes_off</i>No comments for this talk.</p>
          </div>
        </div>
      </div>
    </div>

    <div data-ng-if="!comments.valid && !comments.authorized" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="box-row">
        <div class="box error text-center">
          <p><i class="material-icons">block</i>You don't have sufficient rights to see this talk's comments.</p>
        </div>
      </div>
    </div>
    <div data-ng-if="!comments.valid" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box-row">
        <div class="box error text-center">
          <p><i class="material-icons">clear</i>Someting is wrong with GrappBox. Please give us a minute, and try again.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Add comment -->
  <div class="comment-add" data-ng-if="comments.loaded">
    <div class="box-row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding each-comment blue-border">
        <div class="box">
          <form>
            <fieldset>
              <div class="form-group label-floating">
                <label for="new_comment" class="control-label">Comment</label>
                <input id="new_comment" type="text" class="form-control" data-ng-model="comments.new" data-ng-disabled="comments.disabled" required>
              </div>
              <button class="btn blue-color blue-background-hover {[{ comments.disabled ? 'disabled' : '' }]}" data-ng-click="comments.add()">Add</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>