<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- Talks -->
<section class="talk-list">
  <div class="page-header {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/talk.svg" width="300" height="auto" alt="Talks">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Talks</h1>
      <p>This section allows you to communicate <strong>privately</strong> (to your team only), or with any registered customer.<br>You can also convert any topic to a GrappBox issue and use it in your project's bugtracker.</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div data-ng-if="!view.loaded">
    <div class="spinner section">
      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
    </div>
  </div>
  <div data-ng-if="view.loaded">
    <div data-ng-if="view.valid && view.authorized">
      <div class="box-row">
        
        <!-- Talks tabs -->
        <div class="tab-wrapper">

          <!-- Team talks -->
          <input type="radio" name="tab" id="team" checked>
          <div class="tab-label-content" id="team-content">
            <label for="team" class="{[{ ::path.colors[path.current] + '-color' }]}"><i class="material-icons" aria-hidden="true">group</i>Team members</label>
            <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-center">
                <a href="talk/{[{ ::talk.project_id }]}/{[{ ::talk.team.id }]}/new" class="btn btn-raised {[{ ::path.colors[path.current] + '-background' }]} {[{ ::path.colors[path.current] + '-hover' }]} white-background-hover new" title="Create a discussion for your team only">Create a new team talk</a>
              </div>
              <div data-ng-if="!talk.team.loaded">
                <div class="spinner section">
                  <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
                </div>
              </div>
              <div data-ng-if="talk.team.loaded">
                <div data-ng-if="talk.team.valid && talk.team.messages" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 no-padding each-talk" data-ng-repeat="message in talk.team.messages">
                  <div class="box">
                    <div class="avatar">
                      <img src="../resources/img/app/default-avatar.min.png" alt="{[{ ::message.creator.firstname }]} {[{ ::message.creator.lastname }]}" width="48" height="48">
                    </div>
                    <ul>
                      <li class="title"><strong>{[{ ::message.title }]}</strong></li>
                      <li class="author">{[{ ::message.creator.firstname }]} {[{ ::message.creator.lastname }]}</li>
                      <li class="date"><span>{[{ ::message.createdAt }]}</span></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="submit">
                      <a href="talk/{[{ ::talk.project_id }]}/{[{ ::talk.team.id }]}/{[{ ::message.id }]}" title="Open {[{ ::message.creator.firstname }]}'s message" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}">Open</a>
                    </div>
                  </div>
                </div>
                <div data-ng-if="talk.team.valid && !talk.team.messages" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                  <div class="box error text-center">
                    <p><i class="material-icons" aria-hidden="true">speaker_notes_off</i>This project doesn't contain any team talk.</p>
                  </div>
                </div>
                <div data-ng-if="!talk.team.valid" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                  <div class="box error text-center">
                    <p><i class="material-icons" aria-hidden="true">clear</i>Someting is wrong with GrappBox. Please give us a minute, and try again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Customer talks -->
          <input type="radio" name="tab" id="customer">
          <div class="tab-label-content" id="customer-content">
            <label for="customer" class="{[{ ::path.colors[path.current] + '-color' }]}"><i class="material-icons" aria-hidden="true">location_city</i>Customers</label>
            <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-center">
                <a href="talk/{[{ ::talk.project_id }]}/{[{ ::talk.customer.id }]}/new" class="btn btn-raised {[{ ::path.colors[path.current] + '-background' }]} {[{ ::path.colors[path.current] + '-hover' }]} white-background-hover new" title="Create a discussion for your customers only">Create a new customer talk</a>
              </div>
              <div data-ng-if="!talk.customer.loaded">
                <div class="spinner section">
                  <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
                </div>
              </div>
              <div data-ng-if="talk.customer.loaded">
                <div data-ng-if="talk.customer.valid && talk.customer.messages" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 no-padding each-talk" data-ng-repeat="message in talk.customer.messages">
                  <div class="box">
                    <div class="avatar">
                      <img src="../resources/img/app/default-avatar.min.png" alt="{[{ ::message.creator.firstname }]} {[{ ::message.creator.lastname }]}" width="48" height="48">
                    </div>
                    <ul>
                      <li class="title"><strong>{[{ ::message.title }]}</strong></li>
                      <li class="author">{[{ ::message.creator.firstname }]} {[{ ::message.creator.lastname }]}</li>
                      <li class="date"><span>{[{ ::message.createdAt }]}</span></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="submit">
                      <a href="talk/{[{ ::talk.project_id }]}/{[{ ::talk.customer.id }]}/{[{ ::message.id }]}" title="Open {[{ ::message.creator.firstname }]}'s message" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}">Open</a>
                    </div>
                  </div>
                </div>
                <div data-ng-if="talk.customer.valid && !talk.customer.messages" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                  <div class="box error text-center">
                    <p><i class="material-icons" aria-hidden="true">speaker_notes_off</i>This project doesn't contain any customer talk.</p>
                  </div>
                </div>
                <div data-ng-if="!talk.customer.valid" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                  <div class="box error text-center">
                    <p><i class="material-icons" aria-hidden="true">clear</i>Someting is wrong with GrappBox. Please give us a minute, and try again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="slide {[{ ::path.colors[path.current] + '-background' }]}"></div>
        </div>
      </div>
    </div>

    <div data-ng-if="!view.authorized">
      <div class="box-row">
        <div class="box error text-center">
          <p><i class="material-icons" aria-hidden="true">block</i>You don't have sufficient rights to see this project's talks.</p>
        </div>
      </div>
    </div>
  </div>
</section>