<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- Task creation -->
<section class="task-creation" data-ng-if="data.task_new">
  <div class="page-header big {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/task.svg" width="300" height="auto" alt="Tasks">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Task creation</h1>
      <p>This page allows you to create and assign a new task.<br>Use the "Create" button at the end of this page when you're done.</p>
      <a href="{[{ 'task/' + projectID }]}" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Go back to the task list">Back to list</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="box-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form>
              <fieldset>
                <h3>General</h3>              
                <div class="form-group label-floating">
                  <label for="title" class="control-label">Title</label>
                  <input type="text" class="form-control" data-ng-model="data.task.title" id="title">
                </div>
                <div class="form-group label-floating">
                  <label for="description" class="control-label">Description</label>
                  <textarea class="form-control" rows="4" data-ng-model="data.task.description" id="description"></textarea>
                </div>
   
                <!-- OBJECT TYPE SELECTION -->
                <div class="form-group label-floating">
                  <label class="control-label">Object type</label>
                  <select class="form-control" data-ng-model="data.task.type">
                    <option value="regular">Regular</option>
                    <option value="milestone">Milestone</option>
                    <option value="container">Container</option>
                  </select>
                </div>

                <!-- TASK CREATION -->
                <div data-ng-if="data.task.type == 'regular'">
                  <div class="form-group">
                    <label for="start_date" class="control-label">Starting date</label>
                    <input type="date" class="form-control" data-ng-model="data.task.started_at" id="start_date">
                  </div>
                  <div class="form-group">
                    <label for="due_date" class="control-label">Due date</label>
                    <input type="date" class="form-control" data-ng-model="data.task.due_date" id="due_date">
                  </div>
                  <div class="form-group label-floating">
                    <label for="tags" class="control-label">Tag(s)</label>
                    <tags-input data-ng-model="tags" display-property="name" replace-spaces-with-dashes="false" on-tag-added="tagAdded($tag)" on-tag-removed="tagRemoved($tag)">
                      <auto-complete source="tagsList"></auto-complete>
                    </tags-input>
                    <span class="help-block">Use ',' to separate tags</span>
                  </div>
                  <h3>Resource(s)</h3>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="form-group label-floating col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <select class="form-control" id="users" name="users" data-ng-model="user" data-ng-options="user as user.name for user in usersList">
                        <option value="" disabled selected>Select a user</option>
                      </select>
                    </div>
                    <div class="form-group label-floating col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <select class="form-control" data-ng-model="user_percent" id="workcharge" convert-to-number data-ng-options="n as (n + '%') for n in [] | range:11">
                        <option value="" disabled selected>Select user's work charge</option>
                      </select>
                    </div>
                    <div class="form-group label-floating col-lg-1 col-md-1 col-sm-12 col-xs-12">
                      <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]} no-margin" data-ng-click="addResource(user, user_percent)"><i class="material-icons" aria-hidden="true">add</i></a>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="form-group label-floating no-margin" data-ng-repeat="user in data.task.users">
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <p>{[{ user.firstname + " " + user.lastname }]}</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <select class="form-control" data-ng-model="user.percent" convert-to-number>
                          <option value="" disabled selected>Select user's work charge</option>
                          <option data-ng-repeat="n in [] | range:11" value="{[{ $index*10 }]}">{[{ $index*10 + ' %' }]}</option>
                        </select>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <a href="" class="btn btn-rounded red-hover red-focus red-background no-margin" data-ng-click="removeResource(user)"><i class="material-icons" aria-hidden="true">delete</i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <!-- CONTAINER CREATION -->
                <div data-ng-if="data.task.type == 'container'">
                  <div class="form-group label-floating {[{ tasksList.length ? '' : 'has-warning' }]}" >
                    <label for="tags" class="control-label">Task(s)</label>
                    <tags-input data-ng-model="tasks" display-property="name" placeholder="Add a task" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" on-tag-added="taskAdded($tag)" on-tag-removed="taskRemoved($tag)">
                      <auto-complete source="tasksList"></auto-complete>
                    </tags-input>
                    <p ng-if="!tasksList.length" class="help-block">No task in the project for the moment</p>
                  </div>
                </div>

                <!-- MILESTONE CREATION-->
                <div data-ng-if="data.task.type == 'milestone'">
                  <div class="form-group label-floating">
                    <label for="milestone_date" class="control-label">Date</label>
                    <input type="date" class="form-control" data-ng-model="data.task.due_date" id="milestone_date">
                  </div>
                </div>

                <!-- NOT CONTAINER CREATION -->
                <div data-ng-if="data.task.type != 'container'">
                  <h3>Dependencies</h3>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="form-group label-floating col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <select class="form-control" name="tasks" data-ng-model="new_dependency" data-ng-options="task as task.name for task in tasksList">
                        <option value="" disabled selected>Select a task</option>
                      </select>
                    </div>
                    <div class="form-group label-floating col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <select class="form-control" data-ng-model="dependency_type" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                        <option value="" disabled selected>Select a type of dependency</option>
                      </select>
                    </div>
                    <div class="form-group label-floating col-lg-1 col-md-1 col-sm-12 col-xs-12">
                      <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]} no-margin" data-ng-click="addDependency(new_dependency, dependency_type)"><i class="material-icons" aria-hidden="true">add</i></a>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="form-group label-floating no-margin" data-ng-repeat="dependency in data.task.dependencies">
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <p>{[{ dependency.title }]}</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <select class="form-control" data-ng-model="dependency.name" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                          <option value="" disabled selected>Select a type of dependencies</option>
                        </select>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <a href="" class="btn btn-rounded red-hover red-focus red-background no-margin" data-ng-click="removeDependency(dependency)"><i class="material-icons" aria-hidden="true">delete</i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>                  
                </div>

                <!-- SUBMIT -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group submit">
                  <a href="{[{ 'task/' + projectID }]}" class="btn gray-color gray-background-hover">Cancel</a>
                  <button type="submit" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="createTask(data.task)">Create</button>
                </div>
                <div class="clearfix"></div>
              </fieldset>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<!-- Task edition -->
<section class="task-edition" data-ng-if="!data.ask_new && data.editMode['task']">
  <div class="page-header big {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/task.svg" width="300" height="auto" alt="Tasks">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Task edition</h1>
      <p>This page allows you to edit and update an existing task.<br>Validate changes by using the <strong>"Update"</strong> button at the end of the page when you're done.</p>
      <a href="{[{ 'task/' + projectID }]}" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Go back to the task list">Back to list</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="box-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form>
                <fieldset>
                  <h3>General</h3>              
                  <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" class="form-control" data-ng-model="data.edit.title" id="title">
                  </div>
                  <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <textarea class="form-control" rows="4" data-ng-model="data.edit.description" id="description"></textarea>
                  </div>
     
                  <!-- OBJECT TYPE SELECTION -->
                  <div class="form-group label-floating">
                    <label class="control-label">Object type</label>
                    <select class="form-control" data-ng-model="data.edit.type">
                      <option value="regular">Regular</option>
                      <option value="milestone">Milestone</option>
                      <option value="container">Container</option>
                    </select>
                  </div>

                  <!-- TASK EDITION -->
                  <div data-ng-if="data.edit.type == 'regular'">
                    <div class="form-group">
                      <label for="start_date" class="control-label">Starting date</label>
                      <input type="date" class="form-control" data-ng-model="data.edit.started_at" id="start_date">
                    </div>
                    <div class="form-group">
                      <label for="due_date" class="control-label">Due date</label>
                      <input type="date" class="form-control" data-ng-model="data.edit.due_date" id="due_date">
                    </div>
                    <div class="form-group">
                      <label for="progress" class="control-label">Progress</label>
                      <select id="progress" class="form-control" data-ng-model="data.edit.advance" convert-to-number>
                        <option value="">None</option>
                        <option data-ng-repeat="n in [] | range:11" value="{[{ $index * 10 }]}">{[{ $index * 10 + ' %' }]}</option>
                      </select>
                    </div>
                    <div class="form-group label-floating">
                      <label for="tags" class="control-label">Tag(s)</label>
                      <tags-input data-ng-model="data.task.tags" display-property="name" replace-spaces-with-dashes="false" on-tag-added="tagAdded($tag)" on-tag-removed="tagRemoved($tag)">
                        <auto-complete source="tagsList"></auto-complete>
                      </tags-input>
                    </div>
                    <h3>Resource(s)</h3>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                      <div class="form-group label-floating col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control" id="users" name="users" data-ng-model="new_user" data-ng-options="user as user.name for user in usersList">
                          <option value="" disabled selected>Select a user</option>
                        </select>
                      </div>
                      <div class="form-group label-floating col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control" data-ng-model="user_percent" id="workcharge" convert-to-number>
                          <option value="" disabled selected>Select user's work charge</option>
                          <option data-ng-repeat="n in [] | range:11" value="{[{ $index * 10 }]}">{[{ $index * 10 + ' %' }]}</option>
                        </select>
                      </div>
                      <div class="form-group label-floating col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]} no-margin" data-ng-click="addResource(new_user, user_percent)"><i class="material-icons" aria-hidden="true">add</i></a>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                      <div class="form-group label-floating no-margin" data-ng-repeat="user in data.task.users" id="{[{ 'resource-' + $index }]}">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <p>{[{ user.firstname + " " + user.lastname }]}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="{[{ 'select-resource-' + $index }]}">
                         <select class="form-control" data-ng-model="user.percent" convert-to-number data-ng-disabled="user.old" data-ng-change="updateResource(user)">
                            <option data-ng-repeat="n in [] | range:11" value="{[{ $index * 10 }]}">{[{ $index * 10 + ' %' }]}</option>
                          </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                          <a href="" class="btn btn-rounded red-hover red-focus red-background no-margin" data-ng-click="removeResource(user)" data-ng-if="!user.old"><i class="material-icons" aria-hidden="true">delete</i></a>
                          <a href="" class="btn btn-rounded green-hover green-focus green-background no-margin" data-ng-click="recoverResource(user)" data-ng-if="user.old"><i class="material-icons" aria-hidden="true">refresh</i></a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <!-- CONTAINER EDITION -->
                  <div data-ng-if="data.edit.type == 'container'">
                    <div class="form-group label-floating">
                      <label for="tags" class="control-label">Task(s)</label>
                      <tags-input data-ng-model="data.task.tasks" display-property="name" placeholder="Add a task" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" on-tag-added="taskAdded($tag)" on-tag-removed="taskRemoved($tag)">
                        <auto-complete source="tasksList"></auto-complete>
                      </tags-input>
                    </div>
                  </div>

                  <!-- MILESTONE EDITION -->
                  <div data-ng-if="data.edit.type == 'milestone'">
                    <div class="form-group label-floating">
                      <label for="milestone_date" class="control-label">Date</label>
                      <input type="date" class="form-control" data-ng-model="data.edit.due_date" id="milestone_date">
                    </div>
                  </div>

                  <!-- NOT CONTAINER EDITION -->
                  <div data-ng-if="data.edit.type != 'container'">
                    <h3>Dependencies</h3>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                      <div class="form-group label-floating col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control" name="tasks" data-ng-model="new_dependency" data-ng-options="task as task.name for task in tasksList">
                          <option value="" disabled selected>Select a task</option>
                        </select>
                      </div>
                      <div class="form-group label-floating col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control" data-ng-model="dependency_type" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                          <option value="" disabled selected>Select a type of dependency</option>
                        </select>
                      </div>
                      <div class="form-group label-floating col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]} no-margin" data-ng-click="addDependency(new_dependency, dependency_type)"><i class="material-icons" aria-hidden="true">add</i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                      <div class="form-group label-floating no-margin" data-ng-repeat="dependency in data.task.dependencies">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="{[{ 'dependency-' + $index }]}">
                          <p>{[{ dependency.task.title }]}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="{[{ 'select-dependency-' + $index }]}">
                          <select class="form-control" data-ng-model="dependency.name" data-ng-options="dep.key as dep.name for dep in dependenciesList" data-ng-change="updateDependency(dependency)" data-ng-disabled="dependency.old">
                          </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                          <a href="" class="btn btn-rounded red-hover red-focus red-background no-margin" data-ng-click="removeDependency(dependency)" data-ng-if="!dependency.old"><i class="material-icons" aria-hidden="true">delete</i></a>
                          <a href="" class="btn btn-rounded green-hover green-focus green-background no-margin" data-ng-click="recoverDependency(dependency)" data-ng-if="dependency.old"><i class="material-icons" aria-hidden="true">refresh</i></a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="clearfix"></div>                  
                  </div>

                  <!-- SUBMIT -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group submit">
                    <button class="btn gray-color gray-background-hover" data-ng-click="task_switchEditMode('task')">Cancel</button>
                    <button type="submit" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="editTask(data.task)">Update</button>
                  </div>
                  <div class="clearfix"></div>
                </fieldset>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div data-ng-if="data.message == '_empty'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">error</i>This task doesn't exist.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div data-ng-if="data.message == '_invalid'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">error</i>Something is wrong with GrappBox.<br><span>Please try again.</span></p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div data-ng-if="data.message == '_denied'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">block</i>You don't have access to this page.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<!-- Task -->
<section class="task" data-ng-if="!data.task_new && !data.editMode['task']">
  <div class="page-header big {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/task.svg" width="300" height="auto" alt="Tasks">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Task</h1>
      <p>This page details the selected task.<br>Use the actions buttons at the end of this page if you want to edit, delete or mark as done this task.</p>
      <a href="{[{ 'task/' + projectID }]}" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Go back to the task list">Back to list</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="box-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="box">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div data-ng-if="data.message == '_valid'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <h1 class="ellipsis">{[{ data.task.title }]}</h1>
                <p class="no-padding">{[{ data.task.is_container ? 'Container' : (data.task.is_milestone ? 'Milestone' : 'Regular task' )}]}<br><span data-ng-if="!data.task.is_milestone && !data.task.is_container">{[{ data.task.started_at ? formatObjectDate(data.task.started_at) : "N/A" }]} to {[{ formatObjectDate(data.task.due_date) }]}</span><span data-ng-if="data.task.is_milestone">At {[{ formatObjectDate(data.task.due_date) }]}</span>
                </p>

                <h3>Description</h3>
                <p class="no-padding">{[{ data.task.description ? data.task.description : 'None' }]}</p>

                <div data-ng-if="!data.task.is_milestone && !data.task.is_container">
                  <h3>Progress</h3>
                  <p class="no-padding">{[{ data.task.advance + ' %' }]} <span data-ng-if="data.task.finished_at">(finished: {[{ formatObjectDate(data.task.finished_at) }]})</span></p>
                </div>

                <div data-ng-if="!data.task.is_milestone && !data.task.is_container">
                  <h3>Tag(s)</h3>
                  <div class="label tag" style="background-color: #{[{ tag.color }]}; color: #212121;" data-ng-repeat="tag in data.task.tags">{[{tag.name}]}</div>
                  <div data-ng-if="!((data.task.tags).length)">
                    <p class="no-padding">No tag for this task</p>
                  </div>
                </div>

                <div data-ng-if="!data.task.is_milestone && !data.task.is_container">
                  <h3>Assigned user(s)</h3>
                  <div class="md-chip" data-ng-repeat="user in data.task.users">
                    <div class="md-chip-img">
                      <img data-ng-src="https://static.grappbox.com/app/user/{[{ user.id }]}" data-ng-error="../resources/img/app/default-avatar.min.png" height="48" width="48" alt="{[{ user.firstname }]} {[{ user.lastname }]}">
                    </div>
                    <span class="md-chip-text">{[{ user.firstname + " " + user.lastname + " (" + user.percent + "%)" }]}</span>
                  </div>
                  <div data-ng-if="!((data.task.users).length)">
                    <p class="no-padding">No assigned user for this task</p>
                  </div>
                </div>

                <div data-ng-if="!data.task.is_milestone && !data.task.is_container">
                  <h3>Dependencies</h3>
                  <div class="md-chip" data-ng-repeat="dependency in data.task.dependencies">
                    <span class="md-chip-span">{[{ dependency.name.toUpperCase() }]}</span>
                    <span class="md-chip-text">{[{ dependency.task.title }]}</span>
                  </div>
                  <div data-ng-if="!((data.task.dependencies).length)">
                    <p class="no-padding">No associated dependency</p>
                  </div>
                </div>
              
                <div data-ng-if="data.task.is_container">
                  <h3>Tasks</h3>
                  <div class="md-chip" data-ng-repeat="task in data.task.tasks">
                    <span class="md-chip-span">{[{ task.is_container ? 'C' : (task.is_milestone ? 'M' : 'T') }]}</span>
                    <span class="md-chip-text">{[{ task.title }]}</span>
                  </div>
                  <div data-ng-if="!((data.task.tasks).length)">
                    <p class="no-padding">No task for this container</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding submit">
                <button class="btn red-color red-background-hover" data-ng-click="deleteTask(data.task)">Delete</button>
                <button class="btn gray-color gray-background-hover" data-ng-click="task_switchEditMode('task')" data-ng-if="data.task.finished_at || data.task.is_milestone || data.task.is_container">Edit</button>
                <button class="btn gray-color gray-background-hover" data-ng-click="task_switchEditMode('task')" data-ng-if="!data.task.finished_at && !data.task.is_milestone && !data.task.is_container">Edit</button>
                <button class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]}" data-ng-click="finishTask()" data-ng-if="!data.task.finished_at && !data.task.is_milestone && !data.task.is_container">Mark as finished</button>
              </div>
              <div class="clearfix"></div>
            </div>

            <div data-ng-if="data.message == '_empty'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="box error">
                  <p><i class="material-icons" aria-hidden="true">error</i>This task doesn't exist.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div data-ng-if="data.message == '_invalid'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="box error">
                  <p><i class="material-icons" aria-hidden="true">error</i>Something is wrong with GrappBox.<br><span>Please try again.</span></p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div data-ng-if="data.message == '_denied'">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="box error">
                  <p><i class="material-icons" aria-hidden="true">block</i>You don't have access to this page.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>