<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- Whiteboard -->
<section class="whiteboard">
  <div class="page-header big {[{ ::path.colors[path.current] + '-background' }]}">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding text-center">
      <img src="../resources/img/app/whiteboard.svg" width="300" height="auto" alt="Whiteboard">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding title">
      <h1>Whiteboard</h1>
      <p>Use the <strong>toolbox</strong> below to draw lines, shapes and words.<br>You can also go fullscreen to be more comfortable.</p>
      <a href="{[{ 'whiteboard/' + route.project_id }]}" class="btn btn-raised {[{ ::path.colors[path.current] + '-color' }]}" title="Return to the whiteboard list page">Back to list</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div data-ng-if="!view.loaded">
    <div class="spinner section">
      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle></svg>
    </div>
  </div>
  <div data-ng-if="view.loaded">
    <div data-ng-if="view.valid && view.authorized">
      <div class="box-row canvas-wrapper {[{ canvas.fullscreen ? 'fullscreen' : '' }]}" id="{[{ 'wrapper-' + canvas.identifier }]}">

        <!-- Information -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="box flattened information">
            <div class="avatar">
             <img data-ng-src="https://static.grappbox.com/app/user/{[{ whiteboard.creator.id }]}" data-ng-error="../resources/img/app/default-avatar.min.png" height="48" width="48" alt="{[{ whiteboard.user.firstname }]} {[{ whiteboard.creator.lastname }]}">
            </div>
            <ul>
              <li class="title"><strong>{[{ whiteboard.name }]}</strong></li>
              <li class="author">{[{ whiteboard.creator.firstname }]} {[{ whiteboard.creator.lastname }]}</li>
              <li class="date"><span>{[{ whiteboard.date }]}</span></li>
            </ul>
            <div class="submit">
              <a href="" class="btn btn-rounded red-hover red-focus red-background white-background-hover" title="Delete this whiteboard" data-ng-if="whiteboard.creator.id == user.id" data-ng-click="whiteboard.delete()"><i class="material-icons" aria-hidden="true">delete</i></a>
              <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]}" title="Exit fullscreen mode" data-ng-if="canvas.fullscreen" data-ng-click="canvas.toggle(false)"><i class="material-icons" aria-hidden="true">fullscreen_exit</i></a>
              <a href="" class="btn btn-rounded {[{ ::path.colors[path.current] + '-hover' }]} {[{ ::path.colors[path.current] + '-focus' }]} {[{ ::path.colors[path.current] + '-background' }]}" title="Enter fullscreen mode" data-ng-if="!canvas.fullscreen" data-ng-click="canvas.toggle(true)"><i class="material-icons" aria-hidden="true">fullscreen</i></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Canvas -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-center">
          <div class="box canvas {[{ tool.selected.name ? 'edit' : '' }]}" data-ng-attr-drag-scroll="!tool.selected.name">
            <canvas id="{[{ 'canvas-' + canvas.identifier }]}" height="2160px" width="4096px"></canvas>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Toolbox -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="box toolbox">

            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 no-padding text-center">
              <label title="Pencil (free-hand)" for="pencil" class="btn btn-rounded small tool {[{ tool.selected.name == 'pencil' ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">mode_edit</i>
                <input type="radio" data-ng-model="tool.selected.name" id="pencil" value="pencil">
              </label>
              <label title="Line" for="line" class="btn btn-rounded small tool {[{ tool.selected.name == 'line' ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">remove</i>
                <input type="radio" data-ng-model="tool.selected.name" id="line" value="line">
              </label>
              <label title="Rectangle and square" for="rectangle" class="btn btn-rounded small tool {[{ tool.selected.name == 'rectangle' ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">crop_square</i>
                <input type="radio" data-ng-model="tool.selected.name" id="rectangle" value="rectangle">
              </label>
              <label title="Diamond" for="diamond" class="btn btn-rounded small tool {[{ tool.selected.name == 'diamond' ? 'white-background gray-color' : '' }]}">
                <i class="material-icons diamond" aria-hidden="true">crop_square</i>
                <input type="radio" data-ng-model="tool.selected.name" id="diamond" value="diamond">
              </label>
              <label title="Ellipse and circle" for="ellipse" class="btn btn-rounded small tool {[{ tool.selected.name == 'ellipse' ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">radio_button_unchecked</i>
                <input type="radio" data-ng-model="tool.selected.name" id="ellipse" value="ellipse">
              </label>
              <label title="Eraser" for="eraser" class="btn btn-rounded small tool {[{ tool.selected.name == 'eraser' ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">delete</i>
                <input type="radio" data-ng-model="tool.selected.name" id="eraser" value="eraser">
              </label>
              <label title="Text mode (to use with input below)" for="text" class="btn btn-rounded small tool {[{ tool.selected.name == 'text' ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">font_download</i>
                <input type="radio" data-ng-model="tool.selected.name" id="text" value="text">
              </label>
              <label title="Italic" for="italic" class="btn btn-rounded small tool {[{ tool.selected.text.italic ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">format_italic</i>
                <input type="checkbox" data-ng-model="tool.selected.text.italic" id="italic" value="italic">
              </label>
              <label title="Bold" for="bold" class="btn btn-rounded small tool {[{ tool.selected.text.bold ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">format_bold</i>
                <input type="checkbox" data-ng-model="tool.selected.text.bold" id="bold" value="bold">
              </label>
              <label title="Hand tool" for="reset" class="btn btn-rounded small tool {[{ !tool.selected.name ? 'white-background gray-color' : '' }]}">
                <i class="material-icons" aria-hidden="true">open_with</i>
                <input type=radio data-ng-click="tool.reset()" id="reset" value="reset">
              </label>
            </div>

            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 no-padding text-center">
              <label title="Draw color" for="color" class="tool tool-select col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <i class="material-icons white-color col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding" aria-hidden="true">color_lens</i>
                <select id="color" data-ng-model="tool.selected.shape.color" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                  <option data-ng-repeat="color in tool.colors" data-ng-style="{[{ color.style }]}" value="{[{ color.value }]}">{[{ ::color.name }]}</option>
                </select>
              </label>

              <label title="Fill color" for="background" class="tool tool-select col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <i class="material-icons white-color col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding" aria-hidden="true">format_color_fill</i>
                <select id="background" data-ng-model="tool.selected.shape.background" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                  <option data-ng-repeat="color in tool.colors" data-ng-style="{[{ color.style }]}" value="{[{ color.value }]}">{[{ ::color.name }]}</option>
                </select>
              </label>
              <label title="Thickness" for="thickness" class="tool tool-select col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <i class="material-icons white-color col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding" aria-hidden="true">format_line_spacing</i>
                <select id="thickness" data-ng-options="thickness.label for thickness in tool.thicknesses track by thickness.value" data-ng-model="tool.selected.shape.thickness" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding"></select>
              </label>
              <label title="Font size" for="size" class="tool tool-select col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <i class="material-icons white-color col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding" aria-hidden="true">format_size</i>
                <select id="size" data-ng-options="size.label for size in tool.sizes track by size.value" data-ng-model="tool.selected.text.size" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding"></select>
              </label>
              <div class="clearfix"></div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <input type="text" data-ng-model="tool.selected.text.value" placeholder="Text to draw" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tool tool-select tool-select-alt">
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div data-ng-if="!view.valid">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">error</i>Something is wrong with GrappBox.<br><span>Please try again.</span></p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div data-ng-if="!view.authorized">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="box error">
              <p><i class="material-icons" aria-hidden="true">block</i>You don't have access to this section.<br>Please contact your project manager for more.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Whiteboard deletion -->
<script type="text/ng-template" id="whiteboardDeletion.html">
  <div class="modal-header">
    <button type="button" class="close gray-hover" aria-hidden="true" data-ng-click="whiteboardDeletionCancelled()">×</button>
    <h4 class="modal-title">Whiteboard deletion</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this whiteboard?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn gray-color gray-background-hover white-hover" data-ng-click="whiteboardDeletionCancelled()">Cancel</button>
    <button type="button" class="btn {[{ ::path.colors[path.current] + '-color' }]} {[{ ::path.colors[path.current] + '-background-hover' }]} white-hover" data-ng-click="whiteboardDeletionConfirmed()">Delete</button>
  </div>
</script>