/*!
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of the GRAPPBOX source code package.
 * COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
*/

/* ==================== Theme images path fix ==================== */

.intro-header { background: url(../images/macbook-and-camera_desk-situation.min.jpg) center center no-repeat; background-size: cover; }
.contact-banner { background: none; }


/* ==================== General layout ==================== */

html, body { height: 100%; margin: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transition: width 1s ease-in-out, left 1.5s ease-in-out; }
html, body, section, footer, h1, p, span, a { font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: normal; color: #212121; }
h2, h3, h4 { font-family: 'Oswald', Helvetica, Arial, sans-serif; font-weight: 400; line-height: initial; letter-spacing: -1px; color: #616161; }

footer { background-color: #212121; }
section { box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

::selection { color: #f5f5f5; background-color: #ff5722; }

a:active, a:focus, a:hover { text-decoration: none; color: #ff5722; }

.red { color: #d32f2f; }
.img-round-radius { border-radius: 50%; }
.img-reduced { max-width: 85%; margin: auto; }

.list-inline > li { padding-right: 0; }

.content-section { box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
.content-section-a { background-color: #f5f5f5; }

.lead { font-size: 20px; line-height: 28px; text-align: justify; }
.text-center { text-align: center!important; }


/* ==================== General laytout (sections) ==================== */

.section-heading { font-size: 40px; margin: 0 0 20px 0; }

section:nth-of-type(1) { margin-bottom: -5px; }

@media (max-width: 767px) {
	section:nth-of-type(1) { min-height: 90vh; }
	section:nth-of-type(2) { margin-top: 80px; }
}

@media (min-width: 768px) {
	section:nth-of-type(1) { min-height: 94vh; }
	section:nth-of-type(2) { margin-top: 60px; }
}


/* ==================== General layout (error and secondary pages) ==================== */

#error-header { min-height: 50vh!important; }
#error-header .intro-message { padding: 5% 0; }
#error-content .content-section { min-height: 70vh; }


/* ==================== Navigation ==================== */

.navbar-toggle { border-radius: 0; }

nav { position: absolute; bottom: 0; width: 100%; }

.navbar-default { z-index: 1; border-width: 0; border-radius: 0; background-color: #f5f5f5; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
.navbar-default.fixed { position: fixed; z-index: 1; top: 0; }

.navbar-default .navbar-nav { float: none!important; margin: 0!important; text-align: center; }
.navbar-default .navbar-nav > li { float: none; }
.navbar-default .navbar-nav > li > a { overflow: visible; padding: 15px 30px 15px 25px; }

.navbar-default .navbar-nav > li > a i { padding: 0 10px 0 0; }
.navbar-default .navbar-nav > li > a.app-login i { padding: 0 10px 0 0; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus { font-size: 18px; font-weight: 400; line-height: 1.4; color: #212121; }

.navbar-default .navbar-nav > li > a.hvr-underline-from-center:before { bottom: -5px; height: 5px; transition-duration: .2s; background: #ff5722; }
.navbar-default .navbar-nav > li > a.hvr-underline-from-center:focus:before { background: none; }

.navbar-default .navbar-nav > li > a.app-login { padding: 15px 30px 20px 25px; color: #f5f5f5; border: none!important; background-color: #d32f2f!important; }
.navbar-default .navbar-nav > li > a.app-login:active { border: none; }
.navbar-default .navbar-nav > li > a.app-login:before { transition-duration: .2s; background-color: #ff5722; }

@media (max-width: 767px) {
	.navbar-default { height: 80px; margin: 0 0 -80px 0; }
	.navbar-default.fixed { height: 80px; }
	.navbar-default .navbar-header { box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
	.navbar-default .navbar-toggle { display: block; float: none; width: 90%; margin: 10px auto; padding: 20px 45%; border: 1px solid #bdbdbd; background: #f5f5f5; }

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus { background: #757575; }

	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar { background-color: #f5f5f5; }

	.navbar-default .navbar-toggle .icon-bar { background: #212121; }
	.navbar-default .navbar-nav > li { display: block; }
	.navbar-default .navbar-nav li:last-child { padding-bottom: 20px; }
	.navbar-default .navbar-collapse { margin: 3px -15px 3px -15px; border-top: none; border-bottom: 1px solid #bdbdbd; background: #f5f5f5; }

	.navbar-default .navbar-nav > li > a.nav-active { color: #f5f5f5; border-bottom: none!important; background: #d32f2f; }

	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a.nav-active:hover { color: #f5f5f5; border-bottom: none!important; background: #; }

	.navbar-default .navbar-nav > li > a.hvr-underline-from-center:before { height: 0; transition-duration: 0s; }
	.navbar-default .navbar-nav > li > a.hvr-underline-from-center:focus:before { background: none; }
}

@media (min-width: 768px) {
	.navbar-default { margin: 0 0 -60px 0; }
	.navbar-default.fixed { height: 60px; }

	.navbar-default .navbar-nav > li { display: inline-block; }
	.navbar-default .navbar-nav > li > a:active,
	.navbar-default .navbar-nav > li > a.nav-active { border-bottom: 5px solid #d32f2f; }
}


/* ==================== Footer ==================== */

footer { padding: 40px 0 35px 0; background: #212121; }

footer .content-footer .copyright { margin: 5px 0 0 15px; }

footer .content-footer .copyright,
footer .content-footer .copyright a { font-size: 18px; line-height: inherit; color: #bdbdbd; }

footer .content-footer .copyright a { font-weight: 700; }

footer .content-footer .copyright a:active,
footer .content-footer .copyright a:focus,
footer .content-footer .copyright a:hover { text-decoration: none; color: #ff5722; }

@media (min-width: 768px) and (max-width: 1199px) {
	.content-footer .copyright { text-align: center; }
}


/* ==================== Section: logo and motto ==================== */

.intro-header { box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }
.intro-message { padding: 14% 0 4% 0; }
.intro-social-buttons { padding: 0 0 15% 0; }
.intro-message h1 { margin: 10px 0; padding: 15px 0 0 0; }

.intro-message h1,
.intro-message h1 span { font-weight: 300; letter-spacing: -10px; text-transform: uppercase; text-shadow: none; }

.intro-message h1,
.intro-message h2 { color: #f5f5f5; background-color: rgba(33,33,33,.8); box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

.intro-message h2 { margin: 10px 0; padding: 20px 0 15px 0; text-shadow: none; }

@media (max-width: 767px) {
	.intro-message h1,
	.intro-message h1 span { font-size: 130px; font-size: 18vw; letter-spacing: -5px; }
}

@media (min-width: 768px)  and (max-width: 1199px) {
	.intro-message h1,
	.intro-message h1 span { font-size: 150px; font-size: 15vw; }
}

@media (min-width: 1200px) {
	.intro-message h1,
	.intro-message h1 span { font-size: 190px; font-size: 10vw; }
}

.intro-message h2 { font-size: 44px; margin: 0; }


/* ==================== Section: login and register ==================== */

.login-heading { padding: 10px 0; color: #f5f5f5; background-color: #6db33f; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

.account-action-buttons { display: block; padding: 20px 0 15px 0;  text-align: center; }
.account-action-buttons .btn-account-action {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	padding: 15px 70px;
	border: 2px solid;
	background: none;
	box-shadow: 0 2px 2px rgba(33, 33, 33, .35);
}

.account-action-buttons .btn-account-action i { padding-right: 10px; }
.account-action-buttons .btn-login { border-color: #d32f2f; }
.account-action-buttons .btn-register { border-color: #ff5722; }

.account-action-buttons .btn-login:active,
.account-action-buttons .btn-login:hover,
.account-action-buttons .btn-login:focus { color: #f5f5f5; border: 2px solid #d32f2f; background-color: #d32f2f; }

.account-action-buttons .btn-register:active,
.account-action-buttons .btn-register:hover,
.account-action-buttons .btn-register:focus { color: #f5f5f5; border: 2px solid #ff5722; background-color: #ff5722; }

@media (max-width: 767px) {
	.account-action-buttons .btn-account-action { margin-top: 50px; }
	.account-action-buttons .btn-register { padding: 15px 90px; }
	.account-action-buttons .btn-login { padding: 15px 100px; }

	.intro-message h2,
	.section-heading,
	.contact-banner h3 { text-align: center; }

	.section-heading { padding: 0 10px; }
	.login-heading { padding: 10px 0; }
}


/* ==================== Section: contact ==================== */

@media (max-width: 1199px) {
	.banner-social-buttons { margin: 30px 5px 0 0!important; }
}

.btn-lg { border: none; border-radius: 0; }
.btn-social-round { font-size: 25px; padding: 10px; color: #f5f5f5; border-radius: 50%; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

.btn-social-round.btn-twitter { border: 2px solid #3cf; background-color: #3cf; }
.btn-social-round.btn-facebook { border: 2px solid #3b5998; background-color: #3b5998; }
.btn-social-round.btn-google-plus { border: 2px solid #dd4b39; background-color: #dd4b39; }
.btn-social-round.btn-mail { border: 2px solid #6db33f; background-color: #6db33f; }

.btn-social-round.btn-twitter:active,
.btn-social-round.btn-twitter:hover { color: #3cf; border: 2px solid #3cf; }

.btn-social-round.btn-facebook:active,
.btn-social-round.btn-facebook:hover { color: #3b5998; border: 2px solid #3b5998; }

.btn-social-round.btn-google-plus:active,
.btn-social-round.btn-google-plus:hover { color: #dd4b39; border: 2px solid #dd4b39; }

.btn-social-round.btn-mail:active,
.btn-social-round.btn-mail:hover { color: #6db33f; border: 2px solid #6db33f; }

.btn-social-round.btn-twitter.hvr-radial-out:before { color: #3cf; background-color: #f5f5f5; }
.btn-social-round.btn-facebook.hvr-radial-out:before { color: #3b5998; background-color: #f5f5f5; }
.btn-social-round.btn-google-plus.hvr-radial-out:before { color: #dd4b39; background-color: #f5f5f5; }
.btn-social-round.btn-mail.hvr-radial-out:before { color: #6db33f; background-color: #f5f5f5; }

.btn-social-round.btn-twitter:focus { color: #3cf; }
.btn-social-round.btn-facebook:focus { color: #3b5998; }
.btn-social-round.btn-google-plus:focus { color: #dd4b39; }
.btn-social-round.btn-mail:focus { color: #6db33f; }

.contact-banner { padding: 0; }
.contact-banner h3 { font-size: 44px; margin: 0; }
.contact-banner .bannder-social-buttons { margin: 5px 0 0 0; }

.contact-banner .banner-social-buttons .network-name { font-size: 18px; font-weight: 400; padding: 0 30px 0 5px;  letter-spacing: normal; text-transform: none; }
.contact-background { min-height: 320px; background: url(../images/color-tesselation_blue-to-red.min.png) center center no-repeat; background-size: cover; }

@media (min-width: 768px) and (max-width: 991px) {
	.contact-banner .banner-social-buttons li { padding-top: 20px; }
	.contact-banner h3 { margin-bottom: 10px; }
}


/* ==================== Login modal (home page) ==================== */

#app-modal .modal-title,
#app-modal .modal-title span { font-size: 40px; font-weight: lighter; }

#app-modal .modal-body,
#app-modal .modal-footer { padding: 0 15px 15px 15px; }

#app-modal .modal-dialog { margin-top: 15%; }
#app-modal .modal-content { border-radius: 0; }

#app-modal .modal-body input { font-size: 16px; margin: 10px 0; padding: 20px 15px; color: #212121; border-radius: 0; }
#app-modal .modal-footer { border: none; }

#app-modal .modal-footer .btn-cancel,
#app-modal .modal-footer .btn-login { font-size: 20px; font-weight: 400; padding: 15px 70px; border: 2px solid; background: none; box-shadow: 0 2px 2px rgba(33, 33, 33, .35); }

#app-modal .modal-footer .btn-lg-account i { padding-right: 10px; }
#app-modal .modal-footer .btn-cancel { color: #212121; border-color: #03a9f4; }
#app-modal .modal-footer .btn-login { color: #212121; border-color: #009688; }

#app-modal .modal-footer .btn-cancel:active,
#app-modal .modal-footer .btn-cancel:focus,
#app-modal .modal-footer .btn-cancel:hover { color: #f5f5f5; background: #03a9f4; }

#app-modal .modal-footer .btn-login:active,
#app-modal .modal-footer .btn-login:focus,
#app-modal .modal-footer .btn-login:hover { color: #f5f5f5; background: #009688; }

@media (max-width: 767px) {
	#app-modal .modal-footer .btn-cancel { margin-bottom: 20px; }
}

@media (min-width: 768px) {
	#app-modal .modal-footer a { float: right; width: 49%; }
	#app-modal .modal-footer .btn-cancel { float: left; width: 49%; }
}
