/*!
 * Theme images path fix.
 */

.intro-header { background: url(../images/macbook-and-camera_desk-situation.jpg) center center no-repeat; background-size:cover; }
.banner{ background: url(../images/banner-bg.jpg) center center no-repeat; background-size:cover; }

/*!
 * Theme overload and custom modifications
 */

@font-face { font-family: 'Code Light'; src: url(../fonts/code-light.otf); }
@font-face { font-family: 'Code Bold'; src: url(../fonts/code-bold.otf); }

html, body, h1, h2, h3, h4, div, section, p, span { font-family: 'Roboto' sans-serif; font-weight: normal; color: #333; }

footer { background-color: #34302D; }

.red { color: #C0392B; }

.navbar-fixed-top { border-width: 0; background-color: #FFF; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }

.navbar-default .navbar-brand, .navbar-default .navbar-brand span { font-family: 'Code Light' sans-serif; font-size: 28px; font-weight: bold; }
.navbar-default .navbar-brand { color: #333; }

.navbar-default .navbar-brand:focus { border: 1px solid #333; background-color: inherit; }
.navbar-default .navbar-brand:hover { color: #E7E7E7; }
.navbar-default .navbar-brand.hvr-rectangle-out { background-color: inherit; }
.navbar-default .navbar-brand.hvr-rectangle-out:before { background-color: #333; color: #C0392B; transition-duration: 0.2s; }

.intro-message { padding: 15% 0; }
.intro-message h1 { padding: 15px 0 0 0; }
.intro-message h1, .intro-message h1 span { font-family: 'Code Light' sans-serif; font-size: 160px; font-weight: bold; text-shadow: none; letter-spacing: 10px; }
.intro-message h1, .intro-message h3 { color: #FFF; background-color: rgba(51,51,51,0.9); }
.intro-message h3 { padding: 15px 0; font-weight: lighter; }

.intro-divider { border: 1px solid #E7E7E7; }

.btn-lg { border: none; border-radius: 0; }
.btn-social { background-color: rgba(51,51,51,0.9);; border: 1px solid #FFF; }
.btn-social span { text-transform: none; font-size: 18px; letter-spacing: inherit; }

.btn-social span, .btn-social i { color: #FFF; font-weight: lighter; }
.btn-social:active, .btn-social:hover, .btn-social:focus { background-color: inherit; border-color: #FFF; }
.btn-social i { padding-right: 10px; }

.btn-social.hvr-rectangle-out:before { transition-duration: 0.2s; }
.btn-social.btn-twitter.hvr-rectangle-out:before { background-color: #3CF; }
.btn-social.btn-facebook.hvr-rectangle-out:before { background-color: #3B5998; }
.btn-social.btn-mail.hvr-rectangle-out:before { background-color: #E87E04; }

.banner { background: #6DB33F; padding: 40px 0; }
.banner h2 { color: #FFF; text-shadow: none; }

.content-section-a { background-color: #F7F7F7; }