/*
* This file is subject to the terms and conditions defined in
* file "LICENSE.txt", which is part of the GRAPPBOX source code package.
* COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
*/

/* =========================================================== */
/* ==================== ANGULAR PRELOADER ==================== */
/* =========================================================== */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak { display: none!important; }



/* =================================================== */
/* ==================== BOOTSTRAP ==================== */
/* =================================================== */

.container-fluid { padding: 0 20px; }

@media (min-width: 1400px) and (max-width: 1500px) {
  .container { width: 1350px; }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  .container { width: 1450px; }
}

@media (min-width: 1600px) and (max-width: 1700px) {
  .container { width: 1550px; }
  .open .container { width: 1250px; }
}

@media (min-width: 1700px) and (max-width: 1800px) {
  .container { width: 1650px; }
  .open .container { width: 1350px; }
}

@media (min-width: 1800px) and (max-width: 1850px) {
  .container { width: 1750px; }
  .open .container { width: 1450px; }
}

@media (min-width: 1850px) {
  .container { width: 1750px; }
  .open .container { width: 1550px; }
}



/* ======================================================== */
/* ==================== GENERAL LAYOUT ==================== */
/* ======================================================== */

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: #212121;
  background: #eee;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  text-rendering: optimizeLegibility!important;
  font-feature-settings: "liga"!important;
}

h1 { font-weight: 700; }
h1.large { font-size: 145px; }

h2 { font-weight: 600; line-height: 20px; margin: 0; text-transform: uppercase; color: #212121; }
h3, h4 { font-weight: 500; color: #757575; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

b,
strong { font-weight: 900; }
p { font-size: 14px!important; font-weight: 400!important; }

.box,
.container,
.page,
.navigation-master,
.navigation,
.navigation-master a,
.navigation a,
.slide,
.sidebar,
.sidebar .toggle,
.spinner-overlay,
.ui-notification,
.well,
canvas,
label,
svg {
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

i.rounded { padding: 10px; background: #fff; color: #fff; border-radius: 50%; box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02); }
ul, ol { padding: 0; list-style: none; }
hr { position: relative; width: 70px; height: 4px; margin: 0 auto; margin-bottom: 30px; text-align: center; border: 0; }
label { font-weight: 400; display: inline; margin: 0; }

.page { width: 100%; margin: 90px 0 60px 0; min-height: calc(100vh - 150px); }
.page-header { margin: -30px -120px 20px -120px; padding: 30px 120px; border: 0; }
.page-header .title { margin-top: 10px; color: #fff; }
.page-header:not(.master) .title h1 { font-size: 28px; margin-top: 10px; }
.page-header.master { margin-bottom: 60px; }
.page-header.master img { max-height: 160px; width: auto; }
.page-header img { max-height: 120px; width: auto; }
.page-header img.large { max-height: 150px; width: auto; }
.page-header .btn-raised { background: #fff; }
.page-header .btn-raised:focus,
.page-header .btn-raised:hover { background: #eee!important; }

.construction { color: #fff; }
.construction.construction-center { margin: 33vh -120px 0 -120px; }
.construction p { margin: 0; font-weight: 500!important; }
.construction i { vertical-align: middle; margin-right: 10px; }

@media (max-width: 768px) {
  .construction.construction-center { margin: 20vh -120px 0 -120px; }
  .page { margin: 150px 0 60px 0; min-height: calc(100vh - 210px); }
}

@media (max-width: 992px) {
  .page-header .title { margin-top: 5px; }
  .page-header .title { text-align: center; margin-top: 10px; }
}

.ellipsis { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 5; -webkit-box-orient: vertical; }
.view.load { opacity: .25; }
.no-margin { margin: 0!important; }
.no-padding { padding: 0!important; }
.no-shadow { box-shadow: none!important; }



/* ================================================ */
/* ==================== COLORS ==================== */
/* ================================================ */

a { color: #212121; }
a:focus,
a:hover { text-decoration: none; color: #4bf; }

::-webkit-selection { color: #fafafa; background: #4bf; }
::-moz-selection { color: #fafafa; background: #4bf; }
::-o-selection { color: #fafafa; background: #4bf; }
::-ms-selection { color: #fafafa; background: #4bf; }
::selection { color: #fafafa; background: #4bf; }

.gray-color { color: #757575!important; }
.red-color { color: #fc575e!important; }
.yellow-color { color: #f1c40f!important; }
.green-color { color: #27ae60!important; }
.orange-color { color: #ff9f55!important; }
.purple-color { color: #9e58dc!important; }
.blue-color { color: #4bf!important; }
.default-color { color: #fc575e!important; }

.gray-color { color: #757575!important; }
.red-border { border-color: #fc575e!important; }
.yellow-border { border-color: #f1c40f!important; }
.green-border { border-color: #27ae60!important; }
.orange-border { border-color: #ff9f55!important; }
.purple-border { border-color: #9e58dc!important; }
.blue-border { border-color: #4bf!important; }
.default-border { border-color: #fc575e!important; }

.gray-hover:focus,
.gray-hover:hover { color: #757575!important; }
.red-hover:focus,
.red-hover:hover { color: #fc575e!important; }
.yellow-hover:focus,
.yellow-hover:hover { color: #f1c40f!important; }
.green-hover:focus,
.green-hover:hover { color: #27ae60!important; }
.orange-hover:focus,
.orange-hover:hover { color: #ff9f55!important; }
.purple-hover:focus,
.purple-hover:hover { color: #9e58dc!important; }
.blue-hover:focus,
.blue-hover:hover { color: #4bf!important; }
.default-hover:focus,
.default-hover:hover { color: #fc575e!important; }

.gray-background-hover:hover { background: #757575!important; }
.red-background-hover:hover { background: #fc575e!important; }
.yellow-background-hover:hover { background: #f1c40f!important; }
.green-background-hover:hover { background: #27ae60!important; }
.orange-background-hover:hover { background: #ff9f55!important; }
.purple-background-hover:hover { background: #9e58dc!important; }
.blue-background-hover:hover { background: #4bf!important; }
.default-background-hover:hover { background: #fc575e!important; }

.gray-background { background: #757575!important; }
.red-background { background: #fc575e!important; }
.yellow-background { background: #f1c40f!important; }
.green-background { background: #27ae60!important; }
.orange-background { background: #ff9f55!important; }
.purple-background { background: #9e58dc!important; }
.blue-background { background: #4bf!important; }
.default-background { background: #fc575e!important; }

.gray-stripes { background: repeating-linear-gradient(-45deg, #757575, #757575 10px, rgba(117,117,117,0.70) 10px, rgba(117,117,117,0.70) 20px); }
.red-stripes { background: repeating-linear-gradient(-45deg, #fc575e, #fc575e 10px, rgba(252,87,94,0.70) 10px, rgba(252,87,94,0.70) 20px); }
.yellow-stripes { background: repeating-linear-gradient(-45deg, #f1c40f, #f1c40f 10px, rgba(241,196,15,0.70) 10px, rgba(241,196,15,0.70) 20px); }
.green-stripes { background: repeating-linear-gradient(-45deg, #27ae60, #27ae60 10px, rgba(39,174,96,0.70) 10px, rgba(39,174,96,0.70) 20px); }
.orange-stripes { background: repeating-linear-gradient(-45deg, #ff9f55, #ff9f55 10px, rgba(255,159,85,0.70) 10px, rgba(255,159,85,0.70) 20px); }
.purple-stripes { background: repeating-linear-gradient(-45deg, #9e58dc, #9e58dc 10px, rgba(158,88,220,0.70) 10px, rgba(158,88,220,0.70) 20px); }
.blue-stripes { background: repeating-linear-gradient(-45deg, #4bf, #4bf 10px, rgba(68,187,255,0.70) 10px, rgba(68,187,255,0.70) 20px); }
.default-stripes { background: repeating-linear-gradient(-45deg, #fc575e, #fc575e 10px, rgba(252,87,94,0.70) 10px, rgba(252,87,94,0.70) 20px); }



/* ==================================================== */
/* ==================== NAVIGATION ==================== */
/* ==================================================== */

.navigation-master { position: fixed; z-index: 101010; top: 0; width: 100%; height: 60px; background: #fafafa; }
.navigation-master a { font-weight: 500; padding: 13px 0; }
.navigation-master img { margin: 0 10px 0 0; }
.navigation-master .navigation-right a { padding: 10px; margin: 8px 5px; border-radius: 50%; }
.navigation-master .navigation-right a:hover { color: #fafafa!important; box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02); }

.navigation-master .dropdown-menu { left: auto; right: 0; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); background: #fafafa; top: 10px; z-index: 1010; border-radius: 0; margin: 0; padding: 0; }
.navigation-master .dropdown-menu a { text-align: left; text-transform: none; padding: 15px 45px 15px 25px; margin: 1px; border-radius: 0; transition: none; }
.navigation-master .dropdown-menu a:hover { background: #616161!important; color: #eee; }
.navigation-master .dropdown-menu a i { margin: 0 30px 0 0; font-size: 20px; }
.navigation-master .dropdown-toggle { padding: 10px; border-radius: 50%; margin: 8px 5px; }
.navigation-master .dropdown-toggle:hover { color: #fafafa!important; }

.navigation { position: fixed; z-index: 1010; top: 60px; width: 100%; height: 60px; background: #fafafa; color: #eee; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.navigation-master a,
.navigation-master p,
.navigation a,
.navigation p { display: inline-block; }
.navigation-right { text-align: right; }
.navigation-left p { padding: 10px 0; margin: 10px 0; color: #212121; font-weight: 500!important; }
.navigation-left .toggle { text-transform: none; font-weight: 400; border: none; padding: 10px; margin: 0 12px 0 2px; border-radius: 50%; color: #fafafa; }
.navigation-left .toggle:hover { color: #fafafa; box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02); }
.navigation-master .navigation-left .toggle:hover { color: #fafafa!important; }

.sidebar { position: fixed; z-index: 101010; top: 0; overflow-x: auto; height: 100%; height: 100vh; margin: 0; padding: 0; background: #424242; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
.sidebar.open { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.sidebar .sidebar-header { width: 100%; height: 120px; margin: 0 0 10px 0; }
.sidebar .sidebar-header img { border-radius: 50%; margin-top: 10px; box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02); width: 58px; height: auto; }
.sidebar .sidebar-header p { color: #fff; margin-top: 10px; }
.sidebar .sidebar-content ul { margin: 0; padding: 0; list-style: none; }
.sidebar .sidebar-content ul a:hover { background: #616161!important; }
.sidebar .sidebar-content ul a { width: 100%; text-align: left; text-transform: none; color: #eee; margin: 1px 0; padding: 15px 25px; border-radius: 0; transition: none!important; font-weight: 400!important; }
.sidebar .toggle { float: right; padding: 10px; margin: 10px 20px; text-align: center; border-radius: 50%; background: #fafafa; }
.sidebar .toggle:hover { box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02); color: #fafafa!important; }

.navigation-master .dropdown-menu a.active,
.sidebar .sidebar-content ul a.active { background: #313131!important; color: #fff; }

@media (max-width: 768px) {
  .navigation-master img { margin: 0px 15px 0px 5px; }
  .navigation .toggle { color: #fafafa; }
  .navigation .toggle:hover { background: #fafafa!important; }
  .navigation p { color: #fafafa; }
}

@media (min-width: 768px) {
  .navigation-master .brand { text-align: center; }
}

@media (max-width: 1600px) {
  .sidebar { width: 300px; -webkit-transform: translate3d(-300px, 0, 0); -moz-transform: translate3d(-300px, 0, 0); -o-transform: translate3d(-300px, 0, 0); -ms-transform: translate3d(-300px, 0, 0); transform: translate3d(-300px, 0, 0); }
  .sidebar .sidebar-header { background: #616161; }
  .sidebar .sidebar-header .profile { margin-left: 25px; }
  .sidebar .sidebar-content ul a i { margin: 0 30px 0 0; }

  .navigation-master { box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02); }
}

@media (min-width: 1601px) {
  .sidebar { width: 200px; -webkit-transform: translate3d(-200px, 0, 0); -moz-transform: translate3d(-200px, 0, 0); -o-transform: translate3d(-200px, 0, 0); -ms-transform: translate3d(-200px, 0, 0); transform: translate3d(-200px, 0, 0); }
  .sidebar .sidebar-header .profile { text-align: center; }
  .sidebar .sidebar-content ul a i { margin: 0 20px 0 0; font-size: 20px; }
  .sidebar .toggle { display: none; }

  .navigation-master { box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .navigation-master.open,
  .navigation.open,
  .page.open { width: calc(100% - 200px); margin-left: 200px; }
}



/* ======================================================= */
/* ==================== NOTIFICATIONS ==================== */
/* ======================================================= */

.alert { margin: 30px 15px 0 15px; border-radius: 0; }

.ui-notification:hover { background: #555!important; }
.ui-notification > .message { overflow: hidden!important; text-overflow: ellipsis; }
.ui-notification > .message i { position: absolute; top: 25%; right: 4%; }
.ui-notification { background: #212121!important; color: #eee!important; width: 30%!important; box-shadow: none!important; bottom: 0!important; padding: 5px 10px; }



/* =============================================== */
/* ==================== BOXES ==================== */
/* =============================================== */

.box { background: #fff; padding: 10px; margin: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.15),0 -1px 0 rgba(0,0,0,.02); }
.box-row { margin: 0 -5px; }
.box-error { text-align: center; }
.box-header { padding: 10px; margin: 10px 0 0 0; font-size: 16px; font-weight: 400; color: #424242; }
.box p { padding: 10px; margin: 0; }
.box p span { opacity: 0.6; }

label i,
.box i { vertical-align: middle; margin-right: 5px; font-size: 20px; color: #757575; }
.box-header i { vertical-align: middle; margin-right: 10px; font-size: 20px; }
.box .status-icon { position: absolute; top: 32%; right: 4% }
.box .status-icon i { font-size: 28px; }
.box .btn:focus,
.box .btn:hover { color: #fff!important; }
.box .is-fileinput { margin-top: 8px; }
.box .hint { font-size: 12px!important; padding: 0!important; }
.box .hint:not(.error) { margin: -20px 0 3px 0!important; }
.box .submit { padding: 0 15px 15px 15px!important; }
.box form { padding-top: 5px; }

@media (max-width: 768px) {
  .box .submit { text-align: center; }
}

@media (min-width: 768px) {
  .box .submit { text-align: right; }
}



/* ================================================ */
/* ==================== MODALS ==================== */
/* ================================================ */

.modal-open { overflow: hidden; }
.modal-content { border-radius: 0; }
.modal-content .modal-body + .modal-footer { padding: 20px; }
.modal-content .modal-footer button { padding: 8px 30px; }
.modal-title { font-weight: 400; }
.modal-backdrop { background: #000; }
.modal-backdrop.in { opacity: .6; filter: alpha(opacity=60); }
.modal .error { margin: 45px 0 30px 0; }

@media (min-width: 768px) {
  .modal .modal-dialog { margin: 90px auto; }
  .submodal .modal-dialog { margin: 210px auto; }
}



/* ================================================= */
/* ==================== LOADING ==================== */
/* ================================================= */

.spinner { margin: 30px auto 30px auto; }
.spinner .circular { width: 56px; height: 56px; }
.spinner .circular { display: block; margin: 0 auto; -webkit-transform-origin: center center; -moz-transform-origin: center center; -o-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; -webkit-animation: rotate 2s linear infinite; -moz-animation: rotate 2s linear infinite; -o-animation: rotate 2s linear infinite; -ms-animation: rotate 2s linear infinite; animation: rotate 2s linear infinite; }
.spinner .circular .path { -webkit-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite; -moz-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite; -o-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite; -ms-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite; animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite; stroke-dasharray: 1, 200; stroke-dashoffset: 0; stroke-linecap: round; }

.spinner-main { position: absolute; left: 50%; transform: translate(-50%, -50%); z-index: 10101; margin: 230px auto; }
.spinner-main .circular { width: 72px; height: 72px; }

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes color { 100%, 0% { stroke: #fc575e; } }
@-webkit-keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes color { 100%, 0% { stroke: #fc575e; } }
@-moz-keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@-o-keyframes rotate { 100% { -o-transform: rotate(360deg); transform: rotate(360deg); } }
@-o-keyframes color { 100%, 0% { stroke: #fc575e; } }
@-o-keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@-ms-keyframes rotate { 100% { -ms-transform: rotate(360deg); transform: rotate(360deg); } }
@-ms-keyframes color { 100%, 0% { stroke: #fc575e; } }
@-ms-keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@keyframes rotate { 100% { transform: rotate(360deg); } }
@keyframes color { 100%, 0% { stroke: #fc575e; } }
@keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}



/* ====================================================== */
/* ==================== BUTTONS/FORMS =================== */
/* ====================================================== */

.btn.btn-fab.btn-danger,
.btn.btn-raised.btn-danger,
.btn-group-raised .btn.btn-danger,
.btn-group-raised .input-group-btn .btn.btn-danger,
.input-group-btn .btn.btn-raised.btn-danger,
.input-group-btn .btn.btn-fab.btn-danger { background-color: #fc575e; }

.btn-fixed { position: fixed!important; z-index: 998; right: 46px; bottom: 46px; }

.form-group { font-weight: 400; }
.form-group.no-margin { margin: 0!important; }
.form-group label { color: #999; }
.form-group input[type=file] { position: initial; opacity: initial; }
.form-group select { -webkit-appearance: menulist; -moz-appearance: menulist; appearance: normal; }
.form-control { color: #212121; }

.form-group.is-focused:not(.has-error) label,
.form-group.is-focused:not(.has-error) label.control-label { color: #44BBFF; }
.form-group.is-focused .form-control {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#44BBFF), to(#44BBFF)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#44BBFF, #44BBFF), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#44BBFF, #44BBFF), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#44BBFF, #44BBFF), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-control[disabled],
.form-group .form-control[disabled],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control { background: #ccc; padding: 0 10px; }

.label-floating label.disabled { top: -35px!important; }
.hint { text-align: left!important; font-size: 12px; color: #999; }
.hint.error { color: #fc575e; margin-bottom: -17px; }



/* ============================================== */
/* ==================== TABS ==================== */
/* ============================================== */

.tab-wrapper { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.tab-wrapper input[type="radio"][name="tab"] { position: absolute; z-index: -1; visibility: hidden; }
.tab-wrapper input[type="radio"][name="tab"]:checked + .tab-label-content label { color: #212121; }
.tab-wrapper input[type="radio"][name="tab"]:checked + .tab-label-content .tab-content { display: block; }

.tab-wrapper label { font-size: 14px; cursor: pointer; color: #757575; background-color: #fff; box-sizing: border-box; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; height: 65px; width: 100%; }
.slide { height: 4px; position: absolute; left: 0; top: calc(100% - 4px); }

.tab-wrapper .tab-label-content { width: 100%; margin-top: -20px; box-shadow: 0 1px 2px rgba(0,0,0,.15),0 -1px 0 rgba(0,0,0,.02); }
.tab-wrapper .tab-label-content .tab-content { position: absolute; top: 60px; left: 0; display: none; margin-bottom: 40px; }



/* ========================================================== */
/* ==================== DASHBOARD (LIST) ==================== */
/* ========================================================== */

.dashboard-list .box:hover { box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); cursor: pointer; background: #fafafa; }
.dashboard-list .box:hover .title { color: #212121; }
.dashboard-list .box { text-align: left; }
.dashboard-list .box img { border-radius: 50%; float: left; margin: 10px 0 10px 10px; }
.dashboard-list .box .title { font-weight: 500!important; padding: 0 0 10px 0!important; margin: 0 -10px 0 0; }
.dashboard-list .box .preview { float: left; margin: 10px 20px 0 20px; }
.dashboard-list .box .preview p { padding: 0; }
.dashboard-list .box .btn { float: right; margin: 15px 5px 10px 5px; }
.dashboard-list .box .btn:focus,
.dashboard-list .box .btn:hover { color: #fff!important; }

@media (max-width: 405px) {
  .dashboard-list .box img { float: none; display: block; margin: 10px auto; }
}

@media (min-width: 405px) {
  .dashboard-list .box img { margin: 40px 0 0 10px; }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .dashboard-list .box img { float: none; display: block; margin: 10px auto; }  
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .page.open .dashboard-list .box img { float: none; display: block; margin: 10px auto; }
}



/* ================================================== */
/* ==================== TIMELINE ==================== */
/* ================================================== */

.timeline .each-discussion ul { margin-top: 15px; }
.timeline .each-discussion .avatar { float: left; padding: 20px; }
.timeline .each-discussion .avatar img { border-radius: 50%; }

.timeline .tab-wrapper .tab-label-content:nth-of-type(1) { margin-left: -150px; }
.timeline .tab-wrapper .tab-label-content:nth-of-type(2) { margin-right: -150px; }
.timeline input[type="radio"][name="tab"]:nth-of-type(1):checked ~ .slide { left: calc((100% / 2) * 0); }
.timeline input[type="radio"][name="tab"]:nth-of-type(2):checked ~ .slide { left: calc((100% / 2) * 1); }
.timeline input[type="radio"][name="tab"]:first-of-type:checked ~ .slide { left: 0; }
.timeline .slide { width: calc(100% / 2); }



/* ================================================= */
/* ==================== PROFILE ==================== */
/* ================================================= */

.profile .box p { padding: 10px 0; }



/* ==================================================== */
/* ==================== STATISTICS ==================== */
/* ==================================================== */

.statistics .box .ltr,
.statistics .box svg,
.statistics .box svg rect { width: 100%!important; height: auto!important; }






/* ============================================================ */
/* ==================== IN CONSTRUCTION ======================= */
/* ============================================================ */

/* =============================================== */
/* ==================== WELLS ==================== */
/* =============================================== */

.panel,
.well { box-shadow: none!important; }
.panel { margin-bottom: 5px; }

.well-full { min-height: 100vh; }

@media (max-width: 992px) {
  .well { margin-bottom: 5px!important; }
}

@media (min-width: 992px) {
  .well { margin: 5px!important; }
  .well.well-first { margin-left: 0!important; }
  .well.well-last { margin-right: 0!important; }
}

.well.error { margin: 30px 0 45px 0; text-align: center; }
.well .submit { text-align: right; }

.well i { vertical-align: middle; margin-right: 10px; }

.panel p { margin: 0; }
.panel-link { text-align: right; }

.well p,
.jumbotron p { text-align: center; }

.well .nav.nav-tabs { margin: -20px -19px 30px -19px; border: 0; background: #bdbdbd; }
.well .nav.nav-tabs > li.active > a { padding: 18px; color: #fc575e!important; border: 0!important; border-top: solid 4px #fc575e!important; border-radius: 0; background: #fff!important; }
.well .nav.nav-tabs > li.active > a.soft { background: #fafafa!important; }
.well .nav.nav-tabs > li > a { font-weight: 400; padding: 22px 18px 18px 18px; text-align: center; }
.well .nav.nav-tabs > li > a > i { margin: 0 15px 0 0; }
.well .nav.nav-tabs > li { margin: 0; }
.well .tab-content > .active { position: relative; display: table; width: 100%; }
.well-soft { background: #fafafa!important; }

.well .btn { float: right; }
.well .btn.btn-default { color: #44BBFF!important; }
.well .btn.btn-default:hover { color: #fafafa!important; background: #44BBFF!important; text-decoration: none; }

.well .btn.btn-danger { color: #fc575e!important; }
.well .btn.btn-danger:hover { color: #fafafa!important; background: #fc575e!important; text-decoration: none; }

/* ========================================================== */
/* ==================== SECTION: PROJECT ==================== */
/* ========================================================== */

#project-edition table .form-group { margin: 5px 1px; }
#project-edition table th { font-weight: 500; }
#project-edition table th, #project-edition table td { text-align: center; vertical-align: middle; }
#project-edition h4 { font-weight: 400; margin: 30px 0 15px 0; }

/* ============================================================= */
/* ==================== SECTION: BUGTRACKER ==================== */
/* ============================================================= */

#bugtracker-list .title { margin: 0 0 15px 0; background: #009688; }
#bugtracker-list .data-content .btn-default { margin: 28px 0 0 0; }
#bugtracker-list .create-btn { min-width:  240px; padding-left: 10px; }
#bugtracker-list .ticket-list { margin-top: 10px; }
#bugtracker-content .app-actions-list li { display: inline; }
#bugtracker-content .app-actions-list ul { margin: 0; padding: 0; }

/*tags-input .tags { border: none; border-bottom: 1px solid #d2d2d2; border-radius: 0; box-shadow: none; }
tags-input .tags .tag-item { border: 1px solid #bdbdbd; border-radius: 0; background: #bdbdbd; }*/

#bugtracker-visual .bug-section { margin-top: 15px; margin-bottom: 15px; }
#bugtracker-visual h4 > .material-icons { vertical-align: text-bottom; margin-right: 5px;}
#bugtracker-visual .ellipsis { -webkit-line-clamp: 1; }

#bugtracker-comment .comment-avatar { border-radius: 50%; width: 42px; height: 42px; overflow: hidden; float: left; }
#bugtracker-comment .comment-username { height: 42px; float: left; padding-left: 10px; }

/* =========================================================== */
/* ==================== SECTION: TIMELINE ==================== */
/* =========================================================== */

#timeline .tab-pane.active .line::before { position: absolute; top: 0; left: 18px; width: 2px; height: 100%; content: ''; background: #bdbdbd; }
#message-action .btn { margin: 35px 0 0 0; }

.each-message .dot { position: absolute; top: 15%; bottom: auto; width: 25px; height: 25px; border: 5px solid #fafafa; border-radius: 50%; background: #03a9f4; }
.each-message .author { padding: 15px 0 5px 0; text-align: right; }
.each-comment .well { margin: 0 0 5px 0; padding: 14px 14px 5px 14px!important; }
.message-data .author, .comments-data .author { padding: 15px 0 5px 0; }
.message-data { margin: -10px 0 35px 0; }
.comments-data .modal-title { margin: 0 0 10px 0; }

@media (max-width: 768px) {
  .message-data .author, .comments-data .author { float: none; }
  .message-data .action, .each-comment .action { margin: 0 0 15px 0; text-align: center; }
  .message-data .action a, .each-comment .action a { float: none; margin: 0 10px; }
}

@media (min-width: 768px) {
  .message-data .author, .comments-data .author { float: left; }
  .message-data .action { margin: 0 15px 0 0; }
  .message-data .action, .each-comment .action { float: right; }
  .message-data .action a, .each-comment .action a { float: none; }
}

@media (min-width: 992px) {
  .each-message > .well { width: 97%; }
  .each-message.even > .well { float: right; }
  .each-message.even > .dot { left: -13px; }
  .each-message.odd > .dot { right: -13px; }
  #timeline .tab-pane.active .line::before { left: 50%; margin: 0 10px 0 0; }
}

@media (max-width: 992px) {
  .each-message { margin-left: 25px; }
  .each-message > .dot { left: -18px; }
}

/* ============================================================= */
/* ==================== SECTION: WHITEBOARD ==================== */
/* ============================================================= */

@media (min-width: 992px) {
  .each-whiteboard .author, .each-whiteboard .updator { display: block; margin: 0 0 0 35px; }
}

@media (max-width: 768px) {
  #whiteboard .well.fullscreen { overflow: scroll!important; }
}

.canvas-wrapper { overflow: scroll; max-height: 65vh; padding: 0; }
.canvas-wrapper canvas { cursor: move; background: #fff; }
.canvas-wrapper canvas.edit { cursor: crosshair; }

#whiteboard .well { padding: 0; }
#whiteboard .well.fullscreen { margin: 0 -15px; }
#whiteboard .well.fullscreen .canvas-wrapper { max-height: 80vh; }
#whiteboard .action { padding: 10px 0; background: #bdbdbd; }
#whiteboard .action .divider { float: left; width: 2px; height: 50px; margin: 1px 5px 0 5px; border-radius: 5px; background: #212121; }
#whiteboard .action .form-group { display: inline; margin: 0; padding: 0; }
#whiteboard .action .form-group label { font-size: inherit; line-height: inherit; width: auto; margin: 1px; padding: 10px; cursor: pointer; color: #212121; }
#whiteboard .action .form-group input[type="text"], #whiteboard .action .form-group select { margin: 10px 30px 10px 5px; padding: 0 5px; }
#whiteboard .action .form-group label input[type="radio"], #whiteboard .action .form-group label input[type="checkbox"] { display: none; }
#whiteboard .action .form-group label.active, #whiteboard .action .form-group label:not(.no-select):hover { color: #212121; border: none; border-radius: 2px; background: #fafafa; }
#whiteboard .action .diamond { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

#whiteboard-content .data-actions:checked + span { color: #212121; }
#whiteboard-content .data-actions:checked + span { background: #e0e0e0; }

/* ======================================================== */
/* ==================== SECTION: TASKS ==================== */
/* ======================================================== */

#taskheader { display: inline; margin-bottom: 5%; padding-bottom: 5%; }

.color-marker {
  font-size: 20px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
  border-radius: 100%;
  background: rgba(0, 0, 0, .25);
}

/* =========================================================== */
/* ==================== SECTION: CALENDAR ==================== */
/* =========================================================== */

#calendar .head { font-weight: 400; margin: 0 0 20px 0; padding: 10px; text-align: center; color: #212121; }
#calendar .action { padding: 0; }
#calendar .action ul { margin: 0  0 25px 0; padding: 0; list-style: none; text-align: center; }
#calendar .action ul li .active { background: rgba(153, 153, 153, .2); }
#calendar .calendar-wrapper { font-weight: 400; }
#calendar .cal-day-box { overflow: initial!important; margin: 115px 0 0 0; }
#calendar .event { display: none; }
#calendar .cal-slide-content .event-item { margin: 0 25px; }
#calendar .cal-slide-content { padding: 10px; color: #212121; background: #bdbdbd; box-shadow: none; }
#calendar .cal-day-tick { bottom: -20%; left: 40%; width: 40px; height: 40px; margin: 0; padding: 8px; color: #fafafa; border: none; border-radius: 50%; background: #03a9f4; }
#calendar .cal-day-today { background: rgba(3, 169, 244, .3); }
#calendar .event-item-edit, #calendar .event-item-delete { margin: 0; padding: 0; }
#calendar .event-item-edit a, #calendar .event-item-delete a { margin: 0; }
#calendar span[data-cal-date] { opacity: 1; }
#calendar .cal-day-weekend span[data-cal-date] { color: #fc575e; }
#calendar .cal-month-day .cal-events-num { width: 25px; height: 25px; margin: 15px 0 0 10px; padding: 6px; border-radius: 50%; }
#calendar .badge-important { background: #fc575e; }
#calendar #cal-week-box { display: none; }
#calendar .cal-row-fluid:hover { background: none; }
#calendar .cal-week-box [data-event-class] { font-size: 14px; height: 60px; text-align: center; }
#calendar .cal-week-box [data-event-class] a { display: block; margin: 0; text-align: center; }

.multi-select { overflow-y: scroll; border-bottom: 1px solid #d2d2d2; }
.multi-select select { background: none!important; }

@media (max-width: 992px) {
  #calendar .action ul li a { width: 100%; margin: 5px 0; padding: 15px; }
}

@media (min-width: 992px) {
  #calendar .action ul li { display: inline; }
}

/* ======================================================== */
/* ==================== SECTION: CLOUD ==================== */
/* ======================================================== */

#cloud-list .section-content { margin: 30px -20px; }
#cloud-list .project-picture { padding: 10px; }
#cloud-list .project-picture img { max-width:  120px; border-radius: 50%; }
#cloud-list .project-data { max-width:  60%; padding: 15px 0 0 10px; }
#cloud-list a:not(.standalone) { margin: 13px 0 0 0; }
#cloud-content .section-content { margin: 30px 15px 0 15px; }
#cloud-content #all-cloud-objects > div { border: 1px solid #e0e0e0; }
#cloud-content .data-breadcrumb { background: #fafafa; }
#cloud-content .data-breadcrumb, #cloud-content .data-labels { margin: 0; padding: 10px; }
#cloud-content .data-labels { background: #e0e0e0; }
#cloud-content .data-actions { margin: 0; padding: 15px 10px; border: none!important; background: #616161; }
#cloud-content .data-actions a:active, #cloud-content .data-actions a:focus, #cloud-content .data-actions a:hover, #cloud-content #view_newFileWrapper:active, #cloud-content #view_newFileWrapper:focus, #cloud-content #view_newFileWrapper:hover { color: #4fc3f7; }
#cloud-content .data-actions a.disabled:active, #cloud-content .data-actions a.disabled:focus, #cloud-content .data-actions a.disabled:hover { color: #fafafa; }
#cloud-content .data-actions a { padding: 15px 5px; }
#cloud-content .data-actions a, #cloud-content #view_newFileWrapper { color: #fafafa; }
#cloud-content #view_newFileWrapper input { position: absolute; top: 0; left: 0; display: inline; width: 100%; margin: -15px 0 0 0; padding: 10px 0; opacity: 0; }
#cloud-content .data-content { cursor: pointer; }
#cloud-content .data-content#selected { background: #29b6f6; }
#cloud-content .data-content#selected, #cloud-content .data-content#selected i { color: #fafafa; }
#cloud-content .data-content:active, #cloud-content .data-content:focus, #cloud-content .data-content:hover { background: #4fc3f7; }
#cloud-content .data-content i { margin: 0 10px 0 -10px; }
#cloud-content .data-content i:not(.disabled) { color: #616161; }
#cloud-content .data-content i.disabled { color: #e0e0e0; }
#cloud-content .data-content .object-security i { margin: 0; padding: 0 2px; }
#cloud-content .each-object-data { margin: 0; padding: 5px 10px; border-bottom: 1px solid #e0e0e0; }
#cloud-content .each-object-data .object-name { overflow: hidden!important; text-overflow: ellipsis; }
#cloud-content .each-object-data .object-type { margin: 0 -10px 0 10px; }

/* =========================================================== */
/* ============== GENERAL FOR ALL TAGS-INPUT ================= */
/* =========================================================== */

tags-input .tags { border: none; border-radius: 0; box-shadow: none; border-bottom: 1px solid #d2d2d2; }
tags-input .tags .tag-item {background: rgb(102, 102, 102); padding-left: 10px; padding-right: 10px; border: 1px solid rgb(102, 102, 102);  border-radius: 50px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
tags-input .tags .tag-item .remove-button { color: white; }
tags-input .tags .focused { border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }

/* =========================================================== */
/* ====================== SECTION: TASK ====================== */
/* =========================================================== */

#bugtracker-visual .ellipsis { -webkit-line-clamp: 1; }
#task-visual h4 > .material-icons { vertical-align: text-bottom; margin-right: 5px;}
#task-visual .task-section { margin-top: 15px; margin-bottom: 15px; }

.btn.btn-fab.btn-fab-discreet { background-color: inherit; webkit-box-shadow: none; box-shadow: none; }

/* =========================================================== */
/* ====================== GENERAL CHIPS ====================== */
/* =========================================================== */

.md-chip { display: inline-block; border-radius: 42px; padding: 0; height: 42px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .2s ease-out;
          transition: .2s ease-out;
  background-color: rgb(102, 102, 102); margin: 5px 5px 5px 5px;
}
.md-chip:hover { box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
.md-chip-img { border-radius: 50%; width: 42px; height: 42px; overflow: hidden; float: left; box-shadow: 2px 0px rgba(0,0,0,.3); }
.md-chip-img .md-chip-span { display: block; height: 42px; }
.md-chip-span { background-color: #ccc; font-size: 18px; line-height: 42px; text-align: center;}
.md-chip-img img { -webkit-transform: translate(-50%); margin-left: 21px; height: 42px; }
.md-chip-text { display: inline-block; font-weight: 400; font-size: 16px; height: 42px; float: left; padding: 12px 18px 12px 10px; color: rgba(255, 255, 255, .87); }

/* =========================================================== */
/* =================== GENERAL TAGS/LABELS =================== */
/* =========================================================== */

/*---- tag visual ----*/
.label.tag { display: inline-block; font-size: 16px; height: 42px; margin: 5px 5px 5px 5px; padding: 12px 10px 12px 10px; border-radius: 5px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.label.tag:hover { box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

/* =========================================================== */
/* ===================== SECTION: GANTT ====================== */
/* =========================================================== */

.modal .nav.nav-tabs { background: #bdbdbd; margin: -20px -19px 30px -19px; border: 0; }
.modal .nav.nav-tabs > li.active > a { padding: 18px; border: 0!important; border-top: solid 4px #fc575e!important; color: #fc575e!important; background: #fff!important; border-radius: 0; }
.modal .nav.nav-tabs > li.active > a.soft { background: #fafafa!important; }
.modal .nav.nav-tabs > li > a { padding: 22px 18px 18px 18px; text-align: center; font-weight: 400; }
.modal .nav.nav-tabs > li > a > i { margin: 0 15px 0 0; }
.modal .nav.nav-tabs > li { margin: 0; }
.modal .tab-content > .active { display: table; width: 100%; position: relative; }
.modal .resource-row .old, .modal .dependency-row .old { background-color: rgba(0, 0, 0, 0.25); }