/*
* This file is subject to the terms and conditions defined in
* file "LICENSE.txt", which is part of the GRAPPBOX source code package.
* COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
*/

/* =========================================================== */
/* ==================== ANGULAR PRELOADER ==================== */
/* =========================================================== */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak { display: none!important; }



/* ======================================================== */
/* ==================== GENERAL LAYOUT ==================== */
/* ======================================================== */

html,
body { width: 100%!important; height: 100%!important; }
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: #333;
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  text-rendering: optimizeLegibility!important;
  font-feature-settings: 'liga'!important;
}

h1 { font-weight: 700; }
h1.big { font-size: 145px; }

h2 { font-weight: 600; line-height: 20px; margin: 0; text-transform: uppercase; color: #333; }
h3, h4 { font-weight: 500; color: #666; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

b,
strong { font-weight: 900; }
p { font-size: 14px; }

a { color: #333; }

.well a,
a.raised { color: #4bf; }

.well a:active,
.well a:focus,
.well a:hover,
a.raised:active,
a.raised:focus,
a.raised:hover { text-decoration: underline; color: #4bf; }

ul, ol { padding: 0; list-style: none; }
hr { position: relative; width: 70px; height: 4px; margin: 0 auto; margin-bottom: 30px; text-align: center; border: 0; }
label { font-weight: 400; display: inline; margin: 0; }
section:last-child { margin: 30px 0 60px 0; }

::-webkit-selection { color: #fafafa; background: #4bf; }
::-moz-selection { color: #fafafa; background: #4bf; }
::-o-selection { color: #fafafa; background: #4bf; }
::-ms-selection { color: #fafafa; background: #4bf; }
::selection { color: #fafafa; background: #4bf; }

.divider { height: 0; border-bottom: 1px solid #ccc; }
.ellipsis { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 5; -webkit-box-orient: vertical; }
.row-header > h4 { font-weight: 400; margin: 30px 0 15px 0; }
.row-header > p { margin: 0 0 20px 0; }

.no-shadow { box-shadow: none!important; }
.error { margin: 30px 0 45px 0; text-align: center; }
#error { margin: 10% 0 0 0; }



/* ================================================ */
/* ==================== COLORS ==================== */
/* ================================================ */

.red-color { color: #fc575e!important; }
.yellow-color { color: #f1c40f!important; }
.green-color { color: #27ae60!important; }
.orange-color { color: #ff9f55!important; }
.purple-color { color: #9e58dc!important; }
.blue-color { color: #4bf!important; }
.default-color { color: #4bf!important; }

.red-hover:active,
.red-hover:hover { color: #fc575e!important; }

.yellow-hover:active,
.yellow-hover:hover { color: #f1c40f!important; }

.green-hover:active,
.green-hover:hover { color: #27ae60!important; }

.orange-hover:active,
.orange-hover:hover { color: #ff9f55!important; }

.purple-hover:active,
.purple-hover:hover { color: #9e58dc!important; }

.blue-hover:active,
.blue-hover:hover { color: #4bf!important; }

.default-hover:active,
.default-hover:hover { color: #fc575e!important; }

.red-background { background: #fc575e!important; }
.yellow-background { background: #f1c40f!important; }
.green-background { background: #27ae60!important; }
.orange-background { background: #ff9f55!important; }
.purple-background { background: #9e58dc!important; }
.blue-background { background: #4bf!important; }
.default-background { background: #fc575e!important; }

.panel > .panel-heading,
.panel.panel-default > .panel-heading { background-color: #ccc; }

.panel.panel-primary > .panel-heading { background-color: #4bf; }
.panel.panel-success > .panel-heading { background-color: #27ae60; }
.panel.panel-info > .panel-heading { background-color: #4bf; }
.panel.panel-warning > .panel-heading { background-color: #ff9f55; }
.panel.panel-danger > .panel-heading { background-color: #fc575e; }



/* ================================================= */
/* ==================== BUTTONS ==================== */
/* ================================================= */

.btn.btn-raised { color: #fafafa!important; }

.btn.btn-fab.btn-danger,
.btn.btn-raised.btn-danger,
.btn-group-raised .btn.btn-danger,
.btn-group-raised .input-group-btn .btn.btn-danger,
.input-group-btn .btn.btn-raised.btn-danger,
.input-group-btn .btn.btn-fab.btn-danger { background-color: #fc575e; }

.btn-fixed { position: fixed!important; z-index: 998; right: 46px; bottom: 46px; }



/* ======================================================= */
/* ==================== NOTIFICATIONS ==================== */
/* ======================================================= */

.alert { margin: 30px 15px 0 15px; border-radius: 0; }

.ui-notification > .message { overflow: hidden!important; text-overflow: ellipsis; }
.ui-notification > h3 { font-weight: 400; }
.ui-notification.info { background: #4bf; }
.ui-notification.success { background: #27ae60; }
.ui-notification.warning { background: #ff9f55; }



/* ================================================ */
/* ==================== MODALS ==================== */
/* ================================================ */

.modal-open { overflow: hidden; }
.modal-content { border-radius: 0; }
.modal-content .modal-body + .modal-footer { padding: 20px; }
.modal-content .modal-footer button { padding: 8px 30px; }
.modal-title { font-weight: 400; }
.modal-backdrop { background: #000; }
.modal-backdrop.in { opacity: .6; filter: alpha(opacity=60); }
.modal .error { margin: 45px 0 30px 0; }

@media (min-width: 768px) {
  .modal .modal-dialog { margin: 90px auto; }
  .submodal .modal-dialog { margin: 210px auto; }
}



/* =============================================== */
/* ==================== FORMS ==================== */
/* =============================================== */

.form-group { font-weight: 400; }
.form-group label { color: #777; }
.form-group select { -webkit-appearance: menulist; -moz-appearance: menulist; appearance: normal; }
.form-group.no-margin { margin: 0!important; }
.form-group input[type=file] { position: initial; opacity: initial; }



/* ================================================= */
/* ==================== LOADING ==================== */
/* ================================================= */

.spinner .circular {
  display: block;
  margin: 0 auto;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
.spinner .circular .path {
  -webkit-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite;
  -moz-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite;
  -ms-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite;
  -o-animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.3s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

.spinner.view { margin: 80px auto 40px auto; }
.spinner.view .circular { width: 72px; height: 72px; }
.spinner.section { margin: 30px auto 30px auto; }
.spinner.section .circular { width: 56px; height: 56px; }

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes color { 100%, 0% { stroke: #c0392b; } }
@-webkit-keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes color { 100%, 0% { stroke: #c0392b; } }
@-moz-keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@-o-keyframes rotate { 100% { -o-transform: rotate(360deg); transform: rotate(360deg); } }
@-o-keyframes color { 100%, 0% { stroke: #c0392b; } }
@-o-keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes color { 100%, 0% { stroke: #c0392b; } }
@keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}



/* ================================================= */
/* ==================== SIDEBAR ==================== */
/* ================================================= */

@media (min-width: 1399px) {
  .page-content.open { width: calc(100% - 240px); margin-left: 240px; }
  .sidebar { width: 240px; }
  .sidebar .toggle { display: none; }
}

@media (max-width: 1399px) {
  .sidebar { width: 300px; }
}

.page-content {
  width: 100%;
  margin: 90px 0 60px 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  overflow-x: auto;
  height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translate3d(-305px, 0, 0);
  -moz-transform: translate3d(-305px, 0, 0);
  -o-transform: translate3d(-305px, 0, 0);
  -ms-transform: translate3d(-305px, 0, 0);
  transform: translate3d(-305px, 0, 0);
  background: #666;
  color: #fafafa;
}

.sidebar.open { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.sidebar .sidebar-header { width: 100%; height: 50px; margin-bottom: 5px; background: #333; }
.sidebar .toggle { float: right; padding: 13px 15px; margin-right: 5px; text-align: center; color: #fafafa; }

.sidebar .avatar { float: left; width: 35px; height: 35px; margin: 7px 20px 7px 25px; border-radius: 50%; vertical-align: initial!important; }
.sidebar .user { display: inline-block; }
.sidebar .user a { float: left; padding: 15px 5px; color: #fafafa; }
.sidebar .user a:active,
.sidebar .user a:hover { color: #4bf; text-decoration: none; }
.sidebar .user a:focus { text-decoration: none; }

.sidebar .sidebar-content ul { margin: 0; padding: 0; list-style: none; }
.sidebar .sidebar-content ul a { width: 100%; margin: 5px 0; padding: 13px 30px; text-align: left; text-transform: none; color: #ccc; border-radius: 0; }

.sidebar .sidebar-content ul a:active,
.sidebar .sidebar-content ul a:focus,
.sidebar .sidebar-content ul a:hover { transition: none!important; will-change: initial!important; }

.sidebar .sidebar-content ul a:active,
.sidebar .sidebar-content ul a:focus,
.sidebar .sidebar-content ul a:hover,
.sidebar .sidebar-content ul a.active { background: #ccc!important; color: #333; }
.sidebar .sidebar-content ul a > i { margin: 0 30px 0 0; }



/* ================================================ */
/* ==================== NAVBAR ==================== */
/* ================================================ */

@media (min-width: 1399px) {
  .navigation.open { width: calc(100% - 240px); margin-left: 240px; }
}

.navigation {
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100%;
  height: 50px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #f0f0f0;
}

.navigation .container-fluid { max-height: 50px; }
.navigation p { display: inline; }

.navigation-left a { padding: 12px 10px; margin: 0 10px 0 0; }

.navigation-left { float: left; }
.navigation-right { float: right; }
.navigation-left a,
.navigation-right a { display: inline-block; height: 50px; text-transform: none; font-weight: 400; color: #fafafa!important; border: none; border-radius: 0; }
.navigation-right a { padding: 12px 10px; margin: 0 5px 0 0; }

.navigation-left a:hover,
.navigation-right a:hover { background: #f0f0f0!important; }



/* ====================================================== */
/* ==================== WELLS/PANELS ==================== */
/* ====================================================== */

.panel,
.well { box-shadow: none!important; }

.panel p { margin: 0; }
.panel-link { text-align: right; }

.well p,
.jumbotron p { text-align: center; }

.well .nav.nav-tabs { margin: -20px -19px 30px -19px; border: 0; background: #bdbdbd; }
.well .nav.nav-tabs > li.active > a { padding: 18px; color: #c0392b!important; border: 0!important; border-top: solid 4px #c0392b!important; border-radius: 0; background: #fff!important; }
.well .nav.nav-tabs > li.active > a.soft { background: #fafafa!important; }
.well .nav.nav-tabs > li > a { font-weight: 400; padding: 22px 18px 18px 18px; text-align: center; }
.well .nav.nav-tabs > li > a > i { margin: 0 15px 0 0; }
.well .nav.nav-tabs > li { margin: 0; }
.well .tab-content > .active { position: relative; display: table; width: 100%; }
.well-soft { background: #fafafa!important; }



/* ============================================================ */
/* ==================== SECTION: DASHBOARD ==================== */
/* ============================================================ */

.each-data .well { padding: 19px 19px 5px 19px!important; }
.each-data ul { font-weight: 400; padding: 0; list-style: none; }
.each-data ul li { padding: 5px 0; }
.each-data ul li i { margin: 0 10px 0 0; vertical-align: middle!important; }
.each-data ul img { border-radius: 50%; }
.each-data ul .title { font-weight: 900; }

.each-data a { float: right; }
.each-data a:active,
.each-data a:focus,
.each-data a:hover { text-decoration: none; }

@media (min-width: 1199px) {
  #dashboard-list .each-data ul .avatar { float: left; margin: 5px 15px 0 0; }
  #team-occupation .each-data ul .title { text-align: center; }
  .each-data ul .title { margin: 0 0 5px 0; }
}

#team-occupation, #next-meetings { min-height: 300px; }
#team-occupation .each-data ul .avatar { text-align: center; }



/* ========================================================== */
/* ==================== SECTION: PROJECT ==================== */
/* ========================================================== */

#project-edition table .form-group { margin: 5px 1px; }
#project-edition table th { font-weight: 500; }
#project-edition table th, #project-edition table td { text-align: center; vertical-align: middle; }
#project-edition h4 { font-weight: 400; margin: 30px 0 15px 0; }



/* ============================================================= */
/* ==================== SECTION: BUGTRACKER ==================== */
/* ============================================================= */

#bugtracker-list .title { margin: 0 0 15px 0; background: #009688; }
#bugtracker-list .data-content .btn-default { margin: 28px 0 0 0; }
#bugtracker-list .create-btn { min-width:  240px; padding-left: 10px; }
#bugtracker-list .ticket-list { margin-top: 10px; }
#bugtracker-content .app-actions-list li { display: inline; }
#bugtracker-content .app-actions-list ul { margin: 0; padding: 0; }

tags-input .tags { border: none; border-bottom: 1px solid #d2d2d2; border-radius: 0; box-shadow: none; }
tags-input .tags .tag-item { border: 1px solid #bdbdbd; border-radius: 0; background: #bdbdbd; }



/* =========================================================== */
/* ==================== SECTION: TIMELINE ==================== */
/* =========================================================== */

#timeline .tab-pane.active .line::before { position: absolute; top: 0; left: 18px; width: 2px; height: 100%; content: ''; background: #bdbdbd; }
#message-action .btn { margin: 35px 0 0 0; }

.each-message .dot { position: absolute; top: 15%; bottom: auto; width: 25px; height: 25px; border: 5px solid #fafafa; border-radius: 50%; background: #03a9f4; }
.each-message .author { padding: 15px 0 5px 0; text-align: right; }
.each-comment .well { margin: 0 0 5px 0; padding: 14px 14px 5px 14px!important; }
.message-data .author, .comments-data .author { padding: 15px 0 5px 0; }
.message-data { margin: -10px 0 35px 0; }
.comments-data .modal-title { margin: 0 0 10px 0; }

@media (max-width: 768px) {
  .message-data .author, .comments-data .author { float: none; }
  .message-data .action, .each-comment .action { margin: 0 0 15px 0; text-align: center; }
  .message-data .action a, .each-comment .action a { float: none; margin: 0 10px; }
}

@media (min-width: 768px) {
  .message-data .author, .comments-data .author { float: left; }
  .message-data .action { margin: 0 15px 0 0; }
  .message-data .action, .each-comment .action { float: right; }
  .message-data .action a, .each-comment .action a { float: none; }
}

@media (min-width: 992px) {
  .each-message > .well { width: 97%; }
  .each-message.even > .well { float: right; }
  .each-message.even > .dot { left: -13px; }
  .each-message.odd > .dot { right: -13px; }
  #timeline .tab-pane.active .line::before { left: 50%; margin: 0 10px 0 0; }
}

@media (max-width: 992px) {
  .each-message { margin-left: 25px; }
  .each-message > .dot { left: -18px; }
}



/* ============================================================= */
/* ==================== SECTION: WHITEBOARD ==================== */
/* ============================================================= */

@media (min-width: 992px) {
  .each-whiteboard .author, .each-whiteboard .updator { display: block; margin: 0 0 0 35px; }
}

@media (max-width: 768px) {
  #whiteboard .well.fullscreen { overflow: scroll!important; }
}

.canvas-wrapper { overflow: scroll; max-height: 65vh; padding: 0; }
.canvas-wrapper canvas { cursor: move; background: #fff; }
.canvas-wrapper canvas.edit { cursor: crosshair; }

#whiteboard .well { padding: 0; }
#whiteboard .well.fullscreen { margin: 0 -15px; }
#whiteboard .well.fullscreen .canvas-wrapper { max-height: 80vh; }
#whiteboard .action { padding: 10px 0; background: #bdbdbd; }
#whiteboard .action .divider { float: left; width: 2px; height: 50px; margin: 1px 5px 0 5px; border-radius: 5px; background: #333; }
#whiteboard .action .form-group { display: inline; margin: 0; padding: 0; }
#whiteboard .action .form-group label { font-size: inherit; line-height: inherit; width: auto; margin: 1px; padding: 10px; cursor: pointer; color: #333; }
#whiteboard .action .form-group input[type='text'], #whiteboard .action .form-group select { margin: 10px 30px 10px 5px; padding: 0 5px; }
#whiteboard .action .form-group label input[type='radio'], #whiteboard .action .form-group label input[type='checkbox'] { display: none; }
#whiteboard .action .form-group label.active, #whiteboard .action .form-group label:not(.no-select):hover { color: #333; border: none; border-radius: 2px; background: #fafafa; }
#whiteboard .action .diamond { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

#whiteboard-content .data-actions:checked + span { color: #212121; }
#whiteboard-content .data-actions:checked + span { background: #e0e0e0; }



/* ======================================================== */
/* ==================== SECTION: TASKS ==================== */
/* ======================================================== */

#taskheader { display: inline; margin-bottom: 5%; padding-bottom: 5%; }

.color-marker {
  font-size: 20px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
  border-radius: 100%;
  background: rgba(0, 0, 0, .25);
}



/* =========================================================== */
/* ==================== SECTION: CALENDAR ==================== */
/* =========================================================== */

#calendar .head { font-weight: 400; margin: 0 0 20px 0; padding: 10px; text-align: center; color: #333; }
#calendar .action { padding: 0; }
#calendar .action ul { margin: 0  0 25px 0; padding: 0; list-style: none; text-align: center; }
#calendar .action ul li .active { background: rgba(153, 153, 153, .2); }
#calendar .calendar-wrapper { font-weight: 400; }
#calendar .cal-day-box { overflow: initial!important; margin: 115px 0 0 0; }
#calendar .event { display: none; }
#calendar .cal-slide-content .event-item { margin: 0 25px; }
#calendar .cal-slide-content { padding: 10px; color: #333; background: #bdbdbd; box-shadow: none; }
#calendar .cal-day-tick { bottom: -20%; left: 40%; width: 40px; height: 40px; margin: 0; padding: 8px; color: #fafafa; border: none; border-radius: 50%; background: #03a9f4; }
#calendar .cal-day-today { background: rgba(3, 169, 244, .3); }
#calendar .event-item-edit, #calendar .event-item-delete { margin: 0; padding: 0; }
#calendar .event-item-edit a, #calendar .event-item-delete a { margin: 0; }
#calendar span[data-cal-date] { opacity: 1; }
#calendar .cal-day-weekend span[data-cal-date] { color: #c0392b; }
#calendar .cal-month-day .cal-events-num { width: 25px; height: 25px; margin: 15px 0 0 10px; padding: 6px; border-radius: 50%; }
#calendar .badge-important { background: #c0392b; }
#calendar #cal-week-box { display: none; }
#calendar .cal-row-fluid:hover { background: none; }
#calendar .cal-week-box [data-event-class] { font-size: 14px; height: 60px; text-align: center; }
#calendar .cal-week-box [data-event-class] a { display: block; margin: 0; text-align: center; }

.multi-select { overflow-y: scroll; border-bottom: 1px solid #d2d2d2; }
.multi-select select { background: none!important; }

@media (max-width: 992px) {
  #calendar .action ul li a { width: 100%; margin: 5px 0; padding: 15px; }
}

@media (min-width: 992px) {
  #calendar .action ul li { display: inline; }
}






/* ============================================================ */
/* ==================== IN CONSTRUCTION ======================= */
/* ============================================================ */

/* ======================================================== */
/* ==================== SECTION: CLOUD ==================== */
/* ======================================================== */

#cloud-list .section-content { margin: 30px -20px; }
#cloud-list .project-picture { padding: 10px; }
#cloud-list .project-picture img { max-width:  120px; border-radius: 50%; }
#cloud-list .project-data { max-width:  60%; padding: 15px 0 0 10px; }
#cloud-list a:not(.standalone) { margin: 13px 0 0 0; }
#cloud-content .section-content { margin: 30px 15px 0 15px; }
#cloud-content #all-cloud-objects > div { border: 1px solid #e0e0e0; }
#cloud-content .data-breadcrumb { background: #fafafa; }
#cloud-content .data-breadcrumb, #cloud-content .data-labels { margin: 0; padding: 10px; }
#cloud-content .data-labels { background: #e0e0e0; }
#cloud-content .data-actions { margin: 0; padding: 15px 10px; border: none!important; background: #616161; }
#cloud-content .data-actions a:active, #cloud-content .data-actions a:focus, #cloud-content .data-actions a:hover, #cloud-content #view_newFileWrapper:active, #cloud-content #view_newFileWrapper:focus, #cloud-content #view_newFileWrapper:hover { color: #4fc3f7; }
#cloud-content .data-actions a.disabled:active, #cloud-content .data-actions a.disabled:focus, #cloud-content .data-actions a.disabled:hover { color: #fafafa; }
#cloud-content .data-actions a { padding: 15px 5px; }
#cloud-content .data-actions a, #cloud-content #view_newFileWrapper { color: #fafafa; }
#cloud-content #view_newFileWrapper input { position: absolute; top: 0; left: 0; display: inline; width: 100%; margin: -15px 0 0 0; padding: 10px 0; opacity: 0; }
#cloud-content .data-content { cursor: pointer; }
#cloud-content .data-content#selected { background: #29b6f6; }
#cloud-content .data-content#selected, #cloud-content .data-content#selected i { color: #fafafa; }
#cloud-content .data-content:active, #cloud-content .data-content:focus, #cloud-content .data-content:hover { background: #4fc3f7; }
#cloud-content .data-content i { margin: 0 10px 0 -10px; }
#cloud-content .data-content i:not(.disabled) { color: #616161; }
#cloud-content .data-content i.disabled { color: #e0e0e0; }
#cloud-content .data-content .object-security i { margin: 0; padding: 0 2px; }
#cloud-content .each-object-data { margin: 0; padding: 5px 10px; border-bottom: 1px solid #e0e0e0; }
#cloud-content .each-object-data .object-name { overflow: hidden!important; text-overflow: ellipsis; }
#cloud-content .each-object-data .object-type { margin: 0 -10px 0 10px; }


/* =========================================================== */
/* ============== GENERAL FOR ALL TAGS-INPUT ================= */
/* =========================================================== */
tags-input .tags { border: none; border-radius: 0; box-shadow: none; border-bottom: 1px solid #d2d2d2; }
tags-input .tags .tag-item {background: rgb(102, 102, 102); border: 1px solid rgb(102, 102, 102);  border-radius: 50px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
tags-input .tags .tag-item .remove-button { color: white; }
tags-input .tags .focused { border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }


/* =========================================================== */
/* ====================== SECTION: TASK ====================== */
/* =========================================================== */
/*/#taskheader { margin-bottom: 5%; padding-bottom: 5%; display: inline}*/
/*.color-marker { background: rgba(0, 0, 0, 0.25); border-radius: 100%; text-align: center; line-height: 56px; font-size: 20px; color: white; width: 56px; height: 56px; margin-left: auto; margin-right: auto; margin-top: 10px; }*/
#task-visual .label.tag-task { font-size: 14px; height: 32px; margin: 5px 5px 5px 5px; padding: 8px 8px 8px 8px; border-radius: 5px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
#task-visual .label.tag-task:hover { box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }


#task-visual h4 > .material-icons { vertical-align: text-bottom; margin-right: 5px;}
#task-visual .task-section { margin-bottom: 30px; margin-bottom: 30px; }

.md-chip { display: inline-block; border-radius: 42px; padding: 0; height: 42px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .2s ease-out;
          transition: .2s ease-out;
  background-color: rgb(102, 102, 102);
}
.md-chip:hover { box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
.md-chip-img { border-radius: 50%; width: 42px; height: 42px; overflow: hidden; float: left; box-shadow: 2px 0px rgba(0,0,0,.3); }
.md-chip-img .md-chip-span { display: block; height: 42px; }
.md-chip-span { background-color: #ccc; font-size: 18px; line-height: 42px; text-align: center;}
.md-chip-img img { -webkit-transform: translate(-50%); margin-left: 21px; height: 42px; }
.md-chip-text { display: inline-block; font-weight: 400; font-size: 16px; height: 42px; float: left; padding: 12px 18px 12px 10px; color: rgba(255, 255, 255, .87); }


/* =========================================================== */
/* ===================== SECTION: GANTT ====================== */
/* =========================================================== */

.modal .nav.nav-tabs { background: #bdbdbd; margin: -20px -19px 30px -19px; border: 0; }
.modal .nav.nav-tabs > li.active > a { padding: 18px; border: 0!important; border-top: solid 4px #c0392b!important; color: #c0392b!important; background: #fff!important; border-radius: 0; }
.modal .nav.nav-tabs > li.active > a.soft { background: #fafafa!important; }
.modal .nav.nav-tabs > li > a { padding: 22px 18px 18px 18px; text-align: center; font-weight: 400; }
.modal .nav.nav-tabs > li > a > i { margin: 0 15px 0 0; }
.modal .nav.nav-tabs > li { margin: 0; }
.modal .tab-content > .active { display: table; width: 100%; position: relative; }
.modal .resource-row.old, .modal .dependency-row .old { background-color: rgba(0, 0, 0, 0.25); }
