<!--Summary: Abstract page menu for all other pages

    Good representation of the application format:

    index.html:
    <ion-nav-view>
    
    app.html:
    |-----------------------<ion-side-menus------------------------|
    |   <ion-side-menu>            <ion-side-menu-content>         |
    |--------------------------------------------------------------|
    |       <header>     |   <ion-nav-back-button> <ion-nav-bar>   |
    |--------------------|-----------------------------------------|
    |    <ion-nav-view>  |                         <ion-nav-view>  |
    |--------------------------------------------------------------|

    menuWithoutProject.html & menuWithProject.html:
    |--------------------------------------------------------------|
    |    <ion-content>   |                         <ion-content>   |
    |    (Menu Items)    |                         (View Content)  |
    |--------------------------------------------------------------|
-->
<ion-side-menus>

    <!-- MENU HERE -->
    <ion-side-menu side="left">
        <ion-nav-view name="menuList"></ion-nav-view>
    </ion-side-menu>

    <!-- VIEW CONTENT HERE -->
    <ion-side-menu-content edge-drag-threshold="true">
        <!-- Make the possibility to swipe -->
        <ion-nav-bar class="bar-dark nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"></ion-nav-back-button><!-- Configuration of back-button in app.js -->
            <ion-nav-buttons side="primary">
                <!-- Menu button on top left -->
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <!-- Notification button & Settings button on top right -->
                <ion-nav-button class="button button-icon button-clear ion-android-notifications-none"></ion-nav-button>
                <ion-nav-button class="button button-icon ion-ios-settings"></ion-nav-button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- On this line, "appContent" allows to proceed inheritance, see in app.js -->
        <ion-nav-view name="appContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

</ion-side-menus>