<ion-view>
    <ion-content scroll="false">
        <img src="./images/grappbox-logo_gray.png" style="width: 100%; height: auto;">
        <form>
            <div class="list">
                <ion-input class="item item-input">
                    <i class="icon icon-person"></i>
                    <ion-label>Email</ion-label>
                    <input type="text" placeholder="Email" name="user_email" ng-model="user.email" required />
                </ion-input>
                <ion-input class="item item-input">
                    <i class="icon icon-person"></i>
                    <ion-label>Password</ion-label>
                    <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required />
                </ion-input>
            </div>
            <a class="button button-block button-positive" ng-click="login()">
                Log In
            </a>
        </form>
        <a class="sign-up button button-block button-positive" ui-sref="signup">
            Sign Up
        </a>
    </ion-content>
</ion-view>