<!--
    Summary: Bugtracker view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">BugTracker</ion-nav-title>
    <ion-tabs class="tabs-dark tabs-striped">

        <ion-tab title="Open">
            <!-- Tab 1 content -->
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshOpenTickets()">
                    </ion-refresher>

                    <!-- Create & Tags buttons -->
                    <div class="button-bar">
                        <a class="button button-block button-positive"
                            ui-sref="app.createTicket({projectId: projectId})">
                            Create
                        </a>
                        <a class="button button-block button-positive"
                           ui-sref="app.tags({projectId: projectId})">
                            Tags
                        </a>
                    </div>

                    <!-- Open ticket list -->
                    <ion-list>
                        <ion-item ng-show="noOpenTicket">{{noOpenTicket}}</ion-item>
                        <ion-item ng-show="!noOpenTicket" ng-repeat="ticket in lastOpenTickets"
                                  ui-sref="app.ticket({projectId: projectId, ticketId: ticket.id})"
                                  ng-if="ticket.deletedAt === null">
                            {{ticket.title}}<br />
                            By {{ticket.creator.fullname}}<br />
                            <!-- Show tags if they are there -->
                            <span ng-show="ticket.tags[0] != null" ng-repeat="tag in ticket.tags">{{ tag.name }}</span>
                        </ion-item>
                    </ion-list>
                    <!-- Button "More" open tickets -->
                    <button class="button button-block button-positive"
                            ng-click="GetLastOpenTickets()">
                        More
                    </button>
                </ion-content>
            </ion-pane>

        </ion-tab>

        <ion-tab title="Closed">
            <!-- Tab 2 content -->
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshClosedTickets()">
                    </ion-refresher>

                    <!-- Closed ticket list -->
                    <ion-list>
                        <ion-item ng-show="noClosedTicket">{{noClosedTicket}}</ion-item>
                        <ion-item ng-show="!noClosedTicket" ng-repeat="ticket in lastClosedTickets"
                                  ui-sref="app.ticket({projectId: projectId, ticketId: ticket.id})">
                            {{ticket.title}}<br />
                            By {{ticket.creator.fullname}}
                        </ion-item>
                    </ion-list>

                    <!-- Button "More" closed tickets -->
                    <button class="button button-block button-positive"
                            ng-click="GetLastClosedTickets()">
                        More
                    </button>
                </ion-content>
            </ion-pane>
        </ion-tab>

        <ion-tab title="Yours">
            <!-- Tab 3 content -->
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshOpenTickets()">
                    </ion-refresher>

                    <!-- User connected tickets and open tickets list -->
                    <ion-list>
                        <ion-item ng-show="noOpenTicket">{{noOpenTicket}}</ion-item>
                        <ion-item ng-show="!noOpenTicket" ng-repeat="ticket in lastOpenTickets"
                                  ui-sref="app.ticket({projectId: projectId, ticketId: ticket.id})"
                                  ng-if="ticket.creator.id == userDatas.id">
                            {{ticket.title}}<br />
                            By {{ticket.creator.fullname}}
                        </ion-item>
                    </ion-list>

                    <!-- Button "More" user connected and open tickets -->
                    <button class="button button-block button-positive"
                            ng-click="GetLastOpenTickets()">
                        More
                    </button>
                </ion-content>
            </ion-pane>
        </ion-tab>

    </ion-tabs>
</ion-view>