<!--
    Summary: Bugtracker view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">BugTracker</ion-nav-title>
    <ion-tabs class="tabs-positive tabs-striped">
        <!-- OPEN tickets tab -->
        <ion-tab title="Open" class="gb-tab">
            <!-- Tab 1 content -->
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshOpenTickets()">
                    </ion-refresher>

                    <!-- Create & Tags buttons -->
                    <div class="button-bar">
                        <a class="button button-clear gb-color-bugtracker icon ion-plus"
                           ui-sref="app.createTicket({projectId: projectId})">
                        </a>
                        <a class="button button-clear gb-color-bugtracker icon ion-ios-pricetag"
                           ui-sref="app.tags({projectId: projectId})">
                        </a>
                    </div>

                    <!-- Open ticket list -->
                    <ion-list>
                        <ion-item ng-show="noOpenTicket">{{noOpenTicket}}</ion-item>
                        <ion-item ng-repeat="ticket in lastOpenTickets"
                                  ui-sref="app.ticket({projectId: projectId, ticketId: ticket.id})">
                                  <!--ng-if="ticket.deletedAt === null">--> <!-- ng-show="!noOpenTicket"  -->
                            <h2 style="text-align:center">{{ticket.title}}</h2>
                            <p>
                                By {{ticket.creator.firstname}} {{ticket.creator.lastname}}<br />
                                Created: {{ticket.createdAt}}<br />
                                <span ng-show="ticket.editedAt">Edited: {{ticket.editedAt}}</span>
                            </p>
                            <!-- Show tags if they are there -->
                            <!--<span ng-show="ticket.tags[0] != null" ng-repeat="tag in ticket.tags">{{ tag.name }}</span>-->
                            <!-- Tags on ticket -->
                            <i ng-if="ticket.tags[0]" class="icon ion-ios-pricetag larger gb-color-bugtracker"></i>&nbsp;<button ng-if="ticket.tags[0]" ng-repeat="tag in ticket.tags" class="button button-small button-balanced gb-button-tag">{{ tag.name }}</button><br />
                            <!-- Users on ticket -->
                            <i ng-if="ticket.users[0]" class="icon ion-ios-person larger gb-color-bugtracker"></i>&nbsp;<button ng-if="ticket.users[0]" ng-repeat="user in ticket.users" class="button button-small button-calm gb-button-tag">{{ user.firstname }} {{ user.lastname }}</button><!--<br ng-if="ticket.users[0]" /><br ng-if="ticket.users[0]" />-->

                        </ion-item>
                    </ion-list>
                    <!-- Button "More" open tickets -->
                    <div class="text-center">
                      <button class="button button-clear gb-color-bugtracker"
                      ng-click="GetLastOpenTickets(true)">
                      MORE
                      </button>
                    </div>
                </ion-content>
            </ion-pane>

        </ion-tab>

        <!-- CLOSED tickets tab -->
        <ion-tab title="Closed" class="gb-tab">
            <!-- Tab 2 content -->
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshClosedTickets()">
                    </ion-refresher>

                    <!-- Closed ticket list -->
                    <ion-list>
                        <ion-item ng-show="noClosedTicket">{{noClosedTicket}}</ion-item>
                        <ion-item ng-repeat="ticket in lastClosedTickets"
                                  ui-sref="app.ticket({projectId: projectId, ticketId: ticket.id})">
                                  <!--ng-if="ticket.deletedAt !== null">--> <!-- ng-show="!noClosedTicket" -->
                            <h2 style="text-align:center">{{ticket.title}}</h2>
                            <p>
                                By {{ticket.creator.firstname}} {{ticket.creator.lastname}}<br />
                                Created: {{ticket.createdAt}}<br />
                                <span ng-show="ticket.editedAt">Edited: {{ticket.editedAt}}</span>
                            </p>
                            <!-- Show tags if they are there -->
                            <!--<span ng-show="ticket.tags[0] != null" ng-repeat="tag in ticket.tags">{{ tag.name }}</span>-->
                            <!-- Tags on ticket -->
                            <i ng-if="ticket.tags[0]" class="icon ion-ios-pricetag larger gb-color-bugtracker"></i>&nbsp<button ng-if="ticket.tags[0]" ng-repeat="tag in ticket.tags" class="button button-small button-balanced gb-button-tag">{{ tag.name }}</button><br />
                            <!-- Users on ticket -->
                            <i ng-if="ticket.users[0]" class="icon ion-ios-person larger gb-color-bugtracker"></i>&nbsp<button ng-if="ticket.users[0]" ng-repeat="user in ticket.users" class="button button-small button-calm gb-button-tag">{{ user.firstname }} {{ user.lastname }}</button><!--<br ng-if="ticket.users[0]" /><br ng-if="ticket.users[0]" />-->

                        </ion-item>
                    </ion-list>

                    <!-- Button "More" closed tickets -->
                    <div class="text-center">
                      <button class="button button-clear gb-color-bugtracker"
                              ng-click="GetLastClosedTickets(true)">
                              MORE
                      </button>
                    </div>
                </ion-content>
            </ion-pane>
        </ion-tab>

        <!-- YOURS tickets tab -->
        <ion-tab title="Yours" class="gb-tab">
            <!-- Tab 3 content -->
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshOpenTickets()">
                    </ion-refresher>

                    <!-- User connected tickets and open tickets list -->
                    <ion-list>
                        <!--<ion-item ng-show="noOpenTicket">{{noOpenTicket}}</ion-item>-->
                        <ion-item ng-repeat="ticket in lastOpenTickets"
                                  ui-sref="app.ticket({projectId: projectId, ticketId: ticket.id})"
                                  ng-if="ticket.creator.id == userDatas.id"><!-- ng-show="!noOpenTicket" -->
                            <h2 style="text-align:center">{{ticket.title}}</h2>
                            <p>
                                By {{ticket.creator.firstname}} {{ticket.creator.lastname}}<br />
                                Created: {{ticket.createdAt}}<br />
                                <span ng-show="ticket.editedAt">Edited: {{ticket.editedAt}}</span>
                            </p>
                            <!-- Show tags if they are there -->
                            <!--<span ng-show="ticket.tags[0] != null" ng-repeat="tag in ticket.tags">{{ tag.name }}</span>-->
                            <!-- Tags on ticket -->
                            <i ng-if="ticket.tags[0]" class="icon ion-ios-pricetag larger gb-color-bugtracker"></i>&nbsp<button ng-if="ticket.tags[0]" ng-repeat="tag in ticket.tags" class="button button-small button-balanced gb-button-tag">{{ tag.name }}</button><br />
                            <!-- Users on ticket -->
                            <i ng-if="ticket.users[0]" class="icon ion-ios-person larger gb-color-bugtracker"></i>&nbsp<button ng-if="ticket.users[0]" ng-repeat="user in ticket.users" class="button button-small button-calm gb-button-tag">{{ user.firstname }} {{ user.lastname }}</button><!--<br ng-if="ticket.users[0]" /><br ng-if="ticket.users[0]" />-->

                        </ion-item>
                    </ion-list>

                    <!-- Button "More" user connected and open tickets -->
                    <div class="text-center">
                      <button class="button button-clear gb-color-bugtracker"
                              ng-click="GetLastOpenTickets(true)">
                              More
                      </button>
                    </div>
                </ion-content>
            </ion-pane>
        </ion-tab>

    </ion-tabs>
</ion-view>
