<!--
    Summary: Calendar view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">Calendar</ion-nav-title>
    <!-- Floating button -->
    <ion-floating-button ui-sref="app.createEvent({projectId: projectId})" has-footer="false" button-color="{{viewColor}}" icon="ion-plus" icon-color="#FFF">
    </ion-floating-button>
    <!-- Content -->
    <ion-content overflow-scroll="false" id="calendar">

        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <div class="button-bar">
            <!-- Year button -->
            <!--<a class="button button-positive" ng-click="calendar.typeView='year'">Year</a>-->
            <!-- Month button -->
            <a class="button button-clear gb-color-calendar" ng-click="calendar.typeView='month'">MONTH</a>
            <!-- Week button -->
            <!--<a class="button button-positive" ng-click="calendar.typeView='week'">Week</a>-->
            <!-- Day button -->
            <a class="button button-clear gb-color-calendar" ng-click="calendar.typeView='day'">DAY</a>
        </div>
        <div class="button-bar">
          <!--button button-small icon ion-ios-arrow-back button-positive -->
            <button class="button button-small button-clear icon ion-ios-arrow-back gb-color-calendar"
                    mwl-date-modifier
                    date="calendar.date"
                    decrement="calendar.typeView">
            </button>
            <button class="button button-small button-clear gb-color-calendar"
                    mwl-date-modifier
                    date="calendar.date"
                    set-to-today>
                TODAY
            </button>
            <button class="button button-small button-clear icon ion-ios-arrow-forward gb-color-calendar"
                    mwl-date-modifier
                    date="calendar.date"
                    increment="calendar.typeView">
            </button>
        </div>
        <h2 class="title">{{ calendar.title }}</h2>
        <mwl-calendar view="calendar.typeView"
                      view-date="calendar.date"
                      events="calendar.events"
                      view-title="calendar.title"
                      cell-modifier="calendar.cellEdit(calendarCell)"
                      on-event-click="eventClicked(calendarEvent)"
                      on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                      cell-is-open="calendar.cellOpen"
                      day-view-start="00:00"
                      day-view-end="23:59"
                      day-view-split="30">
        </mwl-calendar>
    </ion-content>
</ion-view>
