<!--
    Summary: Single project view
-->

<ion-view cache-view="false">
    <ion-nav-title>Cloud</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Cloud LS -->
        <div class="button-bar">
            <!-- Go back button -->
            <a ng-show="path"
               ng-click="GoBack()"
               class="button icon ion-ios-arrow-thin-left button-positive">
            </a>
            <!-- New folder button -->
            <a class="button ion-ios-folder button-positive"
               ng-click="dirModal.show()">
            </a>
            <!-- Upload file button -->
            <input type="file"
                   id="fileUploadId"
                   style="display: none;"
                   data-ng-model="fileUpload"
                   ng-change="UploadFile(fileUpload)"
                   base-sixty-four-input />
            <a class="button icon ion-ios-cloud-upload button-positive"
               onclick="document.getElementById('fileUploadId').click();">
            </a>
        </div>
        <div class="item item-divider"> Folders</div>
        <ion-list>
            <!--ng-click="showMemberActionSheet(userOnProject.id)"-->
            <ion-item ng-repeat="dir in cloudData"
                      ng-show="dir.type == 'dir'"
                      ng-click="CloudLS(false, dir.filename)">
                <h2 class="icon ion-ios-folder"> {{ dir.filename }}</h2>
            </ion-item>
        </ion-list>
        <div class="item item-divider"> Files</div>
        <ion-list>
            <ion-item ng-repeat="file in cloudData"
                      ng-show="file.type == 'file'"
                      ng-click="downloadFile(file.filename)">
                <h2 class="icon ion-document"> {{ file.filename }}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<!-- Create dir modal -->
<script id="createDirModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-dark">
            <h1 class="title">Add folder</h1>
            <button class="button button-clear button-primary"
                    ng-click="dirModal.hide()">
                Cancel
            </button>
        </ion-header-bar>
        <ion-content>
            <!--<form ng-submit="addWhiteboard(elem)">
                <ion-list class="list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Whiteboard's name" ng-model="elem.title">
                    </label>
                    <div class="padding">
                        <button class="button button-full button-positive" type="submit">
                            Add Whiteboard
                        </button>
                    </div>
                </ion-list>
            </form>-->
            <form name="createDirectory_form">
                <ion-input class="item item-input">
                    <ion-label>Name</ion-label>
                    <input type="text"
                           placeholder="My folder name"
                           name="createDirectory_title"
                           ng-model="dir.dirName" />
                </ion-input>
                <button class="button button-block button-positive"
                        ng-click="CloudCreateDir()">
                    Create
                </button>
            </form>
        </ion-content>
    </ion-modal-view>
</script>