<!--
    Summary: Create ticket on bugtracker view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">Create Ticket</ion-nav-title>
    <ion-content overflow-scroll="false" scroll="false">
        <form name="createTicket_form">
            <ion-input class="item item-input item-floating-label">
                <ion-label>Title</ion-label>
                <input type="text"
                       placeholder="Title"
                       name="createTicket_title"
                       ng-model="ticket.title" required />
            </ion-input>
            <!-- <ion-input class="item item-input"> -->
                <ion-label>Description</ion-label>
                <textarea name="createTicket_description"
                          rows="6"
                          placeholder="Here is exactly how I can reproduce the bug, and where it is"
                          ng-model="ticket.description" required></textarea>
            <!-- </ion-input> -->
        </form>
        <!--<div class="item item-divider"> Members assignable</div>
        <select ng-model="selectedUsers" multiple>
            <option ng-repeat="user in userList" value="{{user.id}}" ng-click="logUserList()">{{user.firstname}} {{user.lastname}}</option>
        </select>-->
        <!--<div class="item item-divider"> Tags on this ticket</div>
        <select ng-model="selectedTags" multiple>
            <option ng-repeat="tag in tagsOnProject" value="{{tag.id}}">{{tag.name}}</option>
        </select>-->
        <button ng-disabled="createTicket_form.$invalid"
                class="button button-block button-positive icon ion-plus"
                ng-click="CreateTicket()">
        </button>
    </ion-content>
</ion-view>
