<!--
    Summary: Create message on timeline view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">New message</ion-nav-title>
    <ion-content overflow-scroll="false">
        <form name="createMessage_form">
            <ion-input class="item item-input">
                <ion-label>Title</ion-label>
                <input type="text"
                       placeholder="Where to go if I want to..."
                       name="createMessage_title"
                       ng-model="message.title" required/>
            </ion-input>
            <ion-input class="item item-input">
                <ion-label>Message</ion-label>
                <textarea name="createMessage_description"
                          rows="5"
                          placeholder="Hello, I have a question..."
                          ng-model="message.message" required></textarea>
            </ion-input>
            <button ng-disabled="createMessage_form.$invalid"
                    class="button button-block button-positive"
                    ng-click="PostMessage()">
                Create
            </button>
        </form>
    </ion-content>
</ion-view>