<!--
    Summary: Here is the main page alias the Dashboard
-->

<ion-view>
    <ion-nav-title>Dashboard</ion-nav-title>

    <ion-tabs class="tabs-positive tabs-striped">

        <!-- Team Occupation -->
        <ion-tab icon-on="ion-ios-people" icon-off="ion-ios-people-outline" class="gb-tab">
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshTeamOccupation()">
                    </ion-refresher>
                    <div class="item item-divider">
                        Team Occupation
                    </div>
                    <div class="list">
                        <ion-item ng-show="noTeam">{{noTeam}}</ion-item>
                        <a ng-show="!noTeam" class="item item-avatar"
                           ng-repeat="teamOccupation in teamOccupationTab"
                           ui-sref="app.tasks({projectId: projectId})">
                            <!--ui-sref="app.user({userId: teamOccupation.user.id})"-->
                            <img ng-if="findUserAvatar(teamOccupation.user.id)" id="userAvatar" ng-src="data:image/png;base64, {{findUserAvatar(teamOccupation.user.id)}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                            <img ng-if="!findUserAvatar(teamOccupation.user.id)" id="userAvatar" ng-src="./images/noavatar.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                            <h2>{{ teamOccupation.user.firstname }} {{ teamOccupation.user.lastname }}</h2>
                            <h3>{{ teamOccupation.occupation }}</h3>
                            <h3>Tasks begun: {{ teamOccupation.number_of_tasks_begun }}</h3>
                            <h3>Ongoing Tasks: {{ teamOccupation.number_of_ongoing_tasks }}</h3>
                        </a>
                    </div>
                </ion-content>
            </ion-pane>
        </ion-tab>

        <!-- Next Meeting -->
        <ion-tab icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" class="gb-tab">
            <ion-pane>
                <ion-content overflow-scroll="false">
                    <!-- Refresher -->
                    <ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshNextMeetings()">
                    </ion-refresher>
                    <div class="item item-divider">Next Meetings</div>
                    <ion-list>
                        <ion-item ng-show="noMeeting">{{noMeeting}}</ion-item>
                        <ion-item ng-show="!noMeeting" class="item">
                            <a class="item item-thumbnail-left"
                               ng-repeat="nextMeeting in nextMeetingsTab"
                               ui-sref="app.event({projectId: projectId, eventId: nextMeeting.id})">
                                <img data-ng-src="data:image/png;base64, {{nextMeeting.projects.logo}}" />
                                <h2>{{ nextMeeting.title }}</h2>
                                <p>"{{ nextMeeting.description }}"</p>
                                <p class="icon-left icon ion-ios-calendar-outline"> {{ nextMeeting.begin_date }}</p>
                                <p class="icon-left icon ion-ios-calendar-outline"> {{ nextMeeting.end_date }}</p>
                            </a>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-pane>
        </ion-tab>

        <!-- Statistics -->
        <ion-tab icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline" class="gb-tab">
            <ion-pane>
              <ion-content overflow-scroll="false">
                <!-- Refresher -->
                <ion-refresher pulling-text="Pull to refresh..."
                  on-refresh="doRefreshStats()">
                </ion-refresher>
                <div class="item item-divider">Statistics</div>
                <ion-list>
                  <!-- <div class="card">
                    <div class="item item-divider">Line char</div>
                    <div class="item item-text-wrap">
                      <canvas id="line" class="chart chart-line" chart-data="data"
                      chart-labels="labels" chart-series="series" chart-options="options"
                      chart-dataset-override="datasetOverride" chart-click="onClick"</canvas>
                    </div>
                  </div> -->
                  <!-- PIE: Number of bugs assigned and number of bugs unassigned on bugtracker -->
                  <div class="card">
                    <div class="item item-divider">Bugs (un)assigned</div>
                    <ion-item ng-if="errors.bugAssignationTracker">{{ errors.bugAssignationTracker }}</ion-item>
                    <div ng-if="!errors.bugAssignationTracker" class="item item-text-wrap">
                      <canvas class="chart chart-pie"
                        chart-options="stats.options"
                        chart-data="stats.bugAssignationTracker.data"
                        chart-labels="stats.bugAssignationTracker.label">
                      </canvas>
                    </div>
                  </div>
                  <!-- PIE: Bugtracker tags repartition -->
                  <div class="card">
                    <div class="item item-divider">Bugtracker tag repartition</div>
                    <ion-item ng-if="errors.bugsTagsRepartition">{{ errors.bugsTagsRepartition }}</ion-item>
                    <div ng-if="!errors.bugsTagsRepartition" class="item item-text-wrap">
                      <canvas class="chart chart-pie"
                        chart-options="stats.options"
                        chart-data="stats.bugsTagsRepartition.data"
                        chart-labels="stats.bugsTagsRepartition.label">
                      </canvas>
                    </div>
                  </div>
                  <!-- PIE: Bugtracker bugs repartition per users -->
                  <div class="card">
                    <div class="item item-divider">Bugs per users</div>
                    <ion-item ng-if="errors.bugsUsersRepartition">{{ errors.bugsUsersRepartition }}</ion-item>
                    <div ng-if="!errors.bugsUsersRepartition" class="item item-text-wrap">
                      <canvas class="chart chart-pie"
                        chart-options="stats.options"
                        chart-data="stats.bugsUsersRepartition.data"
                        chart-labels="stats.bugsUsersRepartition.label">
                      </canvas>
                    </div>
                  </div>
                  <!-- PIE: Tasks status repartition number -->
                  <div class="card">
                    <div class="item item-divider">Tasks status repartition</div>
                    <ion-item ng-if="errors.taskStatus">{{ errors.taskStatus }}</ion-item>
                    <div ng-if="!errors.taskStatus" class="item item-text-wrap">
                      <canvas class="chart chart-pie"
                        chart-options="stats.options"
                        chart-data="stats.taskStatus.data"
                        chart-labels="stats.taskStatus.label">
                      </canvas>
                    </div>
                  </div>
                  <!-- PIE: Tasks repartition between users -->
                  <div class="card">
                    <div class="item item-divider">Tasks user repartition</div>
                    <ion-item ng-if="errors.tasksRepartition">{{ errors.tasksRepartition }}</ion-item>
                    <div ng-if="!errors.tasksRepartition" class="item item-text-wrap">
                      <canvas class="chart chart-pie"
                        chart-options="stats.options"
                        chart-data="stats.tasksRepartition.data"
                        chart-labels="stats.tasksRepartition.label">
                      </canvas>
                    </div>
                  </div>
                  <!-- PIE: Timeline message number per type of timeline -->
                  <div class="card">
                    <div class="item item-divider">Message user repartition on timeline</div>
                    <ion-item ng-if="errors.timelinesMessageNumber">{{ errors.timelinesMessageNumber }}</ion-item>
                    <div ng-if="!errors.timelinesMessageNumber" class="item item-text-wrap">
                      <canvas class="chart chart-pie"
                        chart-options="stats.options"
                        chart-data="stats.timelinesMessageNumber.data"
                        chart-labels="stats.timelinesMessageNumber.label">
                      </canvas>
                    </div>
                  </div>
                  <!-- BAR: Tasks status repartition number per user -->
                  <div class="card">
                    <div class="item item-divider">Tasks status repartition number per user</div>
                    <ion-item ng-if="errors.userTasksAdvancement">{{ errors.userTasksAdvancement }}</ion-item>
                    <div ng-if="!errors.userTasksAdvancement" class="item item-text-wrap">
                      <canvas class="chart chart-bar"
                        chart-options="stats.options"
                        chart-data="stats.userTasksAdvancement.data"
                        chart-labels="stats.userTasksAdvancement.label"
                        chart-series="stats.userTasksAdvancement.series">
                      </canvas>
                    </div>
                  </div>
                  <!-- BAR: Users working charge -->
                  <div class="card">
                    <div class="item item-divider">Users working charge</div>
                    <ion-item ng-if="errors.userWorkingCharge">{{ errors.userWorkingCharge }}</ion-item>
                    <div ng-if="!errors.userWorkingCharge" class="item item-text-wrap">
                      <canvas class="chart chart-bar"
                        chart-options="stats.options"
                        chart-data="stats.userWorkingCharge.data"
                        chart-labels="stats.userWorkingCharge.label"
                        chart-series="stats.userWorkingCharge.series">
                      </canvas>
                    </div>
                  </div>
                  <!-- INT: Clients bugs on bugtracker -->
                  <div class="card">
                    <div class="item item-divider">Clients bugs on bugtracker</div>
                    <ion-item ng-if="errors.clientBugTracker">{{ errors.clientBugTracker }}</ion-item>
                    <div ng-if="!errors.clientBugTracker" class="item item-text-wrap">
                      {{ stats.clientBugTracker }}
                    </div>
                  </div>
                  <!-- INT: Number of clients accesses-->
                  <div class="card">
                    <div class="item item-divider">Number of client accesses</div>
                    <ion-item ng-if="errors.customerAccessNumber">{{ errors.customerAccessNumber }}</ion-item>
                    <div ng-if="!errors.customerAccessNumber" class="item item-text-wrap">
                      {{ stats.customerAccessNumber }}
                    </div>
                  </div>
                  <!-- INT: Total tasks -->
                  <div class="card">
                    <div class="item item-divider">Total tasks</div>
                    <ion-item ng-if="errors.totalTasks">{{ errors.totalTasks }}</ion-item>
                    <div ng-if="!errors.totalTasks" class="item item-text-wrap">
                      {{ stats.totalTasks }}
                    </div>
                  </div>
                  <!-- INT: Percentage stockage occupied on total stockage -->
                  <div class="card">
                    <div class="item item-divider">Stockage occupied on total stockage</div>
                    <ion-item ng-if="errors.storageSize">{{ errors.storageSize }}</ion-item>
                    <div ng-if="!errors.storageSize" class="item item-text-wrap">
                      {{ stats.occupiedStorageSize }} / {{ stats.totalStorageSize }}
                    </div>
                  </div>
                  <!-- INTS: Number of bugs closed and number of bugs open -->
                  <div class="card">
                    <div class="item item-divider">Bugs closed and bugs open</div>
                    <ion-item ng-if="errors.openCloseBug">{{ errors.openCloseBug }}</ion-item>
                    <div ng-if="!errors.openCloseBug" class="item item-text-wrap">
                      Open: {{ stats.openBug }} <br />
                      Closed: {{ stats.closeBug }}
                    </div>
                  </div>
                  <!-- DATES: /?\ Project time limits -->
                  <div class="card">
                    <div class="item item-divider">Project time limit</div>
                    <ion-item ng-if="errors.projectTimeLimits">{{ errors.projectTimeLimits }}</ion-item>
                    <div ng-if="!errors.projectTimeLimits" class="item item-text-wrap">
                      Project start date: {{ stats.projectStart }} <br />
                      Project end date: {{ stats.projectEnd }}
                    </div>
                  </div>
                  <!-- BAR: Late tasks -->
                  <div class="card">
                    <div class="item item-divider">On time and late tasks per user</div>
                    <ion-item ng-if="errors.lateTask">{{ errors.lateTask }}</ion-item>
                    <div ng-if="!errors.lateTask" class="item item-text-wrap">
                      <canvas class="chart chart-horizontal-bar"
                        chart-options="stats.options"
                        chart-data="stats.lateTask.data"
                        chart-labels="stats.lateTask.label"
                        chart-series="stats.lateTask.series">
                      </canvas>
                      <!-- <ion-item ng-repeat="task in lateTask">
                        User: {{ task.user }}<br />
                        On time: {{ task.ontimeTasks }}<br />
                        Late: {{ task.lateTasks }}
                      </ion-item> -->
                    </div>
                  </div>
                  <!-- INTS: Project advancement -->
              </ion-list>


              <!-- BAR: /?\ Bugs evolution -->

              </ion-content>
            </ion-pane>
        </ion-tab>

        <!-- Progress -->
        <!--<ion-tab title="Progress" class="gb-tab">
            <ion-pane>
                <ion-content overflow-scroll="false">-->
                    <!-- Refresher -->
                    <!--<ion-refresher pulling-text="Pull to refresh..."
                                   on-refresh="doRefreshGlobalProgress()">
                    </ion-refresher>
                    <div class="item item-divider">
                        Progress
                    </div>
                    <div class="list">
                        <ion-item ng-show="noProject">{{noProject}}</ion-item>
                        <a class="item item-thumbnail-left"
                           ng-repeat="globalProgress in globalProgressTab"
                           ng-show="!noProject && globalProgress.project_id == projectId"
                           ui-sref="app.project({projectId: globalProgress.project_id})">
                            <img ng-if="projectLogo.logo" id="projectLogo" ng-src="data:image/png;base64, {{projectLogo.logo}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                            <img ng-if="!projectLogo.logo" id="projectLogo" ng-src="./images/noproject.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                            <h2 style="color:black">{{ globalProgress.project_name }}</h2><br />
                            <p style="color:black" class="icon-left ion-ios-list-outline"> {{ globalProgress.number_finished_tasks }} / {{ globalProgress.number_ongoing_tasks }} task(s) done</p>
                            <p style="color:black" class="icon-left ion-ios-email-outline"> {{ globalProgress.number_messages ? globalProgress.number_messages : 0}} message(s)</p>
                            <p style="color:black" class="icon-left ion-bug"> {{ globalProgress.number_bugs }} problems</p>
                        </a>
                    </div>
                </ion-content>
            </ion-pane>
        </ion-tab>-->
    </ion-tabs>
</ion-view>
