<!--
    Summary: Edit project view
-->

<ion-view>
    <ion-nav-title>Edit Project</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Project information -->
        <div class="item item-divider">Project information</div>
        <p>Type your project information</p>
        <img ng-if="projectLogo.logo" id="projectLogo" ng-src="data:image/png;base64, {{projectLogo.logo}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
        <img ng-if="!projectLogo.logo" id="projectLogo" ng-src="./images/noproject.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
        <form name="project_form">
            <ion-input class="item item-input">
                <ion-label>Logo</ion-label>
                <input type="file"
                       placeholder="Browse"
                       name="project_logo"
                       ng-model="projectLogo.logo"
                       base-sixty-four-input />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Name</ion-label>
                <input type="text"
                       placeholder="Name"
                       name="project_name"
                       ng-model="project.name" required />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Description</ion-label>
                <input type="text"
                       placeholder="Description"
                       name="project_description"
                       ng-model="project.description" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Phone</ion-label>
                <input type="tel"
                       placeholder="Phone"
                       name="project_phone"
                       ng-model="project.phone" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Company name</ion-label>
                <input type="text"
                       placeholder="Company"
                       name="project_company"
                       ng-model="project.company" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Email</ion-label>
                <input type="text"
                       placeholder="Email"
                       name="project_email"
                       ng-model="project.contact_mail" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Facebook</ion-label>
                <input type="text"
                       placeholder="Facebook"
                       name="project_facebook"
                       ng-model="project.facebook" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Twitter</ion-label>
                <input type="text"
                       placeholder="Twitter"
                       name="project_twitter"
                       ng-model="project.twitter" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Old Safe Password</ion-label>
                <input type="password"
                       placeholder="Old Safe Password"
                       name="project_oldPassword"
                       ng-model="project.oldPassword" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>New Safe Password</ion-label>
                <input type="password"
                       placeholder="New Safe Password"
                       name="project_newPassword"
                       ng-model="project.newPassword" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Confirm Safe Password</ion-label>
                <input type="password"
                       placeholder="Confirm Safe Password"
                       name="project_confirmPassword"
                       ng-model="project.confirmPassword" />
            </ion-input>
            <span ng-show="project.newPassword != project.confirmPassword">Passwords do not match.</span>
            <!--<span ng-show="profile_form.profile_confirmPassword.$dirty && profile_form.profile_confirmPassword.$error.passwordVerify">Passwords do not match.</span>-->
            <a class="button button-block button-positive icon ion-edit"
               ng-disabled="(project.newPassword != project.confirmPassword) || (project.newPassword && !project.oldPassword) || (!project.newPassword && project.oldPassword)"
               ng-click="EditProject()">
                <!--profile_form.$invalid-->
            </a>

            <!--<a class="button button-block button-positive" ng-click="EditProject()">
                Save
            </a>-->
        </form>
    </ion-content>
</ion-view>
