<!--
    Summary: edit tag on bugtracker view
-->

<ion-view cache-view="false">
    <ion-nav-title>Edit Tag</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Tag description -->
        <div class="item item-divider">Tag</div>
        <div>
            <form name="tag_form">
                <ion-input class="item item-input">
                    <ion-label>Name</ion-label>
                    <input type="text"
                           placeholder="My Tag's title"
                           name="tag_name"
                           ng-model="tagInfo.name" required />
                </ion-input>

                <!-- Edit Tag button -->
                <button class="button button-block button-positive"
                        ng-click="UpdateTag()">
                    Save
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>