<!--
    Summary: Edit profile view
-->

<ion-view>
    <ion-nav-title>Edit Profile</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Profile information -->
        <div class="item item-divider">Personal information</div>
        <img ng-if="userAvatar.avatar" id="profileAvatar" ng-src="data:image/png;base64, {{userAvatar.avatar}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
        <img ng-if="!userAvatar.avatar" id="profileAvatar" ng-src="./images/noavatar.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
        <form name="profile_form">
            <ion-input class="item item-input">
                <ion-label>Picture</ion-label>
                <input type="file"
                       placeholder="Browse"
                       name="profile_picture"
                       ng-model="userAvatar.avatar"
                       base-sixty-four-input />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>First Name</ion-label>
                <input type="text"
                       placeholder="First Name"
                       name="profile_firstName"
                       ng-model="profileInfo.firstname"/>
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Last Name</ion-label>
                <input type="text"
                       placeholder="Last Name"
                       name="profile_lastName"
                       ng-model="profileInfo.lastname" />
            </ion-input>
            <ion-input class="item item-input">
                <ion-label>Birthday</ion-label>
                <input type="date"
                       name="profile_birthday"
                       ng-model="profileInfo.birthday" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Phone</ion-label>
                <input type="tel"
                       placeholder="Phone"
                       name="profile_phone"
                       ng-model="profileInfo.phone" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Country</ion-label>
                <input type="text"
                       placeholder="Country"
                       name="profile_country"
                       ng-model="profileInfo.country" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Email</ion-label>
                <input type="text"
                       placeholder="Email"
                       name="profile_email"
                       ng-model="profileInfo.email" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>LinkedIn</ion-label>
                <input type="text"
                       placeholder="LinkedIn"
                       name="profile_facebook"
                       ng-model="profileInfo.linkedIn" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Twitter</ion-label>
                <input type="text"
                       placeholder="Twitter"
                       name="profile_twitter"
                       ng-model="profileInfo.twitter" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Old Password</ion-label>
                <input type="password"
                       placeholder="Old Password"
                       name="profile_oldPassword"
                       ng-model="profileInfo.oldPassword" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>New Password</ion-label>
                <input type="password"
                       placeholder="New Password"
                       name="profile_newPassword"
                       ng-model="profileInfo.newPassword" />
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Confirm password</ion-label>
                <input type="password"
                       placeholder="Confirm password"
                       name="profile_confirmPassword"
                       ng-model="profileInfo.confirmPassword"/>
            </ion-input>
            <span ng-show="profileInfo.newPassword != profileInfo.confirmPassword">Passwords do not match.</span>
            <div class="text-center">
              <a class="button button-clear icon ion-edit gb-color-dashboard"
               ng-disabled="profile_form.$invalid
               || (profileInfo.newPassword != profileInfo.confirmPassword)
               || (profileInfo.newPassword && !profileInfo.oldPassword)
               || (!profileInfo.newPassword && profileInfo.oldPassword)"
               ng-click="EditProfile()"><!--profile_form.$invalid-->
              </a>
            </div>
        </form>
    </ion-content>
</ion-view>
