<!--
    Summary: Edit ticket view
-->

<ion-view>
    <ion-nav-title>Edit ticket</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Project information -->
        <div class="item item-divider">Ticket information</div>
        <form name="ticket_form">
            <ion-input class="item item-input item-floating-label">
                <ion-label>Title</ion-label>
                <input type="text"
                       placeholder="Title"
                       name="ticket_title"
                       ng-model="ticket.title" required />
            </ion-input>
            <ion-item>
                <textarea name="ticket_form_description"
                          rows="5"
                          placeholder="Leave a comment"
                          ng-model="ticket.description"></textarea>
                          <!-- Edit ticket button -->
                <div class="text-center">
                  <a class="button button-clear gb-color-bugtracker icon ion-edit" ng-click="EditTicket()"></a>
                </div>
            </ion-item>
        </form>

        <!-- Tags information -->
        <div class="item item-divider">Tags</div>
        <p>These tags are local to ticket</p>
        <!-- Tags on project -->
        <p ng-show="noTag">{{noTag}}</p>
        <i ng-if="ticket.tags[0]" class="icon ion-ios-pricetag larger gb-color-bugtracker"></i>&nbsp
        <button ng-repeat="tag in ticket.tags"
                class="button button-small button-balanced gb-button-tag"
                ng-click="showRemoveTagActionSheet(tag.id)">{{ tag.name }}
        </button><br />
        <div ng-show="tagsOnProject[0] != null">
            <ion-list>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Tags available
                    </div>
                    <select ng-model="tagToAdd.id">
                        <option ng-repeat="tag in tagsOnProject"
                                value="{{ tag.id }}">
                            {{ tag.name }}
                        </option>
                    </select>
                </label>
                <!-- Assign tag to ticket -->
                <div class="text-center">
                  <button class="button button-clear gb-color-bugtracker" ng-click="AssignTag()">
                    ASSIGN TAG
                  </button>
                </div>
            </ion-list>
        </div>
        <div>
            <form name="createTag_form">
                <ion-input class="item item-input">
                    <ion-label>Name</ion-label>
                    <input type="text"
                           placeholder="My Tag's title"
                           name="createTag_name"
                           ng-model="createTag.name" required />
                </ion-input>
                <!-- Create Tag -->
                <div class="text-center">
                  <button class="button button-clear gb-color-bugtracker icon ion-plus" ng-click="CreateTag()">
                  </button>
                </div>
            </form>
        </div>
        <!-- Member list -->
        <div class="item item-divider">Assign members</div>
        <ion-list>
            <ion-checkbox ng-repeat="user in usersOnTicket"
                          ng-model="user.checked"
                          ng-change="AddOrRemoveUser(user.id, user.checked, $index)">
                <!--{{ user.name }}-->{{ user.firstname }} {{ user.lastname }}
            </ion-checkbox>
        </ion-list>
        <div class="text-center">
          <a class="button button-clear gb-color-bugtracker" ng-click="SetUsersToTicket()">
              ASSIGN TICKET
          </a>
        </div>
    </ion-content>
</ion-view>
