<!--
    Summary: Abstract page menu for all other pages

    Good representation of the application format:

    |-----------------------<ion-side-menus-----------------------|
    |   <ion-side-menu>            <ion-side-menu-content>        |
    |-------------------------------------------------------------|
    |       <header>    |   <ion-nav-back-button> <ion-nav-bar>   |
    |-------------------|-----------------------------------------|
    |    <ion-content>  |                         <ion-nav-view>  |
    |    (Menu Items)   |                         (View Content)  |
    |-------------------------------------------------------------|
-->

<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu side="left">
        <ion-content>
            <ion-list> <!-- Display user picture & name -->
                <ion-item menu-close class="item item-thumbnail-left" ui-sref="app.profile">
                    <img src="{{ userDatas.avatar }}" />
                    <h2 style="font-size: 1.5em;" class="text-center col">{{ userDatas.firstname }}</h2>
                    <h2 style="font-size: 1.5em;" class="text-center col">{{ userDatas.lastname }}</h2>
                </ion-item>
            </ion-list>
            <div class="button-bar">
                <a class="button icon button-icon ion-ios-settings"></a>
                <a class="button icon button-icon ion-card"></a>
                <a class="button icon button-icon ion-power" ng-click="logout()"></a>
            </div>
            <ion-list><!-- List of all links in menu -->
                <ion-item nav-clear menu-close ui-sref="app.projects">My projects</ion-item>
                <ion-item nav-clear menu-close ui-sref="app.dashboard">Dashboard</ion-item>
                <ion-item nav-clear menu-close ui-sref="app.timelines">Timelines</ion-item>
                <ion-item nav-clear menu-close ui-sref="app.whiteboards({projectId: projectId})">Whiteboards</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content edge-drag-threshold="true"><!-- Make the possibility to swipe -->
        <ion-nav-bar class="bar-dark nav-title-slide-ios7">
            <ion-nav-back-button></ion-nav-back-button><!-- Configuration of back-button in app.js -->
            <ion-nav-buttons side="left"> <!-- Menu button on top left -->
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right"> <!-- Notification button & Settings button on top right -->
                <ion-nav-button class="button button-icon button-clear ion-android-notifications-none"></ion-nav-button>
                <ion-nav-button class="button button-icon ion-ios-settings"></ion-nav-button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- On this line, "menuContent" allows to proceed inheritance, see in app.js -->
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

</ion-side-menus>