<!--
    Summary: This page is the content of the menu from projects.html only (special one, no project selected yet)
-->

<ion-content>
    <ion-list>
        <!-- Display user picture & name -->
        <ion-item menu-close class="item item-thumbnail-left" ui-sref="app.profile">
            <!--<img src="{{ userDatas.avatar }}" />-->
            <h2 style="font-size: 1.5em;" class="text-center col">{{ userDatas.firstname }}</h2>
            <h2 style="font-size: 1.5em;" class="text-center col">{{ userDatas.lastname }}</h2>
        </ion-item>
    </ion-list>
    <div class="button-bar">
        <a menu-close class="button icon button-icon ion-ios-settings" style="background-color:grey"></a>
        <a class="button icon button-icon ion-card" ui-sref="app.profile"></a>
        <a class="button icon button-icon ion-power" ng-click="logout()"></a>
    </div>
    <ion-list>
        <!-- List of all links in menu if no one is selected -->
        <ion-item nav-clear menu-close ui-sref-active="active" ui-sref="app.projects">Projects</ion-item>
        <ion-item nav-clear style="background-color:grey">Dashboard</ion-item>
        <ion-item nav-clear style="background-color:grey">BugTracker</ion-item>
        <ion-item nav-clear style="background-color:grey">Calendar</ion-item>
        <ion-item nav-clear style="background-color:grey">Cloud</ion-item>
        <ion-item nav-clear style="background-color:grey">Tasks</ion-item>
        <ion-item nav-clear style="background-color:grey">Timelines</ion-item>
        <ion-item nav-clear style="background-color:grey">Whiteboards</ion-item>
    </ion-list>
</ion-content>