<!--
    Summary: User view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">Profile</ion-nav-title>
    <ion-content overflow-scroll="false">

        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Personal information -->
        <div class="item item-divider item-icon-right">Personal information<i class="icon ion-edit gb-color-dashboard" ui-sref="app.editProfile"></i></div>
        <ion-list class="list card">
          <!-- Avatar -->
          <ion-item>
            <!--<img class="full-image" ng-src="#" />-->
            <!--<img ng-src="{{ userAvatar.avatar }} ? 'data:image/png;base64, {{userAvatar.avatar}}' : './images/noavatar.png' }}" />-->
            <img ng-if="userAvatar.avatar" id="userAvatar" ng-src="data:image/png;base64, {{userAvatar.avatar}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
            <img ng-if="!userAvatar.avatar" id="userAvatar" ng-src="./images/noavatar.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;"/>
          </ion-item>
          <!-- Firstname -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.firstname">
            <i class="icon ion-ios-person gb-color-dashboard"></i>
            <strong>First Name: </strong> {{ profileInfo.firstname }}
          </ion-item>
          <!-- Lastname -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.lastname">
            <i class="icon ion-ios-person gb-color-dashboard"></i>
            <strong>Last Name: </strong> {{ profileInfo.lastname }}
          </ion-item>
          <!-- Birthday -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.birthday.date">
            <i class="icon ion-beer gb-color-dashboard"></i>
            <strong>birthday: </strong> {{ profileInfo.birthday.date }}
          </ion-item>
          <!-- Phone -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.phone">
            <i class="icon ion-iphone gb-color-dashboard"></i>
            <strong>Phone: </strong> {{ profileInfo.phone }}
          </ion-item>
          <!-- Email -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.email">
            <i class="icon ion-ios-email gb-color-dashboard"></i>
            <strong>Email: </strong> {{ profileInfo.email }}
          </ion-item>
          <!-- Country -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.country">
            <i class="icon ion-ios-location gb-color-dashboard"></i>
            <strong>Country: </strong> {{ profileInfo.country }}
          </ion-item>
          <!-- LinkedIn -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.linkedin">
            <i class="icon ion-social-linkedin gb-color-dashboard"></i>
            <strong>LinkedIn: </strong> {{ profileInfo.linkedin }}
          </ion-item>
          <!-- Twitter -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.twitter">
            <i class="icon ion-social-twitter gb-color-dashboard"></i>
            <strong>Twitter: </strong> {{ profileInfo.twitter }}
          </ion-item>
          <!-- Viadeo -->
          <ion-item class="item-icon-left item-text-wrap" ng-show="profileInfo.viadeo">
            <i class="icon ion-close-round gb-color-dashboard"></i>
            <strong>Viadeo: </strong> {{ profileInfo.viadeo }}
          </ion-item>
          <!-- <a class="button button-block button-positive"
                   ui-sref="app.editProfile">
                    Edit
                </a> -->
        </ion-list>

        <!-- Projects list -->
        <!--<div class="item item-divider">My projects list</div>
        <ion-list>
            <ion-item ng-show="noProject">{{noProject}}</ion-item>
            <ion-item ng-show="!noProject"
                      class="item-icon-right"
                      ng-repeat="project in projectsTab"
                      ui-sref="app.project({projectId: project.project_id})">
                <h2>{{ project.name }}</h2>
            </ion-item>
        </ion-list>-->

        <!-- Next meetings -->
        <!--<div class="item item-divider">Next Meetings</div>
        <ion-list>
            <ion-item ng-show="noMeeting"></ion-item>
            <ion-item ng-show="!noMeeting" class="item-body">
                <a class="item item-thumbnail-left"
                   ng-repeat="nextMeeting in nextMeetingsTab"
                   ui-sref="app.nextMeeting({nextMeetingId: nextMeeting.user_id})">
                    <img ng-src="{{ nextMeeting.projects.logo }}" />
                    <h2>{{ nextMeeting.type }}: {{ nextMeeting.title }}</h2>
                    <p><strong>Project: </strong> {{ nextMeeting.projects.name }}</p>
                    <p>"{{ nextMeeting.description }}"</p>
                    <p class="icon-left ion-ios-calendar-outline"> {{ nextMeeting.begin_date.date }}</p>
                    <p class="icon-left ion-ios-clock-outline"> {{ nextMeeting.end_date.date }}</p>
                </a>
            </ion-item>
        </ion-list>-->

        <!-- Current and next tasks -->
        <!--<div class="item item-divider">Current task</div>
        <ion-list>
            <ion-item class="item-body">
                <ion-item ng-show="noCurrentTask">{{noCurrentTask}}</ion-item>
                <ion-item ng-show="!noCurrentTask"
                          ng-repeat="currentTask in currentTasksTab"
                          ui-sref="app.gantt({projectId: currentTask.project_id, taskId: currentTask.id})">
                    <h2>{{ currentTask.title }}</h2>
                    <p><strong>Project: </strong> {{ currentTask.project_name }}</p>
                    <p><strong>Description: </strong> {{ currentTask.description }}</p>
                    <p><strong>Due: </strong> {{ currentTask.due_date.date }}</p>
                </ion-item>
            </ion-item>
        </ion-list>-->

        <!-- Roles of the user currently connected on different projects -->
        <!--<div class="item item-divider">My roles</div>
        <ion-list>
            <ion-item ng-show="noRole">{{noRole}}</ion-item>
            <ion-item ng-show="!noRole"
                      ng-repeat="role in userConnectedRoles"
                      ui-sref="app.project({projectId: role.projectId})">-->
                      <!--ui-sref="app.project({projectId: role.project.id})
                {{ role.role.name }} on {{ role.project.name }}--><!-- V0.2 (< 16/09/2016) -->
                <!--{{ role.name }} on {{ role.projectName }}
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>
