<!--
    Summary: User view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">Profile</ion-nav-title>
    <ion-content overflow-scroll="false">

        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <div class="item item-divider">Personal information</div>
        <ion-list>
            <ion-item class="item-body">
                <img class="full-image" ng-src="#" />
                <p><strong>First Name: </strong> {{ profileInfo.first_name }}</p>
                <p><strong>Last Name: </strong> {{ profileInfo.last_name }}</p>
                <p><strong>birthday: </strong> {{ profileInfo.birthday.date }}</p>
                <p><strong>Phone: </strong> {{ profileInfo.phone }}</p>
                <p><strong>Email: </strong> {{ profileInfo.email }}</p>
                <p><strong>Country: </strong> {{ profileInfo.country }}</p>
                <p><strong>LinkedIn: </strong> {{ profileInfo.linkedIn }}</p>
                <p><strong>Twitter: </strong> {{ profileInfo.twitter }}</p>
                <p><strong>Viadeo: </strong> {{ profileInfo.viadeo }}</p>
                <a class="button button-block button-dark"
                   ui-sref="app.editProfile">
                    Edit
                </a>
            </ion-item>
        </ion-list>

        <!-- Projects list -->
        <div class="item item-divider">My projects list</div>
        <ion-list>
            <ion-item class="item-icon-right"
                      ng-repeat="project in projectsTab"
                      ui-sref="app.project({projectId: project.project_id})">
                <h2>{{ project.name }}</h2>
            </ion-item>
        </ion-list>

        <!-- Next meetings -->
        <div class="item item-divider">Next Meetings</div>
        <ion-list>
            <ion-item class="item-body">
                {{ nextMeetingsError }}
                <a class="item item-thumbnail-left"
                   ng-repeat="nextMeeting in nextMeetingsTab"
                   ui-sref="app.nextMeeting({nextMeetingId: nextMeeting.user_id})">
                    <img ng-src="{{ nextMeeting.project_logo }}" />
                    <h2>{{ nextMeeting.event_type }}: {{ nextMeeting.event_title }}</h2>
                    <p><strong>Project: </strong> {{ nextMeeting.project_name }}</p>
                    <p>"{{ nextMeeting.event_description }}"</p>
                    <p class="icon-left ion-ios-calendar-outline"> {{ nextMeeting.event_begin_date.date }}</p>
                    <p class="icon-left ion-ios-clock-outline"> {{ nextMeeting.event_end_date.date }}</p>
                </a>
            </ion-item>
        </ion-list>

        <!-- Current and next tasks -->
        <div class="item item-divider">Current task</div>
        <ion-list>
            <ion-item class="item-body">
                {{ currentTasksError }}
                <ion-item ng-repeat="currentTask in currentTasksTab"
                          ui-sref="app.gantt({projectId: currentTask.project_id, taskId: currentTask.id})">
                    <h2>{{ currentTask.title }}</h2>
                    <p><strong>Project: </strong> {{ currentTask.project_name }}</p>
                    <p><strong>Description: </strong> {{ currentTask.description }}</p>
                    <p><strong>Due: </strong> {{ currentTask.due_date.date }}</p>
                </ion-item>
            </ion-item>
        </ion-list>

        <!-- Roles of the user currently connected on different projects -->
        <div class="item item-divider">My roles</div>
        <ion-list>
            {{ userConnectedRolesError }}
            <ion-item ng-repeat="role in userConnectedRoles.user_role">
                {{ role.role.name }} on {{ role.project.name }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>