<!--
    Summary: Single project view
-->

<ion-view>
    <ion-nav-title>Project</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Project information -->
        <div class="item item-divider item-icon-right">Project information<i class="icon ion-edit gb-color-dashboard" ui-sref="app.editProject({projectId: projectId})"></i></div>
        <ion-list class="list card">
            <!-- Logo -->
            <ion-item>
                <!--<img class="full-image" data-ng-src="data:image/png;base64, {{projectInfo.logo}}" />-->
                <!--<img class="full-image" ng-src="data:image/png;base64, {{ projectLogo.logo ? projectLogo.logo : './images/noproject.png' }}" />-->
                <img ng-if="projectLogo.logo" id="projectLogo" ng-src="data:image/png;base64, {{projectLogo.logo}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                <img ng-if="!projectLogo.logo" id="projectLogo" ng-src="./images/noproject.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />

                <!-- Edit project button -->
                <!-- <div class="text-center">
                  <button class="button icon ion-edit button-clear gb-color-dashboard text-center"
                    ui-sref="app.editProject({projectId: projectId})">
                  </button>
                </div> -->
            </ion-item>
            <!-- Name -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.name">
              <i class="icon ion-code-working gb-color-dashboard"></i>
              <strong>Name: </strong> {{ projectInfo.name }}
            </ion-item>
            <!-- Description -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.description">
              <i class="icon ion-clipboard gb-color-dashboard"></i>
              <strong>Description: </strong> {{ projectInfo.description }}
            </ion-item>
            <!-- Phone -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.phone">
              <i class="icon ion-iphone gb-color-dashboard"></i>
              <strong>Phone: </strong> {{ projectInfo.phone }}
            </ion-item>
            <!-- Company -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.company">
              <i class="icon ion-home gb-color-dashboard"></i>
              <strong>Company: </strong> {{ projectInfo.company }}
            </ion-item>
            <!-- Email -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.contact_mail">
              <i class="icon ion-ios-email gb-color-dashboard"></i>
              <strong>Email: </strong> {{ projectInfo.contact_mail }}
            </ion-item>
            <!-- Creation date -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.creation_date.date">
              <i class="icon ion-ios-calendar gb-color-dashboard"></i>
              <strong>Creation date: </strong> {{ projectInfo.creation_date.date }}
            </ion-item>
            <!-- Facebook -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.facebook">
              <i class="icon ion-social-facebook gb-color-dashboard"></i>
              <strong>Facebook: </strong> {{ projectInfo.facebook }}
            </ion-item>
            <!-- Twitter -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.twitter">
              <i class="icon ion-social-twitter gb-color-dashboard"></i>
              <strong>Twitter: </strong> {{ projectInfo.twitter }}
            </ion-item>
            <!-- If project is in deletion -->
            <ion-item class="item-icon-left item-text-wrap" ng-show="projectInfo.deleted_at != null">
              <i class="icon ion-sad gb-color-dashboard"></i>
              <strong style="color:red">IN DELETION</strong>
            </ion-item>
        </ion-list>
        <!-- Users on project -->
        <div class="item item-divider">Members</div>
        <ion-list can-swipe="true">
            <ion-item ng-show="noUser">{{noUser}}</ion-item>
            <ion-item ng-show="!noUser"
                      class="item-avatar"
                      ng-repeat="userOnProject in userList"
                      ui-sref="app.user({ userId: userOnProject.id, projectId: projectId })"><!--ng-click="showMemberActionSheet(userOnProject.id)"-->
                <img ng-if="findUserAvatar(userOnProject.id)" id="userAvatar" ng-src="data:image/png;base64, {{findUserAvatar(userOnProject.id)}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                <img ng-if="!findUserAvatar(userOnProject.id)" id="userAvatar" ng-src="./images/noavatar.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />

                <h2>{{ userOnProject.firstname }} {{ userOnProject.lastname }}</h2>
                <ion-option-button class="button-assertive icon ion-ios-trash"
                                   ng-click="PopupRemoveUserFromProject(userOnProject.id)">
                </ion-option-button>
            </ion-item>
        </ion-list>

        <!-- Add a user -->
        <form name="add_user_form">
            <ion-item class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="email" placeholder="User email"
                           name="userToAdd_email" ng-model="userToAdd.userEmail" required>
                </label>
                <button ng-disabled="add_user_form.$invalid"
                        class="button button-clear icon ion-plus gb-color-dashboard"
                        ng-click="AddUserToProject()">
                </button>
            </ion-item>
        </form>

        <!-- Roles on project -->
        <div class="item item-divider item-icon-right">Roles<i class="icon ion-plus gb-color-dashboard" ui-sref="app.createRole({projectId: projectId})"></i></div>
        <ion-list can-swipe="true">
            <ion-item ng-show="noRole">{{noRole}}</ion-item>
            <ion-item ng-show="!noRole"
                      ng-repeat="role in projectRoles"
                      ui-sref="app.role({projectId: projectId, roleId: role.roleId, role: role})">
                <h2>{{ role.name }}</h2>
                <ion-option-button class="button-assertive icon ion-ios-trash"
                                   ng-click="PopupDeleteRoleFromProject(role.roleId)">
                </ion-option-button>
            </ion-item>
        </ion-list>

        <!-- Add a role on project -->
        <!-- <ion-item class="item-input-inset">
          <button class="button button-block button-positive icon ion-plus"
          ui-sref="app.createRole({projectId: projectId})">
          </button>
        </ion-item> -->


        <!-- Customers accesses on project -->
        <div class="item item-divider">Customers Accesses</div>
        <ion-list can-swipe="true">
            <ion-item ng-show="noCustomer">{{noCustomer}}</ion-item>
            <ion-item ng-show="!noCustomer"
                      class="item item-text-wrap"
                      ng-repeat="customerOnProject in customersList"><!--ng-click="showCustomerActionSheet(customerOnProject.id, customerOnProject.name)"-->
                <!--<img ng-src="" />-->
                <h2>{{ customerOnProject.name }}</h2>
                <!--<p><strong>Created: </strong>{{ customerOnProject.creation_date.date }}</p>-->
                <p><strong>Token: </strong>{{ customerOnProject.token }}</p>
                <ion-option-button class="button-assertive icon ion-ios-refresh"
                                   ng-click="DeleteCustomerAccessBeforeRegen(customerOnProject.id, customerOnProject.name)">
                </ion-option-button>
                <ion-option-button class="button-assertive icon ion-ios-trash"
                                   ng-click="PopupDeleteCustomerAccess(customerOnProject.id)">
                </ion-option-button>
            </ion-item>
        </ion-list>

        <!-- Generate a link for customer -->
        <form name="gen_access_form">
            <ion-item class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Customer access name"
                           name="customerAccessToAdd_email" ng-model="customerAccessToAdd.accessName" required />
                </label>
                <button ng-disabled="gen_access_form.$invalid"
                        class="button button-clear icon ion-link gb-color-dashboard"
                        ng-click="GenerateAccess()">
                </button>
            </ion-item>
        </form>

        <!-- Danger zone -->
        <div class="item item-divider bar bar-assertive">Danger zone</div>
        <a ng-show="projectInfo.deleted_at == null" class="button button-block button-dark icon ion-ios-trash"
           ng-click="PopupDeleteProject()">
        </a>
        <a ng-show="projectInfo.deleted_at != null" class="button button-block button-dark"
           ng-click="RetreiveProject()">
            Retreive this project
        </a>
    </ion-content>
</ion-view>
