<!--
    Summary: Single project view
-->

<ion-view>
    <ion-nav-title>Project</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Project information -->
        <div class="item item-divider">Project information</div>
        <ion-list class="card">
            <ion-item class="item-body">
                <img class="full-image" data-ng-src="data:image/png;base64, {{projectInfo.logo}}" />
                <p ng-show="projectInfo.name"><strong>Name: </strong> {{ projectInfo.name }}</p>
                <p ng-show="projectInfo.description"><strong>Description: </strong> {{ projectInfo.description }}</p>
                <p ng-show="projectInfo.phone"><strong>Phone: </strong> {{ projectInfo.phone }}</p>
                <p ng-show="projectInfo.company"><strong>Company: </strong> {{ projectInfo.company }}</p>
                <p ng-show="projectInfo.contact_mail"><strong>Email: </strong> {{ projectInfo.contact_mail }}</p>
                <p ng-show="projectInfo.creation_date.date"><strong>Creation date: </strong> {{ projectInfo.creation_date.date }}</p>
                <p ng-show="projectInfo.facebook"><strong>Facebook: </strong> {{ projectInfo.facebook }}</p>
                <p ng-show="projectInfo.twitter"><strong>Twitter: </strong> {{ projectInfo.twitter }}</p>
                <p ng-show="projectInfo.deleted_at != null"><strong style="color:red">IN DELETION :(</strong></p>

                <div class="button-bar">
                    <!-- Edit project button -->
                    <a class="button icon ion-edit button-positive"
                       ui-sref="app.editProject({projectId: projectId})">
                    </a>
                    <!-- Roles on project button -->
                    <a class="button icon ion-network button-positive"
                       ui-sref="app.roles({projectId: projectId})">
                    </a>
                </div>
            </ion-item>
        </ion-list>
        <!-- Users on project -->
        <div class="item item-divider">Members</div>
        <ion-list>
            <ion-item ng-show="noUser">{{noUser}}</ion-item>
            <ion-item ng-show="!noUser"
                      class="item-avatar"
                      ng-repeat="userOnProject in userList"
                      ng-click="showMemberActionSheet(userOnProject.id)">
                <img ng-src="userOnProject.avatar" />
                <h2>{{ userOnProject.firstname }} {{ userOnProject.lastname }}</h2>
            </ion-item>
        </ion-list>

        <!-- Add a user -->
        <form>
            <ion-item class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="User email"
                           name="userToAdd_email" ng-model="userToAdd.userEmail" required>
                </label>
                <button class="button button-small button-positive"
                        ng-click="AddUserToProject()">
                    Add
                </button>
            </ion-item>
        </form>

        <!-- Roles on project -->
        <div class="item item-divider">Roles</div>
        <ion-list>
            <ion-item ng-show="noRole">{{noRole}}</ion-item>
            <ion-item ng-show="!noRole"
                      ng-repeat="role in projectRoles"
                      ui-sref="app.usersOnRole({projectId: projectId, roleId: role.id, role: role})">
                <h2>{{ role.name }}</h2>
            </ion-item>
        </ion-list>

        <!-- Add a role on project -->
        <form>
            <ion-item class="item-input-inset">
                <button class="button button-block button-positive"
                        ui-sref="app.roles({projectId: projectId})">
                    Add
                </button>
            </ion-item>
        </form>


        <!-- Customers accesses on project -->
        <div class="item item-divider">Customers Accesses</div>
        <ion-list>
            <ion-item ng-show="noCustomer">{{noCustomer}}</ion-item>
            <ion-item ng-show="!noCustomer"
                      class="item-avatar item-text-wrap"
                      ng-repeat="customerOnProject in customersList"
                      ng-click="showCustomerActionSheet(customerOnProject.id)">
                <img ng-src="" />
                <h2>{{ customerOnProject.name }}</h2>
                <p><strong>Created: </strong>{{ customerOnProject.creation_date.date }}</p>
                <p><strong>Token: </strong>{{ customerOnProject.customer_token }}</p>
            </ion-item>
        </ion-list>

        <!-- Generate a link for customer -->
        <form>
            <ion-item class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Customer access name"
                           name="customerAccessToAdd_email" ng-model="customerAccessToAdd.accessName" required />
                </label>
                <button class="button button-small button-positive"
                        ng-click="GenerateAccess()">
                    Generate
                </button>
            </ion-item>
        </form>

        <!-- Danger zone -->
        <div class="item item-divider bar bar-assertive">Danger zone</div>
        <a ng-show="projectInfo.deleted_at == null" class="button button-block button-dark"
           ng-click="PopupDeleteProject()">
            Delete this project
        </a>
        <a ng-show="projectInfo.deleted_at != null" class="button button-block button-dark"
           ng-click="RetreiveProject()">
            Retreive this project
        </a>
    </ion-content>
</ion-view>