<!--
    Summary: This page lists all projects and allows to add / remove any
-->

<ion-view>
    <ion-nav-title>Projects</ion-nav-title>
    <ion-content overflow-scroll="false">

        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Projects list -->
        <div class="item item-divider">My projects list</div>
        <ion-list>
            <ion-item class="item-icon-right"
                      ng-repeat="project in projectsTab"
                      ui-sref="app.dashboard({projectId: project.project_id})">
                      <!--ui-sref="app.project({projectId: project.project_id})">-->
                <h2>{{ project.name }}</h2>
            </ion-item>
        </ion-list>
        <a class="button button-block button-positive" ui-sref="app.createProject">
            Create project
        </a>
    </ion-content>
</ion-view>