<!--
    Summary: Roles on a project view
-->

<ion-view>
    <ion-nav-title>Roles</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Roles on project -->
        <div class="item item-divider">Roles</div>
        <ion-list>
            <ion-item ng-repeat="role in projectRoles"
                      ui-sref="app.usersOnRole({projectId: projectId, roleId: role.id, role: role})">
                <h2>{{ role.name }}</h2>
            </ion-item>
        </ion-list>

        <div class="item item-divider">Add a role</div>
        <ion-list>
            <ion-item class="item-input">
                <ion-label class="input-label">Role name: </ion-label>
                <input type="text" ng-model="roleType.name" placeholder="Your role name">
            </ion-item>
            <ion-checkbox ng-model="roleType.teamTimeline" ng-init="roleType.teamTimeline=false">Team Timeline</ion-checkbox>
            <ion-checkbox ng-model="roleType.customerTimeline" ng-init="roleType.customerTimeline=false">Customer Timeline</ion-checkbox>
            <ion-checkbox ng-model="roleType.gantt" ng-init="roleType.gantt=false">Gantt</ion-checkbox>
            <ion-checkbox ng-model="roleType.whiteboard" ng-init="roleType.whiteboard=false">Whiteboard</ion-checkbox>
            <ion-checkbox ng-model="roleType.bugtracker" ng-init="roleType.bugtracker=false">Bugtracker</ion-checkbox>
            <ion-checkbox ng-model="roleType.event" ng-init="roleType.event=false">Event</ion-checkbox>
            <ion-checkbox ng-model="roleType.task" ng-init="roleType.task=false">Task</ion-checkbox>
            <ion-checkbox ng-model="roleType.projectSettings" ng-init="roleType.projectSettings=false">Project settings</ion-checkbox>
            <ion-checkbox ng-model="roleType.cloud" ng-init="roleType.cloud=false">Cloud</ion-checkbox>
        </ion-list>
        <!-- Add a role on project -->
        <button class="button button-block button-dark"
                ng-click="AddNewRole()">
            Add
        </button>
    </ion-content>
</ion-view>