<!--
    Summary: Roles on a project view
-->

<ion-view>
    <ion-nav-title>Roles</ion-nav-title>
    <ion-content overflow-scroll="false">
        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <!-- Roles on project -->
        <div class="item item-divider">Roles</div>
        <ion-list>
            <ion-item ng-show="noRole">{{noRole}}</ion-item>
            <ion-item ng-show="!noRole"
                      ng-repeat="role in projectRoles"
                      ui-sref="app.usersOnRole({projectId: projectId, roleId: role.roleId, role: role})">
                <h2>{{ role.name }}</h2>
            </ion-item>
        </ion-list>

        <div class="item item-divider">Add a role</div>
        <form name="form_roleType">
            <ion-list>
                <ion-item class="item-input item-floating-label">
                    <ion-label class="input-label">Role name</ion-label>
                    <input type="text" ng-model="roleType.name" placeholder="Role name" required>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Team Timeline</h2>
                    <ion-radio name="teamTimeline" ng-model="roleType.teamTimeline" ng-value="0">None</ion-radio>
                    <ion-radio name="teamTimeline" ng-model="roleType.teamTimeline" ng-value="1">Read</ion-radio>
                    <ion-radio name="teamTimeline" ng-model="roleType.teamTimeline" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Customer Timeline</h2>
                    <ion-radio name="customerTimeline" ng-model="roleType.customerTimeline" ng-value="0">None</ion-radio>
                    <ion-radio name="customerTimeline" ng-model="roleType.customerTimeline" ng-value="1">Read</ion-radio>
                    <ion-radio name="customerTimeline" ng-model="roleType.customerTimeline" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Gantt</h2>
                    <ion-radio name="gantt" ng-model="roleType.gantt" ng-value="0">None</ion-radio>
                    <ion-radio name="gantt" ng-model="roleType.gantt" ng-value="1">Read</ion-radio>
                    <ion-radio name="gantt" ng-model="roleType.gantt" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Whiteboard</h2>
                    <ion-radio name="whiteboard" ng-model="roleType.whiteboard" ng-value="0">None</ion-radio>
                    <ion-radio name="whiteboard" ng-model="roleType.whiteboard" ng-value="1">Read</ion-radio>
                    <ion-radio name="whiteboard" ng-model="roleType.whiteboard" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">BugTracker</h2>
                    <ion-radio name="bugtracker" ng-model="roleType.bugtracker" ng-value="0">None</ion-radio>
                    <ion-radio name="bugtracker" ng-model="roleType.bugtracker" ng-value="1">Read</ion-radio>
                    <ion-radio name="bugtracker" ng-model="roleType.bugtracker" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Event</h2>
                    <ion-radio name="event" ng-model="roleType.event" ng-value="0">None</ion-radio>
                    <ion-radio name="event" ng-model="roleType.event" ng-value="1">Read</ion-radio>
                    <ion-radio name="event" ng-model="roleType.event" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Tasks</h2>
                    <ion-radio name="task" ng-model="roleType.task" ng-value="0">None</ion-radio>
                    <ion-radio name="task" ng-model="roleType.task" ng-value="1">Read</ion-radio>
                    <ion-radio name="task" ng-model="roleType.task" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Project Settings</h2>
                    <ion-radio name="projectSettings" ng-model="roleType.projectSettings" ng-value="0">None</ion-radio>
                    <ion-radio name="projectSettings" ng-model="roleType.projectSettings" ng-value="1">Read</ion-radio>
                    <ion-radio name="projectSettings" ng-model="roleType.projectSettings" ng-value="2">Read & Write</ion-radio>
                </ion-item>
                <ion-item>
                    <h2 style="text-align:center">Cloud</h2>
                    <ion-radio name="cloud" ng-model="roleType.cloud" ng-value="0">None</ion-radio>
                    <ion-radio name="cloud" ng-model="roleType.cloud" ng-value="1">Read</ion-radio>
                    <ion-radio name="cloud" ng-model="roleType.cloud" ng-value="2">Read & Write</ion-radio>
                </ion-item>
            </ion-list>
            <!-- Add a role on project -->
            <div class="text-center">
              <button ng-disabled="form_roleType.$invalid"
                      class="button button-clear icon ion-plus gb-color-dashboard"
                      ng-click="AddNewRole()">
              </button>
            </div>
        </form>
    </ion-content>
</ion-view>
