<!--
    Summary: Task view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">Tasks</ion-nav-title>
    <ion-content overflow-scroll="false">
        This section is under construction.
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list can-swipe="true">
            <ion-item ng-show="noWhiteboard">{{noWhiteboard}}</ion-item>
            <ion-item ng-show="!noWhiteboard"
                      ng-repeat="whiteboardInfo in whiteboardsTab"
                      ui-sref="app.whiteboard({whiteboardId: whiteboardInfo.id, projectId: projectId, whiteboardName: whiteboardInfo.name})">
                {{whiteboardInfo.name}}
                <ion-option-button class="button-assertive"
                                   ng-click="DeleteWhiteboard(whiteboardInfo)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" ng-click="showNameWhiteboardPopup()">Create</button>
        <button ui-sref="app.test({projectId: projectId})">TEST</button>
        <!--<div gantt data=data>
            <gantt-tree enabled="true" header="Header">
            </gantt-tree>
            <gantt-dependencies enabled="true">
            </gantt-dependencies>
        </div>-->
    </ion-content>
</ion-view>