<!--
    Summary: Task view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">test</ion-nav-title>
    <ion-scroll overflow-scroll="false" zooming="true" direction="xy" locking="false" style="width: 100%; height: 100%">
        <canvas id="canvasWhiteboard"></canvas>
    </ion-scroll>
    <ion-footer-bar class="bar-stable">
        <div class="title">
            <button class="button button-icon ion-arrow-move" ng-click="moveOn()"></button>
            <button class="button button-icon ion-android-color-palette" style="color: {{brushcolor}}" ng-click="openColorsPopover($event)"></button>
            <button class="button button-icon ion-paintbrush" style="color: {{brushcolor}}" ng-click="openDrawPopover($event)"></button>
            <button class="button button-icon" style="color: {{brushcolor}}" ng-click="addText()">Aa</button>
            <button class="button button-icon ion-android-radio-button-off" style="color: {{brushcolor}}" ng-click="openShapesPopover($event)"></button>
            <button class="button button-icon ion-ios-undo" ng-click="undoLastObject()"></button>
        </div>
    </ion-footer-bar>
</ion-view>

<script type="text/html">
    <ion-popover-view style="height:110px;">
        <ion-content>
            <button class="button button-icon"
                    style="font-size: 25px"
                    ng-repeat="brushsize in brushSizeTab"
                    ng-click="changeBrushSize(brushsize.brushSize)">
                {{brushsize.brushSize}}
            </button>
        </ion-content>
    </ion-popover-view>
</script>