<!--
    Summary: Page bringing the two timelines together
-->

<ion-view cache-view="false">
    <ion-nav-title class="item-text-wrap">Timelines</ion-nav-title>
    <ion-content class="has-header">
        <div class="item item-divider">
            Timelines
        </div>
        <p>Under construction.</p>
        <p>{{cordova}}</p>
        <p>{{model}}</p>
        <p>{{platform}}</p>
        <p>{{uuid}}</p>
        <p>{{version}}</p>

        <button class="button button-full button-positive"
                ng-click="changeOriantationLandspace()">
        Change To Landspace Mode
        </button>
        <button class="button button-full button-positive"
                ng-click="changeOriantationPortrait ()">
        Change To Portrait Mode
        </button>
    </ion-content>
</ion-view>