<!--
    Summary: User view
-->

<ion-view>
    <ion-nav-title class="item-text-wrap">User</ion-nav-title>
    <ion-content class="has-header" overflow-scroll="false">

        <!-- Refresher -->
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <div class="item item-divider">
            Information
        </div>
        <ion-list class="card">
            <ion-item class="item-body">
                <img ng-if="userAvatar.avatar" id="userAvatar" ng-src="data:image/png;base64, {{userAvatar.avatar}}" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                <img ng-if="!userAvatar.avatar" id="userAvatar" ng-src="./images/noavatar.png" style="width: 140px; height: 140px; display:block; margin-left: auto; margin-right: auto;" />
                <p ng-show="userInfo.firstname"><strong>First Name: </strong> {{ userInfo.firstname }}</p>
                <p ng-show="userInfo.lastname"><strong>Last Name: </strong> {{ userInfo.lastname }}</p>
                <p ng-show="userInfo.birthday.date"><strong>birthday: </strong> {{ userInfo.birthday.date }}</p>
                <p ng-show="userInfo.phone"><strong>Phone: </strong> {{ userInfo.phone }}</p>
                <p ng-show="userInfo.email"><strong>Email: </strong> {{ userInfo.email }}</p>
                <p ng-show="userInfo.country"><strong>Country: </strong> {{ userInfo.country }}</p>
                <p ng-show="userInfo.linkedin"><strong>LinkedIn: </strong> {{ userInfo.linkedin }}</p>
                <p ng-show="userInfo.twitter"><strong>Twitter: </strong> {{ userInfo.twitter }}</p>
                <p ng-show="userInfo.viadeo"><strong>Viadeo: </strong> {{ userInfo.viadeo }}</p>
            </ion-item>
        </ion-list>

        <!--<div class="item item-divider">Role on project</div>
        <ion-item>{{ memberRoles.name }}</ion-item>-->
        <!--<ion-list>
            <ion-item ng-show="noRole">{{noRole}}</ion-item>
            <ion-item ng-show="!noRole" ng-repeat="role in memberRoles">
                {{ role.role.name }} on {{ role.project.name }}
            </ion-item>
        </ion-list>--><!-- V0.2 (< 16/09/2016) -->
    </ion-content>
</ion-view>