<!--
    Summary: This page lists all whiteboards and allows to add / remove any
-->

<ion-view>
    <ion-nav-title>Whiteboards</ion-nav-title>
    <ion-content>
        <ion-list show-delete="minusButton.showDelete">
            <ion-item ng-repeat="item in whiteboardsTab" 
                      class="item-remove-animate item-icon-right"
                      ui-sref="app.whiteboard({whiteboardId: item.id})">
                {{item.name}}
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onWhiteboardDelete(item)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <div class="title">
            <button class="button button-icon ion-minus-round" ng-click="minusButton.showDelete = !minusButton.showDelete"></button>
            <button class="button button-icon ion-plus-round" ng-click="openAddWhiteboardModal()"></button>
        </div>
    </ion-footer-bar>
</ion-view>

<!-- Whiteboard modal (when adding a whiteboard) -->
<script id="addWhiteboardModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-dark">
            <h1 class="title">Add Whiteboard</h1>
        </ion-header-bar>
        <ion-content>
            <form ng-submit="addWhiteboard(elem)">
                <ion-list class="list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Whiteboard's name" ng-model="elem.title">
                    </label>
                    <div class="padding">
                        <button class="button button-full button-assertive" type="submit">
                            Add Whiteboard
                        </button>
                    </div>
                </ion-list>
            </form>
        </ion-content>
    </ion-modal-view>
</script>