<!--
    Summary: This page lists all whiteboards and allows to add / remove any
-->

<ion-view>
    <ion-nav-title>Whiteboards</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list can-swipe="true">
            <ion-item ng-repeat="whiteboardInfo in whiteboardsTab"
                      ui-sref="app.whiteboard({whiteboardId: whiteboardInfo.id, projectId: projectId})">
                {{whiteboardInfo.name}}
                <ion-option-button class="button-assertive"
                                   ng-click="DeleteWhiteboard(whiteboardInfo)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" ng-click="showNameWhiteboardPopup()">Create</button>
    </ion-content>
</ion-view>