<!--
    Summary: This page lists all whiteboards and allows to add / remove any
-->

<ion-view>
    <ion-nav-title>Whiteboards</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list can-swipe="true">
            <ion-item ng-show="noWhiteboard">{{noWhiteboard}}</ion-item>
            <ion-item ng-show="!noWhiteboard"
                      ng-repeat="whiteboardInfo in whiteboardsTab"
                      ui-sref="app.whiteboard({whiteboardId: whiteboardInfo.id, projectId: projectId, whiteboardName: whiteboardInfo.name})">
                <h2>{{whiteboardInfo.name}}</h2>
                <p>Edited by {{whiteboardInfo.updator.firstname}} {{whiteboardInfo.updator.lastname}}<br />
                at {{whiteboardInfo.updatedAt}}</p>
                <ion-option-button class="button-assertive ion-ios-trash"
                                   ng-click="DeleteWhiteboard(whiteboardInfo)">
                </ion-option-button>
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" ng-click="showNameWhiteboardPopup()">Create</button>
    </ion-content>
</ion-view>