<!--
    Summary: Here is the whiteboard
-->

<ion-view>
    <ion-nav-title>{{whiteboardName}}</ion-nav-title>

    <ion-scroll overflow-scroll="false" zooming="true" direction="xy" locking="false" scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%" class="has-header">
        <canvas id="canvasWhiteboard"></canvas>
    </ion-scroll>

    <ion-footer-bar class="bar-stable">
        <div class="title">
            <button class="button button-icon ion-arrow-move" style="color: #000000" ng-click="moveOn()"></button>
            <button class="button button-icon ion-android-color-palette" style="color: #000000" ng-click="openColorsPopover($event)"></button>
            <button class="button button-icon ion-paintbrush" style="color: #000000" ng-click="openDrawPopover($event)"></button>
            <button class="button button-icon" style="color: #000000; font-size: 25px" ng-click="addText()">Aa</button>
            <button class="button button-icon ion-android-radio-button-off" style="color: #000000" ng-click="openShapesPopover($event)"></button>
            <button class="button button-icon ion-ios-trash" style="color: #000000" ng-click="undoLastObject()"></button>
        </div>
    </ion-footer-bar>

</ion-view>

<!-- Whiteboard text (when adding a text) -->
<script id="addTextToWhiteboard.html" type="text/ng-template">
    <form>
        <ion-input class="item item-input">
            <ion-label>Text</ion-label>
            <input type="text" placeholder="Your text" ng-model="textAdd.input" />
        </ion-input>
        <ion-list>
            <ion-radio ng-model="textAdd.fontSize" ng-value="'20'">20</ion-radio>
            <ion-radio ng-model="textAdd.fontSize" ng-value="'30'">30</ion-radio>
            <ion-radio ng-model="textAdd.fontSize" ng-value="'40'">40</ion-radio>
            <ion-checkbox ng-click="textAdd.fontStyle='italic'">Italic</ion-checkbox>
            <ion-checkbox ng-click="textAdd.fontWeight='bold'">Bold</ion-checkbox>
        </ion-list>
    </form>
</script>

<!--Colors options in the popover-->
<script id="colorsPopup.html" type="text/ng-template">
    <ion-popover-view>
        <!-- style="height: 250px; width: 265px" -->
        <!--<ion-header-bar>
            <h1 class="title">Fill colors</h1>
        </ion-header-bar>-->
        <ion-content scroll="false">
            <!-- "ion-record" is the round ionic font for colors -->
            <!-- "ng-repeat" goes in controller and picks in colorsTab list the good color to display -->
            <!-- "style" creates a "color" CSS element and assigns it the "colorDisplayed" found in previous ng-repeat "colorDisplayed" -->
            <!-- "changeBrushColor" allows to send the good color to be picked after the previous assigned color -->
            <button class="button button-icon ion-record"
                    ng-repeat="colorDisplayed in colorTab"
                    style="font-size: 36.5px; color: {{colorDisplayed.colorHex}};"
                    ng-click="changeBrushColor(colorDisplayed.colorHex)"></button>
            <button class="button button-icon ion-android-cancel"
                    style="font-size: 36.5px"
                    ng-click="changeBrushColor('transparent')"></button>
        </ion-content>
    </ion-popover-view>
</script>

<!-- Shapes options in the popover -->
<script id="shapesPopup.html" type="text/ng-template">
    <ion-popover-view>
        <!-- style="height:110px" -->
        <ion-header-bar>
            <h1 class="title">Shapes</h1>
        </ion-header-bar>
        <ion-content>
            <!-- Rectangle Filled -->
            <button class="button button-icon ion-stop"
                    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
                    ng-click="drawRect()"></button>

            <!-- Rectangle empty -->
            <!--<button class="button button-icon ion-android-checkbox-outline-blank"
                    style="color: {{brushcolor}}; font-size: 36.5px"
                    ng-click="drawRect(true)"></button>-->
            <!-- Ellipse filled -->
            <button class="button button-icon ion-record"
                    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
                    ng-click="drawEllipse()"></button>

            <!-- Ellipse empty-->
            <!--<button class="button button-icon ion-ios-circle-outline"
                    style="color: {{brushcolor}}; font-size: 36.5px"
                    ng-click="drawEllipse(true)"></button>-->
            <!-- Diamond filled -->
            <button class="button button-icon ion-ios-play"
                    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
                    ng-click="drawDiamond()"></button>

            <!-- Diamond empty -->
            <!--<button class="button button-icon ion-ios-play-outline"
                    style="color: {{brushcolor}}; font-size: 36.5px"
                    ng-click="drawDiamond(true)"></button>-->
            <!-- Line -->
            <button class="button button-icon ion-minus-round"
                    style="font-size: 36.5px; color: {{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}};"
                    ng-click="drawLine()"></button>

            <!-- Border or not -->
            <ion-checkbox ng-click="hasBorder = !hasBorder;">Border</ion-checkbox>
            <ion-list ng-if="hasBorder">
                <ion-radio ng-model="border.size" ng-value="1">1</ion-radio>
                <ion-radio ng-model="border.size" ng-value="3">3</ion-radio>
                <ion-radio ng-model="border.size" ng-value="5">5</ion-radio>
            </ion-list>
        </ion-content>
    </ion-popover-view>
</script>

<!-- Draws options in the popover -->
<script id="drawPopup.html" type="text/ng-template">
    <ion-popover-view>
        <!-- style="height:110px;" -->
        <ion-header-bar>
            <h1 class="title">Brush size</h1>
        </ion-header-bar>
        <ion-content scroll="false" class="padding">
            <button class="button button-icon"
                    style="font-size: 25px"
                    ng-repeat="brushsize in brushSizeTab"
                    ng-click="changeBrushSize(brushsize.brushSize)">
                {{brushsize.brushSize}}
            </button>
        </ion-content>
    </ion-popover-view>
</script>
