<!--
    Summary: Here is the whiteboard
-->

<ion-view>
    <ion-nav-title>{{whiteboardName}}</ion-nav-title>

    <ion-scroll overflow-scroll="false" zooming="true" direction="xy" locking="false" scrollbar-x="false" scrollbar-y="false" style="width: 100%; height: 100%" class="has-header">
      <!-- <pre>
        $state = {{$state.current.name}}
        $stateParams = {{$stateParams}}
        $state full url = {{ $state.$current.url.source }}
      </pre> -->
        <canvas id="canvasWhiteboard"></canvas>
    </ion-scroll>

    <ion-footer-bar class="bar-stable">
        <div class="title">
            <button class="button button-icon ion-arrow-move" style="color: #000000" ng-click="moveOn()"></button>
            <button class="button button-icon ion-android-color-palette" style="color: #000000" ng-click="openColorsPopover($event)"></button>
            <button class="button button-icon ion-paintbrush" style="{{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}}" ng-click="openDrawPopover($event)"></button>
            <button class="button button-icon" style="{{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}}; font-size: 25px" ng-click="addText()">Aa</button>
            <button class="button button-icon ion-android-radio-button-off" style="{{brushcolor == 'transparent' || "#FFFFFF" ? "#000000" : brushcolor}}" ng-click="openShapesPopover($event)"></button>
            <button class="button button-icon ion-ios-trash" style="color: #000000" ng-click="undoLastObject()"></button>
        </div>
    </ion-footer-bar>

</ion-view>
