<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<section id="gantt">
  <div data-ng-if="data.onLoad">
    <div class="spinner section">
      <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
    </div>
  </div>
  <div data-ng-if="!data.onLoad">
    <div data-ng-if="data.message == '_valid'">
      <textarea name="name" rows="8" cols="40">{[{data.tasks}]}</textarea>
    </div>
    <div data-ng-if="data.message == '_empty'">
      <div class="data-wrapper error">
        <p><i class="fa fa-frown-o"></i>This task doesn't exist.</p>
      </div>
    </div>
    <div data-ng-if="data.message == '_invalid'">
      <div class="data-wrapper error">
        <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
      </div>
    </div>
    <div data-ng-if="data.message == '_denied'">
      <div class="data-wrapper error">
        <p><i class="fa fa-times"></i>You don't have access to the tasks of this project.</p>
      </div>
    </div>
  </div>
</section>
