
<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div>
  <p><a href="tasks/{[{ projectID }]}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a></p>
</div>
<!-- grappbox.data: task creation information -->
<div data-ng-if="data.task_new">
  <div class="panel panel-default">
    <div class="panel-heading">Create your task</div>
    <div class="panel-body">
      <p>
        This page allows you to create a brand new task.<br>Use the <strong>"Create"</strong> button at the end of this page when you're done.
      </p>
      </div>
  </div>
</div>
<!-- grappbox.data: task edition information -->
<div data-ng-if="!tdata.ask_new && data.editMode['task']">
  <div class="panel panel-default">
    <div class="panel-heading">Edit your task</div>
    <div class="panel-body">
      <p>This page allows you to edit any part of your task.<br>Validate using buttons at the end of pages when you're done.</p>
    </div>
  </div>
</div>
<!-- grappbox.data: task visual information -->
<div data-ng-if="!data.task_new && !data.editMode['task']">
  <div class="panel panel-default">
    <div class="panel-heading">See your task</div>
    <div class="panel-body">
      <p>This page shows you all informations about your task.<br>Edit using the <strong>"Edit"</strong> button at the end of the page.</p>
    </div>
  </div>
</div>


<!-- grappbox.data: task creation -->
<section id="task-creation" data-ng-if="data.task_new">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <form class="form-horizontal" novalidate>
            <fieldset>
              <div class="form-group">
                <label for="title" class="col-md-1 control-label">Title</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" data-ng-model="data.task.title" id="title" placeholder="Title">
                </div>
              </div>

              <div class="form-group">
                <label for="description" class="col-md-1 control-label">Description</label>
                <div class="col-md-11">
                  <textarea class="form-control" rows="3" data-ng-model="data.task.description" id="description" placeholder="Description"></textarea>
                </div>
              </div>

              <!-- OBJECT TYPE SELECTION -->
              <div class="form-group">
                <label class="col-md-1 control-label">Object type</label>
                <div class="col-md-11">
                  <div class="col-md-3">
                    <label><input type="radio" name="task_type" id="regular" value="regular" data-ng-model="data.task.type"> Regular task</label>
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                    <label><input type="radio" name="task_type" id="milestone" value="milestone" data-ng-model="data.task.type"> Milestone</label>
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                    <label><input type="radio" name="task_type" id="container" value="container" data-ng-model="data.task.type"> Container</label>
                  </div>
                </div>
              </div>

              <!-- TASK CREATION -->
              <div class="form-group" data-ng-if="data.task.type == 'regular'">
                <label for="start_date" class="col-md-1 control-label">Starting Date</label>
                <div class="col-md-11">
                  <input type="date" class="form-control" data-ng-model="data.task.started_at" id="start_date">
                </div>
              </div>

              <div class="form-group" data-ng-if="data.task.type == 'regular'">
                <label for="due_date" class="col-md-1 control-label">Due Date</label>
                <div class="col-md-11">
                  <input type="date" class="form-control" data-ng-model="data.task.due_date" id="due_date">
                </div>
              </div>

              <div class="form-group" data-ng-if="data.task.type == 'regular'">
                <label for="tags" class="col-md-1 control-label">Tag(s)</label>
                <div class="col-md-11">
                  <tags-input ng-model="tags"
                              display-property="name"
                              replace-spaces-with-dashes="false"
                              on-tag-added="tagAdded($tag)"
                              on-tag-removed="tagRemoved($tag)">
                    <auto-complete source="tagsList"></auto-complete>
                  </tags-input>
                </div>
                <span class="help-block">Use ',' to separate tags</span>
              </div>

              <h3 data-ng-if="data.task.type == 'regular'">Assigned Users</h3>
              <div class="form-group" data-ng-if="data.task.type == 'regular'">
                <label for="users" class="col-md-1 control-label">Add a user</label>
                <div class="col-md-4">
                  <select class="form-control" id="users" name="users" data-ng-model="user">
                    <option value="" disabled selected>Select a user</option>
                    <option data-ng-repeat="user in usersList" value="{[{user}]}">{[{user.name}]}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-control" data-ng-model="user_percent" id="workcharge">
                    <option value="" disabled selected>Select user's work charge</option>
                    <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <a href="" class="btn btn-default" data-ng-click="addUser(user, user_percent)">Add</a>
                </div>
              </div>
              <div class="form-group" data-ng-if="data.task.type == 'regular'" data-ng-repeat="user in data.task.users">
                <div class="col-md-4 col-md-offset-1">
                  <h4>{[{ user.firstname + " " + user.lastname }]}</h4>
                </div>
                <div class="col-md-4">
                  <select class="form-control" data-ng-model="user.percent" convert-to-number>
                    <option value="" disabled selected>Select user's work charge</option>
                    <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                  </select>
                </div>
                <div class="col-md-1 col-xs-6">
                  <a href="" class="btn btn-default" data-ng-click="removeUser(user)">Remove</a>
                </div>
              </div>

              <!-- CONTAINER CREATION -->
              <div class="form-group {[{tasksList.length ? '' : 'has-warning'}]}" data-ng-if="data.task.type == 'container'">
                <label for="tags" class="col-md-1 control-label">Task(s)</label>
                <div class="col-md-11">
                  <tags-input ng-model="tasks"
                              display-property="name"
                              placeholder="Add a task"
                              replace-spaces-with-dashes="false"
                              add-from-autocomplete-only="true"
                              on-tag-added="taskAdded($tag)"
                              on-tag-removed="taskRemoved($tag)"
                              >
                    <auto-complete source="tasksList"></auto-complete>
                  </tags-input>
                  <p ng-if="!tasksList.length" class="help-block">No task in the project for the moment</p>
                </div>
              </div>

              <!-- MILESTONE CREATION-->
              <div class="form-group" data-ng-if="data.task.type == 'milestone'">
                <label for="milestone_date" class="col-md-1 control-label">Date</label>
                <div class="col-md-11">
                  <input type="date" class="form-control" data-ng-model="data.task.due_date" id="milestone_date">
                </div>
              </div>

              <!-- NOT CONTAINER CREATION -->
              <h3 data-ng-if="data.task.type != 'container'">Dependencies</h3>
              <div class="form-group" data-ng-if="data.task.type != 'container'">
                <label for="tasks" class="col-md-1 control-label">Add a dependency</label>
                <div class="col-md-4">
                  <select class="form-control" name="tasks" data-ng-model="new_dependency" data-ng-options="task as task.name for task in tasksList">
                    <option value="" disabled selected>Select a task</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-control" data-ng-model="dependency_type" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                    <option value="" disabled selected>Select a type of dependency</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <a href="" class="btn btn-default" data-ng-click="addDependency(new_dependency, dependency_type)">Add</a>
                </div>
              </div>
              <div class="form-group" data-ng-if="data.task.type != 'container'" data-ng-repeat="dependency in data.task.dependencies">
                <div class="col-md-4 col-md-offset-1">
                  <h4>{[{ dependency.title }]}</h4>
                </div>
                <div class="col-md-4">
                  <select class="form-control" data-ng-model="dependency.name" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                    <option value="" disabled selected>Select a type of dependencies</option>
                  </select>
                </div>
                <div class="col-md-1 col-xs-6">
                  <a href="" class="btn btn-default" data-ng-click="removeDependency(dependency)">Remove</a>
                </div>
              </div>

              <!-- VALIDATE BUTTON -->
              <div class="form-group">
                <div class="col-md-1 col-md-offset-10 col-xs-6">
                  <button type="submit" class="btn btn-default" data-ng-click="createTask(data.task)">CREATE</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- grappbox.data: task edition -->
<section id="task-edition" data-ng-if="!data.task_new && data.editMode['task']">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <form class="form-horizontal" novalidate>
              <fieldset>
                <div class="form-group">
                  <label for="title" class="col-md-1 control-label">Title</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" data-ng-model="data.toUpdate.title" id="title" placeholder="Title">
                  </div>
                </div>

                <div class="form-group">
                  <label for="description" class="col-md-1 control-label">Description</label>
                  <div class="col-md-11">
                    <textarea class="form-control" rows="3" data-ng-model="data.toUpdate.description" id="description" placeholder="Description"></textarea>
                  </div>
                </div>

                <!-- OBJECT TYPE SELECTION -->
                <div class="form-group">
                  <label class="col-md-1 control-label">Object type</label>
                  <div class="col-md-11">
                    <div class="col-md-3">
                      <label><input type="radio" name="task_type" id="regular" value="regular" checked="" data-ng-model="data.toUpdate.type"> Regular task</label>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <label><input type="radio" name="task_type" id="milestone" value="milestone" data-ng-model="data.toUpdate.type"> Milestone</label>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <label><input type="radio" name="task_type" id="container" value="container" data-ng-model="data.toUpdate.type"> Container</label>
                    </div>
                  </div>
                </div>


                <!-- TASK EDITION -->
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="start_date" class="col-md-1 control-label">Starting Date</label>
                  <div class="col-md-11">
                    <input type="date" class="form-control" data-ng-model="data.toUpdate.started_at" id="start_date">
                  </div>
                </div>

                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="due_date" class="col-md-1 control-label">Due Date</label>
                  <div class="col-md-11">
                    <input type="date" class="form-control" data-ng-model="data.toUpdate.due_date" id="due_date">
                  </div>
                </div>

                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="progress" class="col-md-1 control-label">Progress</label>
                  <div class="col-md-11">
                    <select id="progress" class="form-control" data-ng-model="data.toUpdate.advance" convert-to-number>
                      <option value="">None</option>
                      <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="tags" class="col-md-1 control-label">Tag(s)</label>
                  <div class="col-md-11">
                    <tags-input ng-model="data.task.tags"
                                display-property="name"
                                replace-spaces-with-dashes="false"
                                on-tag-added="tagAdded($tag)"
                                on-tag-removed="tagRemoved($tag)">
                      <auto-complete source="tagsList"></auto-complete>
                    </tags-input>
                  </div>
                  <span class="help-block">Use ',' to separate tags</span>
                </div>

                <h3 data-ng-if="data.toUpdate.type == 'regular'">Assigned Users</h3>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="users" class="col-md-1 control-label">Add a user</label>
                  <div class="col-md-4">
                    <select class="form-control" name="users" data-ng-model="new_user">
                      <option value="" disabled selected>Select a user</option>
                      <option data-ng-repeat="user in usersList" value="{[{user}]}">{[{user.name}]}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="user_percent">
                      <option value="" disabled selected>Select user's work charge</option>
                      <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="addUser(new_user, user_percent)">Add</a>
                  </div>
                </div>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'" data-ng-repeat="user in data.task.users">
                  <div class="col-md-4 col-md-offset-1">
                    <h4>{[{ user.firstname + " " + user.lastname }]}</h4>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="user.percent" convert-to-number>
                      <option value="" disabled selected>Select user's work charge</option>
                      <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                    </select>
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <a href="" class="btn btn-default" data-ng-click="updateUser(user)">Update</a>
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <a href="" class="btn btn-default" data-ng-click="removeUser(user)">Remove</a>
                  </div>
                </div>


                <!-- CONTAINER EDITION -->
                <div class="form-group" data-ng-if="data.toUpdate.type == 'container'">
                  <label for="tags" class="col-md-1 control-label">Task(s)</label>
                  <div class="col-md-11">
                    <tags-input ng-model="data.task.tasks"
                                display-property="name"
                                placeholder="Add a task"
                                replace-spaces-with-dashes="false"
                                add-from-autocomplete-only="true"
                                on-tag-added="taskAdded($tag)"
                                on-tag-removed="taskRemoved($tag)">
                      <auto-complete source="tasksList"></auto-complete>
                    </tags-input>
                  </div>
                </div>

                <!-- MILESTONE EDITION-->
                <div class="form-group" data-ng-if="data.toUpdate.type == 'milestone'">
                  <label for="milestone_date" class="col-md-1 control-label">Date</label>
                  <div class="col-md-11">
                    <input type="date" class="form-control" data-ng-model="data.toUpdate.due_date" id="milestone_date">
                  </div>
                </div>

                <!-- NOT CONTAINER EDITION -->
                <h3 data-ng-if="data.toUpdate.type != 'container'">Dependencies</h3>
                <div class="form-group" data-ng-if="data.toUpdate.type != 'container'">
                  <label for="tasks" class="col-md-1 control-label">Add a dependency</label>
                  <div class="col-md-4">
                    <select class="form-control" name="tasks" data-ng-model="new_dependency" data-ng-options="task as task.name for task in tasksList">
                      <option value="" disabled selected>Select a task</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="dependency_type" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                      <option value="" disabled selected>Select a type of dependency</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="addDependency(new_dependency, dependency_type)">Add</a>
                  </div>
                </div>
                <div class="form-group" data-ng-if="data.toUpdate.type != 'container'" data-ng-repeat="dependency in data.task.dependencies">
                  <div class="col-md-4 col-md-offset-1">
                    <h4>{[{ dependency.title }]}</h4>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="dependency.name" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                      <option value="" disabled selected>Select a type of dependencies</option>
                    </select>
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <a href="" class="btn btn-default" data-ng-click="updateDependency(dependency)">Update</a>
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <a href="" class="btn btn-default" data-ng-click="removeDependency(dependency)">Remove</a>
                  </div>
                </div>

                <!-- VALIDATE BUTTON -->
                <div class="form-group">
                  <div class="col-md-1 col-md-offset-9 col-xs-6">
                    <button type="submit" class="btn btn-default" data-ng-click="task_switchEditMode('task')">CANCEL</button>
                  </div>
                  <div class="col-md-1 col-xs-6">
                    <button type="submit" class="btn btn-default" data-ng-click="editTask(data.task)">EDIT</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div data-ng-if="data.message == '_empty'">
            <div class="data-wrapper error">
              <p><i class="fa fa-frown-o"></i>This task doesn't exist.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_invalid'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_denied'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>You don't have access to the tasks of this project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- grappbox.data: task visual -->
<section id="task-visual" data-ng-if="!data.task_new && !data.editMode['task']">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <fieldset>
              <div id="task-header">
                <!-- <div class="col-md-1">
                  <div class="color-marker" style="background-color: {[{data.task.color}]}"></div>
                </div> -->
                <div class="col-md-12">
                  <h1>{[{data.task.title}]}</h1>
                  <h4 data-ng-if="!data.task.is_milestone && !data.task.is_container">from {[{ data.task.started_at ? formatObjectDate(data.task.started_at) : "N/A" }]} to {[{ formatObjectDate(data.task.due_date) }]}</h4>
                  <h4 data-ng-if="data.task.is_milestone">at {[{ formatObjectDate(data.task.due_date) }]}</h4>
                  <p>{[{data.task.description}]}</p>
                </div>
              </div>

              <div class="col-md-12" data-ng-if="!data.task.is_milestone && !data.task.is_container">
                <h4>Task progress {[{data.task.advance + ' %'}]}<span data-ng-if="data.task.finished_at"> (finished at {[{ formatObjectDate(data.task.finished_at) }]})</span></h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" style="width: {[{data.task.advance}]}%"></div>
                </div>
              </div>
              <div class="col-md-12" data-ng-if="data.task.is_milestone">
                <h4>Milestone at {[{ formatObjectDate(data.task.due_date) }]}</h4>
              </div>
              <div class="col-md-12" data-ng-if="data.task.is_container">
                <h4>Container</h4>
              </div>


              <div class="col-md-12" data-ng-if="!data.task.is_milestone && !data.task.is_container">
                <h4>Tag(s)</h4>
                <div class="panel panel-default col-md-3" ng-repeat="tag in data.task.tags">
                  <div class="panel-body">{[{tag.name}]}</div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.task.tags).length)">
                  <div class="">No tag</div>
                </div>
              </div>

              <div class="col-md-12" data-ng-if="!data.task.is_milestone && !data.task.is_container">
                <h4>Assigned user(s)</h4>
                <div class="panel panel-default col-md-3" ng-repeat="user in data.task.users">
                  <div class="panel-body">{[{user.firstname + " " + user.lastname + " (" + user.percent + "%)"}]}</div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.task.users).length)">
                  <div class="">No Assigned user </div>
                </div>
              </div>

              <div class="col-md-12" data-ng-if="!data.task.is_milestone && !data.task.is_container">
                <h4>Dependencies</h4>
                <div class="panel panel-default col-md-6" ng-repeat="dependency in data.task.dependencies">
                  <div class="panel-body">{[{dependency.title + " (" + dependencyToString(dependency.name) + ")" }]}</div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.task.dependencies).length)">
                  <div class="">No dependency</div>
                </div>
              </div>

              <div class="col-md-12" data-ng-if="data.task.is_container">
                <h4>Tasks</h4>
                <div class="panel panel-default col-md-6" ng-repeat="task in data.task.tasks">
                  <div class="panel-body">{[{task.title}]}</div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.task.tasks).length)">
                  <div class="">No task</div>
                </div>
              </div>

              <div class="col-md-1 col-md-offset-8 col-xs-6" data-ng-if="!data.task.finished_at && !data.task.is_milestone && !data.task.is_container">
                <button type="submit" class="btn btn-default" data-ng-if="data.task.started_at" data-ng-click="finishTask()">Finished</button>
              </div>
              <div class="col-md-1 col-md-offset-9 col-xs-6" data-ng-if="data.task.finished_at || data.task.is_milestone || data.task.is_container">
                <button type="submit" class="btn btn-default" data-ng-click="task_switchEditMode('task')">Edit</button>
              </div>
              <div class="col-md-1 col-xs-6" data-ng-if="!data.task.finished_at && !data.task.is_milestone && !data.task.is_container">
                <button type="submit" class="btn btn-default" data-ng-click="task_switchEditMode('task')">Edit</button>
              </div>

              <div class="col-md-1 col-xs-6">
                <button type="submit" class="btn btn-default" data-ng-click="deleteTask(data.task)">Delete</button>
              </div>
            </fieldset>

          </div>
          <div data-ng-if="data.message == '_empty'">
            <div class="data-wrapper error">
              <p><i class="fa fa-frown-o"></i>This task doesn't exist.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_invalid'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_denied'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>You don't have access to the tasks of this project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
