
<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- grappbox.data: task creation information -->
<div>
  <p><a href="tasks/{[{ projectID }]}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a></p>
</div>
<div data-ng-if="data.task_new">
  <div class="panel panel-default">
    <div class="panel-heading">Create your task</div>
    <div class="panel-body">
      <p>
        This page allows you to create a brand new task.<br>Use the <strong>"Create"</strong> button at the end of this page when you're done.
      </p>
      </div>
  </div>
</div>
<!-- grappbox.data: task edition information -->
<div data-ng-if="!tdata.ask_new && data.editMode['task']">
  <div class="panel panel-default">
    <div class="panel-heading">Edit your task</div>
    <div class="panel-body">
      <p>This page allows you to edit any part of your task.<br>Validate using buttons at the end of pages when you're done.</p>
    </div>
  </div>
</div>
<!-- grappbox.data: task visual information -->
<div data-ng-if="!data.task_new && !data.editMode['task']">
  <div class="panel panel-default">
    <div class="panel-heading">See your task</div>
    <div class="panel-body">
      <p>This page shows you all informations about your task.<br>Edit using the <strong>"Edit"</strong> button at the end of the page.</p>
    </div>
  </div>
</div>


<!-- grappbox.data: task creation -->
<section id="task-creation" data-ng-if="data.task_new">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <form class="form-horizontal" novalidate>
            <fieldset>
              <div class="form-group">
                <label for="title" class="col-md-1 control-label">Title</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" data-ng-model="data.task.title" id="title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="col-md-1 control-label">Description</label>
                <div class="col-md-11">
                  <textarea class="form-control" rows="3" data-ng-model="data.task.description" id="description" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-1 control-label">Object type</label>
                <div class="col-md-11">
                  <div class="col-md-3">
                    <label><input type="radio" name="task_type" id="regular" value="regular" checked="" data-ng-model="data.task.task_type"> Regular task</label>
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                    <label><input type="radio" name="task_type" id="milestone" value="milestone" data-ng-model="data.task.task_type"> Milestone</label>
                  </div>
                  <div class="col-md-3 col-md-offset-1">
                    <label><input type="radio" name="task_type" id="container" value="container" data-ng-model="data.task.task_type"> Container</label>
                  </div>
                </div>
              </div>

              <!-- TASK CREATION -->
              <div class="form-group" data-ng-if="data.task.task_type == 'regular'">
                <label for="start_date" class="col-md-1 control-label">Starting Date</label>
                <div class="col-md-11">
                  <input type="date" class="form-control" data-ng-model="data.task.started_at" id="start_date">
                </div>
              </div>
              <div class="form-group" data-ng-if="data.task.task_type == 'regular'">
                <label for="due_date" class="col-md-1 control-label">Due Date</label>
                <div class="col-md-11">
                  <input type="date" class="form-control" data-ng-model="data.task.due_date" id="due_date">
                </div>
              </div>
              <!-- <div class="form-group" data-ng-if="data.task.task_type == 'regular'">
                <label for="progress" class="col-md-1 control-label">Progress</label>
                <div class="col-md-11">
                  <select id="progress" class="form-control" data-ng-model="data.task.progress">
                    <option value="0">0 %</option>
                    <option value="10">10 %</option>
                    <option value="20">20 %</option>
                    <option value="30">30 %</option>
                    <option value="40">40 %</option>
                    <option value="50">50 %</option>
                    <option value="60">60 %</option>
                    <option value="70">70 %</option>
                    <option value="80">80 %</option>
                    <option value="90">90 %</option>
                    <option value="100">100 %</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group" data-ng-if="data.task.task_type == 'regular'">
                <label for="tags" class="col-md-1 control-label">Tag(s)</label>
                <div class="col-md-11">
                  <tags-input ng-model="tags"
                              display-property="name"
                              replace-spaces-with-dashes="false"
                              on-tag-added="tagAdded($tag)"
                              on-tag-removed="tagRemoved($tag)">
                    <auto-complete source="tagsList"></auto-complete>
                  </tags-input>
                </div>
                <span class="help-block">Use ',' to separate tags</span>
              </div>
              <div class="form-group" data-ng-if="data.task.task_type == 'regular'">
                <label for="color" class="col-md-1 control-label">Color</label>
                <div class="col-md-11">
                  <input type="color" class="form-control" data-ng-model="data.task.color" id="color">
                </div>
              </div>
              <div class="form-group" data-ng-if="data.task.task_type == 'regular'">
                <label for="users" class="col-md-1 control-label">Assign a user</label>
                <div class="col-md-11">
                  <tags-input ng-model="users"
                              display-property="name"
                              placeholder="Assign a user"
                              replace-spaces-with-dashes="false"
                              add-from-autocomplete-only="true"
                              on-tag-added="userAdded($tag)">
                    <auto-complete source="usersList"></auto-complete>
                  </tags-input>
                </div>
              </div>

              <div class="form-group" data-ng-if="data.task.task_type == 'regular'">
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th class="col-md-4 col-xs-12">Name</th>
                        <th class="col-md-4 col-xs-12">Charge</th>
                        <th class="col-md-2 col-xs-12" >Deletion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="user in data.task.users_assigned">
                        <td class="col-md-4 col-xs-12 ellipsis">{[{ user.firstname + " " + user.lastname }]}</td>
                        <td class="col-md-4 col-xs-12">
                          <div class="col-md-9 col-xs-12">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group">
                                  <select class="form-control" data-ng-model="user.percent"></select>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                          <div class="col-md-3 col-xs-12">
                            <a href="" class="btn" data-ng-click="assignRoleToUser(user)">Update</a>
                          </div>
                        </td>
                        <td class="col-md-2 col-xs-12">
                          <a href="" class="btn btn-default" data-ng-click="userRemoved(user)">Remove</a>
                        </td>
                      </tr>
                      <tr data-ng-repeat="user in data.users">
                        <td class="col-md-4 col-xs-12 ellipsis">{[{ user.first_name + " " + user.last_name }]}</td>
                        <td class="col-md-4 col-xs-12">
                          <div class="col-md-9 col-xs-12">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group">
                                  <select class="form-control" data-ng-model="user.percent"></select>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                          <div class="col-md-3 col-xs-12">
                            <a href="" class="btn" data-ng-click="assignRoleToUser(user)">Update</a>
                          </div>
                        </td>
                        <td class="col-md-2 col-xs-12">
                          <a href="" class="btn btn-default" data-ng-click="userRemoved(user)">Remove</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


              <!-- CONTAINER CREATION -->
              <div class="form-group" data-ng-if="data.task.task_type == 'container'">
                <label for="dependencies" class="col-md-1 control-label">Dependencies</label>
                <div class="col-md-11">
                  <tags-input ng-model="tasks"
                              display-property="name"
                              placeholder="Add task in the container"
                              replace-spaces-with-dashes="false"
                              add-from-autocomplete-only="true"
                              on-tag-added="taskAdded($tag)"
                              on-tag-removed="tasksRemoved($tag)">
                    <auto-complete source="tasksList"></auto-complete>
                  </tags-input>
                </div>
              </div>

              <!-- MILESTONE CREATION-->
              <div class="form-group" data-ng-if="data.task.task_type == 'milestone'">
                <label for="milestone_date" class="col-md-1 control-label">Date</label>
                <div class="col-md-11">
                  <input type="date" class="form-control" data-ng-model="data.task.due_date" id="milestone_date">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-2 col-md-offset-10">
                  <button type="submit" class="btn btn-default" data-ng-click="createTask(data.task)">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- grappbox.data: task edition -->
<section id="task-edition" data-ng-if="!data.task_new && data.editMode['task']">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <form class="form-horizontal" novalidate>
              <fieldset>
                <div class="form-group">
                  <label for="title" class="col-md-1 control-label">Title</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" data-ng-model="data.toUpdate.title" id="title" placeholder="Title">
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="col-md-1 control-label">Description</label>
                  <div class="col-md-11">
                    <textarea class="form-control" rows="3" data-ng-model="data.toUpdate.description" id="description" placeholder="Description"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-1 control-label">Object type</label>
                  <div class="col-md-11">
                    <div class="col-md-3">
                      <label><input type="radio" name="task_type" id="regular" value="regular" checked="" data-ng-model="data.toUpdate.type"> Regular task</label>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <label><input type="radio" name="task_type" id="milestone" value="milestone" data-ng-model="data.toUpdate.type"> Milestone</label>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <label><input type="radio" name="task_type" id="container" value="container" data-ng-model="data.toUpdate.type"> Container</label>
                    </div>
                  </div>
                </div>

                <!-- TASK EDITION -->
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="start_date" class="col-md-1 control-label">Starting Date</label>
                  <div class="col-md-11">
                    <input type="date" class="form-control" data-ng-model="data.toUpdate.started_at" id="start_date">
                  </div>
                </div>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="due_date" class="col-md-1 control-label">Due Date</label>
                  <div class="col-md-11">
                    <input type="date" class="form-control" data-ng-model="data.toUpdate.due_date" id="due_date">
                  </div>
                </div>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="progress" class="col-md-1 control-label">Progress</label>
                  <div class="col-md-11">
                    <select id="progress" class="form-control" data-ng-model="data.toUpdate.progress">
                      <option value="-1">None</option>
                      <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="tags" class="col-md-1 control-label">Tag(s)</label>
                  <div class="col-md-11">
                    <tags-input ng-model="tags"
                                display-property="name"
                                replace-spaces-with-dashes="false"
                                on-tag-added="tagAdded($tag)"
                                on-tag-removed="tagRemoved($tag)">
                      <auto-complete source="tagsList"></auto-complete>
                    </tags-input>
                  </div>
                  <span class="help-block">Use ',' to separate tags</span>
                </div>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="color" class="col-md-1 control-label">Color</label>
                  <div class="col-md-11">
                    <input type="color" class="form-control" data-ng-model="data.task.color" id="color">
                  </div>
                </div>

                <h3>Assigned Users</h3>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="users" class="col-md-1 control-label">Add a user</label>
                  <div class="col-md-4">
                    <select class="form-control" name="users">
                      <option value="" disabled selected>Select a user</option>
                      <option data-ng-repeat="user in usersList">{[{user.name}]}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="user.percent">
                      <option value="" disabled selected>Select user's work charge</option>
                      <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="userAdded(user)">Add</a>
                  </div>
                </div>

                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'" data-ng-repeat="user in data.task.users_assigned">
                  <div class="col-md-4 col-md-offset-1">
                    <h4>{[{ user.firstname + " " + user.lastname }]}</h4>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="user.percent" convert-to-number>
                      <option value="" disabled selected>Select user's work charge</option>
                      <option data-ng-repeat="n in [] | range:11" value="{[{$index*10}]}">{[{$index*10 + ' %'}]}</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="updateUser(user)">Update</a>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="removeUserRemove(user)">Remove</a>
                  </div>
                </div>

                <h3>Dependencies</h3>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'">
                  <label for="tasks" class="col-md-1 control-label">Add a dependency</label>
                  <div class="col-md-4">
                    <select class="form-control" name="tasks" data-ng-model="new_dependency.id" data-ng-options="task.id as task.name for task in tasksList">
                      <option value="" disabled selected>Select a task</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="new_dependency.type" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                      <option value="" disabled selected>Select a type of dependency</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="addDependency(new_dependency)">Add</a>
                  </div>
                </div>
                <div class="form-group" data-ng-if="data.toUpdate.type == 'regular'" data-ng-repeat="dependency in data.task.dependencies">
                  <div class="col-md-4 col-md-offset-1">
                    <h4>{[{ dependency.name }]}</h4>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" data-ng-model="dependency.name" data-ng-options="dep.key as dep.name for dep in dependenciesList">
                      <option value="" disabled selected>Select a type of dependencies</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="updateDependency(dependency)">Update</a>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-default" data-ng-click="removeDependency(dependency)">Remove</a>
                  </div>
                </div>

                <!-- CONTAINER EDITION -->
                <div class="form-group" data-ng-if="data.toUpdate.type == 'container'">
                  <label for="dependencies" class="col-md-1 control-label">Dependencies</label>
                  <div class="col-md-11">
                    <tags-input ng-model="tasks"
                                display-property="name"
                                placeholder="Add task in the container"
                                replace-spaces-with-dashes="false"
                                add-from-autocomplete-only="true"
                                on-tag-added="taskAdded($tag)"
                                on-tag-removed="tasksRemoved($tag)">
                      <auto-complete source="tasksList"></auto-complete>
                    </tags-input>
                  </div>
                </div>

                <!-- MILESTONE EDITION-->
                <div class="form-group" data-ng-if="data.toUpdate.type == 'milestone'">
                  <label for="milestone_date" class="col-md-1 control-label">Date</label>
                  <div class="col-md-11">
                    <input type="date" class="form-control" data-ng-model="data.task.due_date.date" id="milestone_date">
                  </div>
                </div>

                <!-- VALIDATE BUTTON -->
                <div class="form-group">
                  <div class="col-md-3 col-md-offset-9">
                    <button type="submit" class="btn btn-default" data-ng-click="editTask(data.task)">EDIT</button>
                    <button type="submit" class="btn btn-default" data-ng-click="task_switchEditMode('task')">CANCEL</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div data-ng-if="data.message == '_empty'">
            <div class="data-wrapper error">
              <p><i class="fa fa-frown-o"></i>This task doesn't exist.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_invalid'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_denied'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>You don't have access to the tasks of this project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- grappbox.data: task visual -->
<section id="task-visual" data-ng-if="!data.task_new && !data.editMode['task']">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div data-ng-if="data.onLoad">
          <div class="spinner section">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
          </div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <fieldset>
              <div class="col-md-12">
                <h1>{[{data.task.title}]}</h1>
              </div>
              <div class="{[{data.task.started_at ? 'col-md-4' : 'col-md-4'}]}">
                <h4>Due date</h4>
                <p>{[{ formatObjectDate(data.task.due_date.date) }]}</p>
              </div>
              <div ng-if="data.task.started_at" class="{[{data.task.started_at ? 'col-md-4' : 'col-md-4'}]}">
                <h4>Starting date</h4>
                <p>{[{ formatObjectDate(data.task.started_at.date) }]}</p>
              </div>
              <div ng-if="data.task.finished_at" class="{[{data.task.started_at ? 'col-md-4' : 'col-md-4'}]}">
                <h4>Finishing date</h4>
                <p>{[{ formatObjectDate(data.task.finished_at.date) }]}</p>
              </div>
              <div class="col-md-12">
                <h4>Description</h4>
                <p>{[{ data.task.description}]}</p>
              </div>
              <div class="col-md-12">
                <h4>Tag(s)</h4>
                <div class="panel panel-default col-md-2" ng-repeat="tag in data.task.tags">
                  <div class="panel-body">{[{tag.name}]}</div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.task.tags).length)">
                  <div class="">No tag</div>
                </div>
              </div>
              <div class="col-md-12">
                <h4>Assigned user(s)</h4>
                <div class="panel panel-default col-md-3" ng-repeat="user in data.task.users_assigned">
                  <div class="panel-body">{[{user.firstname + " " + user.lastname + " (" + user.percent + "%)"}]}</div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.task.users_assigned).length)">
                  <div class="">No Assigned user </div>
                </div>
              </div>
              <div class="col-md-12">
                <h4>Dependencies</h4>
                <div class="panel panel-default col-md-3" ng-repeat="dependency in data.task.dependencies">
                  <div class="panel-body">{[{dependency.title + " ()" + dependencyToString(dependency.name) }]}</div>
                </div>
                <div class="col-md-12" data-ng-if="!((data.task.dependencies).length)">
                  <div class="">No dependency</div>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-8" data-ng-if="!data.task.finished_at">
                <button type="submit" class="btn btn-default" data-ng-click="task_switchEditMode('task')">Edit</button>
                <button type="submit" class="btn btn-default" data-ng-if="!data.task.started_at" data-ng-click="startTask(data.task)">Start</button>
                <button type="submit" class="btn btn-default" data-ng-if="data.task.started_at" data-ng-click="finishTask(data.task)">Finished</button>
              </div>
              <div class="col-md-4 col-md-offset-8" data-ng-if="data.task.finished_at">
                <button type="submit" class="btn btn-default" data-ng-click="UnfinishedTask(data.task)">Unfinished</button>
                <!-- <button type="submit" class="btn btn-default" data-ng-click="archiveTask(data.task)">Archive</button> -->
              </div>
            </fieldset>
          </div>
          <div data-ng-if="data.message == '_empty'">
            <div class="data-wrapper error">
              <p><i class="fa fa-frown-o"></i>This task doesn't exist.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_invalid'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_denied'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>You don't have access to the tasks of this project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
