{# This file is subject to the terms and conditions defined in
# file 'LICENSE.txt', which is part of the GRAPPBOX source code package. #}

{% extends 'AppSharedBundle:Shared:app-base.html.twig' %}

{% block title %}Dashboard | GrappBox{% endblock %}

{% block body_content %}

<h1 class="page-header app-header">Dashboard</h1>

<section class="app-section" id="team-occupation">
    <div class="container app-container">
        <div class="row">
            <div class="col-lg-12">
                <!-- grappbox.data : team occupation -->
                <div class="section-heading app-section-heading"><h2>Team occupation</h2></div>
                <div class="section-content app-section-content">
                    <div id="team-occupation-data" ng-controller="teamOccupationController">
                        <div class="app-data" ng-repeat="member in teamOccupationList">
                            <ul class="app-data-list each-member-data hvr-float">
                                <li class="team-member-picture"><img data-ng-src="{[{ member.picture }]}" height="120" width="120"></li>
                                <li class="team-member-name">{[{ member.name }]}</li>
                                <li class="team-member-status {[{ member.status == 'available' ? 'member-available' : 'member-busy' }]}">
                                    <i class="fa {[{ member.status == 'available' ? 'fa-check' : 'fa-times' }]}"></i>{[{ member.status }]}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app-section" id="next-meetings">
    <div class="container app-container">
        <div class="row">
            <div class="col-lg-12">
                <!-- grappbox.data : next meetings -->
                <div class="section-heading app-section-heading"><h2>Next meetings</h2></div>
                <div class="section-content app-section-content">
                    <div id="next-meetings-data" ng-controller="nextMeetingsController">
                        <div class="app-data" ng-repeat="meeting in nextMeetingsList">
                            <ul class="app-data-list each-meeting-data hvr-float">
                                <li class="meeting-type">{[{ meeting.type }]}</li>
                                <li class="meeting-schedule">
                                    <div class="meeting-schedule-data meeting-date"><i class="fa fa-calendar"></i>{[{ meeting.date }]}</div>
                                    <div class="meeting-schedule-data meeting-time"><i class="fa fa-clock-o"></i>{[{ meeting.time }]}</div>                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>

<section class="app-section" id="global-progress">
    <div class="container app-container">
        <div class="row">
            <div class="col-lg-12">
                <!-- grappbox.data : next meetings -->
                <div class="section-heading app-section-heading"><h2>Global progress</h2></div>
                <div class="section-content app-section-content">
                    <div id="global-progress-data" ng-controller="globalProgressController">
                        <div class="app-data" ng-repeat="progress in globalProgressList">
                            <ul class="app-data-list each-progress-data hvr-float">
                                <li class="project-picture"><img data-ng-src="{[{ progress.picture }]}" height="120²" width="120²"></li>
                                <li class="project-details">
                                    <div class="project-name">{[{ progress.project }]}</div>
                                    <div class="project-client">{[{ progress.client }]}</div>
                                </li>
                                <li class="client-details">
                                    <div class="client-phone">{[{ progress.phone }]}</div>
                                    <div class="client-mail">{[{ progress.email }]}</div>
                                </li>
                                <li class="clearfix"></li>
                                <li class="progress-details">
                                    <div class="progress-done"><i class="fa fa-list-ol"></i>{[{ progress.done }]} / {[{ progress.remaining }]}</div>
                                    <div class="progress-problems"><i class="fa fa-exclamation-circle"></i>{[{ progress.problems }]}</div>
                                    <div class="unread-messages"><i class="fa fa-envelope-o"></i>{[{ progress.unread }]}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block child_javascripts_bottom %}
    {% javascripts
    	'@AppDashboardBundle/Resources/public/js/custom/app-dashboard.js'
    	filter='?yui_js' output='resources/js/app-dashboard.min.js' %}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
