<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grappbox.grappbox.grappbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Whiteboard.WhiteboardService" />

        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ProjectSettingsActivity"
            android:label="@string/title_activity_project_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name=".BugTracker.BugCreationActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.grappbox.MainActivity" />
        </activity>
        <activity android:name=".Timeline.TimelineConvertToBugtracker" />
        <activity
            android:name=".BugTracker.EditBugActivity"
            android:label="@string/title_activity_edit_bug"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.grappbox.MainActivity" />
        </activity>

        <service
            android:name=".Whiteboard.WhiteboardPullIntentService"
            android:exported="false" />

        <activity
            android:name=".Project.CreateProjectActivity"
            android:label="@string/title_activity_create_project"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.grappbox.MainActivity" />
        </activity>
        <activity android:name=".Gantt.TaskDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grappbox.grappbox.grappbox.MainActivity" />
        </activity>
        <activity android:name=".Gantt.GanttActivity"></activity>
        <activity android:name=".Timeline.TimelineCommentActivity"></activity>
    </application>

</manifest>