<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="bugtracker-content-view" ng-controller="bugtrackerController">

    <uib-alert ng-repeat="alert in alertList" type="{[{ alert.type }]}">{[{ alert.message }]}</uib-alert>

    <section class="app-section" id="bugtracker-content">
        <div class="container app-container">
            <div class="row">
                <div class="col-lg-12">
                  <!-- grappbox.data : bugtracker content -->
                  <div ng-if="bugtracker_new">
                      <div class="section-heading app-section-heading"><h2>New ticket</h2></div>
                      <div class="section-content app-section-content">
                        <form novalidate>
                            <div class="form-group">
                                <h4>Title</h4>
                                <input class="form-control" type="text" ng-model="new_ticket.title"/>
                            </div>
                            <div class="form-group">
                                <h4>Description</h4>
                                <textarea class="form-control" ng-model="new_ticket.description"/></textarea>
                            </div>

                            <div class="form-group">
                                <h4>Tag(s)</h4>
                                <div class="">
                                  <tags-input ng-model="tags"
                                              display-property="name"
                                              replace-spaces-with-dashes="false"
                                              on-tag-added="tagAdded($tag)"
                                              on-tag-removed="tagRemoved($tag)">
                                    <auto-complete source="tagsList"></auto-complete>
                                  </tags-input>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4>User(s) assigned</h4>
                                <div class="">
                                  <tags-input ng-model="users"
                                              display-property="name"
                                              placeholder="Assign a user"
                                              replace-spaces-with-dashes="false"
                                              add-from-autocomplete-only="true"
                                              on-tag-added="userAdded($tag)"
                                              on-tag-removed="userRemoved($tag)">
                                    <auto-complete source="usersList"></auto-complete>
                                  </tags-input>
                                </div>
                            </div>

                            <div>
                              <p><a class="btn-default" href="" ng-click="bugtracker_post_ticket(new_ticket)"><i class="fa fa-check"></i>Post</a></p>
                            </div>
                        </form>
                      </div>
                  </div>

                  <div ng-if="!bugtracker_new && !bugtracker_error">
                      <div class="section-heading app-section-heading"><h2>Ticket #{[{ticket.id + " : " + ticket.title}]}</h2></div>
                      <div class="section-content app-section-content">
                          <div id="static-data-list">
                            <div class="">
                                <p>Posted by {[{ticket.creator.fullname}]}</p>
                            </div>
                            <div class="">
                                <p>Created at {[{ formatObjectDate(ticket.createdAt.date) }]}</p>
                            </div>
                            <div ng-if="ticket.editedAt" class="">
                                <p>Edited at {[{ formatObjectDate(ticket.editedAt.date) }]}</p>
                            </div>
                            <div>
                              <div ng-if="ticket.deletedAt" class="">
                                <p>Closed at {[{ formatObjectDate(ticket.deletedAt.date) }]}</p>
                              </div>
                              <div class="">
                                <p><a ng-if="!ticket.deletedAt" href="" ng-click="bugtracker_close_ticket()" class="btn-default btn-access"><i class="fa fa-times"></i>Close</a>
                                <a ng-if="ticket.deletedAt" href="" ng-click="bugtracker_reopen_ticket()" class="btn-default btn-access"><i class="fa fa-undo"></i>Reopen</a></p>
                              </div>
                            </div>
                          </div>
                          <div id="editable-data-list">
                              <form novalidate>
                                  <div class="form-group">
                                      <h4>Title</h4>
                                      <input class="form-control" type="text" ng-disabled="!editMode['ticket'] || ticket.deletedAt" ng-model="ticket.title"/>
                                  </div>
                                  <div class="form-group">
                                      <h4>Description</h4>
                                      <textarea class="form-control" ng-disabled="!editMode['ticket'] || ticket.deletedAt" ng-model="ticket.description"/></textarea>
                                  </div>

                                  <div class="form-group">
                                      <h4>Tag(s)</h4>
                                      <div class="">
                                        <tags-input ng-model="ticket.tags"
                                                    display-property="name"
                                                    replace-spaces-with-dashes="false"
                                                    on-tag-added="tagAdded($tag)"
                                                    on-tag-removed="tagRemoved($tag)"
                                                    ng-disabled="!editMode['ticket'] || ticket.deletedAt">
                                          <auto-complete source="tagsList"></auto-complete>
                                        </tags-input>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <h4>User(s) assigned</h4>
                                      <div class="">
                                        <tags-input ng-model="ticket.users"
                                                    display-property="name"
                                                    placeholder="Assign a user"
                                                    replace-spaces-with-dashes="false"
                                                    add-from-autocomplete-only="true"
                                                    on-tag-added="userAdded($tag)"
                                                    on-tag-removed="userRemoved($tag)"
                                                    ng-disabled="!editMode['ticket'] || ticket.deletedAt">
                                          <auto-complete source="usersList"></auto-complete>
                                        </tags-input>
                                      </div>
                                  </div>

                                  <div ng-if="!ticket.deletedAt" ng-switch="editMode['ticket']">
                                      <div ng-switch-default >
                                        <p><a class="btn-default button edit-button" href="" ng-click="bugtracker_switchEditMode('ticket')"><i class="fa fa-pencil-square-o"></i>Edit</a></p>
                                      </div>
                                      <div ng-switch-when="true">
                                        <p><a class="btn-default button cancel-button" href="" ng-click="bugtracker_switchEditMode('ticket')"><i class=" fa fa-close"></i>Cancel</a>
                                        <a class="btn-default button save-button" href="" ng-click="bugtracker_save(ticket)"><i class="fa fa-check"></i>Save</a></p>
                                      </div>
                                  </div><!-- ng-switch -->

                              </form>
                          </div>
                          <div class="comments-list">
                            <div class="comment-list-title"><h4>Comment(s)</h4></div>
                            <div class="comment" ng-if="commentsList.length">
                                <div ng-repeat="comment in commentsList">
                                  <form novalidate>
                                      <div class="form-group">
                                          <h4>Title</h4>
                                          <input class="form-control" type="text" ng-disabled="!editMode[comment.id] || ticket.deletedAt" ng-model="comment.title"/>
                                      </div>
                                      <div class="form-group">
                                          <h4>Description</h4>
                                          <textarea class="form-control" ng-disabled="!editMode[comment.id] || ticket.deletedAt" ng-model="comment.description"/></textarea>
                                      </div>
                                      <div>
                                        <p>{[{"Posted by " + comment.creator.fullname + " At " + (comment.editedAt ? formatObjectDate(comment.editedAt.date) : formatObjectDate(comment.createdAt.date)) }]}</p>
                                      </div>

                                      <div ng-if="!ticket.deletedAt" ng-switch="editMode[comment.id]">
                                          <div ng-switch-default >
                                            <p><a href="" class="btn-default btn-access" ng-click="bugtracker_switchEditMode(comment.id)"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                            <a class="btn-default btn-access" href="" ng-click="bugtracker_delete_comment(comment.id)"><i class="fa fa-trash-o"></i>Delete</a></p>
                                          </div>
                                          <div ng-switch-when="true">
                                            <p><a class="btn-default button cancel-button" href="" ng-click="bugtracker_switchEditMode(comment.id)"><i class=" fa fa-close"></i>Cancel</a>
                                            <a class="btn-default button save-button" href="" ng-click="bugtracker_edit_comment(comment)"><i class="fa fa-check"></i>Save</a></p>
                                          </div>
                                      </div><!-- ng-switch -->
                                  </form>
                                </div>
                            </div>
                            <div class="no-comment-msg" ng-if="!commentsList.length">
                              <div class="form-group data-wrapper">
                                  <p><i class="fa fa-times"></i>No comment for the moment.</p>
                              </div>
                            </div>
                            <div class="form-new-comment" ng-if="!ticket.deletedAt">
                              <form novalidate>
                                  <div class="form-group">
                                      <h4>Title</h4>
                                      <input class="form-control" type="text" ng-model="new_comment.title"/>
                                  </div>
                                  <div class="form-group">
                                      <h4>Description</h4>
                                      <textarea class="form-control" ng-model="new_comment.description"/></textarea>
                                  </div>
                                  <div>
                                    <p><a class="btn-default btn-access" ref="" ng-click="bugtracker_post_comment(new_comment)"><i class="fa fa-check"></i>Post</a></p>
                                  </div>
                              </form>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div ng-if="!bugtracker_new && bugtracker_error">
                      <div class="app-data error">
                          <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
                      </div>
                  </div>

                </div><!-- col-lg-12 -->
            </div><!-- row -->

        </div>
    </section>
</div>
