<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="bugtracker-list-view" ng-controller="bugtrackerListController">

  <section class="app-section" id="bugtracker-help">
    <div class="container app-container">
      <div class="row">
        <div class="col-lg-12">
          <!-- grappbox.data : bugtracker information -->
          <!-- <div class="section-heading">
            <h2>Choose a project bugtracker</h2>
            <p>Scroll down to see all your projects. On each, hold to navigate between all bug tickets.<br>For each bug ticket card, you'll find useful information such as creation date.</p>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="app-section" id="bugtracker-list">
    <div class="container">
      <div class=" section section-heading">
        <a href="" title="Open tickets" class="btn-default btn-access" ng-click="getOpenTickets()">
          <i class="fa fa-list fa-fw"></i>Open Tickets</a>
        <a href="" title="Closed tickets" class="btn-default btn-access" ng_click="getClosedTickets()">
          <i class="fa fa-list fa-fw"></i>Closed Tickets</a>
      </div>
      <div class="row">
        <div ng-show="data.onLoad">
          <div class="loading-content section"><div></div></div>
        </div>
        <div ng-repeat="project in data.projects" class="each-object" ng-show="!data.onLoad">
          <div class="col-lg-12">
            <!-- grappbox.data : bugtracker list (per project) -->
            <div class="section-heading">
              <h3><i class="fa fa-folder-o"></i>"{[{ project.name }]}"</h3>
            </div>
            <div class="section-content tiles">
              <div id="all-bugtracker-data">
                <div ng-show="data.projectsBugtracker_onLoad[project.name]">
                  <div class="loading-content section"><div></div></div>
                </div>
                <div ng-show="!data.projectsBugtracker_onLoad[project.name]">
                  <div ng-if="data.projectsBugtracker_message[project.name] == '_valid'" panhandler>
                    <div class="data-wrapper" >
                      <a href="bugtracker/{[{ project.project_id }]}/0" title="Create new ticket" class="btn-default btn-access">
                        <i class="fa fa-edit fa-fw"></i>Create new ticket</a>
                    </div> <!-- data-wrapper-->
                    <div class="data-wrapper" ng-repeat="bugtracker in data.projectsBugtracker_content[project.name]">
                      <ul class="data-content each-available-bugtracker shadow">
                        <li>
                          <span class="title">"{[{ bugtracker.title }]}"</span>
                        </li>
                        <li>
                          <span><i class="fa fa-tags"></i>{[{ formatTagsinString(bugtracker.tags) }]}</span>
                        </li>
                        <li>
                          <span><i class="fa fa-clock-o"></i>Created: {[{ formatObjectDate(bugtracker.createdAt.date) }]}</span>
                        </li>
                        <li>
                          <span><i class="fa fa-clock-o"></i>Updated: {[{ formatObjectDate(bugtracker.updatedAt.date) }]}</span>
                        </li>
                        <li>
                          <a href="bugtracker/{[{ project.project_id }]}/{[{ bugtracker.id }]}" title="Open Ticket #{[{ bugtracker.id }]}" class="btn-default btn-access">
                            <i class="fa fa-edit fa-fw"></i>Open</a>
                        </li>
                      </ul>
                    </div><!-- data-wrapper-->
                  </div><!-- panhandler -->

                  <div ng-if="data.projectsBugtracker_message[project.name] == '_empty'">
                    <div class="data-wrapper error">
                      <p><i class="fa fa-frown-o"></i>There is no bug ticket for this project. <a href="bugtracker/{[{ project.project_id }]}/0" title="Create new ticket" class="btn-default btn-access">
                        <i class="fa fa-edit fa-fw"></i>Create new ticket</a></p>
                    </div>
                  </div>
                  <div ng-if="data.projectsBugtracker_message[project.name] == '_denied'">
                    <div class="data-wrapper error">
                      <p><i class="fa fa-times"></i>You don't have access to the bugtracker of this project.</p>
                    </div>
                  </div>
                  <div ng-if="data.projectsBugtracker_message[project.name] == '_invalid'">
                    <div class="data-wrapper error">
                      <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
                    </div>
                  </div>

                </div>
              </div><!-- allbugtracker-data -->
            </div><!-- section-content tiles-->
          </div>
        </div>

      </div><!-- row -->
    </div><!-- container -->
  </section><!-- bugtracker-list -->
</div>
