<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="bugtracker-list-view" ng-controller="bugtrackerListController">

    <uib-alert ng-repeat="alert in alertList" type="{[{ alert.type }]}" close="closeAlert($index)">{[{ alert.message }]}</uib-alert>

    <section class="app-section" id="bugtracker-list">
        <div class="container app-container">
          <div>
            <a href="" ng-click="getOpenTickets()">Opened tickets</a>
            <a href="" ng-click="getClosedTickets()">Closed tickets</a>
          </div>
            <div class="row" ng-repeat="project in projectListContent">
                <div class="col-lg-12">
                    <!-- grappbox.data : bugtracker list -->
                    <div class="section-heading app-section-heading">
                      <h2>{[{project.name}]}</h2>
                    </div>
                    <div class="app-data" ng-if="!bugtracker_noRights[project.name]">
                        <ul class="app-data-list btn-float">
                          <li class="bugtracker-new-ticket">
                            <a ng-href="bugtracker/{[{ project.project_id }]}/0" title="Report Bug"><i class="fa fa-plus fa-fw"></i>Create new ticket</a>
                          </li>
                        </ul>
                    </div>
                    <div class="section-content app-section-content">
                        <div id="all-bugtrackers-data" panhandler>
                            <div ng_if="bugtracker_isValid[project.name] && bugtrackerListContent[project.name]">
                                <div class="app-data" ng-repeat="bugtracker in bugtrackerListContent[project.name]">
                                    <ul class="app-data-list each-available-bugtracker btn-float">
                                        <li class="bugtracker-title"><a ng-href="bugtracker/{[{ project.project_id }]}/{[{ bugtracker.id }]}" title="Open ticket #{[{ bugtracker.id }]} page">{[{ bugtracker.title }]}</a></li>
                                        <li class="bugtracker-id">Ticket #{[{ bugtracker.id }]}</li>
                                        <!-- <li class="bugtracker-project-name">Project: {[{ bugtracker.project }]}</li> -->
                                        <li class="bugtracker-information">
                                          {[{ console.log(bugtracker.createdAt) }]}
                                            <div class="bugtracker-information-data bugtracker-date"><i class="fa fa-calendar"></i>{[{ bugtracker.createdAt.date | date:'yyyy/MM/dd HH:mm' }]}</div>
                                            <!-- <div class="bugtracker-information-data bugtracker-time"><i class="fa fa-clock-o"></i>{[{ bugtracker.createdAt.time }]}</div> -->
                                        </li>
                                        <li class="bugtracker-link">
                                            <a ng-href="bugtracker/{[{ project.project_id }]}/{[{ bugtracker.id }]}" title="Open ticket #{[{ bugtracker.id }]} page"><i class="fa fa-file-text-o fa-fw"></i>Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="bugtracker_isValid[project.name] && !bugtrackerListContent[project.name]">
                                <div class="app-data error">
                                    <p><i class="fa fa-drown-o"></i>There is no bug ticket for this project.</p>
                                </div>
                            </div>
                            <div ng-if="bugtracker_noRights[project.name]">
                                <div class="app-data error">
                                    <p><i class="fa fa-times"></i>You have no rights on the bugtracker of this project.</p>
                                </div>
                            </div>
                            <div ng-if="!bugtracker_noRights[project.name] && !bugtracker_isValid[project.name]">
                                <div class="app-data error">
                                    <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
