<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="calendar-view" data-ng-controller="calendarController as vm">

  <section class="app-section" id="calendar">
    <div class="container app-container">
      <div class="row">
        <div class="col-lg-12">
          <!-- grappbox.data : calendar -->
          <div class="section-heading">
            <h2>View your calendar</h2>
            <p>Use the calendar controls to switch between day, week and month view. Clic on any day to add an event, or view the day's events if any.<br>All your changes are submitted automatically.</p>
          </div>
          <div class="section-content" data-ng-show="data.onLoad">
            <div class="loading-content section"><div></div></div>
          </div>
          <div class="section-content list" data-ng-show="!data.onLoad">
            <div id="all-calendar-data">
              <div class="row data-title">
                <div class="col-md-12"><i class="fa fa-calendar"></i>{[{ view_calendarTitle }]}</div>
              </div>
              <div class="row data-actions">
                <div class="col-md-1">
                  <a href="" data-ng-model="view_calendarMode" uib-btn-radio="'day'">Day</a>
                </div>
                <div class="col-md-1">
                  <a href="" data-ng-model="view_calendarMode" uib-btn-radio="'week'">Week</a>
                </div>
                <div class="col-md-1">
                  <a href="" data-ng-model="view_calendarMode" uib-btn-radio="'month'">Month</a>
                </div>
                <div class="col-md-1">
                  <a href="" data-ng-model="view_calendarMode" uib-btn-radio="'year'">Year</a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1 right-offset">
                  <a href="" mwl-date-modifier date="view_currentDate" decrement="view_calendarMode" data-ng-click="view_updateEventList()"><i class="fa fa-arrow-left"></i>Previous</a>
                </div>
                <div class="col-md-1">
                  <a href="" mwl-date-modifier date="view_currentDate" set-to-today data-ng-click="view_updateEventList()">Today</a>
                </div>
                <div class="col-md-1 left-offset">
                  <a href="" mwl-date-modifier date="view_currentDate" increment="view_calendarMode" data-ng-click="view_updateEventList()">Next<i class="fa fa-arrow-right"></i></a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <a href="" class="create-event" data-ng-click="view_onCreateEvent()"><i class="fa fa-plus"></i>Create</a>                  
                </div>
              </div>

              <mwl-calendar
                events="events"
                view="view_calendarMode"
                view-title="view_calendarTitle"
                view-date="view_currentDate"
                edit-event-html="'<i class=\'fa fa-pencil\'></i>'"
                delete-event-html="'<i class=\'fa fa-times\'></i>'"
                on-event-click="view_onSelectEvent(calendarEvent)"
                on-edit-event-click="view_onEditEvent(calendarEvent)"
                on-delete-event-click="view_onDeleteEvent(calendarEvent)"
                cell-is-open="view_isCellOpen"
                day-view-start="00:00"
                day-view-end="23:00"
                day-view-split="30">
              </mwl-calendar>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div>
    <script type="text/ng-template" id="view_updateEvent.html">
      <div class="modal-header">
        <h3 class="modal-title">Event creation/edition</h3>
      </div>
      <div class="modal-body">
        <p>Please enter new details of your event.</p>
        <input type="text" placeholder="Title..." data-ng-model="view_newEventTitle" id="view_newEventTitle" autofocus>
        <textarea rows="4" cols="50" placeholder="Description..." data-ng-model="view_newEventDescription" id="view_newEventDescription"></textarea>
        <input type="datetime-local" placeholder="Begin..." data-ng-model="view_newEventBeginDate" id="view_newEventBeginDate">
        <input type="datetime-local" placeholder="End..." data-ng-model="view_newEventEndDate" id="view_newEventEndDate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-default btn-submit" data-ng-click="view_updateEventSuccess()"><i class="fa fa-check"></i>OK</button>
        <button type="button" class="btn-default btn-access" data-ng-click="view_updateEventFailure()"><i class="fa fa-ban"></i>Cancel</button>
      </div>
    </script>
  </div>

  <div>
    <script type="text/ng-template" id="view_deleteEvent.html">
      <div class="modal-header">
        <h3 class="modal-title">Event deletion</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this event?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-default btn-submit" data-ng-click="view_deleteEventSuccess()"><i class="fa fa-check"></i>OK</button>
        <button type="button" class="btn-default btn-access" data-ng-click="view_deleteEventFailure()"><i class="fa fa-ban"></i>Cancel</button>
      </div>
    </script>
  </div>

</div>