<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="calendar-view" data-ng-controller="calendarController as vm">

  <section class="app-section" id="calendar">
    <div class="container app-container">
      <div class="row">
        <div class="col-lg-12">
          <!-- grappbox.data : calendar -->
          <div class="section-heading">
            <h2>View your calendar</h2>
            <p>Use the calendar controls to switch between day, week and month view. Clic on any day to add an event, or view the day's events if any.<br>All your changes are submitted automatically.</p>
          </div>
          <div class="section-content" ng-show="data.onLoad">
            <div class="loading-content section"><div></div></div>
          </div>
          <div class="section-content list" ng-show="!data.onLoad">
            <div id="all-calendar-data">
              <div class="row data-title">
                <div class="col-md-12"><i class="fa fa-calendar"></i>{[{ calendarTitle }]}</div>
              </div>
              <div class="row data-actions">
                <div class="col-md-1">
                  <a href="" ng-model="calendarView" uib-btn-radio="'day'">Day</a>
                </div>
                <div class="col-md-1">
                  <a href="" ng-model="calendarView" uib-btn-radio="'week'">Week</a>
                </div>
                <div class="col-md-1">
                  <a href="" ng-model="calendarView" uib-btn-radio="'month'">Month</a>
                </div>
                <div class="col-md-1">
                  <a href="" ng-model="calendarView" uib-btn-radio="'year'">Year</a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1 right-offset">
                  <a href="" mwl-date-modifier date="viewDate" decrement="calendarView"><i class="fa fa-arrow-left"></i>Previous</a>
                </div>
                <div class="col-md-1">
                  <a href="" mwl-date-modifier date="viewDate" set-to-today>Today</a>
                </div>
                <div class="col-md-1 left-offset">
                  <a href="" mwl-date-modifier date="viewDate" increment="calendarView">Next<i class="fa fa-arrow-right"></i></a>
                </div>
              </div>

              <mwl-calendar
                events="events"
                view="calendarView"
                view-title="calendarTitle"
                view-date="viewDate"
                on-event-click="eventClicked(calendarEvent)"
                on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                edit-event-html="'<i class=\'fa fa-pencil\'></i>'"
                delete-event-html="'<i class=\'fa fa-times\'></i>'"
                on-edit-event-click="eventEdited(calendarEvent)"
                on-delete-event-click="eventDeleted(calendarEvent)"
                cell-is-open="isCellOpen"
                day-view-start="00:00"
                day-view-end="23:00"
                day-view-split="30"
                cell-modifier="modifyCell(calendarCell)">
              </mwl-calendar>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>