<!-- This file is subject to the terms and conditions defined   in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="cloud-content-view" ng-controller="cloudController">

    <section class="app-section" id="cloud-content">
        <div class="container app-container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- grappbox.data : cloud content -->
                    <div class="section-heading app-section-heading">
                        <h2>Cloud for project #{[{ currentProjectID }]}</h2>
                        <p class="lead">Use your mouse to navigate between all your current project files: use <strong>one-clic</strong> to enter a directory or select a file, and <strong>double-clic</strong> to download the selected file.<br>Use the cross-button to delete any selected file or folder, and the key-up button to upload a new file.</p>
                    </div>
                    <div class="section-content app-section-content">
                        <div id="all-cloud-objects">
                            <div ng-if="cloudObjects_isValid && cloudObjects">
                                <div class="row app-data-labels">
                                    <div class="col-md-4 object-name-label">Name</div>
                                    <div class="col-md-4 object-type-label">Type</div>
                                    <div class="col-md-3 object-size-label">Size</div>
                                </div>
                                <div class="app-data" ng-repeat="object in cloudObjects">
                                    <div class="row app-data-list each-object-data" ng-click="cloud_selectObject(object)" ng-dblClick="cloud_accessObject(object)">
                                        <div class="col-md-4 object-name">{[{ object.filename }]}</div>
                                        <div class="col-md-4 object-type"><i class="fa {[{ object.type == 'file' ? 'fa-file' : 'fa-folder' }]}"></i>{[{ object.type == 'file' ? 'File' : 'Directory' }]}</div>
                                        <div class="col-md-3 object-size">{[{ object.size ? object.size / 1024 / 1024 : 'N/A'}]} {[{ object.size ? ' MB' : ''}]}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
