<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div data-ng-controller="projectController">

  <!-- grappbox.data: project creation information -->
  <div data-ng-if="data.project_new">
    <div class="panel panel-default">
      <div class="panel-heading">Create your project</div>
      <div class="panel-body">
        <p>
          This page allows you to create a brand new project. A name, email and Cloud password are required to proceed.<br>Use the <strong>"Create"</strong> button at the end of this page when you're done.
        </p>
        </div>
    </div>
  </div>
  <!-- grappbox.data: project edition information -->
  <div data-ng-if="!data.project_new && !data.project_error">
    <div class="panel panel-default">
      <div class="panel-heading">Edit your project</div>
      <div class="panel-body">
        <p>This page allows you to edit any part of your project.<br>Use the tabs to navigate between all settings, and validate using buttons at the end of pages when you're done.</p>
      </div>
    </div>
  </div>

  <!-- grappbox.data: project creation -->
  <section id="project-creation" data-ng-if="data.project_new">
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <div data-ng-if="data.onLoad">
            <div class="spinner section"><div></div></div>
          </div>
          <div data-ng-if="!data.onLoad">
            <form class="form-horizontal" novalidate>
              <fieldset>
                <div class="form-group">
                  <label for="name" class="col-md-1 control-label">Name</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" data-ng-model="data.project.name" id="name" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="col-md-1 control-label">Description</label>
                  <div class="col-md-11">
                    <textarea class="form-control" rows="3" data-ng-model="data.project.description" id="description" placeholder="Description"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="logo" class="col-md-1 control-label">Logo</label>
                  <div class="col-md-11">
                    <input type="file" class="form-control" data-ng-model="data.project.logo" id="logo" placeholder="Browse">
                  </div>
                </div>                
                <div class="form-group">
                  <label for="company" class="col-md-1 control-label">Company</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" data-ng-model="data.project.company" id="company" placeholder="Company">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-md-1 control-label">Cloud password</label>
                  <div class="col-md-11">
                    <input type="password" class="form-control" data-ng-model="data.project.password" id="password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="col-md-1 control-label">Email</label>
                  <div class="col-md-11">
                    <input type="email" class="form-control" data-ng-model="data.project.contact_mail" id="email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="phone" class="col-md-1 control-label">Phone</label>
                  <div class="col-md-11">
                    <input type="phone" class="form-control" data-ng-model="data.project.phone" id="phone" placeholder="+000 00 000 0000">
                  </div>
                </div>
                <div class="form-group">
                  <label for="facebook" class="col-md-1 control-label">Facebook</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" data-ng-model="data.project.facebook" id="facebook" placeholder="Link">
                  </div>
                </div>
                <div class="form-group">
                  <label for="twitter" class="col-md-1 control-label">Twitter</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" data-ng-model="data.project.twitter" id="twitter" placeholder="Link">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-2 col-md-offset-10">
                    <button type="submit" class="btn btn-default" data-ng-click="createProject(data.project)">Create</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- grappbox.data: project edition -->
  <section id="project-edition" data-ng-if="!data.project_new">
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <div id="tab-pannel">
            <!-- project edition: all tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li id="general-title" role="presentation" class="col-md-3 col-xs-12 active">
                <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#general-content', '#general-title')">General</a>
              </li>
              <li id="users-title" role="presentation" class="col-md-3 col-xs-12">
                <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#users-content', '#users-title')">Users</a>
              </li>
              <li id="roles-title" role="presentation" class="col-md-3 col-xs-12">
                <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#roles-content', '#roles-title')">Roles</a>
              </li>
              <li id="customers-title" role="presentation" class="col-md-3 col-xs-12">
                <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#customers-content', '#customers-title')">Customers acccess</a>
              </li>
            </ul>

            <div class="tab-content">
              <!-- project edition: general -->
              <div role="tabpanel" class="tab-pane active" id="general-content">
                <div data-ng-if="data.onLoad">
                  <div class="spinner data"><div></div></div>
                </div>
                <div data-ng-if="(!data.onLoad && !data.project_error)">
                  <form class="form-horizontal" novalidate>
                    <fieldset>
                      <div class="form-group">
                        <label for="name" class="col-md-1 control-label">Name</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.name" id="name" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description" class="col-md-1 control-label">Description</label>
                        <div class="col-md-11">
                          <textarea data-ng-disabled="!data.editMode || data.project.deleted_at" class="form-control" rows="3" data-ng-model="data.project.description" id="description" placeholder="Description"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="logo" class="col-md-1 control-label">Logo</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="file" class="form-control" data-ng-model="data.project.logo" id="logo" placeholder="Browse">
                        </div>
                      </div>                
                      <div class="form-group">
                        <label for="company" class="col-md-1 control-label">Company</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.company" id="company" placeholder="Company">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password" class="col-md-1 control-label">Cloud password</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="password" class="form-control" data-ng-model="data.project.password" id="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-md-1 control-label">Email</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="email" class="form-control" data-ng-model="data.project.contact_mail" id="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="phone" class="col-md-1 control-label">Phone</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="phone" class="form-control" data-ng-model="data.project.phone" id="phone" placeholder="+000 00 000 0000">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="facebook" class="col-md-1 control-label">Facebook</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.facebook" id="facebook" placeholder="Link">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="twitter" class="col-md-1 control-label">Twitter</label>
                        <div class="col-md-11">
                          <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.twitter" id="twitter" placeholder="Link">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-10" data-ng-if="!data.editMode && data.canEdit">
                          <a class="btn btn-default" data-ng-click="project_switchEditMode()">Edit</a>
                        </div>
                        <div class="col-md-3 col-md-offset-9" data-ng-if="data.editMode && data.canEdit">
                          <a class="btn" data-ng-click="project_switchEditMode()">Cancel</a>
                          <a class="btn btn-default" data-ng-click="updateProject(data.project)">Update</a>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div data-ng-if="data.project_error">
                  <div class="well centered">
                    <p><i class="material-icons">clear</i><br>An error has occurred. Please try again.</p>
                  </div>
                </div>
            </div>

            <div class="tab-content">
              <!-- project edition: general -->
                      <div role="tabpanel" class="tab-pane" id="users-content">
                        <div data-ng-if="data.usersLoad">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="loading-content section">
                              <div></div>
                            </div>
                          </div>
                        </div>
                        <div data-ng-if="(!data.usersLoad && !data.users_error)" id="users-list">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">

                            <div class="col-lg-12" ng-if="data.canEdit">
                              <h4>Add a user</h4>
                              <form class="col-lg-6" novalidate>
                                <div class="form-group">
                                  <input class="form-control col-lg-4" type="email" name="newUser" ng-model="new_user" placeholder="New user's email">
                                  <button type="submit" class="btn-default btn-access" ng-click="addUser(new_user)"><i class="fa fa-plus"></i>Add</button>
                                </div>
                              </form>
                            </div>
                            <div class="col-lg-12">
                              <h4>Registered user(s)</h4>
                              <div class="panel panel-default col-lg-6" ng-repeat="user in data.users">
                                <div class="panel-heading">{[{user.firstname + " " + user.lastname}]}</div>
                                <div class="panel-body">
                                  <form novalidate>
                                    <div class="form-group">
                                      <select class="form-control" ng-disabled="!data.canEdit" ng-model="user.role" ng-options="role.id as role.name for role in data.roles"></select>
                                      <button type="button" class="btn-default btn-access" ng-if="data.canEdit" ng-click="removeUser(user)"><i class="fa fa-times"></i>Remove</button>
                                      <button type="submit" class="btn-default btn-access" ng-if="data.canEdit" ng-click="assignRoleToUser(user)"><i class="fa fa-floppy-o"></i>Save change</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div><!-- !section-content -->
                        </div><!-- !data-ng-if="data.onLoad && !data.users_error" -->
                        <div data-ng-if="data.users_error">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="app-data error">
                                <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
                            </div>
                          </div>
                        </div><!-- !data-ng-if="data.users_erroe-->
                      </div><!-- ! #users-content-->

                      <div role="tabpanel" class="tab-pane" id="roles-content">
                        <div data-ng-if="data.rolesLoad">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="loading-content section">
                              <div></div>
                            </div>
                          </div>
                        </div>
                        <div data-ng-if="(!data.rolesLoad && !data.roles_error)" id="roles-list">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="col-lg-12" ng-if="data.canEdit">
                              <h4>Create new role</h4>
                              <form class="col-lg-6"novalidate>
                                <div class="form-group col-lg-12">
                                  <input class="form-control" type="text" ng-model="new_role.name" placeholder="Role name">
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="team-timeline">Team Timeline</label>
                                  <select name="team-timeline" class="form-control" ng-model="new_role.team_timeline" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="customer-timeline">Customer Timeline</label>
                                  <select name="customer-timeline" class="form-control" ng-model="new_role.customer_timeline" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="gantt">Gantt</label>
                                  <select name="gantt" class="form-control" ng-model="new_role.gantt" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="whiteboard">Whiteboard</label>
                                  <select name="whiteboard" class="form-control" ng-model="new_role.whiteboard" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="bugtracker">Bugtracker</label>
                                  <select name="bugtracker" class="form-control" ng-model="new_role.bugtracker" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="event">Event</label>
                                  <select name="event" class="form-control" ng-model="new_role.event" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="task">Task</label>
                                  <select name="task" class="form-control" ng-model="new_role.task" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="project-settings">Project Settings</label>
                                  <select name="project-settings" class="form-control" ng-model="new_role.project_settings" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                  <label for="cloud">Cloud</label>
                                  <select name="cloud" class="form-control" ng-model="new_role.cloud" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                                <div class="form-group col-lg-12">
                                  <button type="submit" class="btn-default btn-access" ng-click="createRole(new_role)"><i class="fa fa-plus"></i>Create</button>
                                </div>
                              </form>
                            </div>
                            <div class="col-lg-12">
                              <h4>Registered role(s)</h4>
                              <div class="panel panel-default col-lg-6" ng-repeat="role in data.roles">
                                <div class="panel-heading">{[{role.name}]}</div>
                                <div class="panel-body">
                                  <form novalidate>
                                    <div class="form-group col-lg-4">
                                      <label for="team-timeline">Team Timeline</label>
                                      <select name="team-timeline" class="form-control" ng-model="role.team_timeline" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="customer-timeline">Customer Timeline</label>
                                      <select name="customer-timeline" class="form-control" ng-model="role.customer_timeline" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="gantt">Gantt</label>
                                      <select name="gantt" class="form-control" ng-model="role.gantt" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="whiteboard">Whiteboard</label>
                                      <select name="whiteboard" class="form-control" ng-model="role.whiteboard" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="bugtracker">Bugtracker</label>
                                      <select name="bugtracker" class="form-control" ng-model="role.bugtracker" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="event">Event</label>
                                      <select name="event" class="form-control" ng-model="role.event" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="task">Task</label>
                                      <select name="task" class="form-control" ng-model="role.task" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="project-settings">Project Settings</label>
                                      <select name="project-settings" class="form-control" ng-model="role.project_settings" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                      <label for="cloud">Cloud</label>
                                      <select name="cloud" class="form-control" ng-model="role.cloud" ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                    </div>
                                    <div class="form-group col-lg-12">
                                      <button type="submit" class="btn-default btn-access" ng-click="editRole(role)"><i class="fa fa-floppy-o"></i>Save changes</button>
                                      <button type="button" class="btn-default btn-access" ng-click="deleteRole(role)"><i class="fa fa-trash"></i>Delete</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div><!-- !section-content -->
                        </div><!-- !data-ng-if="data.onLoad && !data.project_error" -->
                        <div data-ng-if="data.roles_error">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="app-data error">
                                <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
                            </div>
                          </div>
                        </div>
                      </div><!-- ! #roles-content-->

                      <div role="tabpanel" class="tab-pane" id="customers-content">
                        <div data-ng-if="data.customersLoad">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="loading-content section">
                              <div></div>
                            </div>
                          </div>
                        </div>
                        <div data-ng-if="(!data.customersLoad && !data.customers_error)" id="customers-list">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="col-lg-12" ng-if="data.canEdit">
                              <h4>Create customer access</h4>
                              <form class="col-lg-6" novalidate>
                                <div class="form-group">
                                    <input class="form-control" type="text" ng-model="new_customer.name" placeholder="Customer access name">
                                    <button type="submit"class="btn-default btn-access" ng-click="createCustomersAccess(new_customer)"><i class="fa fa-plus"></i>Create</button>
                                </div>
                              </form>
                            </div>
                            <div class="col-lg-12">
                              <h4>Registered customer access(es)</h4>
                              <div class="panel panel-default col-lg-6" ng-repeat="customer in data.customers">
                                <div class="panel-heading">{[{customer.name}]}</div>
                                <div class="panel-body">
                                  <p>Token: {[{customer.customer_token}]}</p>
                                  <button class="btn-default btn-access" ng-click="deleteCustomerAccess(customer)"><i class="fa fa-trash-o"></i>Delete</button>
                                </div>
                              </div>
                            </div>
                          </div><!-- !section-content -->
                        </div><!-- !data-ng-if="data.onLoad && !data.project_error" -->
                        <div data-ng-if="data.customers_error">
                          <div class="section-heading app-section-heading"><h2></h2></div>
                          <div class="section-content app-section-content">
                            <div class="app-data error">
                                <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
                            </div>
                          </div>
                        </div>
                      </div><!-- ! #customers-content-->
                    </div>
                  </div>

                </div><!-- ! ng-if="data.project_new"-->
              </div><!-- !col-lg-12 -->
          </div><!-- row -->
        </div><!-- container app-container-->
    </section>

</div><!-- !project-content-view -->
