<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- grappbox.data: project creation information -->
<div data-ng-if="data.project_new">
  <div class="panel panel-default">
    <div class="panel-heading">Create your project</div>
    <div class="panel-body">
      <p>
        This page allows you to create a brand new project. A name, email and Cloud password are required to proceed.<br>Use the <strong>"Create"</strong> button at the end of this page when you're done.
      </p>
    </div>
  </div>
</div>
<!-- grappbox.data: project edition information -->
<div data-ng-if="!data.project_new && !data.project_error">
  <div class="panel panel-default">
    <div class="panel-heading">Edit your project</div>
    <div class="panel-body">
      <p>This page allows you to edit any part of your project.<br>Use the tabs to navigate between all settings, and validate using buttons at the end of pages when you're done.</p>
    </div>
  </div>
</div>


<!-- grappbox.data: project creation -->
<section id="project-creation" data-ng-if="data.project_new">
  <div class="row">
    <div class="col-lg-12">
      <div class="well well-ext">
        <div data-ng-if="data.onLoad">
          <div class="spinner section"><div></div></div>
        </div>
        <div data-ng-if="!data.onLoad">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="name" class="col-md-1 control-label">Name</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" data-ng-model="data.project.name" id="name" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="col-md-1 control-label">Description</label>
                <div class="col-md-11">
                  <textarea class="form-control" rows="3" data-ng-model="data.project.description" id="description" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="logo" class="col-md-1 control-label">Logo</label>
                <div class="col-md-11">
                  <input type="file" class="form-control" data-ng-model="data.project.logo" id="logo" placeholder="Browse">
                </div>
              </div>                
              <div class="form-group">
                <label for="company" class="col-md-1 control-label">Company</label>
                <div class="col-md-11"> 
                  <input type="text" class="form-control" data-ng-model="data.project.company" id="company" placeholder="Company">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-md-1 control-label">Cloud password</label>
                <div class="col-md-11">
                  <input type="password" class="form-control" data-ng-model="data.project.password" id="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-md-1 control-label">Email</label>
                <div class="col-md-11">
                  <input type="email" class="form-control" data-ng-model="data.project.contact_mail" id="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="phone" class="col-md-1 control-label">Phone</label>
                <div class="col-md-11">
                  <input type="phone" class="form-control" data-ng-model="data.project.phone" id="phone" placeholder="+000 00 000 0000">
                </div>
              </div>
              <div class="form-group">
                <label for="facebook" class="col-md-1 control-label">Facebook</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" data-ng-model="data.project.facebook" id="facebook" placeholder="Link">
                </div>
              </div>
              <div class="form-group">
                <label for="twitter" class="col-md-1 control-label">Twitter</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" data-ng-model="data.project.twitter" id="twitter" placeholder="Link">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2 col-md-offset-10">
                  <button type="submit" class="btn btn-default" data-ng-click="createProject(data.project)">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- grappbox.data: project edition -->
<section id="project-edition" data-ng-if="!data.project_new">
  <div class="row">
    <div class="col-lg-12">
      <div class="well well-ext">
        <div id="tab-pannel">

          <!-- project edition: all tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li id="general-title" role="presentation" class="col-md-3 col-xs-12 active">
              <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#general-content', '#general-title')">General</a>
            </li>
            <li id="users-title" role="presentation" class="col-md-3 col-xs-12">
              <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#users-content', '#users-title')">Users</a>
            </li>
            <li id="roles-title" role="presentation" class="col-md-3 col-xs-12">
              <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#roles-content', '#roles-title')">Roles</a>
            </li>
            <li id="customers-title" role="presentation" class="col-md-3 col-xs-12">
              <a href="" role="tab" data-toggle="tab" data-ng-click="displayTab('#customers-content', '#customers-title')">Customers acccess</a>
            </li>
          </ul>

          <div class="tab-content">
            <!-- project edition: general -->
            <div role="tabpanel" class="tab-pane active" id="general-content">
              <div data-ng-if="data.onLoad">
                <div class="spinner data"><div></div></div>
              </div>
              <div data-ng-if="(!data.onLoad && !data.project_error)">
                <form class="form-horizontal" novalidate>
                  <fieldset>
                    <div class="form-group">
                      <label for="name" class="col-md-1 control-label">Name</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.name" id="name" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="description" class="col-md-1 control-label">Description</label>
                      <div class="col-md-11">
                        <textarea data-ng-disabled="!data.editMode || data.project.deleted_at" class="form-control" rows="3" data-ng-model="data.project.description" id="description" placeholder="Description"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="logo" class="col-md-1 control-label">Logo</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="file" class="form-control" data-ng-model="data.project.logo" id="logo" placeholder="Browse">
                      </div>
                    </div>                
                    <div class="form-group">
                      <label for="company" class="col-md-1 control-label">Company</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.company" id="company" placeholder="Company">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password" class="col-md-1 control-label">Cloud password</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="password" class="form-control" data-ng-model="data.project.password" id="password" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-md-1 control-label">Email</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="email" class="form-control" data-ng-model="data.project.contact_mail" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="phone" class="col-md-1 control-label">Phone</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="phone" class="form-control" data-ng-model="data.project.phone" id="phone" placeholder="+000 00 000 0000">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="facebook" class="col-md-1 control-label">Facebook</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.facebook" id="facebook" placeholder="Link">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="twitter" class="col-md-1 control-label">Twitter</label>
                      <div class="col-md-11">
                        <input data-ng-disabled="!data.editMode || data.project.deleted_at" type="text" class="form-control" data-ng-model="data.project.twitter" id="twitter" placeholder="Link">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-2" data-ng-if="data.canEdit">
                        <a class="btn btn-default" data-ng-click="deleteProject()">Delete this projet</a>
                      </div>
                      <div class="col-md-offset-10" data-ng-if="!data.editMode && data.canEdit">
                        <a class="btn" data-ng-click="project_switchEditMode()">Edit</a>
                      </div>
                      <div class="col-md-offset-9" data-ng-if="data.editMode && data.canEdit">
                        <a class="btn" data-ng-click="project_switchEditMode()">Cancel</a>
                        <a class="btn btn-default" data-ng-click="updateProject(data.project)">Update</a>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <div data-ng-if="!data.onLoad && data.project_error">
                <div class="centered">
                  <p><i class="material-icons">clear</i><br>An error has occurred. Please try again.</p>
                </div>
              </div>
            </div>

            <!-- project edition: users -->
            <div role="tabpanel" class="tab-pane" id="users-content">
              <div data-ng-if="data.onLoad">
                <div class="spinner data"><div></div></div>
              </div>
              <div data-ng-if="!data.usersLoad && !data.users_error && data.canEdit">
                <div class="col-md-12">
                  <h4>Add a user</h4>
                </div>
                <div class="col-md-12">
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <label for="newUser" class="col-md-1 control-label">Email</label>
                        <div class="col-md-9">
                          <input type="email" class="form-control" data-ng-model="new_user" id="newUser" placeholder="New user's email">
                        </div>
                        <div class="col-md-1">
                          <button type="submit" class="btn btn-default" data-ng-click="addUser(new_user)">Add</button>  
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div class="col-md-12">
                  <h4>Registered users</h4>
                </div>
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                          <th class="col-md-2 col-xs-12">Name</th>
                          <th class="col-md-8 col-xs-12">Role</th>
                          <th class="col-md-2 col-xs-12">Deletion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="user in data.users">
                          <td class="col-md-2 col-xs-12 ellipsis">{[{ user.firstname + " " + user.lastname }]}</td>
                          <td class="col-md-8 col-xs-12">
                            <div class="col-md-9 col-xs-12">
                              <form class="form-horizontal" novalidate>
                                <fieldset>
                                  <div class="form-group">
                                    <select class="form-control" data-ng-disabled="!data.canEdit" data-ng-model="user.role" data-ng-options="role.id as role.name for role in data.roles"></select>
                                  </div>
                                </fieldset>
                              </form>
                            </div>
                            <div class="col-md-3 col-xs-12">
                              <a href="" class="btn" data-ng-if="data.canEdit" data-ng-click="assignRoleToUser(user)">Update</a>
                            </div>
                          </td>
                          <td class="col-md-2 col-xs-12">
                            <a href="" class="btn btn-default" data-ng-if="data.canEdit" data-ng-click="removeUser(user)">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div data-ng-if="!data.usersLoad && data.users_error">
                <div class="centered">
                  <p><i class="material-icons">clear</i><br>An error has occurred. Please try again.</p>
                </div>
              </div>
            </div>

            <!-- project edition: roles -->
            <div role="tabpanel" class="tab-pane" id="roles-content">
              <div data-ng-if="data.rolesLoad">
                <div class="spinner data"><div></div></div>
              </div>
              <div data-ng-if="!data.rolesLoad && !data.roles_error && data.canEdit">
                <div class="col-md-12">
                  <h4>Create a new role</h4>
                </div>
                <div class="col-md-12">
                  <form class="form-horizontal" novalidate>
                    <fieldset>
                      <div class="form-group">
                        <label for="newRole" class="col-md-1 control-label">Name</label>
                        <div class="col-md-10">
                          <input class="form-control" type="text" data-ng-model="new_role.name" id="newRole" placeholder="Role name">
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                      <tbody>
                        <tr>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="team-timeline" class="col-md-1 control-label">Team timeline</label>
                                  <div class="col-md-11">
                                    <select name="team-timeline" class="form-control" data-ng-model="new_role.team_timeline" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="customer-timeline" class="col-md-1 control-label">Customer timeline</label>
                                  <div class="col-md-11">
                                    <select name="customer-timeline" class="form-control" data-ng-model="new_role.customer_timeline" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="gantt" class="col-md-1 control-label">Gantt</label>
                                  <div class="col-md-11">
                                    <select name="gantt" class="form-control" data-ng-model="new_role.gantt" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                        </tr>
                        <tr>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="whiteboard" class="col-md-1 control-label">Whiteboard</label>
                                  <div class="col-md-11">
                                    <select name="whiteboard" class="form-control" data-ng-model="new_role.whiteboard" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="bugtracker" class="col-md-1 control-label">Bugtracker</label>
                                  <div class="col-md-11">
                                    <select name="bugtracker" class="form-control" data-ng-model="new_role.bugtracker" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="event" class="col-md-1 control-label">Event</label>
                                  <div class="col-md-11">
                                    <select name="event" class="form-control" data-ng-model="new_role.event" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                        </tr>
                        <tr>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="task" class="col-md-1 control-label">Task</label>
                                  <div class="col-md-11">
                                    <select name="task" class="form-control" data-ng-model="new_role.task" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="project-settings" class="col-md-1 control-label">Project settings</label>
                                  <div class="col-md-11">
                                    <select name="project-settings" class="form-control" data-ng-model="new_role.project_settings" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                          <td class="col-md-4">
                            <form class="form-horizontal" novalidate>
                              <fieldset>
                                <div class="form-group no-margin">
                                  <label for="cloud" class="col-md-1 control-label">Cloud</label>
                                  <div class="col-md-11">
                                    <select name="cloud" class="form-control" data-ng-model="new_role.cloud" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-10">
                  <button type="submit" class="btn btn-default" data-ng-click="createRole(new_role)">Create</button>
                </div>
                <div class="col-md-12">
                  <h4>Registered roles</h4>
                </div>
                <div class="col-md-12">
                  <div class="panel panel-default" data-ng-repeat="role in data.roles">
                    <div class="panel-heading">{[{ role.name }]}</div>
                    <div class="panel-body">
                      <div class="col-md-12">
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="team-timeline" class="control-label">Team timeline</label>
                                <div class="">
                                  <select name="team-timeline" class="form-control" data-ng-model="role.team_timeline" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="customer-timeline" class="control-label">Customer timeline</label>
                                <div class="">
                                  <select name="customer-timeline" class="form-control" data-ng-model="role.customer_timeline" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="gantt" class="control-label">Gantt</label>
                                <div class="">
                                  <select name="gantt" class="form-control" data-ng-model="role.gantt" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="whiteboard" class="control-label">Whiteboard</label>
                                <div class="">
                                  <select name="whiteboard" class="form-control" data-ng-model="role.whiteboard" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="bugtracker" class="control-label">Bugtracker</label>
                                <div class="">
                                  <select name="bugtracker" class="form-control" data-ng-model="role.bugtracker" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="event" class="control-label">Event</label>
                                <div class="">
                                  <select name="event" class="form-control" data-ng-model="role.event" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="task" class="control-label">Task</label>
                                <div class="">
                                  <select name="task" class="form-control" data-ng-model="role.task" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="project-settings" class="control-label">Project settings</label>
                                <div class="">
                                  <select name="project-settings" class="form-control" data-ng-model="role.project_settings" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                        <div class="col-md-4">
                          <form class="form-horizontal" novalidate>
                            <fieldset>
                              <div class="form-group no-margin">
                                <label for="cloud" class="control-label">Cloud</label>
                                <div class="">
                                  <select name="cloud" class="form-control" data-ng-model="role.cloud" data-ng-options="convertToInt(right.id) as right.name for right in rightsOptions"></select>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-3 col-md-offset-9">
                        <a href="" class="btn btn-default" data-ng-click="deleteRole(role)">Delete</a>
                        <a href="" class="btn" data-ng-click="editRole(role)">Update</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-ng-if="!data.usersLoad && data.roles_error">
                <div class="centered">
                  <p><i class="material-icons">clear</i><br>An error has occurred. Please try again.</p>
                </div>
              </div>
            </div>

            <!-- project edition: customers -->
            <div role="tabpanel" class="tab-pane" id="customers-content">
              <div data-ng-if="data.customersLoad">
                <div class="spinner data"><div></div></div>
              </div>
              <div data-ng-if="!data.customersLoad && !data.customers_error && data.canEdit">
                <div class="col-md-12">
                  <h4>Add a customer access</h4>
                </div>
                <div class="col-md-12">
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <label for="newCustomer" class="col-md-1 control-label">Name</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" data-ng-model="new_customer.name" id="newCustomer" placeholder="Customer access name">
                        </div>
                        <div class="col-md-1">
                          <button type="submit" class="btn btn-default" data-ng-click="createCustomersAccess(new_customer)">Add</button>  
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>                  
                <div class="col-md-12">
                  <h4>Registered customer accesses</h4>
                </div>
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                          <th class="col-md-2 col-xs-12">Name</th>
                          <th class="col-md-8 col-xs-12">Token</th>
                          <th class="col-md-2 col-xs-12">Deletion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="customer in data.customers">
                          <td class="col-md-2 col-xs-12 ellipsis">{[{ customer.name }]}</td>
                          <td class="col-md-8 col-xs-12 ellipsis">{[{ customer.customer_token }]}</td>
                          <td class="col-md-2 col-xs-12">
                            <a href="" class="btn btn-default" data-ng-click="deleteCustomerAccess(customer)">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div data-ng-if="!data.customersLoad && data.customers_error">
                <div class="centered">
                  <p><i class="material-icons">clear</i><br>An error has occurred. Please try again.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>