<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- grappbox.data : tasksList information -->
<!-- <div class="panel panel-default">
  <div class="panel-heading">Choose a task</div>
  <div class="panel-body">
    <p>
      This page shows you all the tasks of the selected project. Click on a tasks row to open the details about it.
    </p>
  </div>
</div> -->

<section id="tasksList">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <!-- grappbox.data : tasks list -->
        <div data-ng-if="data.onLoad">
          <div class="spinner section"><div></div></div>
        </div>
        <div data-ng-if="!data.onLoad">
          <div data-ng-if="data.message == '_valid'">
            <div class="row">
              <div class="centered">
                <a href="{[{'tasks/' + projectID + '/0'}]}" class="btn btn-raised btn-danger" title="Go to the task creation page">Create a new task</a>
              </div>
            </div>
            <div class="row">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="col-lg-4"><i class="fa fa-tasks"></i> Title</th>
                    <th class="col-lg-3"><i class="fa fa-tags"></i> Tags</th>
                    <th class="col-lg-3"><i class="fa fa-user"></i> Assigned user(s)</th>
                    <th class="col-lg-2"><i class="fa fa-bell"></i> Due date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="task in data.tasks" ng-click="openTask(projectID, task.id)" title="Go the task page">
                    <td>{[{ task.title }]}</td>
                    <td>{[{ formatTagsinString(task.tags) }]}</td>
                    <td>{[{ formatUsersinString(task.users_assigned) }]}</td>
                    <td>{[{ formatObjectDate(task.due_date.date) }]}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div data-ng-if="data.message == '_empty'">
            <div class="data-wrapper error">
              <p><i class="fa fa-frown-o"></i>There is no task for this project.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_invalid'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>An error has occurred. Please try again.</p>
            </div>
          </div>
          <div data-ng-if="data.message == '_denied'">
            <div class="data-wrapper error">
              <p><i class="fa fa-times"></i>You don't have access to the tasks of this project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>