<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
  which is part of the GRAPPBOX source code package.
  COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="whiteboard-view" ng-controller="whiteboardController" data-ng-init="initializeWhiteboardControls()">

  <section class="app-section" id="whiteboard-header">
    <div class="container app-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading app-section-heading">
            <h2>Whiteboard #{[{ whiteboardID }]}</h2>
            <p class="lead">Use the toolbox below the whiteboard to draw and share your ideas.<br>If you or one of your team members have trouble connecting to this whiteboard, please check your access rights using the project settings page.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="app-section" id="whiteboard">
    <div class="container app-container">
      <div class="row">
        <div class="col-lg-12">
          <!-- grappbox.data : whiteboard -->
          <div class="section-content app-section-content">
            <div id="whiteboard-data">
              <div class="app-data">
                <canvas id="whiteboard-canvas" height="2160px" width="4096px"></canvas>
              </div>

              <div class="app-actions">
                <div id="whitebboard-actions">
                  <ul class="app-actions-list">
                    <li><input type="radio" name="whiteboardTools" data-ng-model="whiteboardTools" value="pencil">Pencil</li>
                    <li><input type="radio" name="whiteboardTools" data-ng-model="whiteboardTools" value="line">Line</li>
                    <li><input type="radio" name="whiteboardTools" data-ng-model="whiteboardTools" value="rectangle">Rectangle</li>
                    <li><input type="radio" name="whiteboardTools" data-ng-model="whiteboardTools" value="circle">Circle</li>
                    <li><input type="radio" name="whiteboardTools" data-ng-model="whiteboardTools" value="text">Text</li>
                  </ul>

                  <div class="app-actions-list">
                    <label for="draw-color">Draw color</label>
                    <select name="draw-color" ng-options="drawColor.name for drawColor in color.availableColors track by drawColor.value" ng-model="color.selectedDrawColor">
                    </select>
                    <label for="fill-color">Fill color</label>
                    <select name="fill-color" ng-options="fillColor.name for fillColor in color.availableColors track by fillColor.value" ng-model="color.selectedFillColor">
                    </select>
                    <label for="fill-mode">Fill shape?</label>
                    <input type="checkbox" name="fill-mode" data-ng-model="color.isFillModeEnabled">
                  </div>

                  <div class="app-actions-list">
                    <label for="line-width">Line width</label>
                    <select name="line-width" ng-options="lineWidth.label for lineWidth in line.availableWidths track by lineWidth.value" ng-model="line.selectedLineWidth">
                    </select>
                  </div>

                  <div class="app-actions-list">
                    <label for="text-value">Enter text to draw</label>
                    <input type="text" name="text-value" data-ng-model="text.textValue"/>
                    <label for="text-italic">Italic?</label>
                    <input type="checkbox" name="text-italic" data-ng-model="text.isItalicEnabled">
                    <label for="text-bold">Bold?</label>
                    <input type="checkbox" name="text-bold" data-ng-model="text.isBoldEnabled">
                  </div>

                  <div class="app-actions-list">
                    <button data-ng-click="undoLastCanvasAction()">Undo</button>
                    <button data-ng-click="expandWhiteboard()">Expand</button>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
