<!-- This file is subject to the terms and conditions defined in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<!-- whiteboard: information -->
<div class="navigation">
  <h4>{[{ data.name ? '"' + data.name + '"' : 'Loading...' }]}{[{ data.creator ? ', by ' + data.creator : '' }]}</h4>
  <a href="whiteboard/{[{ data.project_id }]}" title="Go back to the whiteboard list" class="btn btn-raised btn-info">Back</a>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Draw and share your ideas.</div>
  <div class="panel-body">
    <p>
      Use the <strong>toolbox</strong> of each whiteboard to draw lines, shapes and words.<br>If you or one of your team members have trouble connecting to any whiteboard, please check your access rights using <strong>the project settings</strong> page.</p>
    </p>
  </div>
</div>

<!-- whiteboard: canvas and toolbox -->
<section id="whiteboard">
  <div class="row">
    <div class="col-lg-12">
      <div data-ng-if="view.onLoad">
        <div class="spinner section">
          <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></circle></svg>
        </div>
      </div>
      <div data-ng-if="!view.onLoad">
        <div data-ng-if="view.authorized">
          <div data-ng-if="view.valid">

            <div class="well">
              <!-- whiteboard: toolbox -->
              <div class="col-lg-12 col-md-12 col-xs-12 action">
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <div class="form-group">
                    <label for="pencil" class="col-md-1 col-xs-1 control-label {[{ selected.tool == 'pencil' ? 'active' : '' }]}">
                      <i class="material-icons">mode_edit</i>
                      <input type="radio" data-ng-model="selected.tool" id="pencil" value="pencil">
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="line" class="col-md-1 col-xs-1 control-label {[{ selected.tool == 'line' ? 'active' : '' }]}">
                      <i class="material-icons">remove</i>
                      <input type="radio" data-ng-model="selected.tool" id="line" value="line">
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="rectangle" class="col-md-1 col-xs-1 control-label {[{ selected.tool == 'rectangle' ? 'active' : '' }]}">
                      <i class="material-icons">crop_square</i>
                      <input type="radio" data-ng-model="selected.tool" id="rectangle" value="rectangle">
                    </label>
                  </div>        
                  <div class="form-group">
                    <label for="diamond" class="col-md-1 col-xs-1 control-label {[{ selected.tool == 'diamond' ? 'active' : '' }]}">
                      <i class="material-icons diamond">crop_square</i>
                      <input type="radio" data-ng-model="selected.tool" id="diamond" value="diamond">
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="ellipse" class="col-md-1 col-xs-1 control-label {[{ selected.tool == 'ellipse' ? 'active' : '' }]}">
                      <i class="material-icons">radio_button_unchecked</i>
                      <input type="radio" data-ng-model="selected.tool" id="ellipse" value="ellipse">
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="none" class="col-md-1 col-xs-1 control-label">
                      <i class="material-icons">block</i>
                      <input type="radio" data-ng-click="action.resetTool()" id="none" value="none">
                    </label>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <div class="form-group">
                    <label for="draw" class="col-md-1 col-xs-1 control-label no-select"><i class="material-icons">color_lens</i></label>
                    <select id="draw" class="col-md-2 col-xs-12" data-ng-options="color.name for color in colors track by color.value" data-ng-model="selected.color"></select>
                  </div>
                  <div class="form-group">
                    <label for="fill" class="col-md-1 col-xs-1 control-label no-select"><i class="material-icons">format_color_fill</i></label>
                    <select id="fill" class="col-md-2 col-xs-12" data-ng-options="color.name for color in colors track by color.value" data-ng-model="selected.fill"></select>
                  </div>
                  <div class="form-group">
                    <label for="width" class="col-md-1 col-xs-1 control-label no-select"><i class="material-icons">format_line_spacing</i></label>
                    <select id="width" class="col-md-2 col-xs-12" data-ng-options="size.label for size in sizes track by size.value" data-ng-model="selected.size"></select>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <div class="form-group">
                    <label for="text" class="col-md-1 col-xs-1 control-label {[{ selected.tool == 'text' ? 'active' : '' }]}">
                      <i class="material-icons">format_color_text</i>
                      <input type="radio" data-ng-model="selected.tool" id="text" value="text">
                    </label>
                  </div>
                  <div class="form-group">
                    <input type="text" data-ng-model="text.value" class="col-md-6 col-xs-12" placeholder="Text to draw">
                  </div>
                  <div class="form-group">
                    <label for="italic" class="col-md-1 col-xs-12 control-label {[{ text.italic ? 'active' : '' }]}">
                      <i class="material-icons">format_italic</i>
                      <input type="checkbox" data-ng-model="text.italic" id="italic" value="italic">
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="bold" class="col-md-1 col-xs-12 control-label {[{ text.bold ? 'active' : '' }]}">
                      <i class="material-icons">format_bold</i>
                      <input type="checkbox" data-ng-model="text.bold" id="bold" value="bold">
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="font" class="col-md-1 col-xs-12 control-label no-select"><i class="material-icons">format_size</i></label>
                    <select id="font" class="col-md-2 col-xs-12" data-ng-options="font.label for font in fonts track by font.value" data-ng-model="text.font"></select>
                  </div>                  
                </div>
              </div>
              <!-- whiteboard: canvas -->
              <div class="col-lg-12 col-md-12 col-xs-12 canvas-wrapper">
                <canvas class="{[{ selected.tool != 'none' ? 'edit' : '' }]}" id="whiteboard-canvas" height="2160px" width="4096px"></canvas>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          
          <div data-ng-if="!view.onLoad && !view.valid">
            <div class="well centered">
              <p><i class="material-icons">clear</i><br>An error has occurred. Please try again.</p>
            </div>
          </div>
        </div>
        <div data-ng-if="!view.authorized">
          <div class="well centered">
            <p><i class="material-icons">block</i><br>You don't have sufficient rights to perform this operation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>