<!-- This file is subject to the terms and conditions defined   in file 'LICENSE.txt',
which is part of the GRAPPBOX source code package.
COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. -->

<div class="view view-content" id="whiteboard-list-view" ng-controller="whiteboardListController">

    <uib-alert ng-repeat="alert in alertList" type="{[{ alert.type }]}" close="closeAlert($index)">{[{ alert.message }]}</uib-alert>

    <section class="app-section" id="whiteboard-list">
        <div class="container app-container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- grappbox.data : whiteboard list -->
                    <div class="section-heading app-section-heading">
                        <h2>Choose the whiteboard you want to edit</h2>
                        <p class="lead">Hold to navigate between all your collaborative whiteboards (sorted by name).<br>For each whiteboard card, you'll find useful information such as creation date and time or the project which it's associated to.</p>
                    </div>
                    <div class="section-content app-section-content">
                        <div id="all-whiteboards-data" panhandler>
                            <div class="app-data" ng-repeat="whiteboard in whiteboardListContent">
                                <ul class="app-data-list each-available-whiteboard btn-float">
                                    <li class="whiteboard-name"><a ng-href="whiteboard/{[{ whiteboard.id }]}" title="Edit whiteboard #{[{ whiteboard.id }]}">{[{ whiteboard.name }]}</a></li>
                                    <li class="whiteboard-id">Whiteboard #{[{ whiteboard.id }]}</li>
                                    <li class="whiteboard-project-name">Project: {[{ whiteboard.project }]}</li>
                                    <li class="whiteboard-information">
                                        <div class="whiteboard-information-data whiteboard-date"><i class="fa fa-calendar"></i>{[{ whiteboard.date }]}</div>
                                        <div class="whiteboard-information-data whiteboard-time"><i class="fa fa-clock-o"></i>{[{ whiteboard.time }]}</div>
                                    </li>
                                    <li class="whiteboard-link">
                                        <a ng-href="whiteboard/{[{ whiteboard.id }]}" title="Edit whiteboard #{[{ whiteboard.id }]}"><i class="fa fa-edit fa-fw"></i>Edit</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="app-section" id="whiteboard-list-actions">
        <div class="container app-container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- grappbox.data : whiteboard list actions -->
                    <div class="section-heading app-section-heading">
                        <h2>Create a new whiteboard</h2>
                        <p class="lead">Use the link below to create a new whiteboard.<br>Warning: each new whiteboard must be associated with an existing project. Be sure to create the project before starting to draw.</p>
                    </div>
                    <div class="section-content app-section-content">
                        <div id="all-whiteboards-actions">
                            <div class="app-actions">
                                <div class="whiteboard-action-link whiteboard-create">
                                    <a ng-href="whiteboard/0" title="Create a new whiteboard"><i class="fa fa-plus fa-fw"></i>Create</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
