{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% spaceless %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="The GrappBox team">
    <meta name="description" content="A strong project manager with truly useful features, available on mobile, Web and desktop. Manage all your projects, teams, issues, files, and customers.">
    <meta name="keywords" content="project,management,teamwork,team,information technology,collaborative,collaboration,online">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock %}</title>
    <!-- Social -->
    {% block social %}{% endblock %}
    <!-- SEO -->
    {% block canonical %}{% endblock %}
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/resources/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/resources/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/resources/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Analytics -->
    {% javascripts
    '@AppBundle/Resources/public/js/home/analytics.js'
    filter='?uglifyjs2' output='resources/js/data.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}" async></script>
    {% endjavascripts %}

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

    <!-- Styles -->
    {% stylesheets
    '@AppBundle/Resources/public/css/vendor/bootstrap.css'
    '@AppBundle/Resources/public/css/vendor/bootstrap-material.css'
    '@AppBundle/Resources/public/css/vendor/bootstrap-material-datepicker.css'
    '@AppBundle/Resources/public/css/vendor/material-icons.css'
    '@AppBundle/Resources/public/css/vendor/ripples.css'
    '@AppBundle/Resources/public/css/home/home.css'
    filter='?uglifycss' output='resources/css/home.min.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

    <!-- Responsive for IE8 -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="resources/static/html5shiv.min.js"></script>
    <script type="text/javascript" src="resources/static/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block body %}{% endblock %}

    {% javascripts
    '@AppBundle/Resources/public/js/vendor/jquery.js'
    '@AppBundle/Resources/public/js/vendor/moment.js'
    '@AppBundle/Resources/public/js/vendor/bootstrap.js'
    '@AppBundle/Resources/public/js/vendor/bootstrap-material.js'
    '@AppBundle/Resources/public/js/vendor/bootstrap-material-datepicker.js'    
    '@AppBundle/Resources/public/js/vendor/cookie.js'
    '@AppBundle/Resources/public/js/vendor/hammer.js'
    '@AppBundle/Resources/public/js/vendor/konami.js'
    '@AppBundle/Resources/public/js/vendor/knockout.js'
    '@AppBundle/Resources/public/js/vendor/parallax.js'
    '@AppBundle/Resources/public/js/vendor/ripples.js'
    '@AppBundle/Resources/public/js/home/home.js'
    '@AppBundle/Resources/public/js/home/user.js'
    '@AppBundle/Resources/public/js/home/secret.js'
    filter='?uglifyjs2' output='resources/js/home.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>

{% endspaceless %}