{#
# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED.
#}

{% extends 'AppBundle:Home:base.html.twig' %}

{% block title %}GrappBox{% endblock %}

{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-custom navbar-fixed-top navbar-home" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand page-scroll" href="#home"><img src="resources/img/favicon/apple-icon-180x180.png" height="35" width="35" alt="GrappBox small logo">Grapp<span class="red">Box</span></a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a class="login" href="/login"><i class="material-icons">open_in_new</i>Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<div id="home">
  <div class="home-body">
    <div class="container">
      <div class="col-md-7 col-sm-12 brand">
        <h1>Grapp<span class="red">Box</span></h1>
        <p class="home-text">A strong project manager with truly useful features.<br>Everything you need, everywhere.</p>
      </div>
      <div class="col-md-5 col-sm-12 actions">
        <a href="/login" class="btn btn-default fill login"><i class="material-icons">open_in_new</i>Login</a>
        <a href="/" class="btn btn-default fill register disabled"><i class="material-icons">add_circle_outline</i>Register</a>
        <a href="/" class="btn btn-default fill download disabled"><i class="material-icons">file_download</i>Download</a>
        <a href="#about" class="btn btn-default fill more"><i class="material-icons">arrow_drop_down</i>Learn more</a>
      </div>
    </div>
  </div>
</div>

<div id="separation-home"></div>

<!-- About -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About GrappBox</h2>
      <hr class="bg-red">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="about-text">
          <h3>Who We Are</h3>
          <p>Developers, project managers, integrators, designers... We are who you are, teams wishing to work efficiently without compromises.</p>
          <p>We do know how bad tools can significantly slow down a project, and even kill it. Via GrappBox, we want to find the right balance between simplicity and functionality.</p>
          <p>Our goal is quite simple: to offer an innovative online platform, with all the needed tools to create and develop your IT projects.</p>
        </div>
      </div>
      <div class="col-md-4"><img src="resources/img/grappbox.min.png" class="img-responsive" height="360" width="360" alt="GrappBox logo"></div>
      <div class="col-md-4">
        <div class="about-text">
          <h3>What's inside</h3>
          <p>Everything you need to manage your projects, teams, files, and even customers. Your actions and decisions are fully synchronized between all GrappBox platforms to maximize your productivity.</p>
          <ul>
            <li><i class="material-icons">chevron_right</i>All the tools you need with a click</li>
            <li><i class="material-icons">chevron_right</i>The evolution of all your projects at a glance</li>
            <li><i class="material-icons">chevron_right</i>A new way to communicate with your customers</li>
            <li><i class="material-icons">chevron_right</i>A set of applications for all your platforms (web, desktop or mobile)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services -->
<div id="services" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Our Services</h2>
      <hr class="bg-red">
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop red">dashboard</i>
          <h4>Dashboard</h4>
          <p>Detect problems before they occur thanks to a set of relevant statistics.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop yellow">cloud_queue</i>
          <h4>Cloud</h4>
          <p>Safely store all your valuable files and assets safely via our secured private Cloud storage.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop green">mode_edit</i>
          <h4>Collborative whiteboard</h4>
          <p>Give life to your ideas thanks to a collaborative whiteboard shared on all GrappBox platforms.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop orange">forum</i>
          <h4>Team timeline</h4>
          <p>Discuss and keep track of your interactions with your team.</p>
        </div>
      </div>
    </div>
    <div class="space hidden-sm hidden-xs"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop orange">people_outline</i>
          <h4>Customer timeline</h4>
          <p>A better way to discuss and exchange with your customers.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop purple">bug_report</i>
          <h4>Bugtracker</h4>
          <p>Use the power of teamwork to get rid of your functional and technical issues.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop blue">event</i>
          <h4>Calendar</h4>
          <p>A beautifully simple calendar. View and manage all your meetings and tasks.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="material-icons pop red">important_devices</i>
          <h4>All-in-one</h4>
          <p>Available on Web, Windows, Mac, Linux, Android, iPhone and Windows Phone.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="separation-contact"></div>

<!-- Contact -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get in touch</h2>
      <hr class="bg-red">
      <p>We'd love to discuss with you for any question, suggestion or even issue. Feel free to contact us!</p>
    </div>
    <div class="col-md-12">
      <ul>
        <li class="col-md-3 col-sm-3 col-xs-12 mail">
          <a href="mailto:grappbox@gmail.com" target="_blank"><i class="material-icons bg-green">email</i><p>grappbox@gmail.com</p></a>
        </li>
        <li class="col-md-3 col-sm-3 col-xs-12 facebook">
          <a href="https://www.facebook.com/GrappBox/" target="_blank"><img src="resources/img/facebook.min.png" height="45" width="45" alt="GrappBox on Facebook">
            <p>GrappBox</p>
          </a>
        </li>
        <li class="col-md-3 col-sm-3 col-xs-12 twitter">
          <a href="https://twitter.com/grappbox" target="_blank"><img src="resources/img/twitter.min.png" height="45" width="45" alt="GrappBox on Twitter">
            <p>@GrappBox</p>
          </a>
        </li>
        <li class="col-md-3 col-sm-3 col-xs-12 google-plus">
          <a href="https://plus.google.com/115657691021326143456?prsrc=3" target="_blank"><img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="Google+" height="45" width="45">
            <p>@GrappBox</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p>Copyright &copy; GrappBox 2016. All rights reserved.</p>
  </div>
</div>

{% endblock %}