{# This file is subject to the terms and conditions defined in
# file "LICENSE.txt", which is part of the GRAPPBOX source code package.
# COPYRIGHT GRAPPBOX. ALL RIGHTS RESERVED. #}

{% spaceless %}

<!DOCTYPE html>
<html lang="en" ng-app="grappbox">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta name="description" content="GrappBox" />
		<meta name="author" content="GrappBox" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8" />
		<base href="/app/">
		<title>GrappBox</title>
		<!-- Google Fonts -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" />

		{% stylesheets
		'@HomeBundle/Resources/public/css/vendor/bootstrap.css'
		'@AppBundle/Resources/public/css/vendor/bootstrap-material-design.css'
		'@AppBundle/Resources/public/css/vendor/ripples.css'
		'@AppBundle/Resources/public/css/vendor/material-icons.css'
		'@HomeBundle/Resources/public/css/vendor/font-awesome.css'
		'@AppBundle/Resources/public/css/vendor/angular-aside.css'
		'@AppBundle/Resources/public/css/vendor/angular-bootstrap-calendar-tpls.css'
		'@AppBundle/Resources/public/css/vendor/angular-hamburger-toggle.css'
		'@AppBundle/Resources/public/css/vendor/angular-tags-input.css'
		'@AppBundle/Resources/public/css/vendor/angular-tags-input.bootstrap.css'
		'@AppBundle/Resources/public/css/vendor/angular-ui-notification.css'
		'@AppBundle/Resources/public/css/custom/app.css'
		filter='?uglifycss' output='resources/css/app.min.css' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}

		{% javascripts
		'@HomeBundle/Resources/public/js/vendor/jquery.js'
		'@HomeBundle/Resources/public/js/vendor/sha512.js'
		'@HomeBundle/Resources/public/js/vendor/smooth-scroll.js'
		'@AppBundle/Resources/public/js/vendor/moment.js'
		'@AppBundle/Resources/public/js/vendor/angular.js'
		'@AppBundle/Resources/public/js/vendor/angular-animate.js'
		'@AppBundle/Resources/public/js/vendor/angular-aside.js'
		'@AppBundle/Resources/public/js/vendor/angular-base64.js'
		'@AppBundle/Resources/public/js/vendor/angular-base64-upload.js'
		'@AppBundle/Resources/public/js/vendor/angular-bootstrap-calendar-tpls.js'
		'@AppBundle/Resources/public/js/vendor/angular-bootstrap-material.js'
		'@AppBundle/Resources/public/js/vendor/angular-cookies.js'
		'@AppBundle/Resources/public/js/vendor/angular-hamburger-toggle.js'
		'@AppBundle/Resources/public/js/vendor/angular-local-storage.js'
		'@AppBundle/Resources/public/js/vendor/angular-messages.js'
		'@AppBundle/Resources/public/js/vendor/angular-panhandler.js'
		'@AppBundle/Resources/public/js/vendor/angular-route.js'
		'@AppBundle/Resources/public/js/vendor/angular-tags-input.js'
		'@AppBundle/Resources/public/js/vendor/angular-ui-bootstrap-tpls.js'
		'@AppBundle/Resources/public/js/vendor/angular-ui-notification.js'
		'@AppBundle/Resources/public/js/custom/core.js'
		'@AppBundle/Resources/public/js/custom/login.js'
		'@AppBundle/Resources/public/js/custom/menu.js'
		'@AppBundle/Resources/public/js/custom/routing.js'
		'@AppBundle/Resources/public/js/custom/bugtracker/bugtracker.js'
		'@AppBundle/Resources/public/js/custom/bugtracker/bugtracker-list.js'
		'@AppBundle/Resources/public/js/custom/tasks/task.js'
		'@AppBundle/Resources/public/js/custom/tasks/task-list.js'
		'@AppBundle/Resources/public/js/custom/calendar/calendar.js'
		'@AppBundle/Resources/public/js/custom/cloud/cloud.js'
		'@AppBundle/Resources/public/js/custom/cloud/cloud-list.js'
		'@AppBundle/Resources/public/js/custom/dashboard/dashboard.js'
		'@AppBundle/Resources/public/js/custom/dashboard/dashboard-list.js'
		'@AppBundle/Resources/public/js/custom/notifications/notifications.js'
		'@AppBundle/Resources/public/js/custom/profile/profile.js'
		'@AppBundle/Resources/public/js/custom/project/settings.js'
		'@AppBundle/Resources/public/js/custom/timeline/timeline.js'
		'@AppBundle/Resources/public/js/custom/timeline/timeline-list.js'
		'@AppBundle/Resources/public/js/custom/whiteboard/whiteboard.js'
		'@AppBundle/Resources/public/js/custom/whiteboard/whiteboard-list.js'
		filter='?uglifyjs2' output='resources/js/app.min.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<!-- Responsive for IE8 -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
		<![endif]-->
	</head>

	<body data-ng-controller="grappboxController">
		<div id="app-wrapper">

			<div class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="app_toggleAsideMenu()">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a href="./" class="navbar-brand">GrappBox</a>
			    </div>
			    <div class="navbar-collapse collapse navbar-responsive-collapse">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="notifications" title="See all your notifications"><i class="material-icons">notifications</i></a></li>
			        <li><a href="profile" title="View and edit your profile"><i class="material-icons">settings</i></a></li>
			        <li><a href="logout" title="Sign out of GrappBox"><i class="material-icons">exit_to_app</i></a></li>
			      </ul>
			    </div>
			  </div>
			</div>

			<div class="page-content">
			  <div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="app-page">
								<!-- Dynamic title -->
						    <div class="container">
						      <div class="row">
						        <div class="col-lg-12">
						        	<div class="container-header" data-ng-cloak>
					        			<h1 class="{[{ routeList['/'] ? 'centered' : '' }]}">{[{ onLoad ? 'Loading...' : (title ? title : 'Error') }]}</h1>
						      		</div>
						      	</div>
						      </div>
					      </section>

								<!-- Dynamic view -->
								<div class="spinner master" data-ng-if="onLoad"><div></div></div>
								<div class="view-content" data-ng-view data-ng-if="!onLoad"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	  <div>
	    <script type="text/ng-template" id="app_asideMenu.html">
				<!-- Navigation content -->
	      <div>
					<div class="navbar">
					  <div class="container-fluid">
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle aside-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="app_closeAsideMenu()">
					      	<i class="material-icons">keyboard_backspace</i>
					      </button>
					      <a class="navbar-brand">GrappBox</a>
					    </div>
					  </div>
					</div>
	      </div>
	      <div class="modal-body">
					<ul class="aside-menu">
						<li>
							<a href="notifications" title="See all your notifications" class="btn {[{ routeList['/notifications'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/notifications'] ? iconList['/notifications'] : 'clear' }]}</i>
								Notifications
							</a>
						</li>
						<li>
							<a href="./" title="Go to your dashboard" class="btn {[{ routeList['/'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/'] ? iconList['/'] : 'clear' }]}</i>
								Dashboard
							</a>
						</li>
<!-- 						<li>
							<a href="settings" title="Get an overview of all your currents projects" class="btn {[{ routeList['/settings'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/settings'] ? iconList['/settings'] : 'clear' }]}</i>
									Projects
							</a>
						</li> -->
						<li>
							<a href="calendar" title="Go to your calendar" class="btn {[{ routeList['/calendar'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/calendar'] ? iconList['/calendar'] : 'clear' }]}</i>
								Calendar
							</a>
						</li>
						<li>
							<a href="cloud" title="Access your online files and folders" class="btn {[{ routeList['/cloud'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/cloud'] ? iconList['/cloud'] : 'clear' }]}</i>
								Cloud
							</a>
						</li>
						<li>
							<a href="timeline" title="Go to your projects timelines" class="btn {[{ routeList['/timeline'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/timeline'] ? iconList['/timeline'] : 'clear' }]}</i>
								Timeline
							</a>
						</li>
						<li>
							<a href="bugtracker" title="Go to the bugtracker section" class="btn {[{ routeList['/bugtracker'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/bugtracker'] ? iconList['/bugtracker'] : 'clear' }]}</i>
								Bugtracker
							</a>
						</li>
						<li>
							<a href="tasks" title="Go to the tasks and gantt section" class="btn {[{ routeList['/tasks'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/tasks'] ? iconList['/tasks'] : 'clear' }]}</i>
								Tasks
							</a>
						</li>
						<li>
							<a href="whiteboard" title="Use your projects collaborative whiteboards" class="btn {[{ routeList['/whiteboard'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/whiteboard'] ? iconList['/whiteboard'] : 'clear' }]}</i>
								Whiteboard
							</a>
						</li>
						<li>
							<a href="profile" title="View and edit your profile" class="btn {[{ routeList['/profile'] ? 'active' : '' }]}">
								<i class="material-icons">{[{ iconList['/profile'] ? iconList['/profile'] : 'clear' }]}</i>
								Profile
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="logout" title="Sign out of GrappBox" class="btn">
								<i class="material-icons">{[{ iconList['/logout'] ? iconList['/logout'] : 'clear' }]}</i>
								Logout
							</a>
						</li>
					</ul>
	      </div>
	    </script>
	  </div>

	</body>
</html>

{% endspaceless %}
