{# This file is subject to the terms and conditions defined in
 # file 'LICENSE.txt', which is part of the GRAPPBOX source code package. #}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-footer footer">
                    <p class="copyright">Copyright &copy; GrappBox 2015. All rights reserved.<br>Vector images created by <a target="_blank" href="http://www.freepik.com">Freepik</a> and <a target="_blank" href="http://www.justcreative.com">JustCreative</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
