/* Just a little enhancement on browser debug pointer */
body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/* Text areas auto adapting screen */
textarea {
    width: 100%;
    height: auto;
    border: 1px solid #EEEEEE;
}

/* icons in item dividers */
.item-divider i {
    position: absolute;
    right: 10px;
}

/* Stylizing action sheets on Android */
.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    /*margin: 0;*/
    margin-bottom: 10px;
}

    .platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
        text-align: left;
        /*border-color: #e2e2e2;*/
        font-size: 16px;
        color: inherit;
    }

    .platform-android .action-sheet .action-sheet-title {
        font-size: 14px;
        padding: 16px;
        color: #666;
    }

    .platform-android .action-sheet .button {
        border-color: #e2e2e2;
        padding-left: 16px;
        color: #104e89;
    }

        .platform-android .action-sheet .button.destructive {
            color: red;
        }

        .platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
            background: #e8e8e8;
        }

.platform-android .action-sheet-group {
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

/* Make the blue background in disabled text area white */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
    background-color: white;
}

/* Put a black border around canvas in whiteboard */
canvas {
    border: solid black 1px;
}

/* Fit the height of the popover with content */
ion-popover-view {
  height: auto;
}

/* GrappBox colors */
.gb-nav-bar {
    background-color: #c0392b !important;
}

.tabs-striped.tabs-positive .tabs {
    background-color: #bdbdbd !important;
}

.gb-tab {
    background-color: #bdbdbd !important;
}

.tab-title {
    color: white;
}

.button-positive {
    background-color: #c0392b !important;
}